{% load static %}


<div class="row text-center">
    <div class="col-md-12">
    
    <div class="row" style="padding-bottom: 40px;">
        <div class="col-md-12">
            <h2 style="margin-bottom:20px;font-weight: 400;color: #7c8a93;">{{ event.title }}</h2>
            <p class="">{{ event.short_description }}</p>
            {% if tickets %}
            <a class="btn btn--primary" href="{{ event.choose_tickets_view }}"><span class="btn__text">Get
                    Tickets</span></a>
            {% endif %}
        </div> 
    </div>

                                    
    
    <div class="row" style="padding-bottom:30px;">
        {% if event.start or event.end %}
        <div class="col-md-12">
            <h3 style="margin-bottom: 5px;font-weight: 400;color: #7c8a93;"><i class="far fa-clock"></i>  When</h3>
            {% if event.start %}
            <p style="margin-bottom: 0;font-weight:700;">Starts on | <span style="font-weight:400;"> {{ event.start|date:"N nS Y, f a" }}</span></p>
            {% endif %}
            {% if event.end %}
            <p style="margin-bottom: 0;font-weight:700;">Ends on | <span style="font-weight:400;"> {{ event.end|date:"N nS Y, f a" }}</span></p>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% if event.venue_name or event.venue_address %}
        <div class="col-md-12">
            <h3 style="margin-bottom: 5px;font-weight: 400;color: #7c8a93;"><i class="fas fa-map-marker-alt"></i> Where</h3>
            {% if event.venue_name %}
            <p style="margin-bottom: 0;font-weight:700;">Venue | <span style="font-weight:400;"> {{ event.venue_name }}</span></p>
            {% endif %}
            {% if event.venue_address %}
            <p style="margin-bottom: 0;font-weight:700;">Address | <span style="font-weight:400;">{{ event.venue_address }}</span></p>
            {% endif %}
        </div>
        {% endif %}

    </div>
    

    </div>
</div>