<section class="switchable feature-large" style="padding-bottom:10px;padding-top: 4em;">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-9">
                <div class="row text-center" style="padding-bottom:50px;">
                    <div class="col-md-12">
                        <h2 style="margin-bottom:0px;font-weight: 600;color: #595959;">{{ event.title }}</h2>
                        <p class="">{{ event.short_description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <img alt="Image" class="border--round box-shadow-wide" src="{{ event.image.url }}" />
                    </div>
                    <div class="col-md-1 col-lg-1">

                    </div>
                    <div class="col-md-5 col-lg-5">
                        
                        <div class="row" style="padding-top:50px;">
                            <div class="col-md-12">
                                <h3 style="margin-bottom: 5px;font-weight: 600;color: #595959;"><i class="far fa-clock"></i>  When</h3>
                                <p style="margin-bottom: 0;">Starts <span style="font-weight:800;">| {{ event.start }}</span></p>
                                <p style="margin-bottom: 0;">Ends <span style="font-weight:800;">| {{ event.end }}</span></p>
                            </div>
                        </div>
                        

                        <div class="row" style="padding-top:50px;">
                            <div class="col-md-12">
                                <h3 style="margin-bottom: 5px;font-weight: 600;color: #595959;"><i class="fas fa-map-marker-alt"></i>  Where</h3>
                                <p style="margin-bottom: 0;"><span style="font-weight:800;">{{ event.venue_name }}</span></p>
                                <p style="margin-bottom: 0;">{{ event.venue_address }}</p>
                            </div>
                        </div>

                        <div class="row" style="padding-top:50px;">
                            <div class="col-md-12">
                                <a class="btn btn--primary" href="{{ event.choose_tickets_view }}"><span class="btn__text">Get Tickets</span></a>
                            </div> 
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>