
<div class="row text-center" style="padding-bottom:30px;">
    <div class="col-md-12">
        <h2 style="margin-bottom:0px;font-weight: 400;color: #7c8a93;">{{ event.title }}</h2>
        <p class="">{{ event.short_description }}</p>
    </div>
</div>

<div class="row" style="padding-bottom:50px;">
    <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-10 offset-sm-1 col-8 offset-2">
        <img alt="Image" class="border--round" src="{{ event.image.url }}" />
    </div>

    <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-10 offset-sm-1 col-8 offset-2 align-self-center">
        
        {% if event.start or event.end %}
        <div class="row text-center text-centering" style="padding-bottom:2rem;">
            <div class="col-md-12">
                <h3 style="margin-bottom: 5px;font-weight: 400;color: #7c8a93;"><i class="far fa-clock"></i>  When</h3>
                {% if event.start %}
                <p style="margin-bottom: 0;font-weight:700;">Starts on |<span style="font-weight:400;"> {{ event.start|date:"N nS Y, f a" }}</span></p>
                {% endif %}
                {% if event.end %}
                <p style="margin-bottom: 0;font-weight:700;">Ends on |<span style="font-weight:400;"> {{ event.end|date:"N nS Y, f a" }}</span></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
        {% if event.venue_name or event.venue_address %}
        <div class="row text-center text-centering" style="padding-top:2rem;">
            <div class="col-md-12">
                <h3 style="margin-bottom: 5px;font-weight: 400;color: #7c8a93;"><i class="fas fa-map-marker-alt"></i>  Where</h3>
                {% if event.venue_name %}
                <p style="margin-bottom: 0;font-weight:700;">Venue | <span style="font-weight:400;">{{ event.venue_name }}</span></p>
                {% endif %}
                {% if event.venue_address %}
                <p style="margin-bottom: 0;font-weight:700;">Address | <span style="font-weight:400;">{{ event.venue_address }}</span></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
    </div>

</div>

{% if tickets %}
<div class="row text-center">
    <div class="col-lg-12" style="padding: 0px 80px 60px 80px;">
        <a class="btn btn--primary btn-block" href="{{ event.choose_tickets_view }}"><span class="btn__text">Get Tickets</span></a>
    </div> 
</div>
{% endif %}

