{% extends "frontend/base.html" %}
{% load static %}
{% load checkout_form_tags %}

{% block title %}
Checkout | {{ event.title }}
{% endblock title %}

{% block styles %}
<style>
iframe {
    width: 100%;
    min-height: 0px;
    border: none;
}
</style>


{% endblock styles %}

{% block top_page_scripts %}
<script src="https://js.stripe.com/v3/"></script>

{% endblock top_page_scripts %}


{% block scripts %}
<script>
    var stripe = Stripe('{{ public_key }}');
    var paymentRequest = stripe.paymentRequest({
        country: 'CA',
        currency: 'cad',
        total: {
            label: '{{ event.title }} Total',
            amount: {{ total }},
        },
        requestPayerName: true,
        requestPayerEmail: true,
    });


    var elements = stripe.elements();
        var prButton = elements.create('paymentRequestButton', {
            paymentRequest: paymentRequest,
        });

        // Check the availability of the Payment Request API first.
        paymentRequest.canMakePayment().then(function (result) {
            if (result) {
                console.log(result)
                prButton.mount('#payment-request-button');
                document.getElementById('card-element').style.display = 'none';
                document.getElementById('checkout-button').style.display = 'none';

            } else {
                document.getElementById('payment-request-button').style.display = 'none';

            }
        });


    paymentRequest.on('token', function (ev) {
            // Send the token to your server to charge it!
            var csrf_token = '{{csrf_token}}';
            console.log(JSON.stringify({ stripeToken: ev.token.id }))

            var form = document.getElementById('checkoutForm');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', ev.token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
            document.getElementById('customButton').disabled = true;

            // fetch('{{ request.path }}', {
            //     method: 'POST',
            //     body: JSON.stringify({ stripeToken: ev.token.id }),
            //     headers: { 'content-type': 'application/json', "X-CSRFToken": csrf_token },
            // })
            //     .then(function (response) {
            //         if (response.ok) {
            //             // Report to the browser that the payment was successful, prompting
            //             // it to close the browser payment interface.
            //             ev.complete('success');
            //         } else {
            //             // Report to the browser that the payment failed, prompting it to
            //             // re-show the payment interface, or show an error message and close
            //             // the payment interface.
            //             ev.complete('fail');
            //         }
            //     });
        });
</script>


<script>
var stripe = Stripe('{{ public_key }}');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
  base: {
    color: '#303238',
    color: "#32325d",
    fontSmoothing: 'antialiased',
    '::placeholder': {
      color: '#ccc',
    },
  },
  invalid: {
    color: '#e5424d',
    ':focus': {
      color: '#303238',
    },
  },
};

// Create an instance of the card Element.
var card = elements.create('card',  {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
    console.log(event.error.message)
  } else {
    displayError.textContent = '';
  }
});


var form = document.getElementById('checkoutForm');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});


function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('checkoutForm');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
  document.getElementById('customButton').disabled = true;
}


function initMap() {
    {% for cart_item in cart_items %}
        {% for quantity in cart_item.quantity|quantity %}

            {% if attendee_common_questions.address %}
            
                var input = document.getElementById('{{ quantity }}_{{ cart_item.ticket.id }}_address');
                var autocomplete = new google.maps.places.Autocomplete(input);

            
            {% endif %}

        {% endfor %}
    {% endfor %}
}

</script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnTiJMXoPzVLoo-ztKaRyCrjAocA0K3pQ&libraries=places&callback=initMap"></script>
{% endblock scripts %}



{% block content %}
<section style="padding-top: 5rem;padding-bottom:0px;">
    <div class="container" style="padding-right: 0px;padding-left: 0px;">

        <form id="checkoutForm" method="POST" {% if not cart.pay %}onSubmit="document.getElementById('customButton').disabled = true;"{% endif %} >{% csrf_token %}

            <div class="row justify-content-center" style="padding-bottom: 50px;">
                <div class="col-md-8 col-10" style="box-shadow: rgba(0, 0, 0, 0.2) -10px 5px 30px;padding: 30px;border-radius: 15px;">

                    <div class="row justify-content-center" style="padding-bottom: 50px;">
                        <div class="col-md-12">

                            {% if errors.payment %}
                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    <div class="alert bg--error" style="margin-bottom: 3px;padding: 10px;">
                                        <div class="alert__body">
                                            <span>Payment Error.<i class="fa fa-heart-broken"></i></span>
                                            <span>{{ errors.payment }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}


                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12 col-lg-12">
                                    <p style="font-weight: 600;font-size: 1.4em;color: #4a90e2;margin-bottom: 0px;">Order Overview</p>
                                    <p style="font-weight: 600;font-size: 1.1em;color: #265a97;margin-bottom: 0px;">{{ event.title }} </p>
                                </div>
                            </div>

                            {% if cart.pay %}
                                {% for cart_item in cart_items %}
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-md-5 col-12" style="padding-bottom: 10px;">
                                        <p style="font-size: 1.1em;"> {{ cart_item.ticket.title }}</p>
                                    </div>
                                    <div class="col-md-3 col-5">
                                        {% if cart_item.donation_ticket %}
                                        <p style="font-size: 1.1em;line-height: 1;padding-top: 5px;" data-tooltip="Payment processing fee of ${{ cart_item.cart_item_fee }} applied.">${{ cart_item.donation_amount }} <span style="font-size: 0.7em;">+ ${{ cart_item.cart_item_fee }}</span></p>
                                        {% else %}
                                        <p style="font-size: 1.1em;">${{ cart_item.ticket.buyer_price }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 col-3">
                                        <p style="font-size: 1.1em;font-weight:800;">x {{ cart_item.quantity }}</p>
                                    </div>
                                    <div class="col-md-2 col-4">
                                        <p style="font-size: 1.1em;margin-bottom: 0px;" class="float-right">${{ cart_item.cart_item_total }}</p>
                                        {% if cart_item.discount_code_activated %}
                                        <p style="font-size: 0.8em;color: red;margin-bottom:0px;line-height: 15px;text-align: right;"
                                            data-tooltip="Discount code {{ cart.discount_code.code }} gives you a {% if cart_item.discount_fixed_amount %} ${{ cart_item.discount_fixed_amount }} {% else %} {{ cart_item.discount_percentage_amount }}% {% endif %} discount per '{{ cart_item.ticket.title }}' ticket." 
                                            class="float-right">
                                            {% if cart_item.discount_fixed_amount %}
                                            ${{ cart_item.discount_fixed_amount }} Discount
                                            {% else %}
                                            {{ cart_item.discount_percentage_amount }}% Discount
                                            {% endif %}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr style="margin-top: 5px;margin-bottom:5px;">
                                {% endfor %}
                            {% else %}
                                {% for cart_item in cart_items %}
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-md-5">
                                        <p style="font-size: 1.1em;"> {{ cart_item.ticket.title }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p style="font-size: 1.1em;">$0.00</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="font-size: 1.1em;font-weight:800;">x {{ cart_item.quantity }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="font-size: 1.1em;margin-bottom: 0px;" class="float-right">$0.00</p>
                                        {% if cart_item.discount_code_activated %}
                                        <p style="font-size: 0.8em;color: red;margin-bottom:0px;line-height: 15px;text-align: right;"
                                            data-tooltip="Discount code {{ cart.discount_code.code }} gives you a {% if cart_item.discount_fixed_amount %} ${{ cart_item.discount_fixed_amount }} {% else %} {{ cart_item.discount_percentage_amount }}% {% endif %} discount per '{{ cart_item.ticket.title }}' ticket."
                                            class="float-right">
                                            {% if cart_item.discount_fixed_amount %}
                                            ${{ cart_item.discount_fixed_amount }} Discount
                                            {% else %}
                                            {{ cart_item.discount_percentage_amount }}% Discount
                                            {% endif %}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr style="margin-top: 5px;margin-bottom:5px;">
                                {% endfor %}
                            {% endif %}

                            {% if cart.pay %}
                                {% if cart.invalid_discount_code %}
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-md-9 col-9">
                                        <p style="font-size: 0.9em;font-weight: 800;">Discount Code</p>
                                    </div>
                                    <div class="col-md-3 col-3">
                                        <p style="font-size: 0.9em;font-weight: 800;color: red;" class="float-right">Invalid Code</p>
                                    </div>
                                </div>
                                {% else %}
                                {% if cart.discount_code %}
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-md-9 col-9">
                                        <p style="font-size: 0.8em;font-weight: 800;">Discount Code</p>
                                    </div>
                                    <div class="col-md-3 col-3">
                                        <p style="font-size: 0.9em;font-weight: 800;color: #4a90e2;" class="float-right">{{ cart.discount_code.code }}</p>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endif %}
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-md-9 col-9">
                                    <p style="font-size: 1.1em;font-weight: 800;">Total</p>
                                </div>
                                <div class="col-md-3 col-3">
                                    <p style="font-size: 1.1em;font-weight: 800;" class="float-right">${{ cart.total }}</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-md-9 col-9">
                                    <p style="font-size: 1.1em;font-weight: 800;">Total</p>
                                </div>
                                <div class="col-md-3 col-3">
                                    <p style="font-size: 1.1em;font-weight: 800;" class="float-right">$0.00</p>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>



                    <div class="row justify-content-center" style="padding-bottom: 50px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <p style="font-weight: 600;font-size: 1.4em;color: #4a90e2;">Buyer Details</p>
                                </div>
                            </div>
                            {% if errors.name or errors.email %}
                            <div class="row" style="padding-top:20px;">
                                <div class="col-md-12">
                                    <div class="alert bg--error" style="margin-bottom: 3px;padding: 10px;">
                                        <div class="alert__body"><span>{% if errors.name %}{{ errors.name }}{% else %}{{ errors.email }}{% endif %}</span></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6 col-lg-6" style="padding-top:20px;">
                                    <p style="margin-bottom: 0;"><i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i> Full Name</p>
                                    <input pattern="[a-zA-Z ]*" title="No numbers please" maxlength="100" class="validate-required" type="text" name="name" id="name" size="30" required placeholder="Full Name" {% if not cart.house_created and request.user.is_authenticated %}value="{{ request.user.name }}" readonly else %}value="{{ data.name }}"{% endif %}>
                                </div>
                                <div class="col-md-6 col-lg-6" style="padding-top:20px;">
                                    <p style="margin-bottom: 0;"><i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i> Email</p>
                                    <input class="validate-required" maxlength="150" type="email" name="email" id="email" size="30" required placeholder="email@address.com" {% if not cart.house_created and request.user.is_authenticated %}value="{{ request.user.email }}" readonly {%else %}value="{{ data.email }}"{% endif %}>
                                    {% if not cart.house_created and request.user.is_authenticated %}
                                    <p style="font-size: 12px;margin-left: 10px;">Not {{ request.user.name }}? <a href="{% url 'profiles:logout' %}">Log Out</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            {% for order_question in event|order_question %}
                            
                            {% autoescape off %}
                            {% if errors %}
                                {% order_question_errors errors order_question %}
                            {% endif %}
                            {% endautoescape %}

                            <div class="row" style="padding-top: 20px;">
                                <div class="col-md-12 col-lg-12">
                                    <p style="margin-bottom: 0;">{% if order_question.question.required %}<i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i>{% endif %} {{ order_question.question.title }}</p>
                                    {% if order_question.question.question_type == "Long" %}
                                    <textarea maxlength="300" name="{{ order_question.question.id }}_order_question" id="{{ order_question.question.id }}_order_question" placeholder="{% if order_question.question.help_text %}{{ order_question.question.help_text }}{% endif %}" class="validate-required" rows="3" style="user-select: auto;" {% if order_question.question.required %}required{% endif %}>{% get_order_question_initial_value data order_question.question.id %}</textarea>
                                    {% elif order_question.question.question_type == "Multiple Choice" %}
                                    <select name="{{ order_question.question.id }}_order_question" value="{% get_order_question_initial_value data order_question.question.id %}" id="{{ order_question.question.id }}_order_question" class="form-control">
                                        {% if not order_question.question.required %}
                                        <option value="None">------</option>
                                        {% endif %}
                                        {% for option in order_question.question.multiplechoice_set.all %}
                                        <option {% get_order_question_initial_value_multiplechoice data order_question.question.id option %} value="{{ option.title }}">{{ option.title }}</option>
                                        {% endfor %}
                                    </select>
                                    {% else %}
                                    <input maxlength="300"  name="{{ order_question.question.id }}_order_question" value="{% get_order_question_initial_value data order_question.question.id %}" class="validate-required" type="text" id="{{ order_question.question.id }}_order_question" {% if order_question.question.required %}required{% endif %} placeholder="{% if order_question.question.help_text %}{{ order_question.question.help_text }}{% endif %}">
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                

                    {% for cart_item in cart_items %}
                        {% if cart_item.ticket.express %}
                        {% else %}
                            {% for quantity in cart_item.quantity|quantity %}
                            <div class="row justify-content-center" style="padding-bottom: 30px;">
                                <div class="col-md-12 col-lg-12">
                                    <div class="row" style="padding-bottom: 20px;">
                                        <div class="col-md-12 col-lg-12">
                                            <p style="font-weight: 600;font-size: 1.1em;color: #265a97;">Ticket | <span style="color: #4a90e2;">{{ cart_item.ticket }}</span></p>
                                        </div>
                                    </div>

                                    {% autoescape off %}
                                    {% if errors %}
                                    {% attendee_name_error errors quantity cart_item.ticket.id %}
                                    {% endif %}
                                    {% endautoescape %}
                                    

                                    <div class="row" style="padding-bottom: 20px;">
                                        <div class="col-md-6 col-lg-6">
                                            <p style="margin-bottom: 0;"><i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i> Full Name</p>
                                            <input pattern="[a-zA-Z ]*" title="No numbers please" class="validate-required" type="text" name="{{ quantity }}_{{ cart_item.ticket.id }}_name" {% if not cart.house_created and request.user.is_authenticated %}value="{{ request.user.name }}"{% else %}value="{% get_attendee_name_initial_value data quantity cart_item.ticket.id %}"{% endif %} id="{{ quantity }}_{{ cart_item.ticket.id }}_name" size="30" required placeholder="Full Name">
                                        </div>
                                        {% if attendee_common_questions.email %}
                                        <div class="col-md-6 col-lg-6">
                                            <p style="margin-bottom: 0;">Email</p>
                                            <input class="validate-required" type="email" name="{{ quantity }}_{{ cart_item.ticket.id }}_email" id="{{ quantity }}_{{ cart_item.ticket.id }}_email" size="30" required placeholder="email@address.com" value="{% get_attendee_email_initial_value data quantity cart_item.ticket.id %}">
                                        </div>
                                        {% endif %}
                                    </div>


                                    {% autoescape off %}
                                    {% if errors %}
                                    {% attendee_age_error errors quantity cart_item.ticket.id %}
                                    {% endif %}
                                    {% endautoescape %}

                                    
                                    {% if attendee_common_questions.age or attendee_common_questions.gender %}
                                    <div class="row">
                                        {% if attendee_common_questions.age %}
                                        <div class="col-md-6 col-lg-6" style="padding-bottom: 20px;">
                                            <p style="margin-bottom: 0;">{% if attendee_common_questions.age_required %}<i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i>{% endif %} Age</p>
                                            <input class="validate-required" name="{{ quantity }}_{{ cart_item.ticket.id }}_age" value="{% get_attendee_age_initial_value data quantity cart_item.ticket.id %}" id="{{ quantity }}_{{ cart_item.ticket.id }}_age" type="number" min="0" max="100" {% if attendee_common_questions.age_required %}required{% endif %}>
                                        </div>
                                        {% endif %}
                                        {% if attendee_common_questions.gender %}
                                        <div class="col-md-6 col-lg-6" style="padding-bottom: 20px;">
                                            <p style="margin-bottom: 0;">{% if attendee_common_questions.gender_required %}<i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i>{% endif %} Gender</p>
                                            <select id="{{ quantity }}_{{ cart_item.ticket.id }}_gender" name="{{ quantity }}_{{ cart_item.ticket.id }}_gender" class="validate-required">
                                                {% if not attendee_common_questions.gender_required %}
                                                <option value="None">------</option>
                                                {% endif %}
                                                <option {% get_attendee_gender_initial_value data quantity cart_item.ticket.id "female" %} value="female">Female</option>
                                                <option {% get_attendee_gender_initial_value data quantity cart_item.ticket.id "male" %} value="male">Male</option>
                                            </select>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}

                                    {% autoescape off %}
                                    {% if errors %}
                                    {% attendee_address_error errors quantity cart_item.ticket.id %}
                                    {% endif %}
                                    {% endautoescape %}

                                    {% if attendee_common_questions.address %}
                                    <div class="row" style="padding-bottom: 20px;">
                                        <div class="col-md-12 col-lg-12">
                                            <p style="margin-bottom: 0;">{% if attendee_common_questions.address_required %}<i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i>{% endif %} Address</p>
                                            <input class="form-control m-input" name="{{ quantity }}_{{ cart_item.ticket.id }}_address" value="{% get_attendee_address_initial_value data quantity cart_item.ticket.id %}" id="{{ quantity }}_{{ cart_item.ticket.id }}_address" placeholder="123 Main Street" autocomplete="off" {% if attendee_common_questions.address_required %}required{% endif %}>
                                        </div>
                                    </div>
                                    {% endif %}


                                    {% for event_question in cart_item|ticket_question %}

                                        {% autoescape off %}
                                        {% if errors %}
                                        {% attendee_question_error errors quantity event_question.question.id cart_item.ticket.id %}
                                        {% endif %}
                                        {% endautoescape %}

                                        <div class="row" style="padding-bottom: 20px;">
                                            <div class="col-md-12 col-lg-12">
                                                <p style="margin-bottom: 0;">{% if event_question.question.required %}<i style="color:#fc7847;font-weight:100;" class="fa fa-asterisk"></i>{% endif %}  {{ event_question.question.title }}</p>
                                                {% if event_question.question.question_type == "Long" %}
                                                <textarea maxlength="300" name="{{ quantity }}_{{ event_question.question.id }}_{{ cart_item.ticket.id }}" value="{% get_attendee_question_initial_value data quantity event_question.question.id cart_item.ticket.id %}" id="{{ quantity }}_{{ event_question.question.id }}_{{ cart_item.ticket.id }}" placeholder="{% if event_question.question.help_text %}{{ event_question.question.help_text }}{% endif %}" class="validate-required" rows="3" style="user-select: auto;" {% if event_question.question.required %}required{% endif %}>{% get_attendee_question_initial_value data quantity event_question.question.id cart_item.ticket.id %}</textarea>
                                                {% elif event_question.question.question_type == "Multiple Choice" %}
                                                <select class="form-control m-input" name="{{ quantity }}_{{ event_question.question.id }}_{{ cart_item.ticket.id }}" id="{{ quantity }}_{{ event_question.question.id }}_{{ cart_item.ticket.id }}">
                                                    {% if not event_question.question.required %}
                                                    <option value="None">------</option>
                                                    {% endif %}
                                                    {% for option in event_question.question|multiple_choice_option %}
                                                    <option {% get_attendee_question_initial_value_multiplechoice data quantity event_question.question.id cart_item.ticket.id option %} value="{{ option.title }}">{{ option.title }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% else %}
                                                <input maxlength="300" name="{{ quantity }}_{{ event_question.question.id }}_{{ cart_item.ticket.id }}" value="{% get_attendee_question_initial_value data quantity event_question.question.id cart_item.ticket.id %}" class="validate-required" type="text" id="{{ quantity }}_{{ event_question.question.id }}_{{ cart_item.ticket.id }}" size="30" {% if event_question.question.required %}required{% endif %} placeholder="{% if event_question.question.help_text %}{{ event_question.question.help_text }}{% endif %}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                            {% endfor %}

                        {% endif %}

                    {% endfor %}


                    {% if cart.pay %}

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">

                            <label for="card-element" style="font-weight: 600;font-size: 1.4em;color: #4a90e2;margin-bottom: 15px;">Payment <i
                                    style="color: #4399d5;font-size: 0.8em;" class="fa fa-info-circle"
                                    data-tooltip="Payments are processed through our trusted partner stripe.com. "></i></label>

                            <ul class="accordion accordion-1">
                                <li class="">
                                    <div class="accordion__title" style="border-color: #4990e2;">
                                        <span class="h5">Refund Policy</span>
                                    </div>
                                    <div class="accordion__content">
                                        {% for cart_item in cart_items %}
                                            {% if not cart_item.ticket.free %}
                                                <h5 style="display:block;margin-bottom:0px;"><span style="font-weight:200;">Ticket</span> | {{ cart_item.ticket }}</h5>
                                                <p>
                                                    {% if cart_item.ticket.refund_policy == "standard" %}
                                                        You may request <b>{{ event.house.name }}</b> for a refund <b>24 hours</b> before the start of this event. 
                                                    {% elif cart_item.ticket.refund_policy == "7-days" %}
                                                        You may request <b>{{ event.house.name }}</b> for a refund <b>7 days</b> before the start of this event.
                                                    {% elif cart_item.ticket.refund_policy == "30-days" %}
                                                        You may request <b>{{ event.house.name }}</b> for a refund <b>30 days</b> before the start of this event.
                                                    {% else %}
                                                        <b>You may not request a refund for this ticket. Ticket sales are final.</b>
                                                    {% endif %}
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    {% if errors.payment %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="alert bg--error" style="margin-bottom: 3px;padding: 10px;">
                                <div class="alert__body">
                                    <span>{{ errors.payment }}</span></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row justify-content-center" style="padding-bottom:50px;">
                        <div class="col-md-12">

                            
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        
                            <!-- Used to display Element errors. -->
                            <div id="card-errors" role="alert" style="color: #e5424d;"></div>

                            
                            <div id="payment-request-button">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    <div class="row justify-content-center" id="checkout-button">
                        <div class="col-md-12">
                            <button id="customButton" type="submit" class="btn btn--primary">Checkout</button>
                        </div>
                    </div>
            
                </div>
            </div>
            

        </form>

    </div>
</section>

<section class="text-center" style="padding-bottom: 40px;padding-top: 60px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 5em;margin-bottom:0px;"></a>
                <p>Arqam House Inc.</p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}