{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Event Description | {{ event.title }}
{% endblock title %}

{% block page_title %}
Description
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script src="{% static 'assets/demo/default/custom/components/datatables/base/html-table.js' %}" type="text/javascript"></script>
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<span class="m-nav__link-text">Add multiple elements to create an amazing event description</span>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}

<div class="row">
	<div class="col-10">
		<div class="m-portlet m-portlet--bordered-semi m-portlet--space">
			<div class="m-portlet__body">

				<div class="row">
					<div class="col-3">
						<a class="btn btn-info btn-block" href="{% url 'descriptions:h1title_create' event.slug 0 %}">Heading 1</a>
					</div>
					<div class="col-3">
						<a class="btn btn-info btn-block" href="{% url 'descriptions:h2title_create' event.slug 0 %}">Heading 2</a>
					</div>
					<div class="col-3">
						<a class="btn btn-info btn-block" href="{% url 'descriptions:h3title_create' event.slug 0 %}">Heading 3</a>
					</div>
					<div class="col-3">
						<a class="btn btn-info btn-block" href="{% url 'descriptions:paragraph_create' event.slug 0 %}">Paragraph</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>




<div class="row">
	<div class="col-10">

		{% for description_element in description_elements %}
		<div class="m-portlet m-portlet--bordered-semi m-portlet--space">
			<div class="m-portlet__body">

				<div class="row">
					<div class="col-2 text-center" style="border-right: 1px solid #56596278;">
						<h1>{{ description_element.order }}</h1>
						<p>Order</p>
					</div>
					<div class="col-10">
						{% if description_element.h1title %}
							{% include "events/descriptions/description_elements_edit/h1_title.html" with object=description_element.h1title %}
						{% endif %}

						{% if description_element.h2title %}
							{% include "events/descriptions/description_elements_edit/h2_title.html" with object=description_element.h2title %}
						{% endif %}

						{% if description_element.h3title %}
							{% include "events/descriptions/description_elements_edit/h3_title.html" with object=description_element.h3title %}
						{% endif %}

						{% if description_element.paragraph %}
							{% include "events/descriptions/description_elements_edit/paragraph.html" with object=description_element.paragraph %}
						{% endif %}
					</div>
				</div>

			</div>
		</div>
		{% endfor %}

	</div>
</div>

{% endblock content %}














