{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
Create House
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

{% if messages %}
<section class="elements-title space--xxs text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	{% for message in messages %}
                <div class="alert bg--{{ message.tags }}">
					<div class="alert__body">
						<span>{{ message.tags|upper }}! {{ message }}</span>
					</div>
					<div class="alert__close"> × </div>
				</div>
				{% endfor %}
			</div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endif %}

<style>
.btn--primary, .btn--primary:visited {
    background: #4498d4;
    border-color: #4498d4;
}

@media (min-width: 768px) {
    .text-centering {
        text-align: left;
    }
}
</style>

{% if event.image %}
    {% include "events/sections/title_and_image.html" with event=event %}
{% else %}
    {% include "events/sections/only_title.html" with event=event %}
{% endif %}

{% endblock content %}




















