{% extends "backend/base.html" %}
{% load static %}
{% load tz %}

{% block title %}
Dashboard | {{ event.title }}
{% endblock title %}

{% block page_title %}
{{ event.title }}
{% endblock page_title %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" rel="stylesheet" type="text/css" />
<style type="text/css">
	.btn-outline-metal {
    color: #727272;
    background-color: transparent;
    background-image: none;
    border-color: #4599d8;
}



</style>
{% endblock styles %}


{% block scripts %}
<script>
	console.log(Intl.DateTimeFormat().resolvedOptions().timeZone)
</script>

<script type="text/javascript">
	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	    type: 'line',
	    aspectRatio: 2,
	    data: {
	        labels: {{ graph_data.day_label|safe }},
	        datasets: [{
	            label: 'Tickets',
	            data: {{ graph_data.tickets_label|safe }},
	            backgroundColor: 'rgba(68, 153, 216, 0.2)',
	            borderColor:'rgba(68, 153, 216, 1)',
	            borderWidth: 4,
	            lineTension: 0.1,
	            borderCapStyle: 'butt',
	            borderDashOffset: 3.0,
            	borderJoinStyle: 'miter',
            	pointBorderWidth: 6,
            	pointHoverRadius: 5,
            	pointHoverBorderWidth: 2,
            	pointRadius: 0.5,
            	pointHitRadius: 7,
            	xPadding: 25,

	        }]
	    },

	    options: {

				legend: {
					display: false,
			},

				tooltips: {
					enabled: true,
						mode: 'label',

							callbacks: {
						label: function(item) {
							label = (Math.round(item.yLabel * 100) / 100).toFixed(0);
							label = label.toString();
							label = " " + label + " Tickets Sold "
							return label
						},
					},
				},

				layout: {
					padding: {
						left: 0,
							right: 0,
								top: 10,
									bottom: 0
					}
				},

				animation: {
					duration: 4000,
	        },

				maintainAspectRatio: false,

					scales: {
					yAxes: [{

						gridLines: {
							drawBorder: false,
							display: false,
						},

						ticks: {
							display: false,
							beginAtZero: true,
							suggestedMin: 0,
							fontSize: 30,
						},

					}],

						xAxes: [{

							gridLines: {
								display: false,
							},

							ticks: {
								fontSize: 13,
							},

							stepSize: 5,
							position: 'bottom',

						}],

	        },


				responsive: true,
	    }
	});
</script>
{% endblock scripts %}


{% block content %}

<style>

.dashboard-links {
color: #7396b0;
}

.btn-outline-danger {
    color: #d96724;
    border-color: #d96724;
}
</style>
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-12 col-md-12 col-12">

		{% if not event.active %}
		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
				<div class="alert alert-warning" role="alert" style="user-select: auto;background-color: #f9bf93;">
					<div class="alert-text" style="user-select: auto;">'{{ event.title }}' is archived. You can edit this event <a href="{{ event.get_update_view }}">here</a></div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if refund_requests %}
		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
				{% for refund_request in refund_requests %}
				<div class="alert alert-warning" role="alert" style="user-select: auto;background-color: #f9bf93;">
					<div class="alert-text" style="user-select: auto;">
						<p>{{ refund_request.attendee.name }} has requested a refund. Click <a href="{{ refund_request.order.get_order_view }}">here</a> to process it or <a href="mailto:info@arqamhouse.com?Subject=Please%20Dismiss%20Refund%20For%20Order#:%20{{ refund_request.order.public_id }}&amp;body=-------------Do%20not%20delete%20this%20Information----------------%0AHouse:%20{{ house.slug }}%0AEvent:%20{{ event.slug }}%0A{% if refund_request.attendee %}Attendee:%20{{ refund_request.attendee.id }}{% endif %}%0ARequest%20Number:%20{{ refund_request.id }}%0A-------------Place%20your%20message%20below----------------">contact us.</a></p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}


		<div class="row d-none d-sm-none d-md-flex">
		
			<div class="col-lg-2 offset-lg-1 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile" {% if not tickets %}style="background-color: #4599d5;" {% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if not tickets %}style="color:white;" {% endif %}
									href="{{ event.get_update_view }}">
									<i class="la la-edit" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Edit Event</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.get_landing_view }}">
									<i class="la la-external-link" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">View Event</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile" {% if not tickets %}style="background-color: #4599d5;" {% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if not tickets %}style="color:white;" {% endif %}
									href="{{ event.list_tickets_view }}">
									<i class="la la-ticket" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Tickets</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_orders_view }}">
									<i class="la la-list" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Orders</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_attendees_view }}">
									<i class="la la-users" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Attendees</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
				<div class="kt-portlet kt-portlet--mobile" style="padding:10px;">
					<div class="kt-portlet__body">

						<div class="row d-none d-sm-none d-md-flex" style="padding-bottom:10px;">
							<div class="col-md-9">
								<h4 style="font-weight: 400;">{{ event.title }}</h4>
							</div>
							<div class="col-md-3">
								<h3 class="float-right" style="color: #91baa2;">${{ total_sales }}</h3>
							</div>
						</div>


						<!-- Display this only on mobile devices -->
						<div class="row text-center d-block d-md-none" style="padding-bottom:30px;">
							<div class="col-12">
								<h5>{{ event.title }}</h5>
							</div>
						</div>
						<!-- End here -->
								
						<div class="row">
							<div class="col-12">
								<canvas id="myChart2" width="400" height="200"></canvas>
							</div>
						</div>

						<!-- Display this only on mobile devices -->
						<div class="row text-center d-block d-sm-block d-md-none" style="padding-top:30px;">
							<div class="col-12">
								<h3 class="text-center" style="color: #91baa2;">${{ total_sales }}</h3>
							</div>
						</div>
						<!-- End here -->
		
					</div>
				</div>
			</div>
		</div>

		
		



		<div class="row">


			<!-- HIDE THESE ON NON-MOBILE VIEWS -->
			<div class="col-lg-2 offset-lg-1 col-md-4 col-6 d-md-none d-lg-non d-sm-flex d-flex" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile" {% if not tickets %}style="background-color: #4599d5;" {% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if not tickets %}style="color:white;" {% endif %}
									href="{{ event.get_update_view }}">
									<i class="la la-edit" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Edit Event</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-2 col-md-4 col-6 d-md-none d-lg-non d-sm-flex d-flex" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.get_landing_view }}">
									<i class="la la-external-link" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">View Event</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-2 col-md-4 col-6 d-md-none d-lg-non d-sm-flex d-flex" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile" {% if not tickets %}style="background-color: #4599d5;" {% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if not tickets %}style="color:white;" {% endif %}
									href="{{ event.list_tickets_view }}">
									<i class="la la-ticket" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Tickets</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-2 col-md-4 col-6 d-md-none d-lg-non d-sm-flex d-flex" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_orders_view }}">
									<i class="la la-list" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Orders</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-2 col-md-4 col-6 d-md-none d-lg-non d-sm-flex d-flex" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_attendees_view }}">
									<i class="la la-users" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Attendees</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- HIDE THESE ON NON-MOBILE VIEWS -->

			
			<div class="col-lg-2 offset-lg-1 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile" {% if not event.ticket_sales %}style="background-color: #fb7a7a;" {% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<form method="POST">{% csrf_token %}
								{% if event.ticket_sales %}
								<i class="la la-ban" style="font-size:2.5em;color: #7396b0;"></i>
								<button type="submit" name="stop_sales" value="true"
									class="btn btn-block btn-elevate dashboard-links">Stop
									Sales</button>
								{% else %}
								<i class="la la-play" style="font-size:2.5em;color: white;"></i>
								<button type="submit" name="stop_sales" value="false" class="btn btn-block btn-elevate" style="color: white;">Resume</button>
								{% endif %}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile"
					{% if tickets %}{% if not questions %}style="background-color: #4599d5;" {% endif %}{% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if tickets %}{% if not questions  %}style="color:white;"
									{% endif %}{% endif %} href="{{ event.list_questions_view }}">
									<i class="la la-question-circle" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Questions</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_answers_view }}">
									<i class="la la-clipboard" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Answers</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile"
					{% if tickets %}{% if not email.message %}style="background-color: #4599d5;" {% endif %}{% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if tickets %}{% if not email.message  %}style="color:white;"
									{% endif %}{% endif %} href="{{ event.get_email_confirmation_view }}">
									<i class="la la-envelope" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Email</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
			<div class="col-lg-2 col-md-4 col-6" style="padding-top:10px;">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{% url 'payments:payout' %}">
									<i class="la la-money" style="font-size:2.5em;"></i>
									<p style="padding-top: 10px;">Payout</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			
		
		
		</div>

	</div>
</div>



{% endblock content %}














