{% extends "backend/base.html" %}
{% load static %}
{% load tz %}
{% block title %}
Dashboard | {{ event.title }}
{% endblock title %}

{% block page_title %}
{{ event.title }}
{% endblock page_title %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" rel="stylesheet" type="text/css" />
<style type="text/css">
	.btn-outline-metal {
    color: #727272;
    background-color: transparent;
    background-image: none;
    border-color: #4599d8;
}



</style>
{% endblock styles %}


{% block scripts %}
<script>
	console.log(Intl.DateTimeFormat().resolvedOptions().timeZone)
</script>

<script type="text/javascript">
	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	    type: 'line',
	    aspectRatio: 2,
	    data: {
	        labels: {{ graph_data.day_label|safe }},
	        datasets: [{
	            label: 'Tickets',
	            data: {{ graph_data.tickets_label|safe }},
	            backgroundColor: 'rgba(68, 153, 216, 0.2)',
	            borderColor:'rgba(68, 153, 216, 1)',
	            borderWidth: 4,
	            lineTension: 0.1,
	            borderCapStyle: 'butt',
	            borderDashOffset: 3.0,
            	borderJoinStyle: 'miter',
            	pointBorderWidth: 6,
            	pointHoverRadius: 5,
            	pointHoverBorderWidth: 2,
            	pointRadius: 0.5,
            	pointHitRadius: 7,
            	xPadding: 25,

	        }]
	    },

	    options: {

				legend: {
					display: false,
			},

				tooltips: {
					enabled: true,
						mode: 'label',

							callbacks: {
						label: function(item) {
							label = (Math.round(item.yLabel * 100) / 100).toFixed(0);
							label = label.toString();
							label = " " + label + " Tickets Sold "
							return label
						},
					},
				},

				layout: {
					padding: {
						left: 0,
							right: 0,
								top: 10,
									bottom: 0
					}
				},

				animation: {
					duration: 4000,
	        },

				maintainAspectRatio: false,

					scales: {
					yAxes: [{

						gridLines: {
							drawBorder: false,
							display: false,
						},

						ticks: {
							display: false,
							beginAtZero: true,
							suggestedMin: 0,
							fontSize: 30,
						},

					}],

						xAxes: [{

							gridLines: {
								display: false,
							},

							ticks: {
								fontSize: 13,
							},

							stepSize: 5,
							position: 'bottom',

						}],

	        },


				responsive: true,
	    }
	});
</script>
{% endblock scripts %}


{% block content %}

<style>

.dashboard-links {
color: #7396b0;

}
</style>
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-12 col-md-12 col-12">

		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
				<div class="kt-portlet kt-portlet--mobile" style="padding:10px;">
					<div class="kt-portlet__body">

						<!-- Display this only on mobile devices -->
						<div class="row text-center d-block d-md-none" style="padding-bottom:30px;">
							<div class="col-12">
								<h3>{{ event.title }} | <a class="dashboard-links" href="{{ event.get_update_view }}"><i class="la la-cog" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Edit event settings"></i></a> <a class="dashboard-links" href="{{ event.get_landing_view }}"><i class="la la-calendar-check-o" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Go to event"></i></a></h3>
							</div>
						</div>
						<!-- End here -->
		
						<div class="row row d-none d-sm-none d-md-flex" style="padding-bottom:30px;">
							<div class="col-md-9">
								<h3 style="font-weight: 400;">{{ event.title }} | <a class="dashboard-links" href="{{ event.get_update_view }}"><i class="la la-cog" data-container="body"
										data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Edit event settings"></i></a> <a
									class="dashboard-links" href="{{ event.get_landing_view }}"><i class="la la-calendar-check-o" data-container="body"
										data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Go to event"></i></a></h3>
							</div>
							<div class="col-md-3">
								<h3 class="float-right" style="color: #91baa2;">${{ total_sales }}</h3>
							</div>
						</div>
								
						<div class="row">
							<div class="col-12">
								<canvas id="myChart2" width="400" height="200"></canvas>
							</div>
						</div>

						<!-- Display this only on mobile devices -->
						<div class="row text-center d-block d-sm-block d-md-none" style="padding-top:30px;">
							<div class="col-12">
								<h3 class="text-center" style="color: #91baa2;">${{ total_sales }}</h3>
							</div>
						</div>
						<!-- End here -->
		
					</div>
				</div>
			</div>
		</div>

		
		
		<div class="row">
			<div class="col-lg-2 offset-lg-1 col-md-4 col-6">
				<div class="kt-portlet kt-portlet--mobile" {% if not tickets %}style="background-color: #e56d00ad;"{% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if not tickets %}style="color:white;"{% endif %} href="{{ event.list_tickets_view }}">
									<i class="la la-ticket" style="font-size:3em;"></i>
									<p style="padding-top: 10px;">Tickets</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-6">
				<div class="kt-portlet kt-portlet--mobile" {% if tickets %}{% if not questions %}style="background-color: #e56d00ad;"{% endif %}{% endif %}>
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" {% if tickets %}{% if not questions %}style="color:white;"{% endif %}{% endif %} href="{{ event.list_questions_view }}">
									<i class="la la-question-circle" style="font-size:3em;"></i>
									<p style="padding-top: 10px;">Q &amp; A</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-6">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.get_email_confirmation_view }}">
									<i class="la la-envelope" style="font-size:3em;"></i>
									<p style="padding-top: 10px;">Email</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-6">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_orders_view }}">
									<i class="la la-list" style="font-size:3em;"></i>
									<p style="padding-top: 10px;">Orders</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-4 col-6">
				<div class="kt-portlet kt-portlet--mobile">
					<div class="kt-portlet__body">
						<div class="row text-center">
							<div class="col-12">
								<a class="dashboard-links" href="{{ event.list_attendees_view }}">
									<i class="la la-users" style="font-size:3em;"></i>
									<p style="padding-top: 10px;">Attendees</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>


			
		</div>

	</div>
</div>



{% endblock content %}














