{% extends "backend/base.html" %}
{% load tz %}
{% load static %}

{% block title %}
{% if update_event %}Update{% else %}Create{% endif %} Event | {{ house.name }}
{% endblock title %}


{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css" rel="stylesheet"
	type="text/css" />

{% endblock styles %}


{% block scripts %}

<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js"></script>


<script>
function contentUpdated(object) {

    console.log("IS it coming here")
    console.log(object)

}
</script>

{% endblock scripts %}



{% block content %}
<style>
.dropzone {
    min-height: 80px;
}
.dashboard-links {
	color: #7396b0;
}

#map {
        height: 100%;
      }
</style>


{% if not event.deleted %}
<form method="POST" enctype="multipart/form-data" autocomplete="off" onSubmit="document.getElementById('Create').disabled = true;">{% csrf_token %}
    <div class="row justify-content-center" style="padding: 3rem 0px 0px 0px;">
        <div class="col-lg-8 col-md-12 col-12">

            <div class="kt-portlet kt-portlet--mobile" style="padding:20px;">
                <div class="kt-portlet__body">
                    
                    <input type="hidden" name="token" id="token">

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <h4 style="margin-bottom: 0px;">Event Description</h4>
                            <p>Tell people about your event here.</p>
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Oh snap!</strong> {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

					{{ form.media }}
					<div class="row" style="padding-bottom: 20px;">
						<div class="col-md-12" style="max-width: 650px;">
							{{ form.description }}
							<br>
							{% for error in form.description.errors %}
							<div class="alert m-alert--outline alert-danger" role="alert">
								{{ error }}
							</div>
							{% endfor %}
						</div>
					</div>
                    

                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-12">
                            <button type="submit" name="Create" value="Create" id="Create"
                                class="btn btn-primary btn-block">Update Description</button>
                        </div>
                    </div>
                            
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 30px;">
        <div class="col-lg-4 col-md-6 col-6" style="padding-top:10px;">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row text-center">
                        <div class="col-12">
                            <a class="dashboard-links"
                                href="{{ event.get_event_dashboard }}">
                                <i class="la la-edit" style="font-size:2.5em;"></i>
                                <p style="padding-top: 10px;">Dashboard</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-6" style="padding-top:10px;">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row text-center">
                        <div class="col-12">
                            <a class="dashboard-links" href="{{ event.get_landing_view }}">
                                <i class="la la-external-link" style="font-size:2.5em;"></i>
                                <p style="padding-top: 10px;">View Event</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% else %}

<form class="m-form m-form--fit m-form--label-align-right my-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row">
	<div class="col-md-12 text-center">
		<br>
		<br>
		<i class="fas fa-house-damage" style="font-size: 20em;color: #adc1ce;"></i>
		<br>
		<br>
		<h1 style="color: #adc1ce;">This event has been deleted.</h1>
		<br>
		<button type="submit" name="Undo Delete" value="Undo Delete" class="btn btn-danger btn-lg">Undo Delete</button>
	</div>
</div>
</form>
{% endif %}


{% endblock content %}














