{% extends "backend/base.html" %}
{% load past_events_tags %}
{% load static %}

{% block title %}
Past Events | {{ House.name }}
{% endblock title %}

{% block page_title %}
Past Events
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<!--begin::Page Resources --> 
<script type="text/javascript">
</script>
<!--end::Page Resources -->
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">{{ house.name }}'s Past Events</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}

<div class="row">
	<div class="col-lg-8 col-md-8">
		
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom: 10px;">
					<div class="col-md-12">
						<h4>Past Events</h4>
					</div>
				</div>

				{% if events %}
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Event</th>
							<th>End Date</th>
							<th>Tickets Sold</th>
							<th>Total Payout</th>
						</tr>
					</thead>
					<tbody id="dynamic">
						{% for event in events %}
						<tr>
							<td><a href="{{ event.get_update_view }}">{{ event.title }}</a></td>
							<td>{{ event.end }}</td>
							<td>{% get_tickets_sold event %}</td>
							<td>${% get_revenue_earned event %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>No past events</p>
				{% endif %}

			</div>
					
		</div>

	</div>
</div>



<div class="row">
	<div class="col-lg-8 col-md-8">
		
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom: 10px;">
					<div class="col-md-12">
						<h4>Deleted Events</h4>
					</div>
				</div>

				{% if deleted_events %}
				<table class="table table-bordered table-hover">
					<tbody id="dynamic">
						{% for event in deleted_events %}
						<tr>
							<td><a href="{{ event.get_update_view }}">{{ event.title }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>No deleted events</p>
				{% endif %}	

			</div>
					
		</div>

	</div>
</div>

{% endblock content %}














