{% extends "backend/base.html" %}
{% load static %}
{% load payment_tags %}

{% block title %}
Add Funds | {{ house.name }}
{% endblock title %}


{% block styles %}

{% endblock styles %}


{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>



<script>
var stripe = Stripe('{{ public_key }}');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
    base: {
    color: '#303238',
    color: "#32325d",
    fontSmoothing: 'antialiased',
    '::placeholder': {
        color: '#ccc',
    },
    },
    invalid: {
    color: '#e5424d',
    ':focus': {
        color: '#303238',
    },
    },
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
    displayError.textContent = event.error.message;
    } else {
    displayError.textContent = '';
    }
});


var form = document.getElementById('checkoutForm');
form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
    if (result.error) {
        // Inform the customer that there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
    } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
    }
    });
});


function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('checkoutForm');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
}

$('form#id').submit(function () {
    $(this).find(':input[type=submit]').prop('disabled', true);
});

</script>





<script>

function updateFeeAndTotal() {

    amount = document.getElementById("id_amount").value;
    console.log(amount)

    fee = (amount * 0.04) + 0.30
    fee = fee.toFixed(2);
    document.getElementById("fee").innerHTML = "$" + fee;
    console.log(fee)

    total = amount - fee
    total = total.toFixed(2);
    document.getElementById("total").innerHTML = "$" + total;
    console.log(total)
}

jQuery(document).ready(function($) {
    updateFeeAndTotal()
});

</script>
{% endblock scripts %}


{% block content %}

<style>
.table {
    color: #4d4d4d;
}
</style>



<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile" style="padding: 10px;">
			<div class="kt-portlet__body">
                <form method="POST" id="checkoutForm" enctype="multipart/form-data" onSubmit="document.getElementById('customButton').disabled=true;">{% csrf_token %}

                
				<div class="row" style="padding-bottom:30px;">
					<div class="col-12">
                        <h3>Add Funds</h3>
					</div>
                </div>
                
                <div class="row" style="padding-bottom:30px;">
                    <div class="col-lg-3 col-md-3">
                        {{ form.amount }}
                        <p style="margin-top: 10px;">Charge amount</p>
                    </div>
                    <div class="col-lg-1 col-md-1 d-none d-sm-none d-md-block">
                        <p style="font-size: 2em;">-</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <span id="fee" style="font-size: 2em;">$0.00</span>
                        <p style="margin-top: 10px;">Processing Fee</p>
                    </div>
                    <div class="col-lg-1 col-md-1 d-none d-sm-none d-md-block">
                        <p style="font-size: 2em;">=</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <span id="total" style="font-size: 2em;">$0.00</span>
                        <p style="margin-top: 10px;">Total funds to add</p>
                    </div>
                </div>

                <div class="row" style="padding-bottom:30px;">
                    <div class="col-12">
                        <h5>Payment Card</h5>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-12 col-lg-6">
                        <div>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <!-- Used to display Element errors. -->
                            <div id="card-errors" role="alert" style="color: #e5424d;"></div>
                        </div>
                    </div>
                </div>
    
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12">
                        <button id="customButton" type="submit" class="btn btn-primary">Accept Charges</button>
                    </div>
                </div>


            </form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}














