{% extends "backend/base.html" %}
{% load static %}

{% block title %}
Add Bank | {{ house.name }}
{% endblock title %}


{% block styles %}
{% endblock styles %}


{% block scripts %}
<script>
function GetBankImage(object) {

    console.log(object.value)
    var institution_number = object.value;

    $.ajax({
        type: "GET",
        url: '{{ request.path }}',
        data: {
            'institution_number': institution_number,
        },

        success: function (data) {
            console.log(data)
            document.getElementById("bank_image").innerHTML = data;

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            //some stuff on failure
        },
    });

}
</script>
{% endblock scripts %}


{% block content %}

<div class="row align-items-center h-100">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form method="POST" id="checkoutForm" enctype="multipart/form-data">{% csrf_token %}

                    <div class="row" style="padding-bottom:30px;" >
                        <div class="col-lg-4 col-12" id="bank_image">
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-10">
                            <p style="margin-bottom: 5px;font-weight: 500;">Account Name</p>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <br>
                                {% for error in form.name.errors %}
                                <div class="alert m-alert--outline alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>



                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-10">
                            <p style="margin-bottom: 5px;font-weight: 500;">Deposit Form <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
                                data-placement="top" title=""
                                data-original-title="Please upload a void cheque or a direct deposit form from your financial institution."></i></p>
                            {{ form.official_document }}
                            {% if form.official_document.errors %}
                                <br>
                                {% for error in form.official_document.errors %}
                                <div class="alert m-alert--outline alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    {% if update %}
                    <div class="row">
                        <div class="col-md-12">
                            <button id="customButton" type="submit" class="btn btn-primary">Update Bank Account</button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <button id="customButton" type="submit" class="btn btn-primary">Add Bank Account</button>
                        </div>
                    </div>
                    {% endif %}


                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}