{% extends "backend/base.html" %}
{% load static %}
{% block title %}
Payout History | {{ House }}
{% endblock title %}


{% block styles %}
{% endblock styles %}


{% block scripts %}
{% endblock scripts %}


{% block content %}
<form method="POST" id="checkoutForm" enctype="multipart/form-data">{% csrf_token %}
<div class="row">
	<div class="col-lg-8 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

                
				<div class="row" style="padding-bottom:30px;">
					<div class="col-12">
                        <h3>Add Funds</h3>
					</div>
                </div>

                <div class="row" style="padding-bottom:30px;">
                    <div class="col-md-12">
                        <p style="margin-bottom: 5px;font-weight: 500;">Payout Method Name</p>
                        <input maxlength="300" name="payout_method_name" value="{{ payout_setting.name }}" class="form-control m-input" type="text" id="payout_method_name" size="30" required placeholder="Business Account">
                    </div>
                </div>
                
                <div class="row" style="padding-bottom:30px;">
                    <div class="col-6">
                        <p style="margin-bottom: 5px;font-weight: 500;">Email</p>
                        {{ form.email }}
                    </div>
                    <div class="col-6">
                        <p style="margin-bottom: 5px;font-weight: 500;">Password</p>
                        {{ form.password }}
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <button id="customButton" type="submit" class="btn btn-primary">Add Payout Method</button>
                    </div>
                </div>



			</div>
		</div>
	</div>
</div>
</form>
{% endblock content %}














