{% extends "backend/base.html" %}
{% load static %}
{% load payment_tags %}


{% block title %}
Payments | {{ house.name }}
{% endblock title %}


{% block styles %}

{% endblock styles %}


{% block scripts %}

{% endblock scripts %}


{% block content %}

<style>
.table {
    color: #4d4d4d;
}

.dashboard-links {
color: #7396b0;
}
</style>

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">

        <div class="row">
            <div class="col-md-12 col-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">

                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="margin-bottom:0px;">
                                    Invoices
                                </h3>
                                <p>Choose a year.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        
            {% for year in years %}
            <div class="col-lg-3 col-md-4 col-6" style="padding-top:10px;">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row text-center">
                            <div class="col-12">
                                <a class="dashboard-links"
                                    href="{% url 'payments:invoice_month' year %}">
                                    <p style="font-size: 2em;">{{ year }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

{% endblock content %}














