{% extends "backend/base.html" %}
{% load static %}
{% load payment_tags %}


{% block title %}
Payments | {{ house.name }}
{% endblock title %}


{% block styles %}

{% endblock styles %}


{% block scripts %}

{% endblock scripts %}


{% block content %}

<style>
.table {
    color: #4d4d4d;
}

.dashboard-links {
color: #7396b0;
}
</style>

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">

        <div class="row">
            <div class="col-md-12 col-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">

                        <form method="GET">
                        <div class="row" style="padding-bottom: 30px;">
                            <div class="col-md-8">
                                <h4 style="margin-bottom: 0px;">{{ month }}, {{ year }}</h4>
                                <p style="margin-bottom: 0px;">Statment Month</p>
                            </div>
                            <div class="col-md-4">
                                <button value="submit" class="btn btn-primary btn-block" name="export_to_excel" value="export_to_excel">Export To Excel</button>
                                <button value="submit" class="btn btn-primary btn-block" name="pdf_statement" value="pdf_statement">PDF Statement</button>
                            </div>
                        </div>
                        </form>

                        
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Payments</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Gross Amount</th>
                                        <th>Fee</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% if payments %}
                                        {% for payment in payments %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>${{ payment.transaction.amount }}</td>
                                            <td>-${{ payment.transaction.fee }}</td>
                                            <td>${{ payment.transaction.house_amount }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">{{ payments.count }}</td>
                                        <td style="font-size: 1.3em;">${{ payment_gross_amount|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">{% if payment_total_fees != 0 %}-{% endif %}${{ payment_total_fees|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">${{ payment_total_amount|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>




                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Donations</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Gross Amount</th>
                                        <th>Fee</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% if donations %}
                                    {% for donation in donations %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>${{ donation.transaction.amount }}</td>
                                        <td>-${{ donation.transaction.fee }}</td>
                                        <td>${{ donation.transaction.house_amount }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">{{ donations.count }}</td>
                                        <td style="font-size: 1.3em;">${{ donation_gross_amount|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">
                                            {% if donation_total_fees != 0 %}-{% endif %}${{ donation_total_fees|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">${{ donation_total_amount|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Added Funds</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Gross Amount</th>
                                        <th>Fee</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% if house_payments %}
                                        {% for house_payment in house_payments %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>${{ house_payment.house_payment.transaction.amount }}</td>
                                            <td>{% if house_payment.house_payment.transaction.fee != 0 %}-{% endif %}${{ house_payment.house_payment.transaction.fee }}</td>
                                            <td>${{ house_payment.house_payment.transaction.house_amount }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">{{ house_payments.count }}</td>
                                        <td style="font-size: 1.3em;">${{ house_payments_gross_amount|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">{% if house_payments_total_fees != 0 %}-{% endif %}${{ house_payments_total_fees|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">${{ house_payments_total_amount|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Refunds</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Gross Amount</th>
                                        <th>Fee</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% if refunds %}
                                        {% for refund in refunds %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{% if refund.refund.amount != 0 %}-{% endif %}${{ refund.refund.amount }}</td>
                                            <td>${{ refund.refund.fee }}</td>
                                            <td>{% if refund.refund.house_amount != 0 %}-{% endif %}${{ refund.refund.house_amount }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">{{ refunds.count }}</td>
                                        <td style="font-size: 1.3em;">${{ refund_gross_amount|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">${{ refund_total_fees|floatformat:2 }}</td>
                                        <td style="font-size: 1.3em;">{% if refund_house_amount != 0 %}-{% endif %}${{ refund_house_amount|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Services</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Service</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% if services %}
                                    {% for service in services %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% if service.arqam_house_service_fee.live_video %}
                                        <td>Virtual Event</td>
                                        {% else %}
                                        <td>Other</td>
                                        {% endif %}
                                        <td>${{ service.arqam_house_service_fee.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">{{ services.count }}</td>
                                        <td>----</td>
                                        <td style="font-size: 1.3em;">${{ service_gross_amount|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Payouts</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% if payouts %}
                                        {% for payout in payouts %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>${{ payout.payout.amount }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">{{ payouts.count }}</td>
                                        <td style="font-size: 1.3em;">${{ payout_gross_amount|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        

                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 0px;">Balance Summary</h5>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 10px;">
                            <table class="table table-bordered table-hover">
                                <tbody id="dynamic">
                                    <tr>
                                        <td>Gross Activity</td>
                                        <td>${{ gross_activity|floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Fees</td>
                                        <td>${{ total_fees|floatformat:2 }}</td>
                                    </tr>
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">Net Activity</td>
                                        <td style="font-size: 1.3em;">${{ net_activity|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" style="padding-bottom: 30px;">
                            <table class="table table-bordered table-hover">
                                <tbody id="dynamic">
                                    <tr>
                                        <td>Start of Month Balance</td>
                                        <td>${{ previous_month_last_house_balance|floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Net Activity</td>
                                        <td>${{ net_activity|floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Payout</td>
                                        <td>${{ payout_gross_amount|floatformat:2 }}</td>
                                    </tr>
                                    <tr style="background-color: #c1e5ff;">
                                        <td style="font-size: 1.3em;">End of Month Balance</td>
                                        <td style="font-size: 1.3em;">${{ end_of_month_balance|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}














