{% extends "backend/base.html" %}
{% load static %}
{% load payment_tags %}
{% block title %}
Payout History | {{ House }}
{% endblock title %}


{% block styles %}

{% endblock styles %}


{% block scripts %}
{% endblock scripts %}


{% block content %}

<style>
.table {
    color: #4d4d4d;
}
</style>

<div class="row">
	<div class="col-lg-8 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom:30px;">
					<div class="col-12">
						<h3>Payments</h3>
					</div>
				</div>

				<table class="table table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Amount</th>
							<th>Description</th>
							<th>Balance</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody id="dynamic">
						{% for house_balance_log in house_balance_logs %}
						<tr>
							<td style="font-weight: {% get_type_font_weight house_balance_log %};font-size: 1.2em;">${% get_amount house_balance_log %}</td>
							<td style="color: {% get_type_color house_balance_log %};font-weight: 400;">{% autoescape off %}{% get_type_icon house_balance_log %} {% get_type house_balance_log %}{% endautoescape %}</td>
							<td style="font-weight: {% get_type_font_weight house_balance_log %};font-size: 1.2em;">${{ house_balance_log.balance }}</td>
							<td style="font-size: 0.9em;">{{ house_balance_log.created_at }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

{% endblock content %}














