{% extends "backend/base.html" %}
{% load static %}
{% load payout_settings_tags %}
{% block title %}
Payout History | {{ House }}
{% endblock title %}


{% block styles %}

{% endblock styles %}


{% block scripts %}
{% endblock scripts %}


{% block content %}

<style>
.table {
    color: #4d4d4d;
}
</style>

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom:30px;">
					<div class="col-12">
						<h3>Payout Methods</h3>
					</div>
                </div>

                {% if payout_settings %}
                
                {% for payout_setting in payout_settings %}
                <div class="row" style="padding-bottom:10px;padding-top: 20px;">
                    <div class="col-md-12">
                        {% if payout_setting.bank_transfer.institution == '001' or payout_setting.bank_transfer.institution == '002' or payout_setting.bank_transfer.institution == '003' or payout_setting.bank_transfer.institution == '004' %}
                            {% with template_name=payout_setting.bank_transfer.institution|stringformat:"s"|add:".html" %}
                                {% include "payments/bank_images/"|add:template_name %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size:1.2em;"><span style="font-weight: 400;">{{ payout_setting.name }} |</span> <a
                                href="{{ payout_setting.bank_transfer.get_edit_url  }}">Edit</a></p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 40px;">
                    <div class="col-md-5">
                        
                        <p style="margin-bottom:0px;">Account Number</p>
                        <p>{{ payout_setting.bank_transfer.account|make_list|slice:':3'|join:'' }}****</p>
                    </div>
                    <div class="col-md-3">
                        <p style="margin-bottom:0px;">Transit Number</p>
                        <p>{{ payout_setting.bank_transfer.transit }}</p>
                    </div>
                    <div class="col-md-3">
                        <p style="margin-bottom:0px;">Institution Number</p>
                        <p>{{ payout_setting.bank_transfer.institution }}</p>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                {% endif %}

                <div class="row" style="padding-top: 20px;">
                    <div class="col-lg-4 col-md-12">
                        <a href="{% url 'payments:add_bank' %}" class="btn btn-primary btn-block">Add Bank Account</a>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>

{% endblock content %}














