{% extends "backend/base.html" %}
{% load static %}
{% load payment_tags %}

{% block title %}
Payout | {{ house.name }}
{% endblock title %}


{% block styles %}

{% endblock styles %}


{% block scripts %}
<script>
function updateFeeAndTotal() {

    amount = document.getElementById("id_amount").value;
    console.log(amount)

    total = {{ total }} - amount
    total = total.toFixed(2);
    document.getElementById("total").innerHTML = "$" + total;
    console.log(total)
}

jQuery(document).ready(function($) {
    updateFeeAndTotal()
});
</script>
{% endblock scripts %}


{% block content %}

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
                <form method="POST" id="checkoutForm" enctype="multipart/form-data">{% csrf_token %}


                <div class="row text-center" style="padding-bottom:30px;">
                    <div class="{% if house_balance.balance > 0 %}col-lg-2{% else %}col-lg-12{% endif %} col-4" style="padding-top: 30px;">
                        <p style="font-size: 1.6em;margin-bottom: 0rem;color: #FF7947;">${{ total }}</p>
                        <p style="padding-top:20px;">Current Balance</p>
                    </div>
                    {% if house_balance.balance > 0 and payout_settings %}
                    <div class="col-2 d-none d-sm-none d-md-none d-lg-block" style="padding-top: 30px;">
                        <p style="font-size: 1.5em;">-</p>
                    </div>
                    <div class="col-lg-3 col-4" style="padding-top: 30px;">
                        {{ form.amount }}
                        <p style="margin-top:0.9rem;">Payout amount</p>
                    </div>
                    <div class="col-2 d-none d-sm-none d-md-none d-lg-block" style="padding-top: 30px;">
                        <p style="font-size: 1.5em;">=</p>
                    </div>
                    <div class="col-lg-2 col-4" style="padding-top: 30px;">
                        <p style="font-size: 1.6em;margin-bottom: 0rem;color: #FF7947;" id="total">$0.00</p>
                        <p style="padding-top:20px;">New Balance</p>
                    </div>
                    {% endif %}
                </div>

                {% if house_balance.balance > 0 and payout_settings %}
                <div class="row" style="padding-bottom:30px;padding-top: 30px;">
                    <div class="col-md-12">
                        {{ form.payout_setting }}
                    </div>
                </div>
                {% endif %}

                {% if payout_settings %}   
                    {% if house_balance.balance > 0 %}
                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <button id="customButton" type="submit" class="btn btn-primary" >Request Payout</button>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="row text-center" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <a href="{% url 'payments:add_bank' %}" class="btn btn-primary btn-block">Add Payout Method</a>
                        </div>
                    </div>
                {% endif %}

            </form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}














