{% extends "backend/index.html" %}

{% load static %}

{% block title %}
Attendees | {{ event.title }}
{% endblock title %}

{% block page_title %}
Attendees
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script>

function FocusOnInput()
{
    document.getElementById("attendee-search").focus();
    
}

function GetAttendees(object)
{

    console.log(object.value)
    var search = object.value;
    var token = '{{csrf_token}}';

    $.ajax({
        type:"POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
          'search': search,
        },
        
        success: function (data) {
            console.log("HELLOO")
            document.getElementById("dynamic").innerHTML = data;
            
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert(errorThrown);
                  //some stuff on failure
                },
    });
    
}

jQuery(document).ready(function() {
    // DataTableAjax();
    FocusOnInput();

});
</script>
{% endblock scripts %}

{% block content %}



<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-line-chart"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				Attendees
				<small><a href="{{ event.get_event_dashboard }}">{{ event.title }}</a></small>
			</h3>
		</div>
	</div>

	<div class="kt-portlet__body">

		<div class="row" style="padding-bottom:30px;">
			<div class="col-12">
				<input type="search" placeholder="Search For An Attendee" id="attendee-search" class="form-control m-input" onkeyup="GetAttendees(this)">
				<br>
			</div>
		</div>
			
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Order</th>
					<th>Update</th>
					<th>Name</th>
					<th>Ticket</th>
				</tr>
			</thead>
			<tbody id="dynamic">
				{% for attendee in attendees %}
				<tr>
					<td><a href="{{ attendee.order.get_order_view }}" class="btn btn-primary btn-wide">Order</a></td>
					<td><a href="{{ attendee.get_attendee_view }}" class="btn btn-primary btn-wide">Details</a></td>
					<td>{{ attendee.name }}</td>
					<td>{{ attendee.ticket.title }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
		
	</div>
			
</div>
{% endblock content %}














