{% extends "backend/base.html" %}
{% load static %}
{% load answers_template_tags %}

{% block title %}
Answers | {{ event.title }}
{% endblock title %}

{% block page_title %}
Orders
{% endblock page_title %}

{% block styles %}
<style type="text/css">
    .row-padder {
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>
{% endblock styles %}


{% block scripts %}
<script>

function FocusOnInput() {
    document.getElementById("order-search").focus();

}

function GetAttendees(object) {

    console.log(object.value)
    var search = object.value;
    var token = '{{csrf_token}}';

    $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
            'search': search,
            'attendees': true,
        },

        success: function (data) {
            document.getElementById("dynamic").innerHTML = data;

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            //some stuff on failure
        },
    });

}


function GetOrders(object) {

    console.log(object.value)
    var search = object.value;
    var token = '{{csrf_token}}';

    $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
            'search': search,
            'orders': true,
        },

        success: function (data) {
            document.getElementById("dynamic_orders").innerHTML = data;

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            //some stuff on failure
        },
    });

}

jQuery(document).ready(function () {
    // DataTableAjax();
    FocusOnInput();

});
</script>
{% endblock scripts %}



{% block content %}
<style>
    .dashboard-links {
        color: #7396b0;
    }
</style>
<div class="row align-items-center h-100">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">

                <div class="row" style="padding-bottom:30px;">
                    <div class="col-12">
                        <h3>Answers <span style="font-size: 0.8em;font-weight: 200;">|
                                {{ event_question.question.title }}</span></h3>
                    </div>
                </div>

                {% if event_question.order_question %}
                <div class="row">
                    <div class="col-12">
                        <h5>Order Answers</h5>
                    </div>
                </div>

                <div class="row" style="padding-bottom:10px;">
                    <div class="col-12">
                        <input type="search" placeholder="Search for an order by buyer name" id="order-search"
                            class="form-control m-input" onkeyup="GetOrders(this)">
                        <br>
                    </div>
                </div>

                <div class="row" style="padding-bottom:30px;">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Answer</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic_orders">
                                    {% for order in orders %}
                                    <tr>
                                        <td><a href="{{ order.get_order_view }}">{{ order.name }}</a></td>
                                        <td>{% get_answer_for_order order event_question %}</td>
                                        <td><a href="{{ order.get_order_view }}" class="btn btn-primary btn-block">View</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}


                <div class="row">
                    <div class="col-12">
                        <h5>Attendee Answers</h5>
                    </div>
                </div>

                <div class="row" style="padding-bottom:10px;">
                    <div class="col-12">
                        <input type="search" placeholder="Search for an attendee" id="attendee-search"
                            class="form-control m-input" onkeyup="GetAttendees(this)">
                        <br>
                    </div>
                </div>

                <div class="row" style="padding-bottom:30px;">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Attendee</th>
                                        <th>Answer</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="dynamic">
                                    {% for attendee in attendees %}
                                    <tr>
                                        <td><a href="{{ attendee.order.get_order_view }}">{{ attendee.name }}</a></td>
                                        <td>{% get_answer_for_attendee attendee event_question %}</td>
                                        <td><a href="{{ attendee.get_attendee_view }}" class="btn btn-primary btn-block">Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock content %}