{% extends "backend/base.html" %}
{% load event_checkout_form_tags %}
{% load static %}

{% block title %}
New Check-In | {{ event.title }}
{% endblock title %}

{% block page_title %}
New Check-In
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script src="{% static 'assets/demo/default/custom/components/datatables/base/html-table.js' %}" type="text/javascript"></script>
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">Create a new check-in for "{{ event.title }}"</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="m-portlet m-portlet--mobile">
	<div class="m-portlet__body">


		{% if form.non_field_errors %}
		<div class="row row-padder">
			<div class="col-md-12">
				<div class="form-group m-form__group">
					{% for error in form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
					  	<strong>Oh snap!</strong> {{ error }}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
					
					
		<div class="row row-padder">
			<div class="col-md-12">
				<div class="form-group m-form__group">
					<h5 {% if form.title.errors %}style="color:red;"{% endif %}>Check-in Title</h5>
					{{ form.title }}
					<br>
					<span class="m-form__help">Give your check-in a title like "main registration" or "1:15pm segment"</span>
					<br>
					{% for error in form.title.errors %}
						<div class="alert m-alert--outline alert-danger" role="alert">
						  	{{ error }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>


		<div class="row" style="padding-top: 30px;">
			<div class="col-md-3">
				<div class="form-group m-form__group">
					<h5>Password Protected</h5>
					<span class="m-switch m-switch--lg m-switch--icon">
						<label>
                        {{ form.password_protected }}
                        <span></span>
                        </label>
                    </span>
                </div>
            </div>
			<div class="col-md-9">
				<div class="form-group m-form__group">
					<h5 {% if form.title.errors %}style="color:red;"{% endif %}>Password</h5>
					{{ form.password }}
					<br>
					{% for error in form.title.errors %}
						<div class="alert m-alert--outline alert-danger" role="alert">
						  	{{ error }}
						</div>
					{% endfor %}
				</div>
            </div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<span class="m-form__help">Keep your check-in password protected so only members of your team who have the password can check attendees in.</span>
			</div>
		</div>


		<div class="row" style="padding-top: 40px;">
			<div class="col-md-12">
				<div class="form-group m-form__group">
					<h5>Automatically Add New Attendees To Check-In</h5>
					<span class="m-switch m-switch--lg m-switch--icon">
						<label>
                        {{ form.auto_add_new_attendees }}
                        <span></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
			<div class="col-md-12">
				<span class="m-form__help">Switch on: Any attendee that registers for {{ event.title }} will automatically be added to the check-in. Switch off: Attendees will need to be manually added to the check-in.</span>
			</div>
		</div>


        <div class="row" style="padding-top: 40px;">
			<div class="col-md-12">
				<span class="m-form__help">Select attendees from below to add or remove to your check-in</span>
			</div>
		</div>


		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center row-padder">
				<div class="col-xl-6 order-2 order-xl-1">
					<div class="form-group m-form__group row align-items-center">
						<div class="col-md-12">
							<div class="m-input-icon m-input-icon--left">
								<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
								<span class="m-input-icon__icon m-input-icon__icon--left">
									<span><i class="la la-search"></i></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end: Search Form -->

		<!--begin: Datatable -->
		<table class="m-datatable" id="html_table" width="100%">
			<thead>
			<tr>
				<th class="text-center" title="View Order">Add/Remove</th>
				<th class="text-center" title="name">Name</th>
				<th class="text-center">Attendee Questions</th>
			</tr>
			</thead>
			<tbody>
				{% for attendee in attendees %}
				<tr class="text-center">
					<td>
						<div class="text-center">
							<span class="m-switch m-switch--lg m-switch--icon">
								<label>
                        			{% get_attendee_related_form_field form attendee %}
                        			<span></span>
                        		</label>
                    		</span>
                		</div>
            		</td>
					<td><p class="text-center" style="margin:0 auto;">{{ attendee.name }}</p></td>
            		<td>
            			<div class="m-accordion m-accordion--default" id="m_accordion_{{ forloop.counter }}" role="tablist">   

		                    <!--begin::Item-->              
		                    <div class="m-accordion__item">
		                        <div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_{{ forloop.counter }}_item_{{ forloop.counter }}_head" data-toggle="collapse" href="#m_accordion_{{ forloop.counter }}_item_{{ forloop.counter }}_body" aria-expanded="false">
		                            <span class="m-accordion__item-title">Lorem Ipsum has been the industry's standard</span>
		                            <span class="m-accordion__item-mode"></span>     
		                        </div>

		                        <div class="m-accordion__item-body collapse" id="m_accordion_{{ forloop.counter }}_item_{{ forloop.counter }}_body" class=" " role="tabpanel" aria-labelledby="m_accordion_{{ forloop.counter }}_item_{{ forloop.counter }}_head" data-parent="#m_accordion_{{ forloop.counter }}"> 
		                            <div class="m-accordion__item-content">
		                                {% for answer in attendee_ticketanswer_set.all %}  
		                                 <p>{{ answer }}</p>
		                                {% endfor %}
		                                <p>Hello</p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--end::Item--> 
                		</div>
            		</td>
            		<td>Another</td>
            		<td>Another</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!--end: Datatable -->
		
	</div>	    
</div>
</form>

{% endblock content %}














