[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
celery = "*"
dj-database-url = "*"
django-cities-light = "*"
django-sendgrid-v5 = "*"
django-storages = "*"
gunicorn = "*"
numpy = "*"
openpyxl = "*"
pillow = "*"
psycopg2 = "*"
pytz = "*"
redis = "*"
requests = "*"
stripe = "*"
weasyprint = "*"
qrcode = "*"
django-heroku = "*"
python-dotenv = "*"
django-cleanup = "*"
googlemaps = "*"
coverage = "*"
selenium = "*"
django-froala-editor = "*"
django-hosts = "*"
channels = "*"
channels-redis = "*"
uvicorn = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django = "==2.2"
twilio = "*"
ics = "*"
beautifulsoup4 = "*"
django-stdimage = "*"
opentok = "*"
discord-py = "*"

[requires]
python_version = "3.7"
