{% extends "backend/index.html" %}

{% load static %}

{% block title %}
Orders | {{ event.title }}
{% endblock title %}

{% block page_title %}
Orders
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script>

function FocusOnInput()
{
    document.getElementById("product-search").focus();
    
}

function GetProducts(object)
{

    console.log(object.value)
    var search = object.value;
    var token = '{{csrf_token}}';

    $.ajax({
        type:"POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
          'search': search,
        },
        
        success: function (data) {
            console.log("HELLOO")
            document.getElementById("dynamic").innerHTML = data;
            
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert(errorThrown);
                  //some stuff on failure
                },
    });
    
}

jQuery(document).ready(function() {
    // DataTableAjax();
    FocusOnInput();

});
</script>
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">{{ orders.count }} Order{% if orders.count > 1 %}s{% endif %} for "{{ event.title }}"</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-line-chart"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				Orders
				<small>{{ event.title }}</small>
			</h3>
		</div>
	</div>

	<div class="kt-portlet__body">

		<div class="row" style="padding-bottom:30px;">
			<div class="col-12">
				<input type="search" placeholder="Search For A Product" id="product-search" class="form-control m-input" onkeyup="GetProducts(this)">
				<br>
			</div>
		</div>
			
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Detail</th>
					<th>Order ID</th>
					<th>Time</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Brand</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody id="dynamic">
				{% for order in orders %}
				<tr>
					<td><a href="{{ order.get_order_view }}" class="btn btn-primary btn-wide">Details</a></td>
					<td>{{ order.payment_id }}</td>
					<td>{{ order.created_at }}</td>
					<td>{{ order.name }}</td>
					<td>${{ order.amount }}</td>
					<td>{% include "orders/brands.html" with order=order %}</td>
					<td>{{ order.note }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
		
	</div>
			
</div>
{% endblock content %}














