{% extends "backend/index.html" %}

{% load static %}

{% block title %}
Order #{{ order.id }} | {{ event.title }}
{% endblock title %}

{% block page_title %}
<a style="text-decoration: none;font-size: 0.7em;color: #4499d5;" href="{{ event.list_orders_view }}"><i style="font-size: 1em;" class="fas fa-long-arrow-alt-left"></i> Back To Orders</a>
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script type="text/javascript">

$(document).ready(function(){
		document.getElementById('id_partial_refund').onchange = function() {
	    document.getElementById('id_refund_amount').disabled = !this.checked;
	};

});
</script>
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">Order #{{ order.id }} for {{ order.event.title }}</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}


<div class="row">
	<div class="col-12 col-lg-4">
		<div class="kt-portlet kt-portlet--skin-solid kt-portlet-- kt-bg-brand">
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-12">
						<h1>{{ order.name }}</h1>
						<p style="margin-bottom:2px;">Order placed on {{ order.created_at }}</p>
						<p style="margin-bottom:2px;">{% if order.failed %}Order Failed{% else %}Successful Order{% endif %}</p>
						<hr>
					</div>
				</div>
				<div class="row" style="padding-top:20px;">
					<div class="col-12">
						<p style="margin-bottom:2px;"><span style="font-weight:900;">Email</span> | {{ order.email }}</p>
						<p style="margin-bottom:2px;"><span style="font-weight:900;">Order ID</span> | {{ order.payment_id }}</p>
						<hr>
					</div>
				</div>
				<div class="row" style="padding-top:20px;">
					<div class="col-12">
						<p style="font-size: 1.5em;">{% include "orders/brands.html" with order=order %}</p>
						<p style="margin: 0;"><span style="font-weight:900;">Payment Card</span> | {{ order.brand }}</p>
						<p style="margin: 0;"><span style="font-weight:900;">Last Four Digits</span> | {{ order.last_four }}</p>
						<p style="margin: 0;"><span style="font-weight:900;">Outcome</span> | {{ order.outcome_type|title }}</p>
						<hr>
					</div>
				</div>
				<div class="row" style="padding-top:20px;">
					<div class="col-12">
						<i class="fas fa-map-marker-alt" style="font-size: 2.0em;" style="padding:5px;"></i>
						<p style="margin: 0;"><span style="font-weight:900;">Address</span> | {{ order.address_line_1 }}</p>
						<p style="margin: 0;"><span style="font-weight:900;">Province/State</span> | {{ order.address_state }}</p>
						<p style="margin: 0;"><span style="font-weight:900;">City</span> | {{ order.address_city }}</p>
						<p style="margin: 0;"><span style="font-weight:900;">Country</span> | {{ order.address_country }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-6">
		<div class="kt-portlet">
			<div class="kt-portlet__body">
					<div class="row" style="padding-bottom:20px;">
						<div class="col-12">
							<h3>Attendees In This Order</h3>
						</div>
					</div>
				<div class="row">
					<div class="col-12">
						<table class="table table-bordered table-hover" width="100%">
							<thead class="thead-light">
							<tr>
								<th class="text-center" title="Number">No.</th>
								<th class="text-center" title="Number">Edit Attendee</th>
								<th class="text-center" title="Number">Ticket</th>
								<th class="text-center" title="Name">Name</th>
								{% for question in event_questions %}
								<th class="text-center" title="{{ question.title }}">{{ question.title }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
								{% for attendee in attendees %}
								<tr>
									<td><p class="text-center" style="color: #7069cb;margin:0 auto;">{{ forloop.counter }}</p></td>
									<td><div class="text-center"><button class="btn btn-outline-brand btn-sm btn-block">Edit Attendee</button></div></td>
									<td><p class="text-center" style="color: #7069cb;margin:0 auto;">{{ attendee.ticket }}</p></td>
									<td><p class="text-center" style="margin:0 auto;">{{ attendee.name }}</p></td>
									{% for answer in attendee.ticketanswer_set.all %}
									<td><p class="text-center" style="margin:0 auto;">{{ answer.value }}</p></td>
									{% endfor %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<form method="POST">{% csrf_token %}
<div class="row" style="padding-bottom:30px;">
	<div class="col-12 col-lg-10">
		<div class="kt-portlet kt-portlet--skin-solid kt-portlet-- kt-bg-success">
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-12">
						<h2 style="font-weight: 300;">The eligable refund amount is ${{ order.amount }}</h2>
					</div>
				</div>

				{% if form.non_field_errors %}
				<div class="row">
					<div class="col-md-12">
						<div class="form-group m-form__group">
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								<strong>Oh snap!</strong> {{ error }}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}

				<div class="row" style="padding-top:30px;">
					<div class="col-md-4">
						<div class="form-group m-form__group">
							<h5>Partial Refund</h5>
							<span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
								<label>
								{{ form.partial_refund }}
								<span></span>
								</label>
							</span>
							<br>
							<span class="m-form__help">Switch on to refund a portion of the order or switch off to refund the entire eligable amount.</span>
							<br>
							<br>
							{% for error in form.partial_refund.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
										{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-6">
						<div class="form-group m-form__group">
							<h5 {% if form.refund_amount.errors %}style="color:red;"{% endif %}>Partial Refund Amount</h5>
							{{ form.refund_amount }}
							<span class="m-form__help">Enter partial refund amount.</span>
							<br>
							{% for error in form.refund_amount.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
										{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<button type="submit" name="Create" value="Create" class="btn btn-warning btn-block publish">Issue Refund</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</form>
{% endblock content %}














