{% extends "backend/base.html" %}
{% load payout_template_tags %}
{% load static %}

{% block title %}
Payout History | {{ House }}
{% endblock title %}

{% block page_title %}
Payout
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script src="{% static 'assets/demo/default/custom/components/datatables/base/html-table.js' %}" type="text/javascript"></script>
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">Payout History</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<div class="m-portlet m-portlet--mobile">
	<div class="m-portlet__body">

		<div class="row row-padder">
			<div class="col-12">
				<h2 class="m--font-success" id="payout">${% if payouts_total %}{{ payouts_total }}{% else %}0.00{% endif %}</h2>
				<p class="lead">Total Payouts</p>
			</div>
		</div>


		{% if payouts %}


		<!--begin: Datatable -->
		<table class="m-datatable table m-table m-table--head-bg-brand table-responsive table-bordered" id="html_table" width="100%">
			<thead>
			<tr>
				<th class="text-center" title="Number">No.</th>
				<th class="text-center" title="Number">Payout Date</th>
				<th class="text-center" title="Amount">Amount</th>
				<th class="text-center" title="View Order">View Payout</th>
			</tr>
			</thead>
			<tbody>
				{% for payout in payouts %}
				<tr class="text-center">
					<td><p class="lead text-center" style="margin:0 auto;">{{ forloop.counter }}</p></td>
					<td><p class="text-center" style="margin:0 auto;">{{ payout.created_at }}</p></td>
					<td><p class="text-center" style="margin:0 auto;">${{ payout.amount }}</p></td>
					<td><div class="text-center"><a href="{{ payout.get_absolute_url }}" class="btn btn-outline-brand btn-sm btn-block">View Payout</a></div></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!--end: Datatable -->
		{% endif %}

	</div>
</div>

{% endblock content %}














