{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Change Password | Arqam House 
{% endblock title %}

{# block footer #}
	{# include "frontend/footer.html" #}
{# endblock footer #}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-6">

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 5em;"></a>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <p class="lead" style="margin-bottom: 0px;">Change Password</p>
                            <p>Choose a new password to login. </p>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-bottom:15px;">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <div class="alert bg--{{ message.tags }}">
                            <div class="alert__body">
                                <span>{{ message }}</span>
                            </div>
                            <div class="alert__close"> × </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% if form.non_field_errors %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <div class="alert bg--error">
                            <div class="alert__body">
                                {% for error in form.non_field_errors %}
                                <span>{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                            <div class="alert__close">×</div>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% if form.password.errors %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <div class="alert bg--error">
                            <div class="alert__body">
                                {% for error in form.password.errors %}
                                <span>{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                            <div class="alert__close">×</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                

                <form class="boxed boxed--border" action="" method="POST">{% csrf_token %}
                
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button class="btn btn--primary type--uppercase" type="submit">Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>

                

            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}