{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row" style="padding-bottom: 20px;padding-top: 30px;">
            <div class="col-md-12 col-lg-9">
                

                {% if profile.is_active %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-8">
                        <img src="{% static 'images/logo.png' %}" style="max-height: 5em;" class="d-none d-sm-none d-md-inline">
                        <p style="margin-bottom: 5px;">Hello {{ profile.name }},</p> 
                        <p>Would you like to create a new house? If so please click the 'Create House' button below.</p>
                        <p>If you would like to join another house ask the administrator to add your Arqam House email ({{ profile.email }}).</p>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-8">
                        <ul class="accordion accordion-1 accordion--oneopen">
                            <li>
                                <div class="accordion__title">
                                    <span class="h5">What is a House?</span>
                                </div>
                                <div class="accordion__content">
                                    <p style="margin-bottom:0px;">A House can be your company/organization/group etc.</p>
                                    <p>Your House is what identifies you to the rest of the world.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-6">
                        <a href="{% url 'houses:create' %}" class="btn btn--primary" style="color: white;">Create House</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'profiles:logout' %}" class="btn btn--info" >Logout</a>
                    </div>
                </div>

                {% else %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <img src="{% static 'images/logo.png' %}" style="max-height: 6em;">
                        <p style="margin-bottom: 5px;">Hello {{ profile.name }}. Please finish activating your account through the email we just sent you.</p>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}