{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
<style>
    #button-font-size {
        font-size: 10px;
    }

    @media (min-width: 768px) {

        #button-font-size {
            font-size: 12px;
        }
    }
</style>

<style>

#homepage_updates {
      margin: 20px
  }


#updates_host_and_start {
      padding-top: 10px;
  }


.circular--portrait img {
  object-fit: cover;
  width:100px;
  height:100px;
  border-radius: 50%;
}


@media only screen and (max-width: 750px) {


  #homepage_updates {
      margin: 0px
  }

  #updates_title {
      font-size: 12px;
  }

  #updates_host {
      font-size: 10px;
  }

  #updates_description {
      font-size: 10px;
  }

  #updates_host_and_start {
      margin: 0px;
      padding-top: 0px;
  }

}

</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-top: 30px;">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-9">


                <div class="row">
                    <div class="col-md-12">
                        <a href="#">
                            {% if profile.picture %}
                            <div class="circular--portrait"><img src="{{ profile.picture.url }}"></div>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px"
                                viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#4a90e2" opacity="0.3" cx="12" cy="12" r="10" />
                                    <path
                                        d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 L7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                                        fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                            {% endif %}
                        </a>
                    </div>
                </div>
                
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12">
                        <p style="margin-bottom: 5px;color: gray;">Hello, {{ profile.name }}</p>
                    </div>
                </div>
                
                <div class="row justify-content-center" style="padding-top: 20px;padding-bottom: 20px;">
                    <div class="col-md-10" style="padding-bottom: 20px;">
                        <a class="btn btn--primary btn-block" href="{% url 'profiles:menu' %}">
                            <span class="btn__text" id="button-font-size"> Menu </span>
                        </a>
                    </div>
                </div>


                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">

                        {% if events %}

                        {% for event in events %}
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 20px;border-radius: 10px;margin-bottom: 20px;" id="homepage_updates">
                            <div class="row">
                                {% if event.image %}
                                <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                    <a href="{{ event.get_landing_view }}">
                                    <img style="padding: 10px;" src="{{ event.image.url }}">
                                    </a>
                                </div>
                                {% endif %}
                                <div class="{% if event.image %}col-lg-9 col-md-9 col-sm-8 col-8{% else %}col-lg-12 col-md-12 col-sm-12 col-12{% endif %}">
                                    <p class="lead" id="updates_title" style="margin-bottom: 0px; text-align: left;{% if not event.image %}padding-left:10px;{% endif %}">
                                        <a style="text-decoration: none;" href="{{ event.get_landing_view }}">{{ event.title }}</a>
                                    </p>
                                    <hr style="margin-top: 0px;margin-bottom:5px;">
                                    <div class="row" id="updates_host_and_start" style="padding-bottom: 10px;{% if not event.image %}padding: 10px 0 0 10px;{% endif %}" >
                                        <div class="col-12">
                                            {% if event.description %}
                                            <p id="updates_description" style="text-align: left;line-height: normal;">{{ event.description|striptags|truncatechars:180 }}</p>
                                            {% else %}
                                            <p id="updates_description" style="text-align: left;line-height: normal;">Learn more by heading over to the event page.</p">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:10px;padding-bottom: 0px;">
                                <div class="col-lg-6 col-md-6 col-6" style="text-align: left;">
                                    <a id="updates_host" class="pull-left" style="text-decoration: none;font-weight: 400;margin-bottom: 0px;"
                                        href="{{ event.house.get_home_page_url }}">By {{ event.house.name }}</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6" style="text-align: right;">
                                    <p id="updates_host" class="pull-right" style="margin-bottom: 0px;">{{ event.start|localtime|date:"D N jS, f a" }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% else %}
                            <h3>No updates yet! subscribe to a house to get started.</h3>
                            <!-- <img src="{% url 'profiles:dashboard' %}" style="width: 100px;height: 1px;background-color: SlateGray;"> -->
                        {% endif %}
                        
                    </div>
                </div>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}