{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}

{% load homepage_tags %}

<style>

#homepage_updates {
      margin: 20px
  }


#updates_host_and_start {
      padding-top: 10px;
  }


.circular--portrait img {
  object-fit: cover;
  width:100px;
  height:100px;
  border-radius: 50%;
}


.responsive_description {
    font-size: 10px;
}

.responsive_title {
    font-size: 15px;
}

.responsive_button {
    padding: 5px;
    font-size: 10px;
}

.responsive_navigation_col {
    padding-right: 5px;
    padding-left: 5px;

}

/* iPhone SE */
@media only screen and (min-width: 460px) {

    .responsive_description {
        font-size: 1em;
    }

    .responsive_title {
        font-size: 1.3rem;
    }

}


@media only screen and (min-width: 576px) {


}



@media (min-width: 768px) {


  #homepage_updates {
      margin: 0px
  }

  #updates_title {
      font-size: 12px;
  }

  #updates_host {
      font-size: 10px;
  }

  #updates_description {
      font-size: 10px;
  }

  #updates_host_and_start {
      margin: 0px;
      padding-top: 0px;
  }

  .responsive_button {
        padding: 10;
        font-size: inherit;
    }

    .responsive_navigation_col {
            padding-right: 15px;
            padding-left: 15px;
    }

}


@media (min-width: 992px) {


}


@media (min-width: 1200px) {


}

</style>
{% endblock styles %}

{% block top_page_scripts %}
<script src="https://kit.fontawesome.com/71fc1e3551.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
{% endblock top_page_scripts %}

{% block scripts %}
<script>

    lottie.loadAnimation({
        container: document.getElementById("no-content"), // the dom element that will contain the animation
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: "https://assets6.lottiefiles.com/packages/lf20_itiuSd/home.json" // the path to the animation json
    });
</script>
{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-top: 30px;">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-9">


                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'profiles:menu' %}">
                            {% if profile.picture %}
                            <div class="circular--portrait"><img src="{{ profile.picture.thumbnail.url }}"></div>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px"
                                viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#4a90e2" opacity="0.3" cx="12" cy="12" r="10" />
                                    <path
                                        d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 L7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                                        fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                            {% endif %}
                        </a>
                    </div>
                </div>
                
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12">
                        <p style="margin-bottom: 5px;color: gray;">Hello, {{ profile.name }}</p>
                    </div>
                </div>
                
                <div class="row justify-content-center" style="padding: 20px 10px;">
                    <div class="col-md-4 col-4 responsive_navigation_col" style="padding-bottom: 20px;">
                        <a class="btn btn--primary btn-block responsive_button" href="{% url 'profiles:menu' %}">
                            <span class="btn__text" id="button-font-size"> Menu </span>
                        </a>
                    </div>
                    {% if house %}
                    <div class="col-md-4 col-4 responsive_navigation_col" style="padding-bottom: 20px;">
                        <a class="btn btn--primary-2 btn-block responsive_button" href="{% url 'houses:dashboard' %}">
                            <span class="btn__text" id="button-font-size"> House </span>
                        </a>
                    </div>
                    {% else %}
                    <div class="col-md-4 col-4 responsive_navigation_col" style="padding-bottom: 20px;">
                        <a class="btn btn--primary-2 btn-block responsive_button" href="{% url 'houses:create' %}">
                            <span class="btn__text" id="button-font-size"> Create House </span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-md-4 col-4 responsive_navigation_col" style="padding-bottom: 20px;">
                        <a class="btn btn--primary-1 btn-block responsive_button" href="{% url 'find_house' %}">
                            <span class="btn__text" id="button-font-size"> Find A House </span>
                        </a>
                    </div>
                </div>


                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">

                        {% if result_list %}
                        
                        {% for item in result_list %}
                        <div class="row">
                            <div class="col-12">
                                <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                        
                                    {% if item.title %}
                                    <div class="row text-center">
                                        <div class="col-12">
                                            <p style="margin-bottom: 0px;color: #4a90e2;"><i class="far fa-calendar-alt"></i></p>
                                            <p style="margin-bottom: 0px;color: #4a90e2;" class="lead responsive_title"><a
                                                    href="{{ item.get_landing_view }}"
                                                    style="text-decoration: none;color: #4a90e2;margin-bottom: 5px;">{{ item.title }}</a></p>
                                        </div>
                                    </div>
                                    <div class="row text-center" style="padding-bottom: 10px;">
                                        {% if item.image %}
                                        <div class="col-lg-4 col-4">
                                            <a href="{{ item.get_landing_view }}">
                                                <img style="padding: 10px;max-height: 200px;" src="{{ item.image.url }}">
                                            </a>
                                        </div>
                                        {% endif %}
                                        <div class="{% if item.image %}col-lg-8 col-8{% else %}col-lg-12{% endif %}"
                                            style="align-self: center;">
                                            {% if item.description %}
                                            <p style="text-align: left;line-height: normal;" class="responsive_description">
                                                {{ item.description|striptags|truncatechars:250 }}</p>
                                            {% else %}
                                            <p style="text-align: left;line-height: normal;" class="responsive_description">Learn more about
                                                this event by heading over to the event page.
                                            </p>
                                            {% endif %}
                                            <p style="margin-bottom: 0px;text-align: left;color: #4a90e2;" class="responsive_description">
                                                {{ item.start|localtime|date:"D N jS, f a" }}</p>
                                        </div>
                        
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <hr style="margin: 5px 0px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p style="text-align: left;" class="responsive_description">by <a
                                                    href="{{ item.house.get_home_page_url }}"
                                                    style="text-decoration: none;">{{ item.house.name }}</a></p>
                                        </div>
                                        <div class="col-6">
                                            <p style="text-align: right;" class="responsive_description">{{ item.start }}</p>
                                        </div>
                                    </div>
                        
                        
                                    {% elif item.event_live %}
                                    <div class="row text-center" style="padding-bottom: 10px;">
                                        <div class="col-md-12">
                                            <p style="margin-bottom: 0px;color: #4a90e2;"><i class="fas fa-video"></i></p>
                                            <p style="margin-bottom: 0px;color: #4a90e2;" class="lead responsive_title"><a
                                                    href="{{ item.get_absolute_url }}"
                                                    style="text-decoration: none;color: #4a90e2;margin-bottom: 5px;">{{ item.name }}</a></p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" style="padding-bottom: 20px;">
                                        <div class="col-lg-10 col-sm-12 col-12">
                                            <div class="video-cover border--round">
                                                <div class="video-play-icon video-play-icon--sm"></div>
                                                <video controls>
                                                    <source src="{% get_archive_url item %}" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center" style="padding-bottom: 10px;">
                                        <div class="col-md-12">
                                            <p style="margin-bottom: 0px;line-height: 1.8;" class="responsive_description">
                                                {{ item.description|truncatechars:150 }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <hr style="margin: 5px 0px;">
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 0 20px;">
                                        <div class="col-6">
                                            <p style="text-align: left;" class="responsive_description">by <a href="{{ item.event_live.event.house.get_home_page_url }}"
                                                    style="text-decoration: none;">{{ item.event_live.event.house }}</a></p>
                                        </div>
                                        <div class="col-6">
                                            <p style="text-align: right;" class="responsive_description">{{ item.created_at }}</p>
                                        </div>
                                    </div>
                        
                        
                        
                        
                                    {% else %}
                                    <div class="row text-center" style="padding-bottom: 20px;">
                                        <div class="col-md-12">
                                            <p style="margin-bottom: 0px;color: #4a90e2;"><i class="far fa-heart"></i></p>
                                            <p style="margin-bottom: 0px;" class="lead responsive_title"> Donate to <a
                                                    style="text-decoration: none;"
                                                    href="{{ item.house.get_public_donations_url }}">{{ item.name }}</a></p>
                                            <p style="margin-bottom: 0px;" class="responsive_description">Amount raised so far <a
                                                    style="text-decoration: none;"
                                                    href="{{ item.house.get_public_donations_url }}">${% get_total_donation_amount item %}</a>
                                            </p>
                                            <p style="margin-bottom: 0px;line-height: 1.8;" class="responsive_description"><i
                                                    class="fas fa-heart" style="color: #e24a82;"></i> <span
                                                    style="color:#4a90e2">{% get_last_donor item %}</span></p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center text-center" style="padding-bottom: 10px;">
                                        <div class="col-lg-4 col-sm-4  col-6">
                                            <a href="{{ house.get_donate_url }}" class="btn btn--primary btn-block responsive_button">
                                                <span class="btn__text">Donate</span>
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-6">
                                            <a href="{{  house.get_gift_donation_list_url }}"
                                                class="btn btn--primary btn-block responsive_button">
                                                <span class="btn__text">Gift a donation</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <hr style="margin: 5px 0px;">
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 0 20px;">
                                        <div class="col-6">
                                            <p style="text-align: left;" class="responsive_description">by <a href="{{ ittem.house.get_home_page_url }}" style="text-decoration: none;">{{ item.house }}</a></p>
                                        </div>
                                        <div class="col-6">
                                            <p style="text-align: right;" class="responsive_description">{{ item.created_at }}</p>
                                        </div>
                                    </div>
                                    {% endif %}

                                    


                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="row justify-content-center text-center" style="padding-bottom: 30px;">
                            <div class="col-md-10">
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <div id="no-content"></div>
                                    </div>
                                </div>
                                <p class="lead" style="color:#b2b2b2;">We've just moved in. But you can always subscribe so you'll be alerted
                                    when were ready for guests!</p>
                            </div>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}