{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
<style>
.circular--portrait img {
    object-fit: cover;
    width:100px;
    height:100px;
    border-radius: 50%;
}
</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-top: 30px;">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-9">


                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'profiles:menu' %}">
                            {% if profile.picture %}
                            <div class="circular--portrait"><img src="{{ profile.picture.thumbnail.url }}"></div>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px"
                                viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#4a90e2" opacity="0.3" cx="12" cy="12" r="10" />
                                    <path
                                        d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 L7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                                        fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                            {% endif %}
                        </a>
                    </div>
                </div>
                
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12">
                        <p style="margin-bottom: 5px;color: gray;" class="lead">Donations</p>
                    </div>
                </div>
                
                <div class="row justify-content-center" style="padding-top: 20px;padding-bottom: 20px;">
                    <div class="col-md-10" style="padding-bottom: 20px;">
                        <a class="btn btn--primary btn-block" href="{% url 'profiles:menu' %}">
                            <span class="btn__text" id="button-font-size"> Menu </span>
                        </a>
                    </div>
                </div>



                {% if donations %}
                <div class="row text-left" style="padding-bottom: 20px;">
                    <div class="col-md-12">

                        <table class="border--round table--alternate-row text-center">
                            <thead>
                                <tr>
                                    <th>House</th>
                                    <th>Donation Amount</th>
                                    <th class="d-md-table-cell d-none">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for donation in donations %}
                                <tr>
                                    <td><a class="small-tables" href="{{ order.get_public_order_view }}">{{ donation.donation_type.house }}</a></td>
                                    <td>
                                        <p class="small-tables">${{ donation.amount }}</p>
                                    </td>
                                    <td class="d-md-table-cell d-none">
                                        <p class="small-tables">{{ donation.created_at|localtime }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                
                    </div>
                </div>

                {% else %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <h3>No donations yet! Donate to a house to get started.</h3>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}