{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}

<style>

.circular--portrait img {
  object-fit: cover;
  width:100px;
  height:100px;
  border-radius: 50%;
}

a:hover {
    color: #b1d2f7;
    text-decoration: none;
}


</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-top: 80px;">
    <div class="container">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-9">

                
                <div class="row" style="padding-top: 20px; padding-bottom: 50px;">
                    <div class="col-md-12">
                        <h2 style="margin-bottom: 5px;color: #4990e2;font-weight: 600;">Menu</h2>
                    </div>
                </div>


                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    <a href="{% url 'profiles:dashboard' %}">
                                        <i class="far fa-newspaper" style="font-size: 4em;"></i>
                                        <span style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">Updates</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    <a href="{% url 'profiles:tickets' %}">
                                        <i class="fas fa-ticket-alt" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">Tickets</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    {% if house %}
                                    <a href="{% url 'houses:dashboard' %}">
                                        <i class="fas fa-home" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">House</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'houses:create' %}">
                                        <i class="fas fa-home" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">House</span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    <a href="{% url 'profiles:subscribers' %}">
                                        <i class="far fa-check-square" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">Subscriptions</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    <a href="{% url 'profiles:donations' %}">
                                        <i class="fas fa-donate" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">Donations</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    <a href="{% url 'profiles:update' %}">
                                        <i class="far fa-address-card" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">Info</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;">
                            <div class="row" style="padding: 20px;">
                                <div class="col-12">
                                    <a href="{% url 'profiles:logout' %}">
                                        <i class="fas fa-power-off" style="font-size: 4em;"></i>
                                        <span
                                            style="margin-bottom: 0px;display: block;font-size: 15px;font-weight: 500;margin-top: 10px;">Logout</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}