{% extends "backend/base.html" %}

{% block title %}
Profile Update | {{ profile.name }}
{% endblock title %}

{% block page_title %}
{{ profile.name }}
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

<script>
	$("#id_country").change(function () {

		var url = $("#profileForm").attr("data-regions-url");  // get the url of the `load_cities` view

		var countryId = $(this).val();  // get the selected country ID from the HTML input

		$.ajax({                       // initialize an AJAX request
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'country': countryId       // add the country id to the GET parameters
			},
			success: function (data) {   // `data` is the return of the `load_cities` view function
				console.log(data)
				$("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
			}
		});

	});
</script>

<script>
	$("#id_region").change(function () {

		var url = $("#profileForm").attr("data-cities-url");  // get the url of the `load_cities` view

		var regionId = $(this).val();  // get the selected country ID from the HTML input

		$.ajax({                       // initialize an AJAX request
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'region': regionId       // add the country id to the GET parameters
			},
			success: function (data) {   // `data` is the return of the `load_cities` view function
				console.log(data)
				$("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
			}
		});

	});
</script>
{% endblock scripts %}


{% block content %}

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-8 offset-lg-2 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile" style="padding:30px;">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom:30px;">
					<div class="col-10 offset-1">

						<form method="POST" action="" id="profileForm" data-regions-url="{% url 'profiles:ajax_load_regions' %}" data-cities-url="{% url 'profiles:ajax_load_cities' %}">{% csrf_token %}

							<div class="row row-padder">
								<div class="col-md-12">
									<h5>Name</h5>
									{{ form.name }}
								</div>
							</div>
							
							
							<div class="row row-padder">
								<div class="col-md-12">
									<h5>Region</h5>
									{{ form.region }}
								</div>
							</div>

							<div class="row row-padder">
								<div class="col-md-12">
									<h5>City</h5>
									{{ form.city }}
								</div>
							</div>

							<div class="row row-padder">
								<div class="col-12">
									<button type="submit" class="btn btn-primary btn-block">Update Profile</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock content %}