{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
<style>
    #button-font-size {
        font-size: 10px;
    }

    @media (min-width: 768px) {

        #button-font-size {
            font-size: 12px;
        }
    }

    .circular--portrait img {
        object-fit: cover;
        width:100px;
        height:100px;
        border-radius: 50%;
    }
</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-top: 30px;">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-9">

                
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12">
                        <h2 style="margin-bottom: 5px;color: #4990e2;font-weight: 600;">Subscriptions</h2>
                    </div>
                </div>
                
                <div class="row justify-content-center" style="padding-top: 20px;padding-bottom: 20px;">
                    <div class="col-md-4" style="padding-bottom: 20px;">
                        <a class="btn btn--primary btn-block" href="{% url 'profiles:menu' %}">
                            <span class="btn__text" id="button-font-size"> Menu </span>
                        </a>
                    </div>
                </div>



                {% if subscribers %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <p>You're subscribed to {{ subscribers.count }} house{% if subscribers.count > 1 %}s{% endif %}!</p>
                    </div>
                </div>
  
                <div class="row" style="padding-bottom: 20px;">
                    {% for subscriber in subscribers %}
                    <div class="col-md-6">
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 10px;margin-bottom: 20px;">
                            <div class="row justify-content-center" style="min-height: 75px;">

                                {% if subscriber.house.logo %}
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10" style="align-self: center;">
                                    <a href="{{ subscriber.house.get_home_page_url }}">
                                        <img style="padding: 5px;max-height:80px;margin-bottom: 5px;" src="{{ subscriber.house.logo.url }}">
                                        <p style="margin-bottom: 5px;">{{ subscriber.house.name }}</p>
                                    </a>
                                </div>
                                {% else %}
                                <div class="{% if subscriber.house.logo %}col-lg-7 col-md-7 col-sm-7 col-6{% else %}col-lg-12 col-md-12 col-sm-10 col-10{% endif %}" style="align-self: center;">
                                    <h3 id="updates_title" style="margin-bottom: 0px; text-align: center;{% if not subscriber.house.logo %}padding-left:10px;{% endif %}">
                                        <a style="text-decoration: none;font-weight: 400;" href="{{ subscriber.house.get_home_page_url }}">{{ subscriber.house.name }}</a>
                                    </h3>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>

                {% else %}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <h3>No subscribers yet! subscribe to a house to get started.</h3>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}