{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
Profile Dashboard 
{% endblock title %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
<style>

    .circular--portrait img {
    object-fit: cover;
    width:100px;
    height:100px;
    border-radius: 50%;
    }

    #button-font-size {
        font-size: 10px;
    }

    .small-tables {
        font-size: 10px;
    } 

   @media (min-width: 768px) {

       #button-font-size {
            font-size: 12px;
        }

        .small-tables {
            font-size: 1em;
        } 
   } 
</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-top: 30px;">
    <div class="container" style="padding-bottom: 60px;">


        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-9">
                        
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12">
                        <h2 style="margin-bottom: 5px;color: #4990e2;font-weight: 600;">Tickets</h2>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-top: 20px;padding-bottom: 20px;">
                    <div class="col-md-4" style="padding-bottom: 20px;">
                        <a class="btn btn--primary btn-block" href="{% url 'profiles:menu' %}">
                            <span class="btn__text" id="button-font-size"> Menu </span>
                        </a>
                    </div>
                </div>



                <div class="row text-left" style="padding-bottom: 20px;">
                    <div class="col-md-12">

                        {% if orders %}

                        <table class="border--round table--alternate-row text-center">
                            <thead>
                                <tr>
                                    <th>Event</th>
                                    <th>Tickets</th>
                                    <th class="d-md-table-cell d-none">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td><a class="small-tables" href="{{ order.get_public_order_view }}">{{ order.event }}</a></td>
                                    <td><p class="small-tables" >{{ order.attendee_set.all.count }}</p></td>
                                    <td class="d-md-table-cell d-none"><p class="small-tables" >{{ order.created_at|localtime }}</p></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% else %}
                            <p class="lead">No Orders yet!</p>
                        {% endif %}
                        
                    </div>
                </div>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}