{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}

{% block title %}
{{ house.name }} | Home Page
{% endblock title %}

{% block styles %}
<style>

#homepage_links_p {
    text-align: right;
}

#homepage_links_a {
    float: right;
}


#homepage_updates {
      margin: 20px
  }


#updates_host_and_start {
      padding-top: 10px;
  }

#homepage_first {
    border-right: 1px solid #c1c1c1;
}



@media only screen and (max-width: 1000px) {

  #homepage_first {
    border-right: 0px;
  }       

  #homepage_links_p {
    text-align: center;
  }

  #homepage_links_a {
    float: none;
  }

  #homepage_section {
      padding-top: 10px;
  }

}




@media only screen and (max-width: 750px) {

  #homepage_first {
    border-right: 0px;
    padding-bottom: 30px;
  }       

  #homepage_links_p {
    text-align: center;
  }

  #homepage_links_a {
    float: none;
  }

  #homepage_section {
      padding-top: 10px;
  }

  #homepage_updates {
      margin: 0px
  }

  #updates_title {
      font-size: 12px;
  }

  #updates_host {
      font-size: 10px;
  }

  #updates_description {
      font-size: 10px;
  }

  #updates_host_and_start {
      margin: 0px;
      padding-top: 0px;
  }

}

</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
<script>

{% if user.is_authenticated %}
{% if not owner %}


function Subscribe(boolean) {

    console.log("IS it coming here")
    console.log(boolean)
    var token = '{{csrf_token}}';

    $.ajax({
        type:"POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
          'subscribe_trigger': boolean,
        },
        success: function (data) {
            document.getElementById("subscriber_switch").innerHTML = data;
        },
        
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            //some stuff on failure
        },
    });
    
}


{% endif %}
{% endif %}



</script>

{% endblock scripts %}

{% block content %}
<section class="text-center" id="homepage_section">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row" style="padding-bottom: 20px;padding-top: 30px;">
            <div class="col-md-12 col-lg-10">


                <div class="row" style="padding-bottom: 40px;">
                    <div class="col-lg-3" id="homepage_first">
                        
                        <div class="row" style="padding-top:30px;">
                            <div class="col-lg-12 col-md-6 col-8">
                                {% if house.logo %}
                                <img style="margin-bottom: 10px;max-height: 150px;" src="{{ house.logo.url }}">
                                {% endif %}
                                <h4 style="color: grey;margin-bottom: 10px;">{{ house.name }}</h4>
                            </div>
                        </div>

                        <div class="row d-md-flex d-lg-none">
                            <div class="col-md-12">
                                <p><a href="mailto:{{ house.email }}?Subject=Hello"><i class="fa fa-envelope"></i></a> | <a href="tel:{{ house.phone }}"><i class="fa fa-phone"></i></a></p>
                            </div>
                        </div>

                        <div class="row d-none d-sm-none d-md-none d-lg-flex" style="padding-top:30px;">
                            <div class="col-md-12">
                                <p id="homepage_links_p" style="margin-bottom: 0px;"><a style="text-decoration: none;" href="mailto:{{ house.email }}?Subject=Hello">Email</a></p>
                                {% if house.phone %}
                                <p id="homepage_links_p" style="margin-bottom: 0px;"><a style="text-decoration: none;" href="tel:{{ house.phone }}">Phone</a></p>
                                {% endif %}
                            </div>
                        </div>

                        {% if owner %}
                        <div class="row" style="padding-bottom:30px;">
                            <div class="col-md-12">
                                <a id="homepage_links_a" class="btn btn--sm btn--primary-2" href="{% url 'houses:dashboard' %}"
                                    style="margin-top: 10px;">
                                    <span class="btn__text">Dashboard</span>
                                </a>
                            </div>
                        </div>
                        {% else %}
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-md-12" id="subscriber_switch">
                                    {% if not request.user.is_authenticated %}
                                        <a id="homepage_links_a" class="btn btn--sm" style="margin-top: 10px;" href="{% url 'profiles:login' %}?next=/house/{{ house.slug }}">
                                            <span class="btn__text" id="inner_button">
                                                Subscribe</span>
                                        </a>
                                    {% else %}
                                        {% if subscribed %}
                                        <a id="homepage_links_a" class="btn btn--sm btn--primary-2" onclick="Subscribe(false);" style="margin-top: 10px;">
                                            <span class="btn__text" id="inner_button"><i class="fa fa-check" style="color: white;font-size: 1em;"></i> Subscribed</span>
                                        </a>
                                        {% else %}
                                        <a id="homepage_links_a" class="btn btn--sm" onclick="Subscribe(true);" style="margin-top: 10px;">
                                            <span class="btn__text" id="inner_button">Subscribe</span>
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        

                    </div>

                    <div class="col-lg-9">

                        {% if active_events or past_events %}
                        {% else %}
                        <div class="row" style="padding-bottom: 30px;">
                            <div class="col-md-12">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 50px; height: 50px;"
                                    viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" x="3" y="2" width="15" height="5" rx="1" />
                                        <rect fill="#000000" x="9" y="12" width="4" height="10" rx="1" />
                                        <path
                                            d="M12,12 L10,12 L10,11 C10,9.8954305 10.8954305,9 12,9 L19,9 L19,5.5 L18,5.5 L18,3.5 L19,3.5 C20.1045695,3.5 21,4.3954305 21,5.5 L21,9 C21,10.1045695 20.1045695,11 19,11 L12,11 L12,12 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    </g>
                                </svg>
                                <p class="lead" style="color:#b2b2b2;">We've got nothing yet but you can always subscribe so you can be alerted when we do!</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if active_events %}
                        <div class="row" style="padding-bottom: 30px;">
                            <div class="col-md-12">
                                <p class="lead" style="color:#b2b2b2;">Upcoming Events</p>
                            </div>
                        </div>
                        {% for event in active_events %}
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 20px;border-radius: 10px;margin-bottom: 10px;" id="homepage_updates">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-4">
                                    <a href="{{ event.get_landing_view }}">
                                    <img style="padding: 10px;" {% if event.image %} src="{{ event.image.url }}" {% else %}
                                        src="{% static 'images/event_flyer_placeholder.jpg' %}" {% endif %}>
                                    </a>
                                </div>
                                <div class="col-lg-9 col-md-9 col-8">
                                    <p class="lead" id="updates_title" style="margin-bottom: 0px; text-align: left;"><a style="text-decoration: none;"
                                            href="{{ event.get_landing_view }}">{{ event.title }}</a></p>
                                    <hr style="margin-top: 0px;margin-bottom:5px;">
                                    <div class="row" id="updates_host_and_start">
                                        <div class="col-12">
                                            {% if event.description %}
                                            <p id="updates_description" style="text-align: left;line-height: normal;">{{ event.description|striptags|truncatechars:150 }}</p>
                                            {% else %}
                                            <p id="updates_description" style="text-align: left;">Learn more by heading over to the event page.</p">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:10px;padding-bottom: 0px;">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <a id="updates_host" class="pull-left" style="text-decoration: none;font-weight: 400;margin-bottom: 0px;"
                                        href="{{ event.house.get_home_page_url }}">{{ event.house.name }}</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <p id="updates_host" class="pull-right" style="margin-bottom: 0px;">
                                        {{ event.start|localtime|date:"D N jS, f a" }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}


                        {% if past_events %}
                        <div class="row" style="padding-bottom: 20px; {% if active_events %}padding-top: 30px;{% endif %}">
                            <div class="col-md-12">
                                <p class="lead" style="color:#b2b2b2;">Past Events</p>
                            </div>
                        </div>
                        {% for event in past_events %}
                        <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
                            style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 20px;border-radius: 10px;" id="homepage_updates">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-4">
                                    <a href="{{ event.get_landing_view }}">
                                        <img style="padding: 10px;" {% if event.image %} src="{{ event.image.url }}" {% else %}
                                            src="{% static 'images/event_flyer_placeholder.jpg' %}" {% endif %}>
                                    </a>
                                </div>
                                <div class="col-lg-9 col-md-9 col-8">
                                    <p class="lead" id="updates_title" style="margin-bottom: 0px; text-align: left;"><a
                                            style="text-decoration: none;" href="{{ event.get_landing_view }}">{{ event.title }}</a></p>
                                    <hr style="margin-top: 0px;margin-bottom:5px;">
                                    <div class="row" id="updates_host_and_start">
                                        <div class="col-12">
                                            {% if event.description %}
                                            <p id="updates_description" style="text-align: left;line-height: normal;">
                                                {{ event.description|striptags|truncatechars:150 }}</p>
                                            {% else %}
                                            <p id="updates_description" style="text-align: left;">Learn more by heading over to the event page.
                                                </p">
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:10px;padding-bottom: 0px;">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <a id="updates_host" class="pull-left" style="text-decoration: none;font-weight: 400;margin-bottom: 0px;"
                                        href="{{ event.house.get_home_page_url }}">{{ event.house.name }}</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <p id="updates_host" class="pull-right" style="margin-bottom: 0px;">
                                        {{ event.start|localtime|date:"D N jS, f a" }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}