{% extends "backend/base.html" %}
{% load static %}
{% block title %}
Manage | {{ house.name }}
{% endblock title %}


{% block css_vendors %}
{% endblock css_vendors %}

{% block vendors %}
{% endblock vendors %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile" style="padding:10px;">
            <div class="kt-portlet__body">

                <form method="POST" accept=""> {% csrf_token %}

                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <h5 style="display: inline;">{{ house_user.profile.name }} | <span style="font-size: 15px;font-weight: 300;">House User</span> </h5>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-12">

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-12">
                                    <p class="lead" style="margin-bottom:0px;font-weight: 500;">Email Preferences</p>
                                    <p>Choose when and when not to receive email updates for the following.</p>
                                </div>
                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-4">
                                    <p style="margin-bottom:0px;">Order Confirmations</p>
                                    <span class="kt-switch">
                                        <label>
                                            {{ form.order_confirmations }}
                                            <span></span>
                                        </label>
                                    </span>
                                </div>

                                <div class="col-4">
                                    <p style="margin-bottom:0px;">Ticket Sales</p>
                                    <span class="kt-switch">
                                        <label>
                                            {{ form.ticket_sales }}
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                                </div>
                                <div class="col-md-6">
                                    <button href="#" id="{{ house_user.id }}" name="Remove" value="{{ house_user.id }}" class="btn btn-danger btn-block">Remove User</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}