{% extends "frontend/base.html" %}

{% load static %}
{% load tz %}
{% load homepage_tags %}

{% block title %}
{{ house.name }} | Home Page
{% endblock title %}

{% block styles %}
<style>


#homepage_first {
    /* border-right: 1px solid #c1c1c1; */
}

.logo_responsive {
    max-height: 80px;
}

.navigation_text {
    font-size: 10px;
    margin-top: 0px;
}

.navigation_icon {
    font-size: 1.3em;
}


.responsive_description {
    font-size: 8px;
}

.responsive_title {
    font-size: 15px;
}

.responsive_navigation {
    padding:10px 0px;
}

.responsive_navigation_col {
    padding-right: 5px;
    padding-left: 5px;

}

.responsive_button {
    padding: 5px;
    font-size: 10px;
}



/* iPhone SE */
@media only screen and (min-width: 460px) {

    .responsive_description {
        font-size: 1em;
    }

    .responsive_title {
        font-size: 1.3rem;
    }

}




@media only screen and (min-width: 576px) {


}


@media (min-width: 768px) {

    .navigation_text {
        font-size: 1em;
        margin-top: 5px;
    }

    .navigation_icon {
        font-size: 2em;
    }

    .logo_responsive {
        max-height: 150px;
    }

    .responsive_navigation {
        padding: 20px;
    }

    .responsive_navigation_col {
        padding-right: 15px;
        padding-left: 15px;
    }

    .responsive_button {
        padding: 10;
        font-size: inherit;
    }

}


@media (min-width: 992px) {


}


@media (min-width: 1200px) {


}



</style>
{% endblock styles %}

{% block top_page_scripts %}
<script src="https://kit.fontawesome.com/71fc1e3551.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
{% endblock top_page_scripts %}


{% block scripts %}

<script>

lottie.loadAnimation({
    container: document.getElementById("no-content"), // the dom element that will contain the animation
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: "https://assets6.lottiefiles.com/packages/lf20_itiuSd/home.json" // the path to the animation json
});
</script>

<script>

{% if user.is_authenticated %}
{% if not owner %}


function Subscribe(boolean) {

    console.log("IS it coming here")
    console.log(boolean)
    var token = '{{ csrf_token }}';

    const url = '{{ request.path }}';

    let data = {
        subscribe_trigger: boolean
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }


    fetch(url, fetchData)
        .then(
            function (response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                // Examine the text in the response
                response.json().then(function (data) {
                    document.getElementById("subscriber_switch").innerHTML = data['html'];
                });
            }
        )
        .catch(function (err) {
            console.log('Fetch Error :-S', err);
        });

}


{% endif %}
{% endif %}



</script>

{% endblock scripts %}

{% block content %}
<section id="homepage_section" style="padding-top: 40px;">
    <div class="container" style="padding-bottom: 60px;">
        <div class="row justify-content-center" style="padding-bottom: 20px;">
            <div class="col-md-12 col-lg-10">


                <div class="row" style="padding-bottom: 40px;">
                    <div class="col-lg-3" id="homepage_first">
                        
                        <div class="row text-center">
                            <div class="col-lg-12 col-md-12 col-12">
                                {% if house.logo %}
                                <a href="{{ house.get_home_page_url }}">
                                    <img style="margin-bottom: 10px;" class="logo_responsive" src="{{ house.logo.url }}">
                                </a>
                                
                                {% else %}
                                    {% if owner %}
                                    <a href="{% url 'houses:update' %}">
                                    <i class="fa fa-image" style="font-size: 3em;"></i>
                                    <p>Add logo</p>
                                    </a>
                                    <br>
                                    {% else %}
                                    <h4 style="color: grey;margin-bottom: 10px;">{{ house.name }}</h4>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>




                        <div class="row text-center" style="padding-bottom:30px;padding: 10px;">
                            {% if owner %}
                                <div class="col-12" style="padding-bottom: 20px;">
                                    <a id="homepage_links_a" class="btn btn--sm btn--primary-2 btn-block" href="{% url 'houses:dashboard' %}"
                                        style="margin-top: 10px;">
                                        <span class="btn__text">Dashboard</span>
                                    </a>
                                </div>
                            {% else %}
                                <div class="col-12" id="subscriber_switch" style="padding-bottom: 20px;">
                                    {% if not request.user.is_authenticated %}
                                        <a id="homepage_links_a" class="btn btn--sm btn-block" style="margin-top: 10px;"
                                            href="{% url 'profiles:login' %}?next=/{{ house.slug }}">
                                            <span class="btn__text" id="inner_button">
                                                Subscribe</span>
                                        </a>
                                    {% else %}
                                        {% if subscribed %}
                                        <a id="homepage_links_a" class="btn btn--sm btn--primary-2 btn-block" onclick="Subscribe(false);"
                                            style="margin-top: 10px;">
                                            <span class="btn__text" id="inner_button"><i class="fa fa-check" style="color: white;font-size: 1em;"></i>
                                                Subscribed</span>
                                        </a>
                                        {% else %}
                                        <a id="homepage_links_a" class="btn btn--sm btn-block" onclick="Subscribe(true);" style="margin-top: 10px;">
                                            <span class="btn__text" id="inner_button">Subscribe</span>
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if house.allow_donations %}
                                <div class="col-lg-12 col-md-4 col-sm-4 col-4 responsive_navigation_col">
                                    <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;border-radius: 15px;margin-bottom: 20px;" class="responsive_navigation">
                                        <a href="{{ house.get_public_donations_url }}">
                                        <i class="far fa-heart navigation_icon" style="color: #4a90e2;"></i>
                                        <p class="navigation_text">Donate</p>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                            {% if active_events %}
                            <div class="col-lg-12 col-md-4 col-sm-4 col-4 responsive_navigation_col">
                                <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;border-radius: 15px;margin-bottom: 20px;" class="responsive_navigation">
                                    <a href="{{ house.get_events_url }}">
                                        <i class="far fa-calendar-alt navigation_icon" style="color: #4a90e2;"></i>
                                        <p class="navigation_text">Events</p>
                                    </a>
                                </div>
                            </div>
                            {% endif %}

                            {% if recordings %}
                            <div class="col-lg-12 col-md-4 col-sm-4 col-4 responsive_navigation_col">
                                <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;border-radius: 15px;margin-bottom: 20px;" class="responsive_navigation">
                                    <a href="{{ house.get_recordings_url }}">
                                        <i class="fas fa-video navigation_icon" style="color: #4a90e2;"></i>
                                        <p class="navigation_text">Recordings</p>
                                    </a>
                                </div>
                            </div>
                            {% endif %}

                            <!-- <div class="col-lg-12 col-md-4 col-sm-4 col-4">
                                <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                                    <a href="{{ house.get_contact_url }}">
                                        <i class="fas fa-blog navigation_icon" style="color: #4a90e2;"></i>
                                        <p style="margin-top: 5px;" class="navigation_text">Blog</p>
                                    </a>
                                </div>
                            </div> -->

                            
                            <div class="col-lg-12 col-md-4 col-sm-4 col-4 responsive_navigation_col">
                                <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;border-radius: 15px;margin-bottom: 20px;" class="responsive_navigation">
                                    <a href="{{ house.get_contact_url }}">
                                        <i class="far fa-comment navigation_icon" style="color: #4a90e2;"></i>
                                        <p class="navigation_text">Contact</p>
                                    </a>
                                </div>
                            </div>
                            

                        </div>
                        

                    </div>

                    <div class="col-lg-9">

                        {% if result_list %}

                            <div class="row text-center" style="padding-bottom: 30px;">
                                <div class="col-12">
                                    <p class="lead" style="color: #acacac;">Updates</p>
                                </div>
                            </div>

                            {% for item in result_list %}
                            <div class="row">
                                <div class="col-12">
                                    <div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                                        
                                        {% if item.title %}
                                        <div class="row text-center">
                                            <div class="col-12">
                                                <a href="{{ item.get_landing_view }}" style="text-decoration: none;color: #4a90e2;margin-bottom: 5px;"
                                                    class="lead responsive_title">{{ item.title }}</a>
                                                <hr style="margin: 10px 0px;">
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            {% if item.image %}
                                                <div class="col-lg-4 col-4">
                                                    <a href="{{ item.get_landing_view }}">
                                                        <img style="padding: 10px;max-height: 200px;" src="{{ item.image.url }}">
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="{% if item.image %}col-lg-8 col-8{% else %}col-lg-12{% endif %}" style="align-self: center;">
                                                {% if item.description %}
                                                <p style="text-align: left;line-height: normal;" class="responsive_description">
                                                    {{ item.description|striptags|truncatechars:250 }}</p>
                                                {% else %}
                                                <p style="text-align: left;line-height: normal;" class="responsive_description">Learn more about this event by heading over to the event page.
                                                    </p>
                                                {% endif %}
                                                <p style="margin-bottom: 0px;text-align: left;color: #4a90e2;" class="responsive_description">{{ item.start|localtime|date:"D N jS, f a" }}</p>
                                            </div>
                                            
                                        </div>
                                        

                                        {% elif item.event_live %}
                                        <div class="row text-center" style="padding-bottom: 10px;">
                                            <div class="col-md-12">
                                                <a href="{{ item.get_absolute_url }}" style="text-decoration: none;color: #4a90e2;margin-bottom: 5px;"
                                                    class="lead responsive_title">{{ item.name }}</a>
                                                <hr style="margin: 10px 0px;">
                                            </div>
                                        </div>
                                        <div class="row justify-content-center" style="padding-bottom: 30px;">
                                            <div class="col-lg-10 col-sm-12 col-12">
                                                <div class="video-cover border--round">
                                                    {% if house.logo %}
                                                    <div class="background-image-holder">
                                                        <img alt="image" src="{{ house.logo.url }}" />
                                                    </div>
                                                    {% endif %}
                                                    <div class="video-play-icon video-play-icon--sm"></div>
                                                    <video controls>
                                                        <source src="{% get_archive_url item %}" type="video/mp4">
                                                    </video>
                                                </div>
                                                <!--end video cover-->
                                            </div>
                                        </div>
                                        
                                        


                                        {% else %}
                                        <div class="row text-center" style="padding-bottom: 20px;">
                                            <div class="col-md-12">
                                                <p style="margin-bottom: 0px;" class="lead responsive_title"> Donate to <span style="color:#4a90e2">{{ item.name }}</span></p>
                                                <p style="margin-bottom: 0px;" class="responsive_description">Amount raised so far <span style="color:#4a90e2">${% get_total_donation_amount item %}</span></p>
                                                <p style="margin-bottom: 0px;line-height: 1.8;" class="responsive_description"><i class="fas fa-heart" style="color: #e24a82;"></i> <span style="color:#4a90e2">{% get_last_donor item %}</span>, thank you for your donation!</p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center text-center">
                                            <div class="col-lg-4 col-sm-4  col-6">
                                                <a href="{{ house.get_donate_url }}" class="btn btn--primary btn-block responsive_button">
                                                    <span class="btn__text">Donate</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-6">
                                                <a href="{{  house.get_gift_donation_list_url }}" class="btn btn--primary btn-block responsive_button">
                                                    <span class="btn__text">Gift a donation</span>
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="row justify-content-center text-center" style="padding-bottom: 30px;">
                            <div class="col-md-10">
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <div id="no-content"></div>
                                    </div>
                                </div>
                                <p class="lead" style="color:#b2b2b2;">We've just moved in. But you can always subscribe so you'll be alerted when were ready for guests!</p>
                            </div>
                        </div>
                        {% endif %}


                    </div>
                </div>


            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}