{% extends "backend/base.html" %}
{% load static %}
{% block title %}
Update | {{ house.name }}
{% endblock title %}


{% block css_vendors %}

{% endblock css_vendors %}

{% block vendors %}
{% endblock vendors %}

{% block scripts %}

<script>
function changeHouse(object) {

    console.log(object.value)
    var house_user = object.value;
    var token = '{{csrf_token}}';

    $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
            'house_user': house_user,
        },

        success: function (data) {
            console.log("HELLOO");
            window.location = data;
            

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            //some stuff on failure
        },
    });  

}
</script>

{% endblock scripts %}


{% block page_crumbs %}

{% endblock page_crumbs %}

{% block content %}
<style>
    .dashboard-links {
        color: #7396b0;
    }
</style>
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile" style="padding:30px;">
            <div class="kt-portlet__body">

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-10 offset-1">

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-12">
                                    <h5 style="font-weight: 200;">Hello <span style="font-weight: 500;">{{ profile.name }}</span>,</h5> 
                                    <h5 style="font-weight: 200;">you're currently in your <span style="font-weight: 500;">{{ house.name }}</span> house.</h5>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <h4>Change Houses</h4>
                                    <p>You can change houses by selecting a house from the drop down menu</p>
                                    {{ house_change_form.house_select }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="padding-bottom:30px;">
                                    <a href="{% url 'houses:create' %}" class="btn btn-primary">Create a new house</a>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-10 offset-1">
                    
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <h4>Support Settings</h4>
                                    <p>Edit support email and phone number.
                                    </p>
                                    <a href="{% url 'houses:support_info' %}" class="btn btn-primary">Support Settings</a>
                                </div>
                            </div>
                    
                        </div>
                    </div>


                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-10 offset-1">
                    
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <h4>Payout Methods</h4>
                                    <p>Add payout methods.
                                    </p>
                                    <a href="{% url 'payments:payout_settings_list' %}" class="btn btn-primary">Payout Methods</a>
                                </div>
                            </div>
                    
                        </div>
                    </div>


                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-10 offset-1">
                    
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <h4>House Members</h4>
                                    <p>Add or remove people from your house.
                                    </p>
                                    <a href="{% url 'houses:manage' %}" class="btn btn-primary">House Users</a>
                                </div>
                            </div>
                    
                        </div>
                    </div>


                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-10 offset-1">

                            {% if house.verification_pending or house.verified %}
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <h4>House {% if not house.verified %}Verification Pending{% else %}Verified <i style="color: #4399d5;" class="fa fa-check-circle"></i>{% endif %}</h4>
                                    {% if not house.verified %}
                                    <p>House details are currently being processed. We will contact you at <b>{{ house.email }}</b> for any updates.</p>
                                    {% else %}
                                    <p>Congratulations! {{ house.name }} is verified.</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <h4>House Verification</h4>
                                    <p>Verification in Arqam House is required to enable larger payouts, collect sales tax, or issue tax-deductible receipts if
                                    you’re a non-profit.</p>
                                    {% if not house.verification_pending  %}
                                    <a href="{% url 'houses:verify' %}" class="btn btn-primary">Verify House</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}


                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}