{% extends "backend/base.html" %}
{% load static %}
{% block title %}
Manage | {{ house.name }}
{% endblock title %}


{% block css_vendors %}
{% endblock css_vendors %}

{% block vendors %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" type="text/javascript" />
{% endblock vendors %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
<style>
    .dashboard-links {
        color: #7396b0;
    }
</style>
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile" style="padding:10px;">
            <div class="kt-portlet__body">

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-12" style="padding-bottom: 10px;">
                        <h3 style="display: inline;">House Users</h3>
                    </div>
                </div>

                <div class="row" style="padding-bottom:30px;">
                    <div class="col-12">

                        <form method="POST" id="houseForm" action="">{% csrf_token %}
                            
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <p style="margin-bottom:0px;">Enter an Arqam House account email address</p>
                                    {{ form.email }}
                                </div>
                            </div>

                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block">Add Account</button>
                                </div>
                            </div>
                    
                        
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-12">
                                    <hr>
                                </div>
                            </div>


                            {% for house_user in house_users %}
                            <div class="row" style="padding-bottom:30px;">
                                <div class="col-8">
                                    <p style="padding-top: 10px;margin-bottom: 0px;">{{ house_user.profile.name }} <strong>{% if house_user.profile == profile %} - (You){% endif %}</strong></p>
                                    <p>{{ house_user.profile.email }}</p>
                                </div>
                                <div class="col-4">
                                    <a href="{{ house_user.house_user_detail_view }}" class="btn btn-danger btn-block">Settings</a>
                                    <!-- <button href="#" id="{{ house_user.id }}" name="Remove" value="{{ house_user.id }}" class="btn btn-danger btn-block">Remove</button> -->
                                </div>
                            </div>
                            {% endfor %}

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}