{% extends "backend/base.html" %}
{% load static %}
{% block title %}
Verification | {{ house.name }}
{% endblock title %}


{% block css_vendors %}
{% endblock css_vendors %}

{% block vendors %}
{% endblock vendors %}

{% block scripts %}

<script>

function initMap() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);

    }
</script>

<script>
    $("#id_region").change(function () {

        var url = $("#houseVerificationForm").attr("data-cities-url");  // get the url of the `load_cities` view

        var regionId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'region': regionId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data)
                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnTiJMXoPzVLoo-ztKaRyCrjAocA0K3pQ&libraries=places&callback=initMap"></script>

{% endblock scripts %}


{% block page_crumbs %}

{% endblock page_crumbs %}

{% block content %}
<style>
    .dashboard-links {
        color: #7396b0;
    }
</style>
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile" style="padding:10px;">
            <div class="kt-portlet__body">

                <form method="POST" enctype="multipart/form-data" id="houseVerificationForm" action="" data-cities-url="{% url 'profiles:ajax_load_cities' %}">{% csrf_token %}

                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Verification <i style="color: #4399d5;" class="fa fa-check-circle" data-container="body"
                                                        data-toggle="kt-tooltip" data-placement="top" title=""
                                                        data-original-title="Verified houses have a blue checkmark next to their events."></i></h4>
                        </div>
                    </div>

                    {% if not house.house_type %}
                    <div class="row" style="padding-bottom:50px;">
                        <div class="col-12">
                            <p style="margin-bottom:0px;">Verification in Arqam House is required to enable larger payouts, collect sales tax, or issue tax-deductible receipts if
                            you’re a non-profit.</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.house_type and not house.address_entered %}
                    <div class="row" style="padding-bottom:50px;">
                        <div class="col-12">
                            {% if house.house_type == "Individual" %}
                            <p style="margin-bottom:0px;">Please enter your address below.</p>
                            {% elif house.house_type == "Business" %}
                            <p style="margin-bottom:0px;">Please enter your business address below.</p>
                            {% else %}
                            <p style="margin-bottom:0px;">Please enter your non-profit's address below.</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if house.address_entered %}
                    <div class="row" style="padding-bottom:50px;">
                        <div class="col-12">
                            {% if house.house_type == "Individual" %}
                            <p style="margin-bottom:0px;">Please confirm your identity.</p>
                            {% elif house.house_type == "Business" %}
                            <p style="margin-bottom:0px;font-weight: 500;"> Please confirm the identity of a Beneficial Owner or Director.</p>
                            
                            {% else %}
                            <p style="margin-bottom:0px;">Please enter your non-profit's address below.</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}



                    {% if not house.house_type %}
                    <div class="row">
                        <div class="col-md-4" style="padding: 30px;">
                            <h1><i class="la la-user"></i></h1>
                            <h5>Individual House</h5>
                            <p>You are an individual entity that will use Arqam House for personal uses. You cannot issue sales receipts with an individual account, attendees will not receive receipts.</p>
                            <button type="submit" name="house_type" value="Individual" class="btn btn-primary btn-block">Choose</button>
                        </div>
                        <div class="col-md-4" style="padding: 30px;">
                            <h1><i class="la la-suitcase"></i></h1>
                            <h5>Business House</h5>
                            <p>You will be using Arqam House as a business entity. You will be able to charge sales tax on receipts and Arqam house will facilitate issuing receipts on your behalf.</p>
                            <button type="submit" name="house_type" value="Business" class="btn btn-primary btn-block">Choose</button>
                        </div>
                        <div class="col-md-4" style="padding: 30px;">
                            <h1><i class="la la-leaf"></i></h1>
                            <h5>Nonprofit House</h5>
                            <p>You will be using Arqam House as a nonprofit with charitable status. Arqam House will facilitate in the creation of tax deductible receipts for your attendees.</p>
                            <button type="submit" name="house_type" value="Nonprofit" class="btn btn-primary btn-block">Choose</button>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.house_type and not house.address_entered %}
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Address</h5>
                                    {{ form.address }}
                                </div>
                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Region</h5>
                                    {{ form.region }}
                                </div>
                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>City</h5>
                                    {{ form.city }}
                                </div>
                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Postal Code</h5>
                                    {{ form.postal_code }}
                                </div>
                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <button type="submit" name="general" value="true" class="btn btn-primary btn-block">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    {% if house.address_entered %}
                    <div class="row">
                        <div class="col-md-6 offset-md-3">

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <div class="accordion" id="accordionExample4">
                                        <div class="card">
                                            <div class="card-header" id="headingTwo1">
                                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false"
                                                    aria-controls="collapseTwo4">
                                                    <i class="la la-plus"></i>Who is a Beneficial Owner or Director?
                                                </div>
                                            </div>
                                            <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                                <div class="card-body">
                                    
                                                    <p style="margin-bottom:0px;">
                                                        Individuals who own 25% or more of your company, and/or
                                                        <br>
                                                        Individuals who exercise significant control over your company.
                                                        <br>
                                                        Individuals considered to “exercise significant control” over your company are those responsible for
                                                        managing and
                                                        directing the business and may include executive officers or senior managers, such as CEO, CFO, COO,
                                                        Managing Member, General Partner, President, Vice President, or Treasurer.
                                                        <br>
                                                        <br>
                                                        Directors typically are individuals who are members of the governing board of your company.
                                                    </p>
                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Date of Birth</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form.dob_year }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.dob_month }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.dob_day }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Name</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.first_name }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Drivers Licence Front</h5>
                                    {{ form.front_id }}
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Drivers Licence Back</h5>
                                    {{ form.back_id }}
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <button type="submit" name="general" value="true" class="btn btn-primary btn-block">{% if house.address_entered %}Finish{% else %}Next{% endif %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}