{% extends "backend/base.html" %}
{% load static %}
{% block title %}
Verification | {{ house.name }}
{% endblock title %}


{% block css_vendors %}
{% endblock css_vendors %}

{% block vendors %}
{% endblock vendors %}

{% block scripts %}

<script>

function initMap() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);

    }
</script>

<script>
    $("#id_region").change(function () {

        var url = $("#houseVerificationForm").attr("data-cities-url");  // get the url of the `load_cities` view

        var regionId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'region': regionId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data)
                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnTiJMXoPzVLoo-ztKaRyCrjAocA0K3pQ&libraries=places&callback=initMap"></script>

{% endblock scripts %}


{% block page_crumbs %}

{% endblock page_crumbs %}

{% block content %}
<style>
    .dashboard-links {
        color: #7396b0;
    }
</style>
<div class="row justify-content-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-8 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile" style="padding:10px;">
            <div class="kt-portlet__body">

                {% if house.verification_pending %}

                    {% if house.verified %}
                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Verification Complete</h4>
                            <p>We have successfully verified the information you have provided! {{ house.name }} is now a verified house.</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Verification Application Under Review</h4>
                            <p>We are going over the information you provided and will be in touch with you shortly.</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.house_type == 'Individual' %}
                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Individual Information</h4>
                            <br>
                            <p style="margin-bottom: 0px;font-weight: 700;">Individual Name</p>
                            <p>{{ house.legal_name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Country</p>
                            <p>{{ house.country }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Region</p>
                            <p>{{ house.region.name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">City</p>
                            <p>{{ house.city.name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Address</p>
                            <p>{{ house.address }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Postal Code</p>
                            <p>{{ house.postal_code }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.house_type == 'Business' %}
                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Business Information</h4>
                            <br>
                            <p style="margin-bottom: 0px;font-weight: 700;">Business Name</p>
                            <p>{{ house.legal_name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Tax ID / Corporation Number</p>
                            <p>{{ house.tax_id }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Business Number</p>
                            <p>{{ house.business_number }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Country</p>
                            <p>{{ house.country }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Region</p>
                            <p>{{ house.region.name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">City</p>
                            <p>{{ house.city.name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Address</p>
                            <p>{{ house.address }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Postal Code</p>
                            <p>{{ house.postal_code }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.house_type == 'Nonprofit' %}
                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Nonprofit Information</h4>
                            <br>
                            <p style="margin-bottom: 0px;font-weight: 700;">Nonprofit Name</p>
                            <p>{{ house.legal_name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Registration Number</p>
                            <p>{{ house.charitable_registration_number }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Country</p>
                            <p>{{ house.country }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Region</p>
                            <p>{{ house.region.name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">City</p>
                            <p>{{ house.city.name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Address</p>
                            <p>{{ house.address }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Postal Code</p>
                            <p>{{ house.postal_code }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% for house_director in house_directors %}
                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Beneficial Owner</h4>
                            <br>
                            <p style="margin-bottom: 0px;font-weight: 700;">First Name</p>
                            <p>{{ house_director.first_name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Last Name</p>
                            <p>{{ house_director.last_name }}</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Date of Birth Provided</p>
                            <p>Yes</p>
                            <p style="margin-bottom: 0px;font-weight: 700;">Identification Provided</p>
                            <p>Yes</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <p>Contact us if any of the information above changes.</p>
                            <a href="mailto:info@arqamhouse.com?Subject=Hello" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>


                {% else %}
                <form method="POST" enctype="multipart/form-data" id="houseVerificationForm" action="" data-cities-url="{% url 'profiles:ajax_load_cities' %}">{% csrf_token %}

                    <div class="row justify-content-center" style="padding-bottom:10px;">
                        <div class="col-12">
                            <h4 style="margin-bottom:0px;">Verification <i style="color: #4399d5;" class="fa fa-check-circle" data-container="body"
                                                        data-toggle="kt-tooltip" data-placement="top" title=""
                                                        data-original-title="Verified houses have a blue checkmark next to their events."></i></h4>
                        </div>
                    </div>

                    {% if not house.house_type %}
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <p style="margin-bottom:0px;">Verification in Arqam House is required to enable larger payouts, collect sales tax, or issue tax-deductible receipts if
                            you’re a non-profit.</p>
                            <hr>
                        </div>
                    </div>
                    {% endif %}


                    {% if house.house_type and not house.address_entered %}
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-12">
                            <p style="margin-bottom:0px;">We need to collect this information so we can submit accurate tax reports..</p>
                            <hr>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.address_entered %}
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-12">
                            {% if house.house_type == "Individual" %}
                            <p style="margin-bottom:0px;">Please confirm your identity.</p>
                            {% elif house.house_type == "Business" %}
                            <p style="margin-bottom:0px;font-weight: 500;"> Please confirm the identity of a Beneficial Owner or Director.</p>
                            
                            {% else %}
                            <p style="margin-bottom:0px;">Please enter your non-profit's address below.</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}



                    {% if not house.house_type %}
                    <div class="row">
                        <div class="col-12" style="padding: 30px;">
                            <h5><i class="la la-user"></i> Individual House</h5>
                            <p>You are an individual entity that will use Arqam House for personal uses. You cannot issue sales receipts with an individual account, attendees will not receive receipts.</p>
                            <button type="submit" name="house_type" value="Individual" class="btn btn-primary">Individual</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="padding: 30px;">
                            <h5><i class="la la-suitcase"></i> Business House</h5>
                            <p>You will be using Arqam House as a business entity. You will be able to charge sales tax on receipts and Arqam house will facilitate issuing receipts on your behalf.</p>
                            <button type="submit" name="house_type" value="Business" class="btn btn-primary">Business</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="padding: 30px;">
                            <h5><i class="la la-leaf"></i> Nonprofit House</h5>
                            <p>You will be using Arqam House as a nonprofit with charitable status. Arqam House will facilitate in the creation of tax deductible receipts for your attendees if you choose to do so.</p>
                            <button type="submit" name="house_type" value="Nonprofit" class="btn btn-primary">Nonprofit</button>
                        </div>
                    </div>
                    {% endif %}

                    {% if house.house_type and not house.address_entered %}
                    <div class="row">
                        <div class="col-12">

                            {% if form.non_field_errors %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Oh snap!</strong> {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>{% if house.house_type == "Individual" %}Legal Name{% elif house.house_type == "Nonprofit" %}Nonprofit Name{% else %}Business Name{% endif %}</h5>
                                    {{ form.legal_name }}
                                    {% for error in form.legal_name.errors %}
                                    <br>
                                    <div class="alert m-alert--outline alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            {% if house.house_type == "Business" %}
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Corporation Number</h5>
                                    {{ form.tax_id }}
                                    {% for error in form.tax_id.errors %}
                                    <br>
                                    <div class="alert m-alert--outline alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Business Number</h5>
                                    {{ form.business_number }}
                                    {% for error in form.business_number.errors %}
                                    <br>
                                    <div class="alert m-alert--outline alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}

                            {% if house.house_type == "Nonprofit" %}
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Registration Number</h5>
                                    {{ form.charitable_registration_number }}
                                    {% for error in form.charitable_registration_number.errors %}
                                    <br>
                                    <div class="alert m-alert--outline alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Address</h5>
                                    {{ form.address }}
                                </div>
                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-4 col-12" style="padding-bottom: 20px;">
                                    <h5>Region</h5>
                                    {{ form.region }}
                                </div>
                                <div class="col-md-4 col-12" style="padding-bottom: 20px;">
                                    <h5>City</h5>
                                    {{ form.city }}
                                </div>
                                <div class="col-md-4 col-12" style="padding-bottom: 20px;">
                                    <h5>Postal Code</h5>
                                    {{ form.postal_code }}
                                </div>

                            </div>
                            
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-12">
                                    <button type="submit" name="general" value="true" class="btn btn-primary btn-block">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    {% if house.address_entered %}
                    <div class="row">
                        <div class="col-12">

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <div class="accordion" id="accordionExample4">
                                        <div class="card">
                                            <div class="card-header" id="headingTwo1">
                                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false"
                                                    aria-controls="collapseTwo4">
                                                    <i class="la la-plus"></i>Who is a Beneficial Owner or Director?
                                                </div>
                                            </div>
                                            <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                                <div class="card-body">
                                    
                                                    <p style="margin-bottom:0px;">
                                                        Individuals who own 25% or more of your company, and/or
                                                        <br>
                                                        Individuals who exercise significant control over your company.
                                                        <br>
                                                        Individuals considered to “exercise significant control” over your company are those responsible for
                                                        managing and
                                                        directing the business and may include executive officers or senior managers, such as CEO, CFO, COO,
                                                        Managing Member, General Partner, President, Vice President, or Treasurer.
                                                        <br>
                                                        <br>
                                                        Directors typically are individuals who are members of the governing board of your company.
                                                    </p>
                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Date of Birth</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form.dob_year }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.dob_month }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.dob_day }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Name</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.first_name }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Drivers Licence Front - <span style="font-size:10px">Encrypted File Upload</span></h5>
                                    {{ form.front_id }}
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <h5>Drivers Licence Back - <span style="font-size:10px">Encrypted File Upload</span></h5>
                                    {{ form.back_id }}
                                </div>
                            </div>
                    
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-md-12">
                                    <button type="submit" name="general" value="true" class="btn btn-primary btn-block">{% if house.address_entered %}Finish{% else %}Next{% endif %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}