{% extends "backend/base.html" %}
{% load tz %}
{% load static %}

{% block title %}
Subscribers | {{ house.name }}
{% endblock title %}


{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

{% endblock scripts %}



{% block content %}

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row text-center" style="padding-bottom:40px;padding-top: 20px;">
                    <div class="col-lg-12" style="padding-bottom: 10px;padding-top: 10px;">
                        <h3 style="font-weight: 200;">{{ campaign }}</h3>
                        <p style="font-size: 13px;">Created on {{ campaign.created_at|date:"dS M Y" }}</p>
                        <a class="btn btn-primary" href="{{ campaign.get_detail_content_view }}">View Campaign</a>
					</div>
				</div>


                <div class="row text-center" style="padding-bottom:50px;">

                    <div class="col-lg-4 col-sm-4 col-4" style="padding-bottom: 10px;">
                        <h1 style="font-size: 3em;">{{ campaign.score }}%</h1>
                        <p style="font-size: 0.8em;">Campaign Engagement</p>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-4" style="padding-bottom: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 4em;height: 4em;"
                            viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path
                                    d="M8.2928955,10.2071068 C7.90237121,9.81658249 7.90237121,9.18341751 8.2928955,8.79289322 C8.6834198,8.40236893 9.31658478,8.40236893 9.70710907,8.79289322 L15.7071091,14.7928932 C16.085688,15.1714722 16.0989336,15.7810586 15.7371564,16.1757246 L10.2371564,22.1757246 C9.86396402,22.5828436 9.23139665,22.6103465 8.82427766,22.2371541 C8.41715867,21.8639617 8.38965574,21.2313944 8.76284815,20.8242754 L13.6158645,15.5300757 L8.2928955,10.2071068 Z"
                                    fill="#000000" fill-rule="nonzero"
                                    transform="translate(12.000003, 15.500003) scale(-1, 1) rotate(-90.000000) translate(-12.000003, -15.500003) " />
                                <path
                                    d="M6.70710678,12.2071104 C6.31658249,12.5976347 5.68341751,12.5976347 5.29289322,12.2071104 C4.90236893,11.8165861 4.90236893,11.1834211 5.29289322,10.7928968 L11.2928932,4.79289682 C11.6714722,4.41431789 12.2810586,4.40107226 12.6757246,4.76284946 L18.6757246,10.2628495 C19.0828436,10.6360419 19.1103465,11.2686092 18.7371541,11.6757282 C18.3639617,12.0828472 17.7313944,12.1103502 17.3242754,11.7371577 L12.0300757,6.88414142 L6.70710678,12.2071104 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3"
                                    transform="translate(12.000003, 8.500003) scale(-1, 1) rotate(-360.000000) translate(-12.000003, -8.500003) " />
                            </g>
                        </svg>
                        
                        <p style="padding-top: 10px;font-size: 0.8em;">Sent to {{ campaign.total }} subscribers</p>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-4" style="padding-bottom: 10px;">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 4em;height: 4em;"viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
                            </g>
                        </svg>

                        <p style="padding-top: 10px;font-size: 0.8em;">Viewed by {{ campaign.seen }} subscribers</p>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-6">
                        <p class="lead">Sent</p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-center">
                                <tbody id="dynamic">
                                    {% for subscriber in campaign.subscribers_sent_to.all %}
                                    <tr>
                                        <td class="align-middle"><a href="{{ subscriber.get_absolute_url }}">{{ subscriber.profile.name|title }}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="lead">Viewed</p>
                        {% if campaign.subscribers_seen.all.count > 1 %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-center">
                                <tbody id="dynamic">
                                    {% for subscriber in campaign.subscribers_seen.all %}
                                    <tr>
                                        <td class="align-middle"><a
                                                href="{{ subscriber.get_absolute_url }}">{{ subscriber.profile.name|title }}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <p>No Views Yet</p>
                        {% endif %}
                    </div>
                </div>

				
			</div>
					
		</div>
	</div>
</div>
{% endblock content %}














