{% extends "backend/base.html" %}
{% load tz %}
{% load campaigns_template_tag %}
{% load static %}

{% block title %}
Subscribers | {{ house.name }}
{% endblock title %}


{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css" rel="stylesheet"
    type="text/css" />
{% endblock styles %}


{% block scripts %}
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js"></script>

{% endblock scripts %}



{% block content %}

<div class="row align-items-center h-100"style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-8 offset-lg-2 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom:40px;">
					<div class="col-lg-12">
						<h3>{% if event %}Event{% endif %} Campaign <span style="font-size: 0.8em;font-weight: 200;">| {{ campaign.name }}</span></h3>
                        {% if event %}
                        <p style="margin-bottom: 0px;">This campaign will only be sent to subscribers who attended <a href="{{ event.get_landing_view }}">{{ event }}</a></p>
                        {% endif %}
					</div>
				</div>

                <form method="POST" id="checkoutForm" enctype="multipart/form-data" onchange="update_content()">{% csrf_token %}
                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-md-8">
                            <p style="margin-bottom: 5px;">Name</p>
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-md-8">
                            <p style="margin-bottom: 5px;">Subject</p>
                            {{ form.subject }}
                        </div>
                    </div>

                    {{ form.media }}
                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-md-12" style="max-width: 640px;">
                            <p style="margin-bottom: 5px;">Content</p>
                            {{ form.content }}
                        </div>
                    </div>


                    <div class="row" style="padding-bottom:20px;">

                        <div class="col-lg-4" style="padding-bottom: 20px;">
                            <button type="submit" name="save" value='true' class="btn btn-primary btn-block">Save Campaign</button>
                        </div>

                        <div class="col-lg-4" style="padding-bottom: 20px;">
                            <button type="submit" name="test" value='true' class="btn btn-info btn-block">Send Test Email</button>
                        </div>

                        <div class="col-lg-4" style="padding-bottom: 20px;">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal">
                                Send Campaign
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h3>Last Chance</h3>
                                            <br>
                                            <p>We will deliver your campaign <strong>{{ campaign.name }}</strong> to all <strong>{{ subscribers.count }}</strong> of your subscribers.</p>
                                            <p>Please make sure you have sent yourself a test email and everything looks good. You will not be able to edit this campaign after you have sent it.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" name="nuke" value='true' class="btn btn-primary">Send My Campaign!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="row">
                        <div class="col-6">

                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                                View {{ subscribers.count }} Subscribers
                            </button>

                            <div class="collapse" id="collapseExample" style="padding-top: 30px;">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            {% for subscriber in subscribers %}
                                            <tr>
                                                <td><a href="{{ subscriber.get_absolute_url }}">{{ subscriber.profile.name|title }}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>



                </form>


			</div>
					
		</div>
	</div>
</div>
{% endblock content %}














