{% for donation in donations %}
<div class="row text-center" id="dynamic"
    style="padding-top: 20px; padding-bottom: 20px;{% if donation.gift_donation_item %}background-color: #eafaff;{% endif %}">
    <div class="col-md-4" style="align-self: center;padding-bottom: 20px;">
        <p style="color: rgb(67, 153, 213);margin-bottom: 0px;font-size: 2.2em;">
            ${% if donation.pass_fee %}{{ donation.transaction.house_amount }}{% else %}{{ donation.transaction.amount }}{% endif %}
        </p>
    </div>
    <div class="col-md-8" id="donation-body">
        {% if donation.gift_donation_item %}
        <p style="margin-bottom: 0px;color: #ea4f96;">Gifted Donation <i class="fas fa-heart"></i></p>
        <p style="margin-bottom: 0px;">
            Donated by
            <span
                style="color: rgb(67, 153, 213);">{% if donation.anonymous %}Someone{% else %}{{ donation.name }}{% endif %}</span>
            as a gift to
            <span style="color: rgb(67, 153, 213);">{{ donation.recipient_name }}</span>
        </p>
        {% else %}
        <p style="margin-bottom: 0px;">
            <span style="font-size: small;">Donated by </span>
            <span
                style="color: rgb(67, 153, 213);">{% if donation.anonymous %}Anonymous{% else %}{{ donation.name }}{% endif %}</span>
        </p>
        {% endif %}
        {% if donation.message %}
        <p style="font-size: 0.8em;">
            {{ donation.message }}
        </p>
        {% endif %}
    </div>
</div>
{% endfor %}