{% extends "frontend/base.html" %}
{% load static %}
{% load checkout_form_tags %}

{% block title %}
Donate | {{ house.name }}
{% endblock title %}

{% block styles %}

<style>

#donation-body {
    text-align: center;
    line-height: 1.3;
}

/* Media Queries */
@media (min-width: 576px) {

    #donation-body {
        text-align: center;
    }

}
    
    
@media (min-width: 768px) {

    #donation-body {
        text-align: left;
        line-height: 1.5;
    }
    
}
    
    
@media (min-width: 992px) {
    
    #donation-body {
        text-align: left;
    }

}

@media (min-width: 1200px) {
    
}

</style>
{% endblock styles %}

{% block top_page_scripts %}

{% endblock top_page_scripts %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript">

	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	    type: 'line',
	    aspectRatio: 2,
	    data: {
	        labels: {{ graph_data.day_label|safe }},
	        datasets: [{
	            label: 'Sales ($)',
	            data: {{ graph_data.sales_label|safe }},
	            backgroundColor: 'rgba(67, 153, 213, 0.2)',
	            borderColor:'rgba(67, 153, 213, 1)',
	            borderWidth: 4,
	            lineTension: 0.1,
	            borderCapStyle: 'butt',
	            borderDashOffset: 3.0,
            	borderJoinStyle: 'miter',
            	pointBorderWidth: 6,
            	pointHoverRadius: 5,
            	pointHoverBorderWidth: 2,
            	pointRadius: 0.5,
            	pointHitRadius: 7,
            	xPadding: 25,

	        }]
	    },
	    options: {

	    	legend: {
	            display: false,
			},

			tooltips:{
                enabled: true,
				mode: 'label',

				callbacks: {
					label: function(item) {
						label = (Math.round(item.yLabel * 100) / 100).toFixed(2);
						label = label.toString();
						label = " $ " + label
						return label
					},
				},
            },

			layout: {
				padding: {
					left: 0,
					right: 0,
					top: 10,
					bottom: 10
				}
			},

	        animation: {
	            duration: 4000,
	        },

	        maintainAspectRatio: false,

	        scales: {
	            yAxes: [{

	            	gridLines: {
						drawBorder: false,
	                    display: false,
	                },

	                ticks: {
						display: false,
	                    beginAtZero: true,
	                    suggestedMin: 0,
                    	fontSize: 30,
	                },

	            }],

	            xAxes: [{

	                gridLines: {
	                    display:false,
	                },

	                ticks: {
                        display: true,
                    	fontSize: 10,
	                },

	                stepSize: 5,
	                position: 'bottom',

	            }],

	        },


	        responsive: true,
	    }
	});

</script>
{% endblock scripts %}



{% block content %}
<section style="padding-top: 30px;">
    <div class="container">

            {% if house.logo %}
            <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                <div class="col-lg-8 col-md-10 col-sm-12 col-10">
            
                    <a href="{{ house.get_home_page_url }}">
                        <img src="{{ house.logo.url }}" style="max-height: 4em;">
                    </a>
            
                </div>
            </div>
            {% endif %}
            

            <div class="row justify-content-center" style="margin: 5px;">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12"
                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px; margin: 10px;border-radius: 15px;align-self: center;">

                    <div class="row justify-content-center" style="padding-top: 40px;padding-bottom: 30px;">
                        <div class="col-5">
                            <h4 style="color: grey;margin-bottom: 2px;font-size: 1.5em">Donations</h4>
                        </div>
                        <div class="col-5">
                            <h4 style="color: rgb(121, 180, 123);font-size: 1.5em;margin-bottom: 2px;" class="pull-right">${{ graph_data.total }}</h4>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="padding-bottom: 30px;">
                        <div class="col-md-10 col-10">
                            <canvas id="myChart2" height="150"></canvas>
                        </div>
                    </div>


                    <div class="row justify-content-center text-center">
                        <div class="col-md-10 col-10" style="padding-bottom: 50px;">
                            <a class="btn btn--primary btn-block" href="{{ house.get_donate_url }}">
                                <span class="btn__text">Donate</span>
                            </a>
                        </div>
                    </div>


                    
                    <div class="row justify-content-center">
                        {% for donation in donations %}
                        <div class="col-10" style="padding-bottom: 40px;">
                            <div class="row text-center">
                                <div class="col-md-4" style="align-self: center;padding-bottom: 20px;"><p style="color: rgb(67, 153, 213);margin-bottom: 0px;font-size: 2.2em;">${% if donation.pass_fee %}{{ donation.transaction.house_amount }}{% else %}{{ donation.transaction.amount }}{% endif %}</p></div>
                                <div class="col-md-8" id="donation-body">
                                    <p style="margin-bottom: 0px;">
                                        <span style="font-size: small;font-style: italic;">donated by </span>
                                        <span style="color: rgb(67, 153, 213);">{% if donation.anonymous %}Anonymous{% else %}{{ donation.name }}{% endif %}</span>
                                        <span style="font-size: small;font-style: italic;">to {{ donation.donation_type.name }}</span>
                                    </p>
                                    {% if donation.message %}
                                    <p style="font-size: 0.8em;">
                                        {{ donation.message }}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    

                </div>
            </div>

    </div>
</section>

<section class="text-center" style="padding-bottom: 40px;padding-top: 90px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 5em;margin-bottom:0px;"></a>
                <p style="font-size: 10px;">Powered by Arqam House Inc.</p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}