{% extends "frontend/base.html" %}
{% load static %}
{% load checkout_form_tags %}

{% block title %}
Donate | {{ house.name }}
{% endblock title %}

{% block styles %}

<style>

#donation-body {
    text-align: center;
    line-height: 1.3;
}

/* Media Queries */
@media (min-width: 576px) {

    #donation-body {
        text-align: center;
    }

}
    
    
@media (min-width: 768px) {

    #donation-body {
        text-align: left;
        line-height: 1.5;
    }
    
}
    
    
@media (min-width: 992px) {
    
    #donation-body {
        text-align: left;
    }

}

@media (min-width: 1200px) {
    
}


.blinking{
    animation:blinkingText 2.2s infinite;
}
@keyframes blinkingText{
    0%{     color: rgb(215, 56, 56);    }
    49%{    color: rgb(215, 56, 56); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(215, 56, 56);    }
}

</style>
{% endblock styles %}

{% block top_page_scripts %}

{% endblock top_page_scripts %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript">

	var ctx2 = document.getElementById("myChart2");
	var myChart2 = new Chart(ctx2, {
	    type: 'line',
	    aspectRatio: 2,
	    data: {
	        labels: {{ graph_data.minute_label|safe }},
	        datasets: [{
	            label: 'Sales ($)',
	            data: {{ graph_data.sales_label|safe }},
	            backgroundColor: 'rgba(67, 153, 213, 0.2)',
	            borderColor:'rgba(67, 153, 213, 1)',
	            borderWidth: 4,
	            lineTension: 0.1,
	            borderCapStyle: 'butt',
	            borderDashOffset: 3.0,
            	borderJoinStyle: 'miter',
            	pointBorderWidth: 6,
            	pointHoverRadius: 5,
            	pointHoverBorderWidth: 2,
            	pointRadius: 0.5,
            	pointHitRadius: 7,
            	xPadding: 25,

	        }]
	    },
	    options: {

	    	legend: {
	            display: false,
			},

			tooltips:{
                enabled: true,
				mode: 'label',

				callbacks: {
					label: function(item) {
						label = (Math.round(item.yLabel * 100) / 100).toFixed(2);
						label = label.toString();
						label = " $" + label
						return label
					},
				},
            },

			layout: {
				padding: {
					left: 0,
					right: 0,
					top: 10,
					bottom: 10
				}
			},

	        animation: {
	            duration: 4000,
	        },

	        maintainAspectRatio: false,

	        scales: {
	            yAxes: [{

	            	gridLines: {
						drawBorder: false,
	                    display: false,
	                },

	                ticks: {
						display: false,
	                    beginAtZero: true,
	                    suggestedMin: 0,
                    	fontSize: 30,
	                },

	            }],

	            xAxes: [{

	                gridLines: {
	                    display:false,
	                },

	                ticks: {
                        display: true,
                    	fontSize: 10,
	                },

	                stepSize: 5,
	                position: 'bottom',

	            }],

	        },


	        responsive: true,
	    }
	});

</script>


<script>

setInterval(updateGraph, 10000);

function updateGraph() {

    var token = '{{ csrf_token }}';
    const url = '{{ request.path }}';

    let data = {
        update: true
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(
            function (response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                // Examine the text in the response
                response.json().then(function (data) {
                    myChart2.data.datasets[0].data = data["sales_label"];
                    myChart2.data.labels = data["minute_label"];
                    myChart2.update();

                    document.getElementById("dynamic").innerHTML = data["html"];
                    document.getElementById("total_donations").innerHTML = "$" + data["total_donations"]

                });
            }
        )
        .catch(function (err) {
            console.log('Fetch Error :-S', err);
        });

}

</script>

{% endblock scripts %}



{% block content %}
<section style="padding-top: 30px;">
    <div class="container">

            {% if house.logo %}
            <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                <div class="col-lg-8 col-md-10 col-sm-12 col-10">
            
                    <a href="{{ house.get_home_page_url }}">
                        <img src="{{ house.logo.url }}" style="max-height: 4em;">
                    </a>
            
                </div>
            </div>
            {% endif %}
            

            <div class="row justify-content-center" style="margin: 5px;">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12"
                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px; margin: 10px;border-radius: 15px;align-self: center;">

                    <div class="row justify-content-center" style="padding-top: 40px;padding-bottom: 30px;">
                        <div class="col-5">
                            <h4 style="color: grey;margin-bottom: 2px;font-size: 1.5em"><span style="margin-bottom: 0px;" class="blinking">Live</span></h4>
                        </div>
                        <div class="col-5">
                            <h4 style="color: rgb(121, 180, 123);font-size: 1.5em;margin-bottom: 2px;text-align: right;" id="total_donations" >${{ graph_data.total }}</h4>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="padding-bottom: 10px;">
                        <div class="col-md-10 col-10">
                            <canvas id="myChart2" height="150"></canvas>
                        </div>
                    </div>

                    <div class="row justify-content-center text-center">
                        <div class="col-md-10 col-10" style="padding-bottom: 30px;">
                            <a href="{{ house.get_public_donations_url }}">
                                10-Day Donations
                            </a>
                        </div>
                    </div>


                    <div class="row justify-content-center text-center">
                        <div class="col-md-5 col-5" style="padding-bottom: 50px;">
                            <a class="btn btn--primary btn-block" href="{{ house.get_donate_url }}">
                                <span class="btn__text">Donate</span>
                            </a>
                        </div>
                        <div class="col-md-5 col-5" style="padding-bottom: 50px;">
                            <a class="btn btn--primary btn-block" href="{{ house.get_gift_donation_list_url }}">
                                <span class="btn__text">Gift a donation</span>
                            </a>
                        </div>
                    </div>


                    
                    <div class="row justify-content-center">
                        <div class="col-10" style="padding-bottom: 40px;">
                            {% for donation in donations %}
                            <div class="row text-center"
                                style="padding-top: 20px; padding-bottom: 20px;{% if donation.gift_donation_item %}background-color: #eafaff;{% endif %}">
                                <div class="col-md-4" style="align-self: center;padding-bottom: 20px;">
                                    <p style="color: rgb(67, 153, 213);margin-bottom: 0px;font-size: 2.2em;">
                                        ${% if donation.pass_fee %}{{ donation.transaction.house_amount }}{% else %}{{ donation.transaction.amount }}{% endif %}
                                    </p>
                                </div>
                                <div class="col-md-8" id="donation-body">
                                    {% if donation.gift_donation_item %}
                                    <p style="margin-bottom: 0px;color: #ea4f96;">Gifted Donation <i class="fas fa-heart"></i></p>
                                    <p style="margin-bottom: 0px;">
                                        Donated by
                                        <span
                                            style="color: rgb(67, 153, 213);">{% if donation.anonymous %}Someone{% else %}{{ donation.name }}{% endif %}</span>
                                        as a gift to
                                        <span style="color: rgb(67, 153, 213);">{{ donation.recipient_name }}</span>
                                    </p>
                                    {% else %}
                                    <p style="margin-bottom: 0px;">
                                        <span style="font-size: small;">Donated by </span>
                                        <span
                                            style="color: rgb(67, 153, 213);">{% if donation.anonymous %}Anonymous{% else %}{{ donation.name }}{% endif %}</span>
                                    </p>
                                    {% endif %}
                                    {% if donation.message %}
                                    <p style="font-size: 0.8em;">
                                        {{ donation.message }}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    

                </div>
            </div>

    </div>
</section>


{% endblock content %}