{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Testing
{% endblock title %}


{% block styles %}
<style type="text/css">
    .dashboard-links {
        color: #7396b0;
    }
</style>
{% endblock styles %}


{% block scripts %}
<script>

    function ajaxDeleteComment(object) {

        console.log(object.value);
        comment_id = object.value;
        var token = '{{ csrf_token }}';

        $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": token },
            url: '{{ request.path }}',
            data: {
                'comment_id': comment_id,
            },

            success: function (data) {
                document.getElementById("dynamic").innerHTML = data;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
                //some stuff on failure
            },
        });

    }

</script>


<script>

    function ajaxDeleteAllComments() {

        var token = '{{ csrf_token }}';

        $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": token },
            url: '{{ request.path }}',
            data: {
                'delete_all': true,
            },

            success: function (data) {
                document.getElementById("dynamic").innerHTML = data;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
                //some stuff on failure
            },
        });

    }

</script>
{% endblock scripts %}



{% block content %}
<div class="row justify-content-center" style="padding: 3rem 0px 0px 0px;">
    <div class="col-lg-8 col-md-10 col-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="margin:20px;">

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-9">
                        <h4>{{ event.title }} comments</h4>
                        <p>View/delete comments from your virtual event here.</p>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger pull-right" onclick="ajaxDeleteAllComments(this);" value="{{ comment.id }}">Delete all</button>
                    </div>
                </div>

                <div id="dynamic">
                {% for comment in event_live_comments %}
                <div class="row justify-content-center">
                    <div class="col-9" style="align-self: center;">
                        <p style="margin-bottom: 0px;">{{ comment.comment }}</p>
                        <p style="margin-bottom: 0px;font-size: 10px;font-style: italic;">{{ comment.profile.name }} {% if comment.private %}<span style="color: red;">- Private</span>{% endif %}</p>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger pull-right" onclick="ajaxDeleteComment(this);" value="{{ comment.id }}">Delete</button>
                    </div>
                </div>
                <div class="row justify-content-center" style="padding-bottom: 40px;">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="col-lg-4 col-md-6 col-6" style="padding-bottom:10px;">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row text-center">
                    <div class="col-12">
                        <a class="dashboard-links" href="{{ event.get_live_options_view }}">
                            <i class="la la-edit" style="font-size:2.5em;"></i>
                            <p style="padding-top: 10px;">Virtual Event</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-6" style="padding-bottom:10px;">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row text-center">
                    <div class="col-12">
                        <a class="dashboard-links" href="{{ event.get_event_dashboard }}">
                            <i class="la la-external-link" style="font-size:2.5em;"></i>
                            <p style="padding-top: 10px;">Dashboard</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}