{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Testing
{% endblock title %}


{% block styles %}
<style>
    #publisher {
        height: 200px;
    }

    #screen-preview {
        height: 250px;
    }



    @media only screen and (min-width: 576px) {

        #publisher {
            height: 550px;
        }

        #screen-preview {
            height: 300px;
        }

    }


    @media (min-width: 768px) {

        #publisher {
            height: 500px;
        }

        #screen-preview {
            height: 430px;
        }

    }


    @media (min-width: 992px) {

        #publisher {
            height: 550px;
        }

        #screen-preview {
            height: 350px;
        }

    }


    @media (min-width: 1200px) {

        #publisher {
            height: 630px;
        }

        #screen-preview {
            height: 530px;
        }

    }
</style>
{% endblock styles %}


{% block scripts %}

<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>

    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';
    console.log("Helloo")

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);

    {% if facing_mode == 'user' or facing_mode == 'environment' %}
    // Create a publisher
    var publisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        width: '100%',
        height: '100%',
        facingMode: '{{ facing_mode }}'
    }, handleError);


    // Connect to the session
    session.connect(token, function (error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            console.log("publishing")
            session.publish(publisher, handleError);
        }
    });
    {% endif %}

    {% if facing_mode == 'screen' %}
        OT.checkScreenSharingCapability(function (response) {
            if (!response.supported || response.extensionRegistered === false) {
                // This browser does not support screen sharing.
            }

            else if (response.extensionInstalled === false) {
                // Prompt to install the extension.
            }

            else {
                // Screen sharing is available. Publish the screen.
                var publisher = OT.initPublisher('screen-preview',
                    {
                        videoSource: 'screen',
                        insertMode: 'append',
                        width: '100%',
                        height: '100%',

                    },
                    handleError
                );

                session.connect(token, function (error) {
                    // If the connection is successful, publish to the session
                    if (error) {
                        handleError(error);
                    } else {
                        console.log("publishing")
                        session.publish(publisher, handleError);
                    }
                });

            }
        });
        {% endif %}


</script>
{% endblock scripts %}

{% block content %}





<div class="row justify-content-center" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 col-md-12 col-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="margin:20px;">

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <h1>Get Ready.</h1>
                        <p style="margin-bottom: 0px;">Please allow access to your camera and microphone.</p>
                        <p>If everything looks good continue into your virtual event.</p>
                    </div>
                </div>

                {% if facing_mode == 'user' or facing_mode == 'environment' %}
                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <div id="publisher"></div>
                    </div>
                </div>
                {% endif %}
                
                {% if facing_mode == 'screen' %}
                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <div id="screen-preview"></div>
                    </div>
                </div>
                {% endif %}

                <form method="POST">{% csrf_token %}
                <div class="row justify-content-center" style="padding-bottom: 30px;">

                    {% if facing_mode == 'screen' %}
                    <div class="col-md-6">
                        <a class="btn btn-block btn-info" href="{{ event.get_create_live_user_view }}">Front Camera</a>
                        <input type="hidden" id="facing_mode" name="facing_mode" value="{{ facing_mode }}">
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-block btn-info" href="{{ event.get_create_live_environment_view }}">Rear Camera</a>
                        <input type="hidden" id="facing_mode" name="facing_mode" value="{{ facing_mode }}">
                    </div>
                    {% endif %}
                    
                    {% if facing_mode == 'user' %}
                    <div class="col-md-6">
                        <a class="btn btn-block btn-info" href="{{ event.get_create_live_screen_view }}">Screen View</a>
                        <input type="hidden" id="facing_mode" name="facing_mode" value="{{ facing_mode }}">
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-block btn-info" href="{{ event.get_create_live_environment_view }}">Rear Camera</a>
                        <input type="hidden" id="facing_mode" name="facing_mode" value="{{ facing_mode }}">
                    </div>
                    {% endif %}
                    
                    {% if facing_mode == 'environment' %}
                    <div class="col-md-6">
                        <a class="btn btn-block btn-info" href="{{ event.get_create_live_screen_view }}">Screen View</a>
                        <input type="hidden" id="facing_mode" name="facing_mode" value="{{ facing_mode }}">
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-block btn-info" href="{{ event.get_create_live_user_view }}">Front Camera</a>
                        <input type="hidden" id="facing_mode" name="facing_mode" value="{{ facing_mode }}">
                    </div>
                    {% endif %}

                </div>
                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <button type="submit" name="create" value="create" class="btn btn-block btn-primary">Continue</button>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}