{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Testing
{% endblock title %}


{% block styles %}

<style>
/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
    background-color: white;
}

/* Firefox syntax */
:-moz-full-screen {
    background-color: white;
}

/* IE/Edge syntax */
:-ms-fullscreen {
    background-color: white;
}

/* Standard syntax */
:fullscreen {
    background-color: white;
}

</style>

<style>

#publisher {
    height: 200px;
}

#screen-preview {
    height: 200px;
}



@media only screen and (min-width: 576px) {

    #publisher {
        height: 550px;
    }

    #screen-preview {
        height: 550px;
    }
  
}


</style>
{% endblock styles %}


{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js" type="text/javascript"></script>
<script>
    var animation = bodymovin.loadAnimation({
            container: document.getElementById('bm'), // Required
            path: 'https://maxst.icons8.com/vue-static/landings/animated-icons/icons/video-record/video-record.json', // Required
            renderer: 'svg', // Required
            loop: true, // Optional
            autoplay: true, // Optional
        })
</script>

<script>
var elem = document.getElementById("fullscreen_panel");
function openFullscreen() {
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
    }

    {% if facing_mode == 'user' or facing_mode == 'environment' %}
    document.getElementById("publisher").style.height = "600px";
    document.getElementById("publisher").style.width = "950px";
    {% endif %}


    {% if facing_mode == 'screen' %}
    document.getElementById("screen-preview").style.height = "600px";
    document.getElementById("screen-preview").style.width = "950px";
    {% endif %}

    document.getElementById("open_full").style.display = 'none';
    document.getElementById("close_full").style.display = 'block';

}

function closeFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
    } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) {
        document.msExitFullscreen();
    }

    {% if facing_mode == 'user' or facing_mode == 'environment' %}
    document.getElementById("publisher").style.height = "550px";
    document.getElementById("publisher").style.width = "100%";
    {% endif %}

    {% if facing_mode == 'screen' %}
    document.getElementById("screen-preview").style.height = "550px";
    document.getElementById("screen-preview").style.width = "100%";
    {% endif %}

    document.getElementById("close_full").style.display = 'none';
    document.getElementById("open_full").style.display = 'block';

}
</script>

<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>

    // Enable navigation prompt
    window.onbeforeunload = function () {
        return true;
    };


    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';

    var connectionCount = -1;

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);

    {% if facing_mode == 'user' or facing_mode == 'environment' %}
    // Create a publisher
    var publisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        width: '100%',
        height: '100%',
        facingMode: '{{ facing_mode }}'
    }, handleError);


    // Connect to the session
    session.connect(token, function (error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            console.log("publishing")
            session.publish(publisher, handleError);
        }
    });

    {% endif %}


    {% if facing_mode == 'screen' %}
    OT.checkScreenSharingCapability(function (response) {
            if (!response.supported || response.extensionRegistered === false) {
                // This browser does not support screen sharing.
            } 
            
            else if (response.extensionInstalled === false) 
            {
                // Prompt to install the extension.
            } 
            
            else {
                // Screen sharing is available. Publish the screen.
                var publisher = OT.initPublisher('screen-preview',
                    { 
                        videoSource: 'screen',
                        insertMode: 'append',
                        width: '100%',
                        height: '100%',
                    
                    },
                    handleError
                );

                session.connect(token, function (error) {
                    // If the connection is successful, publish to the session
                    if (error) {
                        handleError(error);
                    } else {
                        console.log("publishing")
                        session.publish(publisher, handleError);
                    }
                });
                
            }
        });
    {% endif %}


    session.on({
            connectionCreated: function (event) {
                connectionCount++;
                console.log(connectionCount + ' connections.');
                document.getElementById("viewers").innerHTML = connectionCount
            },
            connectionDestroyed: function (event) {
                connectionCount--;
                console.log(connectionCount + ' connections.');
                document.getElementById("viewers").innerHTML = connectionCount
            },
            sessionDisconnected: function sessionDisconnectHandler(event) {
                // The event is defined by the SessionDisconnectEvent class
                console.log('Disconnected from the session.');
                document.getElementById('disconnectBtn').style.display = 'none';
                if (event.reason == 'networkDisconnected') {
                    alert('Your network connection terminated.')
                }
            }
        });

</script>
{% endblock scripts %}

{% block content %}





<div class="row justify-content-center" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 col-md-12 col-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="margin:20px;" id="fullscreen_panel">

                <div class="row justify-content-center" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-9 align-middle">
                                <h2 style="color: rgb(96, 96, 96);">You're Live.</h2>
                            </div>
                            <div class="col-3">
                                <div id="bm" style="max-width: 30px;padding-top: 5px;" class="pull-right"></div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if facing_mode == 'user' or facing_mode == 'environment' %}
                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <div id="publisher"></div>
                    </div>
                </div>
                {% endif %}

                {% if facing_mode == 'screen' %}
                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <div id="screen-preview"></div>
                    </div>
                </div>
                {% endif %}

                <div class="row justify-content-center" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <p><span id="viewers"></span> Viewers</p>
                    </div>
                </div>
                
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-md-4">
                        <a class="btn btn-block btn-danger" href="{{ event.get_event_dashboard }}">End Live Event</a>
                    </div>

                    {% if facing_mode == 'screen' %}
                    <div class="col-md-4">
                        <a class="btn btn-block btn-info" href="{{ event_live.get_live_user_view }}">Front Camera</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-block btn-info" href="{{ event_live.get_live_environment_view }}">Rear Camera</a>
                    </div>
                    {% endif %}

                    {% if facing_mode == 'user' %}
                    <div class="col-md-4">
                        <a class="btn btn-block btn-info" href="{{ event_live.get_live_screen_view }}">Screen View</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-block btn-info" href="{{ event_live.get_live_environment_view }}">Rear Camera</a>
                    </div>
                    {% endif %}

                    {% if facing_mode == 'environment' %}
                    <div class="col-md-4">
                        <a class="btn btn-block btn-info" href="{{ event_live.get_live_screen_view }}">Screen View</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-block btn-info" href="{{ event_live.get_live_user_view }}">Front Camera</a>
                    </div>
                    {% endif %}

                    
                </div>

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <button class="btn btn-danger" onclick="openFullscreen();" id="open_full">Open Full Screen</button>
                        <button class="btn btn-danger" onclick="closeFullscreen();" id="close_full" style="display: none;">Close Full Screen</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}