{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Virtual Event
{% endblock title %}


{% block styles %}
<style>
    .blinking{
        animation:blinkingText 1.2s infinite;
    }
    @keyframes blinkingText{
        0%{     color: #fff;    }
        49%{    color: #fff; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #fff;    }
    }
</style>
{% endblock styles %}


{% block scripts %}
<script>

    function copyToClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("id_presenter_link");
        console.log(copyText)

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    } 


    function copyToClipboardViewer() {
        /* Get the text field */
        var copyText = document.getElementById("id_viewer_link");
        console.log(copyText)

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }

    function copyToClipboardSecret() {
        /* Get the text field */
        var copyText = document.getElementById("id_secret_link");
        console.log(copyText)

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }

    function copyToClipboardSecretArchive() {
        /* Get the text field */
        var copyText = document.getElementById("id_secret_archive_link");
        console.log(copyText)

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }


    function ajaxUpdateTicketOption(object) {

        var token = '{{ csrf_token }}';

        $.ajax({

            type: "POST",
            headers: { "X-CSRFToken": token },
            url: '{{ request.path }}',

            data: {
                'value': object.checked
            },

            success: function (data) {
                console.log(data)

            }
        });

    }


    function ajaxRefreshSecret(object) {

        var token = '{{ csrf_token }}';

        $.ajax({

            type: "POST",
            headers: { "X-CSRFToken": token },
            url: '{{ request.path }}',

            data: {
                'refresh': true
            },

            success: function (data) {
                console.log(data)

            }
        });

        window.location.reload(true);

    }


    function ajaxUpdateArchiveOption(object) {

        var token = '{{ csrf_token }}';

        $.ajax({

            type: "POST",
            headers: { "X-CSRFToken": token },
            url: '{{ request.path }}',

            data: {
                'archive': object.checked
            },

            success: function (data) {
                console.log(data)

            }
        });

    }


    function ajaxRefreshArchiveSecret(object) {

        var token = '{{ csrf_token }}';

        $.ajax({

            type: "POST",
            headers: { "X-CSRFToken": token },
            url: '{{ request.path }}',

            data: {
                'refresh_archive': true
            },

            success: function (data) {
                console.log(data)

            }
        });

        window.location.reload(true);

    }
</script>
{% endblock scripts %}



{% block content %}
<div class="row justify-content-center" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 col-md-12 col-12">

        <div class="alert alert-info" role="alert">
            <p>We at Arqam House feel honoured to have been able to help all of our houses enjoy free virtual events in the month of
            Ramadan. We are continuing to provide an extension on free virtual events for houses that are struggling through this
            pandemic by request. Pricing for live video can be found <a href="{% url 'pricing' %}" style="color: lightblue;">here</a>. 
            Please contact us at <a href="mailto:info@arqamhouse.com" style="color: lightblue;">info@arqamhouse.com</a> for any questions you may have regarding this change.</p>
        </div>

        <div class="row justify-content-center" style="padding-bottom: 20px;">
            <div class="col-md-12">
                <a class="btn btn-success btn-block blinking" href="{{ event.get_live_event_presenter_view }}"
                    style="font-size: 20px;">Go Live</a>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="margin:20px;">

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <h4>Ticket access</h4>
                        <p>Turn on to allow guests into the virtual event without a ticket.</p>
                        <span class="kt-switch">
                            <label>
                                <input type="checkbox" {% if event.allow_non_ticket_live_viewers %}checked{% else %}{% endif %} name=""
                                    style="user-select: auto;" id="id_age" onchange="ajaxUpdateTicketOption(this);">
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h4>Presenter Link</h4>
                        <p>The URL event speakers/presenters will use.</p>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-9 col-12" style="padding-bottom: 10px;">
                        <input type="text" class="form-control m-input message" value="www.arqamhouse.com{{ event.get_live_event_presenter_view }}" required=""
                            maxlength="180" id="id_presenter_link" readonly>
                    </div>
                    <div class="col-md-3 col-12">
                        <button class="btn btn-primary btn-block" onclick="copyToClipboard();">
                            Copy</button>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h4>Viewer Link</h4>
                        <p>The URL your guests will use to attend the event.</p>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-9 col-12" style="padding-bottom: 10px;">
                        <input type="text" class="form-control m-input message"
                            value="www.arqamhouse.com{{ event.get_live_view }}" required="" maxlength="180"
                            id="id_viewer_link" readonly>
                    </div>
                    <div class="col-md-3 col-12">
                        <button class="btn btn-primary btn-block" onclick="copyToClipboardViewer();">
                            Copy</button>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <h4>Secret Link</h4>
                        <p>We've generated a secret link you can give whomever you choose. This link will grant anyone access to your live event so please keep it safe.</p>
                        <p>If you feel your link is compromised you can always refresh it below.</p>
                        <button class="btn btn-danger" onclick="ajaxRefreshSecret();">Refresh</button>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-9 col-12" style="padding-bottom: 10px;">
                        <input type="text" class="form-control m-input message" value="www.arqamhouse.com{{ event.get_live_view }}?secret={{ event.secret_live_id }}"
                            required="" maxlength="180" id="id_secret_link" readonly>
                    </div>
                    <div class="col-md-3 col-12">
                        <button class="btn btn-primary btn-block" onclick="copyToClipboardSecret();">
                            Copy</button>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 50px;">
                    <div class="col-md-12">
                        <h4>Virtual Event Comments</h4>
                        <p>Manage your virtual event comments.</p>
                        <a class="btn btn-info btn-block" href="{{ event.get_live_comments_view }}">Virtual Event Comments</a>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 50px;">
                    <div class="col-md-12">
                        <h4>Go To Archived Videos</h4>
                        <p>Click the button to go to archives.</p>
                        <a class="btn btn-warning btn-block" href="{{ event.get_archives_view }}">Go to archives</a>
                    </div>
                </div>

                <div class="row justify-content-center" style="padding-bottom: 30px;">
                    <div class="col-md-12">
                        <h4>Archive access</h4>
                        <p>Turn off to prevent access to archives.</p>
                        <span class="kt-switch">
                            <label>
                                <input type="checkbox" {% if event.allow_non_ticket_archive_viewers %}checked{% else %}{% endif %} name=""
                                    style="user-select: auto;" id="id_age" onchange="ajaxUpdateArchiveOption(this);">
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>


                <div class="row justify-content-center" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <h4>Secret Archive Link</h4>
                        <p>We've generated a secret link you can give whomever you choose. This link will grant anyone access to your
                            archived event so please keep it safe.</p>
                        <p>If you feel your link is compromised you can always refresh it below.</p>
                        <button class="btn btn-danger" onclick="ajaxRefreshArchiveSecret();">Refresh</button>
                    </div>
                </div>
                
                <div class="row justify-content-center" style="padding-bottom: 50px;">
                    <div class="col-md-9 col-12" style="padding-bottom: 10px;">
                        <input type="text" class="form-control m-input message"
                            value="www.arqamhouse.com{{ event.get_archives_view }}?secret={{ event.secret_archive_id }}" required=""
                            maxlength="180" id="id_secret_archive_link" readonly>
                    </div>
                    <div class="col-md-3 col-12">
                        <button class="btn btn-primary btn-block" onclick="copyToClipboardSecretArchive();">
                            Copy</button>
                    </div>
                </div>

                {% for broadcast in event_live_broadcasts %}
                <div class="row justify-content-center" style="padding-bottom: 10px;">
                    <div class="col-8">
                        <h4>{{ broadcast.name }}</h4>
                        <p class="lead">{% if broadcast.facebook_url %}<i class="la la-facebook" style="font-size: 1em;"></i> Facebook Stream{% else %}<i class="la la-youtube" style="font-size: 1em;"></i> YouTube Stream{% endif %}</p>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-info btn-block align-middle" href="{{ broadcast.get_update_view }}">Edit</a>
                    </div>
                </div>
                {% endfor %}

                <div class="row justify-content-center" style="padding-bottom: 10px;padding-top: 30px;">
                    <div class="col-md-6" style="padding-bottom: 20px;">
                        <a class="btn btn-danger btn-block" href="{{ event_live.create_youtube_broadcast_view }}">Add Youtube Stream</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-info btn-block" href="{{ event_live.create_facebook_broadcast_view }}">Add Facebook Stream</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}