{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
{{ event.title|safe }}
{% endblock title %}

{% block styles %}
<style>

    .blinking{
        animation:blinkingText 2.0s infinite;
    }
    @keyframes blinkingText{
        0%{     color: #e34a65;    }
        49%{    color: #e34a65; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #e34a65;    }
    }

    .option_icon {
        font-size: 1.5em;
    }

    .option_text {
        font-size: 8px;
    }


    .bg--googleplus {
        color: #fc8080;
    }

    .bg--green-button {
        color: #4a90e2;
    }

    .bg--blue-button {
        color: #4a90e2;
    }

    .bg--dark-red {
        color: #e34a65;
    }


    .alert.bg--primary  {
        background: rgba(102, 191, 255, 0.2);
        border-color: transparent;
        color: #1c399e;
    }

    .alert.bg--private {
        background: rgba(176, 102, 255, 0.2);
        border-color: transparent;
        color: #8c20a0;
    }

    .alert.bg--success  {
        background: rgba(255, 138, 95, 0.2);
        border-color: transparent;
        color: #7f2707;
    }

    .row-padder {
        padding-bottom: 10px;
    }

    .OT_subscriber {
        height: 290px !important;
    }

    #publisher {
        height: 205px;
    }

    #screen-share {
        height: 225px;
    }

    .responsive_navigation_col {
        padding-right: 5px;
        padding-left: 5px;

    }

    .logo_responsive {
        max-height: 70px;
    }


    @media only screen and (min-width: 576px) {

        .OT_subscriber {
            height: 215px !important;
        }

        #publisher {
            height: 145px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 768px) {

        .OT_subscriber {
            height: 281px !important;
        }

        #publisher {
            height: 196px;
        }

        #screen-share {
            height: 225px;
        }

        .option_icon {
            font-size: 2em;
        }

        .option_text {
            font-size: 1em;
        }

        .responsive_navigation_col {
            padding-right: 15px;
            padding-left: 15px;
        }

        .logo_responsive {
            max-height: 80px;
        }

    }


    @media (min-width: 992px) {

        .OT_subscriber {
            height: 248px !important;
        }

        #publisher {
            height: 174px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 1200px) {

        .OT_subscriber {
            height: 293px !important;
        }

        #publisher {
            height: 207px;
        }

        #screen-share {
            height: 225px;
        }

    }
</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}

<!-- Video -->
<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>
    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';

    var connectionCount = -1;
    var streamAmount = 0;

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);

    // Check if screen sharing is available 
    OT.checkScreenSharingCapability(function (response) {
        if (!response.supported || response.extensionRegistered === false) {
            // This browser does not support screen sharing
            document.getElementById("screen_sharing_option").style.display = 'none';
            document.getElementById("environment_option").style.display = 'block';
            console.log("Screen sharing is not possible on this browser")

        }
        else {
            console.log("Screen sharing is possible on this browser")
        }
    });


    var screen_publisher = OT.initPublisher('dummy-screen-share',
        {
            videoSource: null,
            publishAudio: true,
            publishVideo: false,
            insertMode: 'replace',
            width: '0%',
            height: '0%',
            fitMode: 'contain',

        },
        handleError
    );


    // Create a publisher
    var publisher = OT.initPublisher('publisher', {

        insertMode: 'append',
        width: '100%',
        height: '100%',
        fitMode: 'contain',
        facingMode: 'user',
        publishAudio: true,
        resolution: '1280x720',
        name: "{{ profile.name }}",
        style: { nameDisplayMode: "on", buttonDisplayMode: "auto" },

    }, handleError);



    // Connect to the session
    session.connect(token, function (error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            console.log("publishing")
            session.publish(publisher, handleError);
        }
    });


    function muteAudio(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.publishAudio(false);
        }

        else {
            publisher.publishAudio(true);
        }

    }


    function hideVideo(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.publishVideo(false);
        }

        else {
            publisher.publishVideo(true);
        }

    }


    function rearCamera(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.destroy();
            publisher = OT.initPublisher('publisher', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                fitMode: 'contain',
                facingMode: 'environment',
                publishAudio: true,
                resolution: '1280x720',
                name: "{{ profile.name }}",
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

            }, handleError);

            session.publish(publisher, handleError);
        }

        else {
            publisher.destroy();
            publisher = OT.initPublisher('publisher', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                fitMode: 'contain',
                facingMode: 'user',
                publishAudio: true,
                resolution: '1280x720',
                name: "{{ profile.name }}",
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

            }, handleError);

            session.publish(publisher, handleError);
        }

    }

    publisher.on("streamDestroyed", function (event) {
        
        console.log("The publisher stopped streaming.");
        streamAmount--;
    });


    publisher.on({
        streamDestroyed: function (event) {
            if (event.reason === 'networkDisconnected') {
                console.log('Your publisher lost its connection. Please check your internet connection and try publishing again.');
                window.location.reload(true);
            }
        }
    });


    function shareScreen(object) {

        console.log(object.checked)
        var checked = object.checked

        if (checked) {
            console.log("It came to the shareScreen function");
            document.getElementById("screen-share").style.display = 'block';

            screen_publisher = OT.initPublisher('screen-share',
                {
                    videoSource: 'screen',
                    publishVideo: true,
                    insertMode: 'append',
                    width: '100%',
                    height: '100%',
                    fitMode: 'contain',
                    name: "{{ profile.name }}",
                },
                handleError
            );

            session.publish(screen_publisher, handleError);
        }

        else {
            console.log("screen share was unpublished");
            session.unpublish(screen_publisher);
            document.getElementById("screen-share").style.display = 'none';
        }
    
    }



    screen_publisher.on('mediaStopped', function (event) {
        // The user clicked stop.
        console.log("screen share was destroyed");
        document.getElementById("screen-sharing-check").checked = false;

    });

    screen_publisher.on('streamDestroyed', function (event) {

        console.log("screen share was destroyed");
        document.getElementById("screen-sharing-check").checked = false;

        if (event.reason === 'mediaStopped') {
            // User clicked stop sharing
            console.log("media Stopped");
        } else if (event.reason === 'forceUnpublished') {
            // A moderator forced the user to stop sharing.
            console.log("Forced");
        }
        else {
            console.log("else")
        }

        streamAmount--;
    });
    


    session.on({
        connectionCreated: function (event) {
            connectionCount++;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount
            refreshParticipants();

        },
        connectionDestroyed: function (event) {
            connectionCount--;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount
            refreshParticipants();
        },

        sessionDisconnected: function sessionDisconnectHandler(event) {
            // The event is defined by the SessionDisconnectEvent class
            console.log('Disconnected from the session.');
            // document.getElementById('disconnectBtn').style.display = 'none';
            if (event.reason == 'networkDisconnected') {
                alert('Your network connection terminated.')
            }
        }


    });


    // Subscribe to a newly created stream
    session.on('streamCreated', function (event) {

        if (event.stream.videoType == 'screen') {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'after',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on", buttonDisplayMode: "auto" },
            }, handleError);
        }

        else {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'after',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on", buttonDisplayMode: "auto" },
            }, handleError);
        }

        subscriberFrames = document.querySelectorAll('.OT_subscriber');
        for (var i = 0; i < subscriberFrames.length; i++) {
            subscriberFrames[i].classList.add('col-lg-12');
            subscriberFrames[i].classList.add('col-sm-6');
            subscriberFrames[i].classList.add('col-12');
            subscriberFrames[i].classList.add('row-padder');
        }

        streamAmount++;

    });

</script>

<script>
    let elementsArray = document.querySelectorAll("OT_subscriber");

    elementsArray.forEach(function (elem) {
        elem.addEventListener("click", function () {
            elem.classList.remove("col-6");
            elem.classList.add('col-12');
        });
    });
</script>


<!-- Chat -->
<script>

    function scrollToBottom() {
        childArea = document.getElementById("chat-area");
        childArea.scrollTop = childArea.scrollHeight;
    }

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/chat/' + slug)
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + slug);
    {% else %}
    var chatSocket = new WebSocket('wss://' + window.location.host + '/ws/chat/' + slug);
    {% endif %}

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        var user = data['user'];
        var name = data['name'];
        var private_message = data["private_message"];

        console.log("The name is");
        console.log(name);


        // create a new div element 
        var newDiv = document.createElement("div");

        if (private_message) {
            newDiv.className = 'alert bg--private';
        }

        else {
            if (user == '{{ request.user }}') {
                newDiv.className = 'alert bg--primary';
            }
            else {
                newDiv.className = 'alert bg--success';
            }
        }
        

        newDiv.style = 'border-radius: 6px;padding: 5px;margin-bottom: 10px;'

        var childDiv = document.createElement("div");
        childDiv.className = 'alert__body';
        // childDiv.innerHTML = message;


        // Add Message
        var message_para = document.createElement("span");
        message_para.innerText = message;
        message_para.style = 'margin-bottom: 0px;';
        childDiv.appendChild(message_para);

        // Add User
        var user_para = document.createElement("span");
        user_para.innerText = name;
        user_para.style = 'margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block';
        childDiv.appendChild(user_para);


        newDiv.appendChild(childDiv);
        childArea = document.getElementById("chat-area");
        childArea.appendChild(newDiv);


        childArea.scrollTop = childArea.scrollHeight;
        // play();


    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };


    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var user = '{{ profile.email }}';
        var name = '{{ profile.name }}';
        var message = messageInputDom.value;

        if (message != '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
                'name': name,
                'private_message': false,
            }));
        }

        messageInputDom.value = '';
    };


</script>



<!-- Live Event Fee -->
<script>

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/live-event-fee/' + slug)
    var chatSocket2 = new WebSocket('ws://' + window.location.host + '/ws/live-event-fee/' + slug);
    {% else %}
    var chatSocket2 = new WebSocket('wss://' + window.location.host + '/ws/live-event-fee/' + slug);
    {% endif %}

    chatSocket2.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
    };

    chatSocket2.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };


    function feeUpdate() {

        participants = connectionCount;
        stream_amount = streamAmount;

        record_element = document.getElementById("record_button");
        if (record_element.classList.contains('bg--green-button')) {
            recording = false;
        }
        else {
            recording = true;
        }

        {% if event_live_broadcasts %}
        broadcast_element = document.getElementById("broadcast_button");
        if (broadcast_element.classList.contains('bg--blue-button')) {
            broadcasting = false;
        }
        else {
            broadcasting = true;
        }
        {% else %}
        broadcasting = false;
        {% endif %}

        console.log(stream_amount);
        console.log(recording);
        console.log(broadcasting);
        console.log(participants);


        chatSocket2.send(JSON.stringify({
            'stream_amount': stream_amount,
            'recording': recording,
            'broadcasting': broadcasting,
            'participants': participants
        }));

    };

    setInterval(feeUpdate, 120000);
    
    
</script>



<!-- Live Participants Viewing -->
<script>

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/live-participants/' + slug)
    var chatSocket3 = new WebSocket('ws://' + window.location.host + '/ws/live-participants/' + slug);
    {% else %}
    var chatSocket3 = new WebSocket('wss://' + window.location.host + '/ws/live-participants/' + slug);
    {% endif %}

    chatSocket3.onmessage = function (e) {
        var data = JSON.parse(e.data);

        console.log("The viewers are");
        console.log(data);

        var token = '{{ csrf_token }}';
        const url = "{% url 'events:ajax_load_audience' %}";

        let post_data = {
            slug: slug
        }

        let fetchData = {
            method: 'POST',
            body: JSON.stringify(post_data),
            credentials: 'include',
            headers: {
                'X-CSRFToken': token,
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest'
            },

        }


        fetch(url, fetchData)
            .then(
                function (response) {
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                        return;
                    }

                    // Examine the text in the response
                    response.json().then(function (response_data) {
                        console.log(response_data)
                        document.getElementById("live-participants").innerHTML = response_data['html'];
                    });
                }
            )
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
        
    };


    chatSocket3.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };


    function refreshParticipants() {

        chatSocket3.send(JSON.stringify({
            'user': null,
            'name': null,
            'adding': null,
            'refresh_participants': true,
        }));

    };


</script>



<script>

// 5400
var timeleft = 5400;
var timer = 0;


function toggleRecord(object) {

    var token = '{{ csrf_token }}';

    if (object.classList.contains('bg--green-button')) {
        document.getElementById("recording_text").innerHTML = "Recording"
        document.getElementById("recording_icon").classList.add('blinking');
        object.classList.add('bg--dark-red');
        object.classList.remove('bg--green-button');
        record = true;
        // 5400000
        setTimeout(stopRecordingTimeLimit, 5400000);
        
        timer = setInterval(myTimer, 1000);
        timeleft = timeleft - 1;
        
    } else {
        document.getElementById("recording_icon").classList.remove('blinking');
        object.classList.remove('bg--dark-red'); 
        document.getElementById("recording_text").innerHTML = "Record"
        object.classList.add('bg--green-button');
        console.log("It came block")
        record = false;
        resetTimer();
    }

    changeButtonStates();

    console.log(record);
    const url = '{{ request.path }}';

    let data = {
        record: record
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(function () {
            // Handle response you get from the server
            console.log("Success")
        });

}


function myTimer() {
    // 5400
    // document.getElementById("progressBar").value = 5400 - timeleft;
    timeleft = timeleft - 1;
}

function resetTimer() {
    // 5400
    timeleft = 5400;
    clearInterval(timer);
    // document.getElementById("progressBar").value = 5400 - timeleft;
}

function stopRecordingTimeLimit() {
    document.getElementById("record_button").click();
    resetTimer();
}

</script>



<script>
function toggleBroadcast(object) {

    var token = '{{ csrf_token }}';


    if (object.classList.contains('bg--blue-button')) {
        document.getElementById("broadcast_text").innerHTML = "Broadcasting"
        document.getElementById("broadcast_icon").classList.add('blinking');
        object.classList.add('bg--dark-red');
        object.classList.remove('bg--blue-button');
        broadcast = true;
    } else {
        document.getElementById("broadcast_icon").classList.remove('blinking');
        object.classList.remove('bg--dark-red');
        document.getElementById("broadcast_text").innerHTML = "Broadcast"
        object.classList.add('bg--blue-button');
        console.log("It came block")
        broadcast = false;
    }

    changeButtonStates();

    console.log(broadcast);
    const url = '{{ request.path }}';

    let data = {
        broadcast: broadcast
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(function () {
            // Handle response you get from the server
            console.log("Success")
        });

}
</script>



<script>
function eventLiveFeeCalculations() {

    participants = connectionCount;
    stream_amount = streamAmount;

    record_element = document.getElementById("record_button");
    if (record_element.classList.contains('bg--green-button')) {
        recording = false;
    }
    else {
        recording = true;
    }

    {% if event_live_broadcasts %}
    broadcast_element = document.getElementById("broadcast_button");
    if (broadcast_element.classList.contains('bg--blue-button')) {
        broadcasting = false;
    }
    else {
        broadcasting = true;
    }
    {% else %}
    broadcasting = false;
    {% endif %}

    console.log(stream_amount);
    console.log(recording);
    console.log(broadcasting);
    console.log(participants);

    var token = '{{ csrf_token }}';
    const url = '{{ request.path }}';

    let data = {
        stream_amount: stream_amount,
        participants: participants,
        recording: recording,
        broadcasting: broadcasting,
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(function () {
            // Handle response you get from the server
            console.log("Success")
        });

}

</script>




<!-- Handle Record button and Broadcast button -->
<script>

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/buttons/' + slug)
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/buttons/' + slug);
    {% else %}
    var chatSocket = new WebSocket('wss://' + window.location.host + '/ws/buttons/' + slug);
    {% endif %}

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var record_button = data['record_button'];
        var broadcast_button = data['broadcast_button'];

        record_element = document.getElementById("record_button");

        if (record_button) {
            
            if (record_element.classList.contains('bg--green-button')) {
                document.getElementById("recording_text").innerHTML = "Recording"
                document.getElementById("recording_icon").classList.add('blinking');
                record_element.classList.add('bg--dark-red');
                record_element.classList.remove('bg--green-button');
            }
        }

        else {

            if (record_element.classList.contains('bg--dark-red')) {
                document.getElementById("recording_icon").classList.remove('blinking');
                record_element.classList.remove('bg--dark-red');
                document.getElementById("recording_text").innerHTML = "Record"
                record_element.classList.add('bg--green-button');
            }

        }

        {% if event_live_broadcasts %}
        broadcast_element = document.getElementById("broadcast_button");
        if (broadcast_button) {

            if (broadcast_element.classList.contains('bg--blue-button')) {
                document.getElementById("broadcast_text").innerHTML = "Broadcasting"
                document.getElementById("broadcast_icon").classList.add('blinking');
                broadcast_element.classList.add('bg--dark-red');
                broadcast_element.classList.remove('bg--blue-button');
            }
        }

        else {

            if (broadcast_element.classList.contains('bg--dark-red')) {
                document.getElementById("broadcast_icon").classList.remove('blinking');
                broadcast_element.classList.remove('bg--dark-red');
                document.getElementById("broadcast_text").innerHTML = "Broadcast"
                broadcast_element.classList.add('bg--blue-button');
            }

        }
        {% endif %}


    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    function changeButtonStates () {

        var record_button = false;
        var broadcast_button = false;

        record_element = document.getElementById("record_button");
        if (record_element.classList.contains('bg--green-button')) {
            record_button = false;
        }
        else {
            record_button = true;
        }

        {% if event_live_broadcasts %}
        broadcast_element = document.getElementById("broadcast_button");
        if (broadcast_element.classList.contains('bg--blue-button')) {
            broadcast_button = false;
        }
        else {
            broadcast_button = true;
        }
        {% else %}
        broadcast_button = false;
        {% endif %}

        chatSocket.send(JSON.stringify({
            'record_button': record_button,
            'broadcast_button': broadcast_button,
        }));

    };


    function setButttonOnLoad () {

        {% if event_live.recording %}
        record_element = document.getElementById("record_button");
        document.getElementById("recording_text").innerHTML = "Recording"
        document.getElementById("recording_icon").classList.add('blinking');
        record_element.classList.add('bg--dark-red');
        record_element.classList.remove('bg--green-button');
        {% endif %}

        {% if event_live.broadcasting %}
        broadcast_element = document.getElementById("broadcast_button");
        document.getElementById("broadcast_text").innerHTML = "Broadcasting"
        document.getElementById("broadcast_icon").classList.add('blinking');
        broadcast_element.classList.add('bg--dark-red');
        broadcast_element.classList.remove('bg--blue-button');
        {% endif %}
    }

    window.onload = setButttonOnLoad();


</script>

{% endblock scripts %}

{% block content %}
<section style="padding-top: 3em;padding-bottom:0px;">
    <div class="container">

        <div class="row text-center" style="padding: 0 10px;padding-bottom: 20px;">
            <div class="col-lg-2 col-md-4 col-4 responsive_navigation_col">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                    <a href="{{ event.get_live_options_view }}">
                        <i class="far fa-stop-circle option_icon" style="color: #e24a66;"></i>
                        <p style="margin-bottom: 0px;color: #e24a66;" class="option_text">Leave</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4 responsive_navigation_col">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                    <a href="javascript:;" id="record_button" class="bg--green-button" onclick="toggleRecord(this);">
                        <i class="fas fa-video option_icon" id="recording_icon"></i>
                        <p style="margin-top: 0px;margin-bottom: 0px;" id="recording_text" class="option_text">Record</p>
                    </a>
                </div>
            </div>
            {% if event_live_broadcasts %}
            <div class="col-lg-2 col-md-4 col-4 responsive_navigation_col">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                    <a href="javascript:;" id="broadcast_button" class="bg--blue-button" onclick="toggleBroadcast(this);">
                        <i class="fas fa-broadcast-tower option_icon" id="broadcast_icon"></i>
                        <p style="margin-top: 0px;margin-bottom: 0px;" id="broadcast_text" class="option_text">Broadcast</p>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-2 col-md-4 col-4 responsive_navigation_col">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                    <a href="{{ event.get_resources_view }}" target="_blank">
                        <i class="far fa-file-alt option_icon" style="color: #4a90e2;"></i>
                        <p style="margin-top: 0px;margin-bottom: 0px;" class="option_text">Resources</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4 responsive_navigation_col">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                    <a href="{{ event.get_archives_view }}" target="_blank">
                        <i class="fas fa-archive option_icon" style="color: #4a90e2;"></i>
                        <p style="margin-top: 0px;margin-bottom: 0px;" class="option_text">Recordings</p>
                    </a>
                </div>
            </div>
            {% if event.house.allow_donations %}
            <div class="col-lg-2 col-md-4 col-4 responsive_navigation_col">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px;padding: 20px;border-radius: 15px;margin-bottom: 20px;">
                    <a href="{{ event.house.get_public_donations_url }}" target="_blank">
                        <i class="far fa-heart option_icon" style="color: #4a90e2;"></i>
                        <p style="margin-top: 0px;margin-bottom: 0px;" class="option_text">Donate</p>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- <div class="row text-center d-none d-md-block" style="padding-bottom: 20px;">
            <div class="col-12">
                <progress value="0" max="5400" id="progressBar" style="width: 100%;"></progress>
            </div>
        </div> -->

        <div class="row" style="padding-bottom: 20px;">
            
            <!-- Publisher -->
            <div class="col-lg-4 col-12">

                <div class="row justify-content-center" style="padding-bottom: 20px;">
                    <div class="col-lg-12 col-md-6 col-sm-6" id="publisher" style="padding-bottom: 10px;">
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6" id="screen-share" style="display: none;">
                        <div id="dummy-screen-share" style="display: none;"></div>
                    </div>
                </div>

                <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                    <div class="col-4 align-self-center" id="screen_sharing_option">
                
                        <div class="input-checkbox input-checkbox--switch">
                            <input type="checkbox" id="screen-sharing-check"
                                onchange="shareScreen(this);">
                            <label for="screen-sharing-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Share Screen</p>
                
                    </div>
                    <div class="col-4 align-self-center" id="environment_option" style="display: none;">
                    
                        <div class="input-checkbox input-checkbox--switch">
                            <input type="checkbox" id="environment-check" onchange="rearCamera(this);">
                            <label for="environment-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Rear Camera</p>
                    
                    </div>
                    <div class="col-4">
                        <div class="input-checkbox input-checkbox--switch">
                            <input id="mute-audio-check" type="checkbox" onchange="muteAudio(this);">
                            <label for="mute-audio-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Mute Audio</p>
                    </div>
                    <div class="col-4">
                        <div class="input-checkbox input-checkbox--switch">
                            <input id="hide-video-check" type="checkbox" onchange="hideVideo(this);">
                            <label for="hide-audio-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Hide Video</p>
                    </div>
                
                </div>

                <div class="row justify-content-center text-center" style="padding-bottom: 10px;">
                    <div class="col-sm-12 col-10" style="padding: 0px;">
                        <p class="lead" style="color: #4a90e2;">Viewers: <span id="viewers" style="font-weight:800;"></span></p>
                    </div>
                </div>

            </div>

            <!-- Spotlight -->
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div id="subscriber"></div>
                </div>
            </div>
                    
            
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="row justify-content-center" style="padding-bottom: 20px;">
                            <div class="col-md-12 col-10">
                                <div id="chat-area" class="overflow-auto" style="max-height: 300px;">
                                    {% for comment in event_live_comments %}
                                    <div class="alert {% if comment.private %}bg--private{% else %}{% if profile.email == comment.profile.email %}bg--primary{% else %}alert bg--success{% endif %}{% endif %}" style="padding: 5px;margin-bottom: 10px;">
                                        <div class="alert__body">
                                            <span style="margin-bottom: 0px;">{{ comment.comment }}</span>
                                            <span
                                                style="margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block">{% if comment.private %}Presenters and {{ comment.profile.name }} only{% else %}{{ comment.profile.name }}{% endif %}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <input id="chat-message-input" type="text" size="100" /><br />
                            </div>
                        </div>
                        
                        <div class="row justify-content-center" style="padding-bottom: 50px;">
                            <div class="col-md-12 col-10">
                                <button id="chat-message-submit" type="button" value="Send" class="btn btn--primary btn-block"><span
                                        class="btn__text">Send</span></button>
                            </div>
                        </div>

                        <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                            <div class="col-sm-12 col-10">
                                {% if house.logo %}
                                <a href="{{ house.get_home_page_url }}">
                                    <img class="logo_responsive" src="{{ house.logo.url }}">
                                </a>
                                {% endif %}
                                <p class="lear" style="margin-bottom: 0px;">{{ house.name }}</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
            <div class="col-md-12">
                <p class="lead" style="color: #4a90e2;">Audience</p>
            </div>
        </div>

        <div class="row justify-content-center overflow-auto" id="live-participants" style="max-height: 400px;">
            {% for audience in event_live.live_audience.all %}
            <div class="col-lg-2 col-md-4 col-5 text-center " style="background-color: rgba(102, 191, 255, 0.2);padding: 20px;border-radius: 30px;">
                <p style="font-size: small;">{{ audience.name }}</p>
            </div>
            {% endfor %}
        </div>
        


    </div>
</section>
{% endblock content %}