{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
{{ event.title|safe }}
{% endblock title %}

{% block styles %}
<style>

    .alert.bg--primary  {
        background: rgba(102, 191, 255, 0.2);
        border-color: transparent;
        color: #1c399e;
    }

    .alert.bg--success  {
        background: rgba(255, 138, 95, 0.2);
        border-color: transparent;
        color: #7f2707;
    }

    .row-padder {
        padding-bottom: 10px;
    }

    .OT_subscriber {
        height: 290px !important;
    }

    #publisher {
        height: 290px;
    }

    #screen-share {
        height: 225px;
    }


    @media only screen and (min-width: 576px) {

        .OT_subscriber {
            height: 215px !important;
        }

        #publisher {
            height: 200px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 768px) {

        .OT_subscriber {
            height: 281px !important;
        }

        #publisher {
            height: 269px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 992px) {

        .OT_subscriber {
            height: 248px !important;
        }

        #publisher {
            height: 235px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 1200px) {

        .OT_subscriber {
            height: 293px !important;
        }

        #publisher {
            height: 280px;
        }

        #screen-share {
            height: 225px;
        }

    }
</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}

<!-- Video -->
<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>
    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';

    var connectionCount = -1;

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);

    // Check if screen sharing is available 
    OT.checkScreenSharingCapability(function (response) {
        if (!response.supported || response.extensionRegistered === false) {
            // This browser does not support screen sharing
            document.getElementById("screen_sharing_option").style.display = 'none';
            document.getElementById("environment_option").style.display = 'block';
            console.log("Screen sharing is not possible on this browser")

        }
        else {
            console.log("Screen sharing is possible on this browser")
        }
    });


    var screen_publisher = OT.initPublisher('dummy-screen-share',
        {
            videoSource: null,
            publishAudio: false,
            publishVideo: false,
            insertMode: 'replace',
            width: '0%',
            height: '0%',
            fitMode: 'contain',

        },
        handleError
    );


    // Create a publisher
    var publisher = OT.initPublisher('publisher', {

        insertMode: 'append',
        width: '100%',
        height: '100%',
        fitMode: 'contain',
        facingMode: 'user',
        publishAudio: true,
        name: "{{ profile.name }}",
        style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

    }, handleError);



    // Connect to the session
    session.connect(token, function (error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            console.log("publishing")
            session.publish(publisher, handleError);
        }
    });


    function muteAudio(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.publishAudio(false);
        }

        else {
            publisher.publishAudio(true);
        }

    }


    function hideVideo(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.publishVideo(false);
        }

        else {
            publisher.publishVideo(true);
        }

    }


    function rearCamera(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.destroy();
            publisher = OT.initPublisher('publisher', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                fitMode: 'contain',
                facingMode: 'environment',
                publishAudio: true,
                name: "{{ profile.name }}",
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

            }, handleError);

            session.publish(publisher, handleError);
        }

        else {
            publisher.destroy();
            publisher = OT.initPublisher('publisher', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                fitMode: 'contain',
                facingMode: 'user',
                publishAudio: true,
                name: "{{ profile.name }}",
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

            }, handleError);

            session.publish(publisher, handleError);
        }

    }

    publisher.on("streamDestroyed", function (event) {
        
        console.log("The publisher stopped streaming.");
    });



    function shareScreen(object) {

        console.log(object.checked)
        var checked = object.checked

        if (checked) {
            console.log("It came to the shareScreen function");
            document.getElementById("screen-share").style.display = 'block';

            screen_publisher = OT.initPublisher('screen-share',
                {
                    videoSource: 'screen',
                    publishVideo: true,
                    insertMode: 'append',
                    width: '100%',
                    height: '100%',
                    fitMode: 'contain',
                    name: "{{ profile.name }}",
                },
                handleError
            );

            session.publish(screen_publisher, handleError);
        }

        else {
            console.log("screen share was unpublished");
            session.unpublish(screen_publisher);
            document.getElementById("screen-share").style.display = 'none';
        }
    
    }



    screen_publisher.on('mediaStopped', function (event) {
        // The user clicked stop.
        console.log("screen share was destroyed");
        document.getElementById("screen-sharing-check").checked = false;
    });

    screen_publisher.on('streamDestroyed', function (event) {

        console.log("screen share was destroyed");
        document.getElementById("screen-sharing-check").checked = false;

        if (event.reason === 'mediaStopped') {
            // User clicked stop sharing
            console.log("media Stopped");
        } else if (event.reason === 'forceUnpublished') {
            // A moderator forced the user to stop sharing.
            console.log("Forced");
        }
        else {
            console.log("else")
        }
    });
    


    // Subscribe to a newly created stream
    session.on('streamCreated', function (event) {

        if (event.stream.videoType == 'screen') {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'after',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },
            }, handleError);
        }

        else {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'after',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },
            }, handleError);
        }

        subscriberFrames = document.querySelectorAll('.OT_subscriber');
        for (var i = 0; i < subscriberFrames.length; i++) {
            subscriberFrames[i].classList.add('col-lg-12');
            subscriberFrames[i].classList.add('col-sm-6');
            subscriberFrames[i].classList.add('col-12');
            subscriberFrames[i].classList.add('row-padder');
        }


    });


    session.on({
        connectionCreated: function (event) {
            connectionCount++;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount

        },
        connectionDestroyed: function (event) {
            connectionCount--;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount
        },

        sessionDisconnected: function sessionDisconnectHandler(event) {
            // The event is defined by the SessionDisconnectEvent class
            console.log('Disconnected from the session.');
            // document.getElementById('disconnectBtn').style.display = 'none';
            if (event.reason == 'networkDisconnected') {
                alert('Your network connection terminated.')
            }
        }

    });

</script>

<script>
    let elementsArray = document.querySelectorAll("OT_subscriber");

    elementsArray.forEach(function (elem) {
        elem.addEventListener("click", function () {
            elem.classList.remove("col-6");
            elem.classList.add('col-12');
        });
    });
</script>


<!-- Chat -->
<script>

    function scrollToBottom() {
        childArea = document.getElementById("chat-area");
        childArea.scrollTop = childArea.scrollHeight;
    }

    // function play() {
    //     var audio = new Audio("https://res.cloudinary.com/arqamhouse/video/upload/v1585583467/when_zh3rtz.mp3");
    //     audio.play();
    // }

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/chat/' + slug)
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + slug);
    {% else %}
    var chatSocket = new WebSocket('wss://' + window.location.host + '/ws/chat/' + slug);
    {% endif %}

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        var user = data['user']


        // create a new div element 
        var newDiv = document.createElement("div");
        if (user == '{{ request.user }}') {
            newDiv.className = 'alert bg--primary';
        }
        else {
            newDiv.className = 'alert bg--success';
        }

        newDiv.style = 'border-radius: 6px;padding: 5px;margin-bottom: 10px;'

        var childDiv = document.createElement("div");
        childDiv.className = 'alert__body';
        // childDiv.innerHTML = message;


        // Add Message
        var message_para = document.createElement("span");
        message_para.innerText = message;
        message_para.style = 'margin-bottom: 0px;';
        childDiv.appendChild(message_para);

        // Add User
        var user_para = document.createElement("span");
        user_para.innerText = user;
        user_para.style = 'margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block';
        childDiv.appendChild(user_para);


        newDiv.appendChild(childDiv);
        childArea = document.getElementById("chat-area");
        childArea.appendChild(newDiv);


        childArea.scrollTop = childArea.scrollHeight;
        // play();


    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        var user = '{{ request.user }}';
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'user': user
        }));

        messageInputDom.value = '';
    };
</script>

{% endblock scripts %}

{% block content %}
<section style="padding-top: 3em;padding-bottom:0px;">
    <div class="container" style="padding-right: 0px;padding-left: 0px;">


        <div class="row justify-content-center" style="padding-bottom: 10px;">
            <div class="col-sm-12 col-10" style="padding: 0px;">
                <a href="{{ event.get_live_options_view }}" class="btn bg--googleplus btn-block" style="color: white;">Stop Live</a>
            </div>
        </div>

        <div class="row justify-content-center text-center" style="padding-bottom: 30px;">
            <div class="col-sm-12 col-10" style="padding: 0px;">
                <p>Participants | <span id="viewers"></span></p>
            </div>
        </div>

        <div class="row">
            
            <!-- Publisher -->
            <div class="col-lg-4 col-12">

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-lg-12 col-md-6 col-sm-6" id="publisher" style="padding-bottom: 10px;">
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6" id="screen-share" style="display: none;">
                        <div id="dummy-screen-share" style="display: none;"></div>
                    </div>
                </div>

                <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                    <div class="col-4 align-self-center" id="screen_sharing_option">
                
                        <div class="input-checkbox input-checkbox--switch">
                            <input type="checkbox" id="screen-sharing-check"
                                onchange="shareScreen(this);">
                            <label for="screen-sharing-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Share Screen</p>
                
                    </div>
                    <div class="col-4 align-self-center" id="environment_option" style="display: none;">
                    
                        <div class="input-checkbox input-checkbox--switch">
                            <input type="checkbox" id="environment-check" onchange="rearCamera(this);">
                            <label for="environment-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Rear Camera</p>
                    
                    </div>
                    <div class="col-4">
                        <div class="input-checkbox input-checkbox--switch">
                            <input id="mute-audio-check" type="checkbox" onchange="muteAudio(this);">
                            <label for="mute-audio-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Mute Audio</p>
                    </div>
                    <div class="col-4">
                        <div class="input-checkbox input-checkbox--switch">
                            <input id="hide-video-check" type="checkbox" onchange="hideVideo(this);">
                            <label for="hide-audio-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Hide Video</p>
                    </div>
                
                </div>

            </div>

            <!-- Spotlight -->
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div id="subscriber"></div>
                </div>
            </div>
                    
            
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="row justify-content-center" style="padding-bottom: 20px;">
                            <div class="col-md-12 col-10">
                                <div id="chat-area" class="overflow-auto" style="max-height: 400px;" onmousemove="scrollToBottom();">
                                    {% for comment in event_live_comments %}
                                    <div class="alert {% if profile.email == comment.profile.email %}bg--primary{% else %}alert bg--success{% endif %}" style="padding: 5px;margin-bottom: 10px;">
                                        <div class="alert__body">
                                            <span style="margin-bottom: 0px;">{{ comment.comment }}</span>
                                            <span
                                                style="margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block">{{ comment.profile.email }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <input id="chat-message-input" type="text" size="100" /><br />
                            </div>
                        </div>
                        
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-10">
                                <button id="chat-message-submit" type="button" value="Send" class="btn btn--primary btn-block"><span
                                        class="btn__text">Send</span></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>
{% endblock content %}