{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
{{ event.title|safe }}
{% endblock title %}

{% block styles %}
<style>

    .blinking{
        animation:blinkingText 1.2s infinite;
    }
    @keyframes blinkingText{
        0%{     color: #fff;    }
        49%{    color: #fff; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #fff;    }
    }


    .bg--googleplus {
        background: #fc8080;
    }

    .bg--green-button {
        background: #44b682;
    }

    .bg--blue-button {
        background: #44abb6;
    }


    .alert.bg--primary  {
        background: rgba(102, 191, 255, 0.2);
        border-color: transparent;
        color: #1c399e;
    }

    .alert.bg--success  {
        background: rgba(255, 138, 95, 0.2);
        border-color: transparent;
        color: #7f2707;
    }

    .row-padder {
        padding-bottom: 10px;
    }

    .OT_subscriber {
        height: 290px !important;
    }

    #publisher {
        height: 290px;
    }

    #screen-share {
        height: 225px;
    }


    @media only screen and (min-width: 576px) {

        .OT_subscriber {
            height: 215px !important;
        }

        #publisher {
            height: 200px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 768px) {

        .OT_subscriber {
            height: 281px !important;
        }

        #publisher {
            height: 269px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 992px) {

        .OT_subscriber {
            height: 248px !important;
        }

        #publisher {
            height: 235px;
        }

        #screen-share {
            height: 225px;
        }

    }


    @media (min-width: 1200px) {

        .OT_subscriber {
            height: 293px !important;
        }

        #publisher {
            height: 280px;
        }

        #screen-share {
            height: 225px;
        }

    }
</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}

<!-- Video -->
<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>
    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';

    var connectionCount = -1;
    var streamAmount = 0;

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);

    // Check if screen sharing is available 
    OT.checkScreenSharingCapability(function (response) {
        if (!response.supported || response.extensionRegistered === false) {
            // This browser does not support screen sharing
            document.getElementById("screen_sharing_option").style.display = 'none';
            document.getElementById("environment_option").style.display = 'block';
            console.log("Screen sharing is not possible on this browser")

        }
        else {
            console.log("Screen sharing is possible on this browser")
        }
    });


    var screen_publisher = OT.initPublisher('dummy-screen-share',
        {
            videoSource: null,
            publishAudio: true,
            publishVideo: false,
            insertMode: 'replace',
            width: '0%',
            height: '0%',
            fitMode: 'contain',

        },
        handleError
    );


    // Create a publisher
    var publisher = OT.initPublisher('publisher', {

        insertMode: 'append',
        width: '100%',
        height: '100%',
        fitMode: 'contain',
        facingMode: 'user',
        publishAudio: true,
        name: "{{ profile.name }}",
        style: { nameDisplayMode: "on", buttonDisplayMode: "auto" },

    }, handleError);



    // Connect to the session
    session.connect(token, function (error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            console.log("publishing")
            session.publish(publisher, handleError);
        }
    });


    function muteAudio(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.publishAudio(false);
        }

        else {
            publisher.publishAudio(true);
        }

    }


    function hideVideo(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.publishVideo(false);
        }

        else {
            publisher.publishVideo(true);
        }

    }


    function rearCamera(object) {

        console.log(object.checked)
        var checked = object.checked
        if (checked) {
            publisher.destroy();
            publisher = OT.initPublisher('publisher', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                fitMode: 'contain',
                facingMode: 'environment',
                publishAudio: true,
                name: "{{ profile.name }}",
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

            }, handleError);

            session.publish(publisher, handleError);
        }

        else {
            publisher.destroy();
            publisher = OT.initPublisher('publisher', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                fitMode: 'contain',
                facingMode: 'user',
                publishAudio: true,
                name: "{{ profile.name }}",
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },

            }, handleError);

            session.publish(publisher, handleError);
        }

    }

    publisher.on("streamDestroyed", function (event) {
        
        console.log("The publisher stopped streaming.");
        streamAmount--;
    });



    function shareScreen(object) {

        console.log(object.checked)
        var checked = object.checked

        if (checked) {
            console.log("It came to the shareScreen function");
            document.getElementById("screen-share").style.display = 'block';

            screen_publisher = OT.initPublisher('screen-share',
                {
                    videoSource: 'screen',
                    publishVideo: true,
                    insertMode: 'append',
                    width: '100%',
                    height: '100%',
                    fitMode: 'contain',
                    name: "{{ profile.name }}",
                },
                handleError
            );

            session.publish(screen_publisher, handleError);
        }

        else {
            console.log("screen share was unpublished");
            session.unpublish(screen_publisher);
            document.getElementById("screen-share").style.display = 'none';
        }
    
    }



    screen_publisher.on('mediaStopped', function (event) {
        // The user clicked stop.
        console.log("screen share was destroyed");
        document.getElementById("screen-sharing-check").checked = false;

    });

    screen_publisher.on('streamDestroyed', function (event) {

        console.log("screen share was destroyed");
        document.getElementById("screen-sharing-check").checked = false;

        if (event.reason === 'mediaStopped') {
            // User clicked stop sharing
            console.log("media Stopped");
        } else if (event.reason === 'forceUnpublished') {
            // A moderator forced the user to stop sharing.
            console.log("Forced");
        }
        else {
            console.log("else")
        }

        streamAmount--;
    });
    


    session.on({
        connectionCreated: function (event) {
            connectionCount++;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount

        },
        connectionDestroyed: function (event) {
            connectionCount--;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount
        },

        sessionDisconnected: function sessionDisconnectHandler(event) {
            // The event is defined by the SessionDisconnectEvent class
            console.log('Disconnected from the session.');
            // document.getElementById('disconnectBtn').style.display = 'none';
            if (event.reason == 'networkDisconnected') {
                alert('Your network connection terminated.')
            }
        }


    });


    // Subscribe to a newly created stream
    session.on('streamCreated', function (event) {

        if (event.stream.videoType == 'screen') {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'after',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },
            }, handleError);
        }

        else {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'after',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on", buttonDisplayMode: "off" },
            }, handleError);
        }

        subscriberFrames = document.querySelectorAll('.OT_subscriber');
        for (var i = 0; i < subscriberFrames.length; i++) {
            subscriberFrames[i].classList.add('col-lg-12');
            subscriberFrames[i].classList.add('col-sm-6');
            subscriberFrames[i].classList.add('col-12');
            subscriberFrames[i].classList.add('row-padder');
        }

        streamAmount++;

    });

</script>

<script>
    let elementsArray = document.querySelectorAll("OT_subscriber");

    elementsArray.forEach(function (elem) {
        elem.addEventListener("click", function () {
            elem.classList.remove("col-6");
            elem.classList.add('col-12');
        });
    });
</script>


<!-- Chat -->
<script>

    function scrollToBottom() {
        childArea = document.getElementById("chat-area");
        childArea.scrollTop = childArea.scrollHeight;
    }

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/chat/' + slug)
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + slug);
    {% else %}
    var chatSocket = new WebSocket('wss://' + window.location.host + '/ws/chat/' + slug);
    {% endif %}

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        var user = data['user'];
        var name = data['name'];

        console.log("The name is");
        console.log(name);


        // create a new div element 
        var newDiv = document.createElement("div");
        if (user == '{{ request.user }}') {
            newDiv.className = 'alert bg--primary';
        }
        else {
            newDiv.className = 'alert bg--success';
        }

        newDiv.style = 'border-radius: 6px;padding: 5px;margin-bottom: 10px;'

        var childDiv = document.createElement("div");
        childDiv.className = 'alert__body';
        // childDiv.innerHTML = message;


        // Add Message
        var message_para = document.createElement("span");
        message_para.innerText = message;
        message_para.style = 'margin-bottom: 0px;';
        childDiv.appendChild(message_para);

        // Add User
        var user_para = document.createElement("span");
        user_para.innerText = name;
        user_para.style = 'margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block';
        childDiv.appendChild(user_para);


        newDiv.appendChild(childDiv);
        childArea = document.getElementById("chat-area");
        childArea.appendChild(newDiv);


        childArea.scrollTop = childArea.scrollHeight;
        // play();


    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        var user = '{{ profile.email }}';
        var name = '{{ profile.name }}'
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'user': user,
            'name': name,
        }));

        messageInputDom.value = '';
    };
</script>



<!-- Live Event Fee -->
<script>

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/live-event-fee/' + slug)
    var chatSocket2 = new WebSocket('ws://' + window.location.host + '/ws/live-event-fee/' + slug);
    {% else %}
    var chatSocket2 = new WebSocket('wss://' + window.location.host + '/ws/live-event-fee/' + slug);
    {% endif %}

    chatSocket2.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
    };

    chatSocket2.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };


    function feeUpdate() {

        participants = connectionCount;
        stream_amount = streamAmount;

        record_element = document.getElementById("record_button");
        if (record_element.classList.contains('bg--green-button')) {
            recording = false;
        }
        else {
            recording = true;
        }

        {% if event_live_broadcasts %}
        broadcast_element = document.getElementById("broadcast_button");
        if (broadcast_element.classList.contains('bg--blue-button')) {
            broadcasting = false;
        }
        else {
            broadcasting = true;
        }
        {% else %}
        broadcasting = false;
        {% endif %}

        console.log(stream_amount);
        console.log(recording);
        console.log(broadcasting);
        console.log(participants);


        chatSocket2.send(JSON.stringify({
            'stream_amount': stream_amount,
            'recording': recording,
            'broadcasting': broadcasting,
            'participants': participants
        }));

    };

    setInterval(feeUpdate, 120000);
    
    
</script>



<script>

// 5400
var timeleft = 5400;
var timer = 0;


function toggleRecord(object) {

    var token = '{{ csrf_token }}';


    if (object.innerHTML == "Record") {
        object.innerHTML = "Recording..."
        object.classList.add('blinking');
        object.classList.add('bg--pinterest');
        object.classList.remove('bg--green-button');
        record = true;
        // 5400000
        setTimeout(stopRecordingTimeLimit, 5400000);
        
        timer = setInterval(myTimer, 1000);
        timeleft = timeleft - 1;
        
    } else {
        object.classList.remove('blinking');
        object.classList.remove('bg--pinterest'); 
        object.innerHTML = "Record"
        object.classList.add('bg--green-button');
        console.log("It came block")
        record = false;
        resetTimer();
    }

    console.log(record);
    const url = '{{ request.path }}';

    let data = {
        record: record
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(function () {
            // Handle response you get from the server
            console.log("Success")
        });

}


function myTimer() {
    // 5400
    document.getElementById("progressBar").value = 5400 - timeleft;
    timeleft = timeleft - 1;
}

function resetTimer() {
    // 5400
    timeleft = 5400;
    clearInterval(timer);
    document.getElementById("progressBar").value = 5400 - timeleft;
}

function stopRecordingTimeLimit() {
    document.getElementById("record_button").click();
    resetTimer();
}

</script>



<script>
function toggleBroadcast(object) {

    var token = '{{ csrf_token }}';


    if (object.innerHTML == "Broadcast") {
        object.innerHTML = "Broadcasting..."
        object.classList.add('blinking');
        object.classList.add('bg--pinterest');
        object.classList.remove('bg--blue-button');
        broadcast = true;
    } else {
        object.classList.remove('blinking');
        object.classList.remove('bg--pinterest'); 
        object.innerHTML = "Broadcast"
        object.classList.add('bg--blue-button');
        console.log("It came block")
        broadcast = false;
    }

    console.log(broadcast);
    const url = '{{ request.path }}';

    let data = {
        broadcast: broadcast
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(function () {
            // Handle response you get from the server
            console.log("Success")
        });

}
</script>



<script>
function eventLiveFeeCalculations() {

    participants = connectionCount;
    stream_amount = streamAmount;

    record_element = document.getElementById("record_button");
    if (record_element.classList.contains('bg--green-button')) {
        recording = false;
    }
    else {
        recording = true;
    }

    {% if event_live_broadcasts %}
    broadcast_element = document.getElementById("broadcast_button");
    if (broadcast_element.classList.contains('bg--blue-button')) {
        broadcasting = false;
    }
    else {
        broadcasting = true;
    }
    {% else %}
    broadcasting = false;
    {% endif %}

    console.log(stream_amount);
    console.log(recording);
    console.log(broadcasting);
    console.log(participants);

    var token = '{{ csrf_token }}';
    const url = '{{ request.path }}';

    let data = {
        stream_amount: stream_amount,
        participants: participants,
        recording: recording,
        broadcasting: broadcasting,
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(function () {
            // Handle response you get from the server
            console.log("Success")
        });

}

</script>

{% endblock scripts %}

{% block content %}
<section style="padding-top: 3em;padding-bottom:0px;">
    <div class="container" style="padding-right: 0px;padding-left: 0px;">


        <div class="row justify-content-center" style="padding-bottom: 10px;">
            <div class="col-sm-12 col-10" style="padding: 0px;">
                <a href="{{ event.get_live_options_view }}" class="btn bg--googleplus btn-block" style="color: white;">Stop Live</a>
            </div>
        </div>

        <div class="row justify-content-center text-center" style="padding-bottom: 30px;">
            <div class="col-sm-12 col-10" style="padding: 0px;">
                <p>Participants | <span id="viewers"></span></p>
            </div>
        </div>

        <div class="row">
            
            <!-- Publisher -->
            <div class="col-lg-4 col-12">

                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-lg-12 col-md-6 col-sm-6" {% if event_live_broadcasts %}style="padding-bottom: 0px;"{% else %}style="padding-bottom: 10px;"{% endif %}>
                        <button class="btn bg--green-button btn-block" style="color: white;" id="record_button" onclick="toggleRecord(this);">Record</button>
                        <progress value="0" max="5400" id="progressBar" style="width: 100%;"></progress>
                    </div>
                </div>

                {% if event_live_broadcasts %}
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-lg-12 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                        <button class="btn bg--blue-button btn-block" style="color: white;" id="broadcast_button" onclick="toggleBroadcast(this);">Broadcast</button>
                    </div>
                </div>
                {% endif %}


                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-lg-12 col-md-6 col-sm-6" id="publisher" style="padding-bottom: 10px;">
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6" id="screen-share" style="display: none;">
                        <div id="dummy-screen-share" style="display: none;"></div>
                    </div>
                </div>

                <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                    <div class="col-4 align-self-center" id="screen_sharing_option">
                
                        <div class="input-checkbox input-checkbox--switch">
                            <input type="checkbox" id="screen-sharing-check"
                                onchange="shareScreen(this);">
                            <label for="screen-sharing-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Share Screen</p>
                
                    </div>
                    <div class="col-4 align-self-center" id="environment_option" style="display: none;">
                    
                        <div class="input-checkbox input-checkbox--switch">
                            <input type="checkbox" id="environment-check" onchange="rearCamera(this);">
                            <label for="environment-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Rear Camera</p>
                    
                    </div>
                    <div class="col-4">
                        <div class="input-checkbox input-checkbox--switch">
                            <input id="mute-audio-check" type="checkbox" onchange="muteAudio(this);">
                            <label for="mute-audio-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Mute Audio</p>
                    </div>
                    <div class="col-4">
                        <div class="input-checkbox input-checkbox--switch">
                            <input id="hide-video-check" type="checkbox" onchange="hideVideo(this);">
                            <label for="hide-audio-check"></label>
                        </div>
                        <p style="font-size: 0.7em;">Hide Video</p>
                    </div>
                
                </div>

            </div>

            <!-- Spotlight -->
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div id="subscriber"></div>
                </div>
            </div>
                    
            
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="row justify-content-center" style="padding-bottom: 20px;">
                            <div class="col-md-12 col-10">
                                <div id="chat-area" class="overflow-auto" style="max-height: 400px;">
                                    {% for comment in event_live_comments %}
                                    <div class="alert {% if profile.email == comment.profile.email %}bg--primary{% else %}alert bg--success{% endif %}" style="padding: 5px;margin-bottom: 10px;">
                                        <div class="alert__body">
                                            <span style="margin-bottom: 0px;">{{ comment.comment }}</span>
                                            <span
                                                style="margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block">{{ comment.profile.name }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <input id="chat-message-input" type="text" size="100" /><br />
                            </div>
                        </div>
                        
                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <button id="chat-message-submit" type="button" value="Send" class="btn btn--primary btn-block"><span
                                        class="btn__text">Send</span></button>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <a id="chat-message-submit" href="{{ event.get_resources_view }}" target="_blank"
                                    class="btn btn--primary-1 btn-block"><span class="btn__text">Event Resources</span></a>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <a id="chat-message-submit" href="{{ event.get_archives_view }}" target="_blank"
                                    class="btn btn--primary-1 btn-block"><span class="btn__text">Archives</span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>
{% endblock content %}