{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Live | {{ event.title|safe }}
{% endblock title %}

{% block page_description %}
<meta name="description" content="{{ event.description|safe|striptags }}">
{% if event.image %}
<meta property="og:image" content="{{ event.image.url }}">
{% else %}
<meta property="og:image" content="{% static 'images/logo.png' %}">
{% endif %}

<meta property="og:url" content="{{ request.path }}">
<meta name="twitter:card" content="{{ event.slug }}">
{% endblock page_description %}

{% block styles %}
<style>
    .alert.bg--primary {
        background: rgba(102, 191, 255, 0.2);
        border-color: transparent;
        color: #1c399e;
    }

    .alert.bg--private {
        background: rgba(176, 102, 255, 0.2);
        border-color: transparent;
        color: #8c20a0;
    }

    .alert.bg--success {
        background: rgba(255, 138, 95, 0.2);
        border-color: transparent;
        color: #7f2707;
    }

    .row-padder {
        padding-bottom: 10px;
    }

    .OT_subscriber {
        height: 210px !important;
    }

    .spotlight-height {
        height: 210px !important;
    }


    @media only screen and (min-width: 576px) {

        .OT_subscriber {
            height: 152px !important;
        }

        .spotlight-height {
            height: 152px !important;
        }

    }


    @media (min-width: 768px) {

        .OT_subscriber {
            height: 203px !important;
        }

        .spotlight-height {
            height: 405px !important;
        }


    }


    @media (min-width: 992px) {

        .OT_subscriber {
            height: 180px !important;
        }

        .spotlight-height {
            height: 360px !important;
        }


    }


    @media (min-width: 1200px) {

        .OT_subscriber {
            height: 214px !important;
        }

        .spotlight-height {
            height: 428px !important;
        }


    }


    

</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}

{% if allow_entry %}
<script src="https://static.opentok.com/v2/js/opentok.js"></script>


<script>
    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';

    var connectionCount = -1;
    var streamAmount = 0;

    checkStreamAmount();

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);

    // Subscribe to a newly created stream
    session.on('streamCreated', function (event) {

        session.subscribe(event.stream, 'subscriber', {
            insertMode: 'after',
            width: '100%',
            height: '100%',
            audioVolume: 100,
            style: { nameDisplayMode: "on", buttonDisplayMode: "on" },
        }, handleError);

        subscriberFrames = document.querySelectorAll('.OT_subscriber');
        console.log(subscriberFrames)
        for (var i = 0; i < subscriberFrames.length; i++) {
            subscriberFrames[i].classList.add('col-sm-6');
            subscriberFrames[i].classList.add('col-12');
            subscriberFrames[i].classList.add('row-padder');
        }

        streamAmount++;
        checkStreamAmount();
        updateSpotLight();

    });

    session.connect(token, function (error) {
        if (error) {
            handleError(error);
        } else {
            console.log("Connected to the session.");

        }
    });
    

    session.on({
        connectionCreated: function (event) {
            connectionCount++;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount

        },
        connectionDestroyed: function (event) {
            connectionCount--;
            console.log(connectionCount + ' connections.');
            document.getElementById("viewers").innerHTML = connectionCount
        },

        sessionDisconnected: function sessionDisconnectHandler(event) {
            // The event is defined by the SessionDisconnectEvent class
            console.log('Disconnected from the session.');
            if (event.reason == 'networkDisconnected') {
                alert('Your network connection terminated.')
            }
        }

    });



    session.on("streamDestroyed", function (event) {
        streamAmount--;
        checkStreamAmount();
        updateSpotLight();
        // document.getElementById("online_message").style.display = 'none'
    });


    function checkStreamAmount() {
        if (streamAmount == 0) {
            document.getElementById("offline_message").style.display = 'block';
            document.getElementById("screen_expand_message").style.display = 'none';
        }
        else {
            document.getElementById("offline_message").style.display = 'none';
            document.getElementById("screen_expand_message").style.display = 'block';
        }
    }



    
</script>

<script>

function resizeElement(e) {
    source_element = e.target;
    parentDiv = source_element.parentNode;
    parentDiv1 = parentDiv.parentNode;

    if (parentDiv1.classList.contains('spotlight-height')) {
        parentDiv1.classList.remove('spotlight-height');
        parentDiv1.classList.remove("col-md-12");
        // parentDiv1.classList.add('col-12');
    }

    else {
        // parentDiv1.classList.remove('col-6');
        parentDiv1.classList.add("spotlight-height");
        parentDiv1.classList.add("col-md-12");
    }
}

function updateSpotLight() {
    console.log("update spot light was called")
    elementsArray = document.querySelectorAll('.OT_subscriber');
    console.log(elementsArray);

    elementsArray.forEach(function (elem) {
        console.log("Added function");
        elem.addEventListener("click", resizeElement);
    });
}
</script>


<!-- Chat -->
<script>

    function scrollToBottom() {
        childArea = document.getElementById("chat-area");
        childArea.scrollTop = childArea.scrollHeight;
    }

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/chat/' + slug)
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + slug);
    {% else %}
    var chatSocket = new WebSocket('wss://' + window.location.host + '/ws/chat/' + slug);
    {% endif %}

    chatSocket.onmessage = function (e) {

        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        var user = data['user'];
        var name = data['name'];
        var private_message = data["private_message"];

        var current_user = "{{ profile.email }}";

        console.log("Private message");
        console.log(private_message);
        console.log("Private message");

        if (private_message == true) {

            if (user == current_user) {

                // create a new div element 
                var newDiv = document.createElement("div");
                newDiv.className = 'alert bg--private';

                newDiv.style = 'border-radius: 6px;padding: 5px;margin-bottom: 10px;'

                var childDiv = document.createElement("div");
                childDiv.className = 'alert__body';
                // childDiv.innerHTML = message;


                // Add Message
                var message_para = document.createElement("span");
                message_para.innerText = message;
                message_para.style = 'margin-bottom: 0px;';
                childDiv.appendChild(message_para);

                // Add User
                var user_para = document.createElement("span");
                user_para.innerText = 'Presenters and ' + name + ' only';
                user_para.style = 'margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block';
                childDiv.appendChild(user_para);


                newDiv.appendChild(childDiv);
                childArea = document.getElementById("chat-area");
                childArea.appendChild(newDiv);


                childArea.scrollTop = childArea.scrollHeight;
            }
        }

        else {

            // create a new div element 
            var newDiv = document.createElement("div");
            if (user == '{{ request.user }}') {
                newDiv.className = 'alert bg--primary';
            }
            else {
                newDiv.className = 'alert bg--success';
            }

            newDiv.style = 'border-radius: 6px;padding: 5px;margin-bottom: 10px;'

            var childDiv = document.createElement("div");
            childDiv.className = 'alert__body';
            // childDiv.innerHTML = message;


            // Add Message
            var message_para = document.createElement("span");
            message_para.innerText = message;
            message_para.style = 'margin-bottom: 0px;';
            childDiv.appendChild(message_para);

            // Add User
            var user_para = document.createElement("span");
            user_para.innerText = name;
            user_para.style = 'margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block';
            childDiv.appendChild(user_para);


            newDiv.appendChild(childDiv);
            childArea = document.getElementById("chat-area");
            childArea.appendChild(newDiv);


            childArea.scrollTop = childArea.scrollHeight;

        }


    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    {% if request.user.is_authenticated %}
    document.querySelector('#chat-message-input').focus();
    
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        var user = '{{ profile.email }}';
        var name = '{{ profile.name }}'
        var message = messageInputDom.value;

        if (message != '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
                'name': name,
                'private_message': false
            }));
        }

        messageInputDom.value = '';
    };

    document.querySelector('#chat-message-submit-private').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        var user = '{{ profile.email }}';
        var name = '{{ profile.name }}';
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'user': user,
            'name': name,
            'private_message': true,
        }));

        messageInputDom.value = '';
    };


    {% endif %}
</script>

{% endif %}
{% endblock scripts %}

{% block content %}
<section class="" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="container">
        <div class="row justify-content-center" style="padding-top:5px;padding-bottom:5px;">
            {% if event.house.logo %}
            <div class="col-3">
                <a href="{{ event.house.get_home_page_url }}"><img src="{{ event.house.logo.url }}"
                        style="max-height: 3em;margin-bottom:5px;"></a>
                
            </div>
            <div class="col-md-9 col-10 align-self-center" style="padding: 0px;">
                <a href="{{ event.get_landing_view }}" class="btn btn--primary-1 btn-block"
                    style="color: white;">{{ event.title }}</a>
            </div>
            {% else %}
            <div class="col-md-12 align-self-center" style="padding: 0px;">
                <a href="{{ event.get_landing_view }}" class="btn btn--primary-1 btn-block"
                    style="color: white;">{{ event.title }}</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section style="padding-top: 1em;padding-bottom:0px;">
    <div class="container">


        {% if allow_entry %}
        <div class="row">
            <!-- Spotlight -->
            <div class="col-lg-8 col-12" style="padding-bottom: 30px;">
                <div class="row">

                    <div class="col-12 text-center" id="offline_message" style="display: none;padding-top: 30px;">
                        <h3>{{ event.title }} will commence shortly</h3>
                    </div>

                    <div id="subscriber"></div>
                </div>

                <div class="row justify-content-center text-center" id="screen_expand_message"  style="display: none;padding-top: 30px;">
                    <div class="col-sm-12 col-12" style="padding: 0px;">
                        <p>Psst! Click on a screen to expand it.</p>
                    </div>
                </div>

            </div>
                    
            
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-12">

                        <div class="row justify-content-center text-center" style="padding-bottom: 10px;">
                            <div class="col-sm-12 col-10" style="padding: 0px;">
                                <p>Participants | <span id="viewers"></span></p>
                            </div>
                        </div>
                        
                        <div class="row justify-content-center" style="padding-bottom: 20px;">
                            <div class="col-md-12 col-10">
                                <div id="chat-area" class="overflow-auto" style="max-height: 400px;" onmousemove="scrollToBottom();">
                                    {% for comment in event_live_comments %}
                                        {% if comment.private %}
                                            {% if comment.profile.email == profile.email %}
                                                <div class="alert bg--private"
                                                    style="padding: 5px;margin-bottom: 10px;">
                                                    <div class="alert__body">
                                                        <span style="margin-bottom: 0px;">{{ comment.comment }}</span>
                                                        <span
                                                            style="margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block">Presenters and {{ comment.profile.name }} only</span>
                                                    </div>
                                                </div>
                                            {% else %}
                                            {% endif %}
                                        {% else %}
                                        <div class="alert {% if profile.email == comment.profile.email %}bg--primary{% else %}alert bg--success{% endif %}" style="padding: 5px;margin-bottom: 10px;">
                                            <div class="alert__body">
                                                <span style="margin-bottom: 0px;">{{ comment.comment }}</span>
                                                <span
                                                    style="margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block">{{ comment.profile.name }}</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        {% if request.user.is_authenticated %}
                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <input id="chat-message-input" type="text" size="100" /><br />
                            </div>
                        </div>
                        
                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <button id="chat-message-submit" type="button" value="Send" class="btn btn--primary btn-block"><span
                                        class="btn__text">Send</span></button>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <button id="chat-message-submit-private" type="button" value="Send" class="btn btn--primary btn-block"><span
                                        class="btn__text">Send Private</span></button>
                            </div>
                        </div>

                        {% else %}
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-10">
                                <p>Please <a href="{% url 'profiles:login' %}?next=/events/{{ event.slug }}/live">login</a> to comment</p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <a id="chat-message-submit" href="{{ event.get_resources_view }}" target="_blank" class="btn btn--primary-1 btn-block"><span
                                        class="btn__text">Event Resources</span></a>
                            </div>
                        </div>

                        {% if event.allow_non_ticket_archive_viewers %}
                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <a id="chat-message-submit" href="{{ event.get_archives_view }}" target="_blank"
                                    class="btn btn--primary-1 btn-block"><span class="btn__text">Archives</span></a>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row justify-content-center" style="padding-top: 50px;">
                            <div class="col-12 text-center">
                                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"
                                        style="max-height: 3em;margin-bottom:0px;"></a>
                                <p style="font-size: 8px;">Powered by Arqam House</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        {% else %}

        {% if not request.user.is_authenticated %}
        <div class="row">
            <div class="col-12 text-center">
                <h3>Please <a href="{% url 'profiles:login' %}?next=/events/{{ event.slug }}/live">login</a> to view the live stream.</h3>
                <p style="margin-bottom: 5px;">If you purchased a ticket already you would have received an email with your login credentials.</p>
                <p style="margin-bottom: 5px;">If you did not receive an email or have misplaced it you can <a href="{% url 'password_reset' %}">reset your password.</a></p>
                <p style="margin-bottom: 5px;">If you are still having difficulty please <a href="mailto:info@arqamhouse.com?Subject=I%20Cannot%20Login%20"">contact us</a> or <a href="mailto:{{ event.house.email }}?Subject=I%20Cannot%20Login%20">contact the organizer</a></p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 text-center">
                <h3>Please <a href="{{ event.get_landing_view }}">purchase a ticket</a> to view the live stream</h3>
                <p>If you have already purchased a ticket, please login with the email you used to purchase the ticket.</p>
            </div>
        </div>
        {% endif %}

        {% endif %}

       

    </div>
</section>
{% endblock content %}