{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
{{ event.title|safe }}
{% endblock title %}

{% block styles %}
<style>
    .alert.bg--primary {
        background: rgba(102, 191, 255, 0.2);
        border-color: transparent;
        color: #1c399e;
    }

    .alert.bg--success {
        background: rgba(255, 138, 95, 0.2);
        border-color: transparent;
        color: #7f2707;
    }

    .row-padder {
        padding-bottom: 10px;
    }

    .OT_subscriber {
        height: 175px !important;
    }

    .spotlight-height {
        height: 255px !important;
    }


    @media only screen and (min-width: 576px) {

        .OT_subscriber {
            height: 215px !important;
        }

        .spotlight-height {
            height: 350px !important;
        }

    }


    @media (min-width: 768px) {

        .OT_subscriber {
            height: 281px !important;
        }

        .spotlight-height {
            height: 460px !important;
        }


    }


    @media (min-width: 992px) {

        .OT_subscriber {
            height: 248px !important;
        }

        .spotlight-height {
            height: 415px !important;
        }


    }


    @media (min-width: 1200px) {

        .OT_subscriber {
            height: 293px !important;
        }

        .spotlight-height {
            height: 515px !important;
        }


    }


    

</style>
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}

<script src="https://static.opentok.com/v2/js/opentok.js"></script>


<script>
    // credentials
    var apiKey = '{{ api_key }}';
    var sessionId = '{{ session_id }}';
    var token = '{{ token }}';

    var connectionCount = -1;
    var streamAmount = 0;

    checkStreamAmount();

    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    var session = OT.initSession(apiKey, sessionId);



    session.connect(token, function (error) {
        if (error) {
            handleError(error);
        } else {
            console.log("Connected to the session.");

        }
    });
    

    // Subscribe to a newly created stream
    session.on('streamCreated', function (event) {

        session.subscribe(event.stream, 'subscriber', {
            insertMode: 'after',
            width: '100%',
            height: '100%',
            audioVolume: 100,
            style: { nameDisplayMode: "on", buttonDisplayMode: "on" },
        }, handleError);

        subscriberFrames = document.querySelectorAll('.OT_subscriber');
        console.log(subscriberFrames)
        for (var i = 0; i < subscriberFrames.length; i++) {
            subscriberFrames[i].classList.add('col-6');
            subscriberFrames[i].classList.add('row-padder');
        }

        streamAmount++;
        checkStreamAmount();
        updateSpotLight();

    });


    session.on({
        connectionCreated: function (event) {
            connectionCount++;
            console.log(connectionCount + ' connections.');
            // document.getElementById("viewers").innerHTML = connectionCount

        },
        connectionDestroyed: function (event) {
            connectionCount--;
            console.log(connectionCount + ' connections.');
            // document.getElementById("viewers").innerHTML = connectionCount
        },

        sessionDisconnected: function sessionDisconnectHandler(event) {
            // The event is defined by the SessionDisconnectEvent class
            console.log('Disconnected from the session.');
            // document.getElementById('disconnectBtn').style.display = 'none';
            if (event.reason == 'networkDisconnected') {
                alert('Your network connection terminated.')
            }
        }

    });



    session.on("streamDestroyed", function (event) {
        streamAmount--;
        checkStreamAmount();
        updateSpotLight();
        // document.getElementById("online_message").style.display = 'none'
    });


    function checkStreamAmount() {
        if (streamAmount == 0) {
            document.getElementById("offline_message").style.display = 'block';
        }
        else {
            document.getElementById("offline_message").style.display = 'none';
        }
    }



    
</script>

<script>

    function updateSpotLight() {
        console.log("Is this working")
        // let elementsArray = document.querySelectorAll("OT_subscriber");
        elementsArray = document.querySelectorAll('.OT_subscriber');
        console.log(elementsArray)

        elementsArray.forEach(function (elem) {
            elem.addEventListener("click", function () {

                if (elem.classList.contains('col-6')) {
                    console.log("Yeaaaaaaa")
                    elem.classList.remove("col-6");
                    // elem.classList.remove("OT_subscriber");
                    elem.classList.add('col-12');
                    elem.classList.add("spotlight-height");
                }

                
                else {
                    elem.classList.remove("spotlight-height");
                    elem.classList.remove("col-12");
                    elem.classList.add('col-6');
                    // elem.classList.add("OT_subscriber");
                }



            });
        });
    }
</script>


<!-- Chat -->
<script>

    function scrollToBottom() {
        childArea = document.getElementById("chat-area");
        childArea.scrollTop = childArea.scrollHeight;
    }

    var slug = {{ slug_json }};

    {% if local %}
    console.log('ws://' + window.location.host + '/ws/chat/' + slug)
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + slug);
    {% else %}
    var chatSocket = new WebSocket('wss://' + window.location.host + '/ws/chat/' + slug);
    {% endif %}

    chatSocket.onmessage = function (e) {

        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        var user = data['user']


        // create a new div element 
        var newDiv = document.createElement("div");
        if (user == '{{ request.user }}') {
            newDiv.className = 'alert bg--primary';
        }
        else {
            newDiv.className = 'alert bg--success';
        }

        newDiv.style = 'border-radius: 6px;padding: 5px;margin-bottom: 10px;'

        var childDiv = document.createElement("div");
        childDiv.className = 'alert__body';
        // childDiv.innerHTML = message;


        // Add Message
        var message_para = document.createElement("span");
        message_para.innerText = message;
        message_para.style = 'margin-bottom: 0px;';
        childDiv.appendChild(message_para);

        // Add User
        var user_para = document.createElement("span");
        user_para.innerText = user;
        user_para.style = 'margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block';
        childDiv.appendChild(user_para);


        newDiv.appendChild(childDiv);
        childArea = document.getElementById("chat-area");
        childArea.appendChild(newDiv);


        childArea.scrollTop = childArea.scrollHeight;


    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    {% if request.user.is_authenticated %}
    document.querySelector('#chat-message-input').focus();
    
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        var user = '{{ request.user }}';
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'user': user
        }));

        messageInputDom.value = '';
    };
    {% endif %}
</script>

{% endblock scripts %}

{% block content %}
<section style="padding-top: 3em;padding-bottom:0px;">
    <div class="container" style="padding-right: 0px;padding-left: 0px;">


        <div class="row justify-content-center" style="padding-bottom: 30px;">
            <div class="col-sm-12 col-10" style="padding: 0px;">
                <a href="{{ event.get_landing_view }}" class="btn btn--primary-1 btn-block" style="color: white;">Event Page</a>
            </div>
        </div>


        <div class="row">
            

            <!-- Spotlight -->
            <div class="col-lg-8 col-12" style="padding-bottom: 30px;">
                <div class="row">

                    <div class="col-12" id="offline_message" style="display: none;">
                        <h3>{{ event.house }} will be live shortly</h3>
                    </div>

                    <div id="subscriber"></div>
                </div>
            </div>
                    
            
            <div class="col-lg-4 col-12" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="row justify-content-center" style="padding-bottom: 20px;">
                            <div class="col-md-12 col-10">
                                <div id="chat-area" class="overflow-auto" style="max-height: 400px;" onmousemove="scrollToBottom();">
                                    {% for comment in event_live_comments %}
                                    <div class="alert {% if profile.email == comment.profile.email %}bg--primary{% else %}alert bg--success{% endif %}" style="padding: 5px;margin-bottom: 10px;">
                                        <div class="alert__body">
                                            <span style="margin-bottom: 0px;">{{ comment.comment }}</span>
                                            <span
                                                style="margin-bottom: 0px;font-size: 0.7em;font-style: italic;display:block">{{ comment.profile.email }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        {% if request.user.is_authenticated %}
                        <div class="row justify-content-center" style="padding-bottom: 10px;">
                            <div class="col-md-12 col-10">
                                <input id="chat-message-input" type="text" size="100" /><br />
                            </div>
                        </div>
                        
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-10">
                                <button id="chat-message-submit" type="button" value="Send" class="btn btn--primary btn-block"><span
                                        class="btn__text">Send</span></button>
                            </div>
                        </div>
                        {% else %}
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-10">
                                <p>Please <a href="{% url 'profiles:login' %}?next=/events/{{ event.slug }}/live">login</a> to comment</p>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>

        <div class="row justify-content-center" style="padding-bottom: 30px;">
            <div class="col-sm-12 col-10" style="padding: 0px;">
                <p>Psst! Click on a screen share to expand it.</p>
            </div>
        </div>


    </div>
</section>
{% endblock content %}