{% extends "backend/base.html" %}
{% load question_tags %}
{% load static %}

{% block title %}
{% if update %}Update{% else %}Create{% endif %} Question
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block styles %}

{% endblock styles %}


{% block scripts %}
<script type="text/javascript">


</script>
<!--end::Page Resources -->
{% endblock scripts %}



{% block content %}

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">

                <form method="POST">{% csrf_token %}


                <div class="row" style="padding-top:30px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="font-weight: 300;">Add options for question | <a href="{{ question_url }}">{{ question }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-weight: 500;">Option</p>
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="padding-top:30px;">
                {% if update %}
                        <div class="col-md-6">
                            <button type="submit" name="update" value="update" class="btn btn-primary btn-block">Update Option</button>
                        </div>
                        {% if option.deleted %}
                        <div class="col-md-6">
                            <button type="submit" name="undo-delete" value="undo-delete" class="btn btn-danger btn-block">Undo Delete</button>
                        </div>
                        {% else %}
                        <div class="col-md-6">
                            <button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Option</button>
                        </div>
                        {% endif %}
                {% else %}
                    <div class="col-md-12">
                        <button type="submit" name="create" value="create" class="btn btn-primary btn-block">Create option</button>
                    </div>
                {% endif %}
                </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}














