{% extends "backend/base.html" %}
{% load question_tags %}
{% load static %}

{% block title %}
{% if update %}Update{% else %}Create{% endif %} Question
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block styles %}

{% endblock styles %}


{% block scripts %}
<script type="text/javascript">


</script>
<!--end::Page Resources -->
{% endblock scripts %}



{% block content %}
<form method="POST">{% csrf_token %}
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="margin: 30px;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <p style="font-weight: 500;">Question <i style="color:#FF4500;font-weight:700;" class="la la-asterisk"></i></p>
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:30px;">
                    <div class="col-md-10 offset-md-1">
                        <p style="font-weight: 500;">Type <i style="color:#FF4500;font-weight:700;" class="la la-asterisk"></i></p>
                        {{ form.question_type }}
                    </div>
                </div>
                <div class="row" style="padding-top:30px;">
                    <div class="col-md-10 offset-md-1">
                        <p style="font-weight: 500;">Required <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" 
                        data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" 
                        data-original-title="Switch on if this question is required to answer."></i></p>
                        <span class="kt-switch kt-switch--lg">
                            <label>
                                {{ form.required }}
                            <span></span>
                            </label>
                        </span>
                    </div>
                </div>
                
                <div class="row" style="padding-top:30px;">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-weight: 500;">Help Text <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" 
                                data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" 
                                data-original-title="You can provide buyers help text to assist them in answering this question."></i></p>
                                {{ form.help_text }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if question.question_type == "Multiple Choice" %}
                <div class="row" style="padding-top:30px;">
                    <div class="col-md-10 offset-md-1">
                        <p style="font-weight: 500;">Options <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" 
                        data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" 
                        data-original-title="Add options for your question."></i>{% if question.approved %}{% else %}<span style="color: #FF4500;font-weight: 300;"> You must add at least 2 options to activate this question</span>{% endif %}</p>
                        
                            {% for option in options %}
                                <a href="{% url 'questions:update_option' one_to_one_type one_to_one_id question.id option.id %}"><p>{{ option.title }} {% if option.deleted %}<span style="color: #FF4500;">- Deleted</span>{% endif %}</p></a>
                            {% endfor %}
                        <a class="btn btn-primary" href="{{ option_url }}">Add Option</a>
                    </div>
                </div>
                {% endif %}


                <div class="row" style="padding-top: 50px;">
                    <div class="col-md-10 offset-md-1">
                        <p style="font-weight: 500;">Ask this question per order <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" 
                        data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" 
                        data-original-title="Switch on if you would like this question asked to ticket buyers once per order."></i></p>
                        <span class="kt-switch">
                            <label>
                                <input type="checkbox" {% if event_question.order_question %}checked{% endif %} name="order_question" style="user-select: auto;" id="order_question">
                            <span></span>
                            </label>
                        </span>
                    </div>
                </div>


                <div class="row" style="padding-top: 40px;">
                    <div class="col-md-10 offset-md-1">
                        <p style="font-weight: 500;">Ask this question per ticket
                        <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" 
                        data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" 
                        data-original-title="Switch on the tickets where you would like this question to be asked. 
                        If ticket buyers choose these tickets they will prompted to answer this question."></i></p>
                    </div>
                </div>


                {% for ticket in tickets %}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p>{{ forloop.counter }}. {{ ticket.title }}</p>
                        <span class="kt-switch">
                            <label>
                                <input type="checkbox" {% if event_question %}{{ ticket|ticket_checked:event_question }}{% endif %} name="{{ ticket.id }}" style="user-select: auto;" id="ticket_{{ ticket.id }}">
                            <span></span>
                            </label>
                        </span>
                    </div>
                </div>
                {% endfor %}


                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-10 offset-md-1">
                        <div class="row" style="padding-top:30px;">
                        {% if update %}
                                <div class="col-md-6">
                                    <button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">Update Question</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Question</button>
                                </div>
                        {% else %}
                            <div class="col-md-12">
                                <button type="submit" name="create" value="create" class="btn btn-primary btn-block">Create Question</button>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}














