{% extends "backend/base.html" %}
{% load question_tags %}
{% load static %}

{% block title %}
{% if update %}Update{% else %}Create{% endif %} Question
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block styles %}

{% endblock styles %}


{% block scripts %}
<script type="text/javascript">


</script>
<!--end::Page Resources -->
{% endblock scripts %}



{% block content %}
<form method="POST">{% csrf_token %}
<div class="row">
    <div class="col-md-8">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">

                <div class="row" style="padding-top:30px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-weight: 500;">Questions Title</p>
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:30px;">
                    <div class="col-md-6">
                        <p style="font-weight: 500;">Questions Type</p>
                        {{ form.question_type }}
                    </div>
                    <div class="col-md-2">
                        <p style="font-weight: 500;">Required</p>
                        <span class="kt-switch kt-switch--lg">
                            <label>
                                {{ form.required }}
                            <span></span>
                            </label>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <p style="font-weight: 500;">Order</p>
                        {{ form.order }}
                    </div>
                </div>
                
                <div class="row" style="padding-top:30px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-weight: 500;">Question Help Text</p>
                                {{ form.help_text }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if question.question_type == "Multiple Choice" %}
                <div class="row" style="padding-top:30px;">
                    <div class="col-md-12">
                        <p style="font-weight: 500;">Options</p>
                        
                            {% for option in options %}
                                <a href="{% url 'questions:update_option' one_to_one_type one_to_one_id question.id option.id %}"><p>{{ option.title }}</p></a>
                            {% endfor %}
                        <a class="btn btn-primary" href="{{ option_url }}">Add Option</a>
                    </div>
                </div>
                {% endif %}

                <div class="row" style="padding-top: 30px;">
                    <div class="col-md-12">
                        <br>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <p style="font-weight: 500;">Ask this question to the buyer?</p>
                        <span class="kt-switch">
                            <label>
                                <input type="checkbox" {% if event_question.order_question %}checked{% endif %} name="order_question" style="user-select: auto;" id="order_question">
                            <span></span>
                            </label>
                        </span>
                    </div>
                </div>


                <div class="row" style="padding-top: 40px;">
                    <div class="col-md-12">
                        <p style="font-weight: 500;">Choose the tickets you'd like this question to be asked in.</p>
                    </div>
                </div>


                {% for ticket in tickets %}
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ forloop.counter }}. {{ ticket.title }}</p>
                        <span class="kt-switch">
                            <label>
                                <input type="checkbox" {% if event_question %}{{ ticket|ticket_checked:event_question }}{% endif %} name="{{ ticket.id }}" style="user-select: auto;" id="ticket_{{ ticket.id }}">
                            <span></span>
                            </label>
                        </span>
                    </div>
                </div>
                {% endfor %}


                <div class="row" style="padding-top:30px;">
                {% if update %}
                        <div class="col-md-6">
                            <button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">Update Question</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Question</button>
                        </div>
                {% else %}
                    <div class="col-md-12">
                        <button type="submit" name="create" value="create" class="btn btn-primary btn-block">Create Question</button>
                    </div>
                {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}














