{% extends "frontend/base.html" %}
{% load ticket_form_tags %}
{% load static %}

{% block title %}
Choose Tickets | {{ event.title }}
{% endblock title %}

{% block styles %}
<style>
.boxed {
    border-radius: 15px;
}

.boxed.boxed--lg {
    padding: 15px;
}

.bg--secondary {
    background: #ffffff;
}
</style>

{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
<script type="text/javascript">

	// $(window).bind("pageshow", function () {
	// 	var form = $('form');
	// 	// let the browser natively reset defaults
	// 	form[0].reset();
	// });

$( document ).ready(function() {
    calculatePrice();
});

function calculatePrice() {

	var total = 0.00;
	var donation_input_value = 0.00;

	{% for ticket in tickets %}

		{% if ticket.donation %}

			donation_input_value = document.getElementById('id_{{ ticket.id }}_donation').value;

			console.log(donation_input_value)
			
			if (donation_input_value != '') {
				donation_input_value = donation_input_value;
			}
			else {
				donation_input_value = 0.00;
			}

			var e = document.getElementById("id_{{ ticket.id }}");
		    total += parseFloat(donation_input_value) * parseFloat(e.options[e.selectedIndex].value);

		    if (total != null) {
				total = total
			}
			else {
				total = 0.00;
			}

		    console.log(total)

		{% else %}

			var e = document.getElementById("id_{{ ticket.id }}");
			total += parseFloat(e.options[e.selectedIndex].value) * parseFloat({{ ticket.buyer_price }});

			console.log(total)

		{% endif %}

		console.log(total);

	{% endfor %}

	if (isNaN(total)) {
    	total = 0.00;
    }
	total = total.toFixed(2);

	{% if owner %}
	console.log(total)
	if (total == 0.00) {
		document.getElementById("checkout").disabled = true;
	}
	else {
		document.getElementById("checkout").disabled = false;
	}
	{% endif %}

	total = total.toString()
    document.getElementById("new_price_div").innerHTML = "Order Total $" + total;

}
	
{% for ticket in tickets %}

	{% if ticket.donation %}
		$('#id_{{ ticket.id }}_donation').change(function() {
			calculatePrice()
		});
	{% endif %}
 
$('#id_{{ ticket.id }}').change(function() {
	calculatePrice()
});

{%  endfor %}
	
</script>
{% endblock scripts %}


{% block content %}

<section class="switchable feature-large" style="padding-top: 2rem;">
    <div class="container">


		{% if owner %}
		<div class="row justify-content-around" style="padding:40px;padding-bottom: 0px;">
			<div class="col-lg-9 col-md-12 col-12" style="box-shadow: rgba(0, 0, 0, 0.2) -10px 5px 30px;padding: 40px;border-radius: 15px;">
				<div class="row">
					<div class="col-md-6">
						<a href="{{ event.get_update_view }}" class="btn btn--primary btn-block" style="color: white;">Edit Event</a>
					</div>
					<div class="col-md-6">
						<a href="{{ event.get_event_dashboard }}" class="btn btn--primary btn-block" style="color: white;">Dashboard</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if messages %}
		<div class="row justify-content-center" style="padding:30px;padding-bottom: 0px;">
			<div class="col-md-12 col-lg-9 col-sm-12">
				{% for message in messages %}
				<div class="alert bg--{{ message.tags }}">
					<div class="alert__body">
						<span>{{ message|safe }}</span>
					</div>
					<div class="alert__close">&times;</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}

    	
    	<form method="POST">{% csrf_token %}

        <div class="row justify-content-around">
            <div class="col-md-12 col-lg-9 col-sm-12">

				<div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
					style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 20px; margin: 20px;">
					<div class="row" style="padding: 10px;">
						<div class="col-md-12">
							
							<div class="row text-center" style="padding: 20px;">
								<div class="col-md-12">
									{% if event.start or event.end or event.venue_name or event.venue_address%}
									<h4 style="margin-bottom:0px;font-weight: 400;color: #4498d4;">{{ event.title }}</h4>
									{% else %}
									<h2 style="margin-bottom:0px;font-weight: 400;color: #4498d4;">{{ event.title }}</h2>
									{% endif %}
									<p style="font-size: 0.8em;">Hosted by {{ event.house.name }} <i style="color: #4399d5;" class="fa fa-check-circle" data-tooltip="This event is hosted by a verified house." ></i></p>
									{% if event.short_description %}
									<div class="row text-center">
										<div class="col-md-12">
											<p>{{ event.short_description }}</p>
										</div>
									</div>
									{% endif %}
								</div>
							</div>

							{% if event.image %}
							<div class="row" style="padding-bottom:30px;padding: 20px;">
								<div class="col-md-4 offset-md-4">
									<img src="{{ event.image.url }}">
								</div>
							</div>
							{% endif %}
							
							{% if event.start or event.end or event.venue_name or event.venue_address%}
							<div class="row text-center" style="padding-bottom:30px;padding: 20px;">
								{% if event.start or event.end %}
								<div class="col-md-{% if event.venue_name or event.venue_address %}6{% else %}12{% endif %}" style="padding-top: 10px;">
									<h5 style="margin-bottom: 5px;font-weight: 600;color: #4498d4;"><i class="far fa-clock"></i> When</h5>
									{% if event.start %}
									<p style="margin-bottom: 0;font-weight:600;">Starts | <span style="font-weight:400;">
											{{ event.start|date:"N jS Y, f a" }}</span></p>
									{% endif %}
									{% if event.end %}
									<p style="margin-bottom: 0;font-weight:600;">Ends | <span style="font-weight:400;">
											{{ event.end|date:"N jS Y, f a" }}</span></p>
									{% endif %}
								</div>
								{% endif %}
								{% if event.venue_name or event.venue_address %}
								<div class="col-md-{% if event.start or event.end %}6{% else %}12{% endif %}" style="padding-top: 10px;">
									<h5 style="margin-bottom: 5px;font-weight: 600;color: #4498d4;"><i class="fas fa-map-marker-alt"></i> Where</h5>
									{% if event.venue_name %}
									<p style="margin-bottom: 0;font-weight:600;">Venue | <span style="font-weight:400;">
											{{ event.venue_name }}</span></p>
									{% endif %}
									{% if event.venue_address %}
									<p style="margin-bottom: 0;font-weight:600;">Address | <span
											style="font-weight:400;">{{ event.venue_address }}</span></p>
									{% endif %}
								</div>
								{% endif %}
							</div>
							{% endif %}

						</div>
					</div>
				</div>

				{% if tickets %}
            	<div class="boxed boxed--border bg--secondary boxed--lg box-shadow" style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);padding: 30px; margin: 20px;">
					{% for ticket in tickets %}
					<div class="row" style="padding-bottom:20px;padding-top:20px;">
            			<div class="col-md-8">
							<p style="font-size: 1.3em;margin-bottom: 5px;">{{ ticket }} <span style="color:#4399d5;"> - </span> <span style="color:#4399d5;"> 
								
								{% if ticket.paid %} 
									{% if ticket.pass_fee %} 
										${{ ticket.price }} <span style="font-size: 0.7em;">+ ${{ ticket.fee }} fee</span> 
									{% else %} 
										${{ ticket.price }} 
									{% endif %} 
								{% endif %} 

								{% if ticket.free %}
									$0.00
								{% endif %}

								{% if ticket.donation %}
									Donation
								{% endif %}

							</span></p>
							<p>{{ ticket.description }}</p>
            			</div>
            			<div class="col-md-4">
							{% if not ticket.sold_out  %}
								{% if ticket.donation %}
									<p style="margin-bottom: 0px;">Donation Amount</p>
									{% get_ticket_related_form_field_donation form ticket %}
								{% endif %}
								<div class="input-select">
									{% get_ticket_related_form_field form ticket %}
								</div>
							{% else %}
							<h3 style="color: #e15656;font-weight: 500;">Sold out</h3>
							{% endif %}
            			</div>
            		</div>
					{% endfor %}

					{% if discount_code %}
					<div class="row" style="padding-bottom:20px;padding-top:20px;">
						<div class="col-md-8">
							<p style="font-size: 1.3em;margin-bottom: 5px;">Discount Code</p>
						</div>
						<div class="col-md-4">
							{{ form.discount_code }}
						</div>
					</div>
					{% endif %}
				</div>
				{% endif %}
				
				
            </div>
        </div>

		{% if tickets %}
        <div class="row justify-content-center text-center">
			{% if owner %}
			<div class="col-md-10 col-lg-6">
				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<h4 style="color: #666666;" class="m--font-info color--info" id="new_price_div">Order Total $0.00</h4>
					</div>
				</div>
				<div class="row" style="padding-top:15px;padding:20px;">
					<div class="col-md-6">
						<button type="submit" name="checkout" id='checkout' value="checkout" class="btn btn--primary">Collect Payment</button>
					</div>
					<div class="col-md-6">
						<button type="submit" name="checkout-no-pay" id="checkout-no-pay" value="True" class="btn btn--primary-2" style="color:white;">Don't Collect</button>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col-lg-6 col-md-12" style="padding:40px;">
				<h4 style="color: #666666;margin-bottom: 30px;" class="m--font-info color--info" id="new_price_div">Order Total $0.00</h4>
				<button type="submit" name="checkout" value="checkout" class="btn btn--primary">Checkout</button>
			</div>
			{% endif %}
        </div>
		{% else %}
			{% if owner %}
			<div class="row justify-content-center text-center" style="padding-top:40px;">
				<div class="col-md-12 col-lg-8">
					<a href="{{ event.list_tickets_view }}" class="btn btn--primary btn-block" style="color: white;">Add Tickets</a>
				</div>
			</div>
			{% else %}
			<div class="row justify-content-center text-center" style="padding-top:30px;">
				<div class="col-md-12 col-lg-6">
					<h5 style="color:#666666;">No tickets yet, check back later.</h5>
				</div>
			</div>
			{% endif %}
		{% endif %}

        </form>

    </div>
</section>



{% endblock content %}




















