{% extends "backend/base.html" %}
{% load tz %}
{% load static %}

{% block title %}
Audience | {{ house.name }}
{% endblock title %}


{% block styles %}
<style>

.portlet-height {
    height: inherit;
}

@media only screen and (min-width: 576px) {

    .portlet-height {
        height: inherit;
    }

}


@media (min-width: 768px) {

    .portlet-height {
        height: 250px;
    }


}


@media (min-width: 992px) {

    .portlet-height {
        height: 250px;
    }


}


@media (min-width: 1200px) {

    .portlet-height {
        height: 250px;
    }

}

</style>
{% endblock styles %}


{% block scripts %}

{% endblock scripts %}



{% block content %}

<div class="row align-items-center h-100" style="padding: 1rem 0px 3rem 0px;">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
    
        <div class="row text-center" style="padding-bottom: 20px;">
            <div class="col-lg-12" style="padding-top:10px;">
                <a href="{% url 'subscribers:list' %}" class="btn btn-primary btn-block">
                    View all subscribers
                </a>
            </div>
        </div>
            
        {% if active_audiences %}
        <div class="row">
            {% for audience in active_audiences %}
            {% if audience.event %}
            <div class="col-lg-4 col-md-4 col-12" style="padding-top:10px;">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body portlet-height">
                        <div class="row text-center">
                            <div class="col-12">
                                <a class="dashboard-links" href="{{ audience.get_detail_view }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 4em;height: 4em;"
                                        viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M3,10.0500091 L3,8 C3,7.44771525 3.44771525,7 4,7 L9,7 L9,9 C9,9.55228475 9.44771525,10 10,10 C10.5522847,10 11,9.55228475 11,9 L11,7 L21,7 C21.5522847,7 22,7.44771525 22,8 L22,10.0500091 C20.8588798,10.2816442 20,11.290521 20,12.5 C20,13.709479 20.8588798,14.7183558 22,14.9499909 L22,17 C22,17.5522847 21.5522847,18 21,18 L11,18 L11,16 C11,15.4477153 10.5522847,15 10,15 C9.44771525,15 9,15.4477153 9,16 L9,18 L4,18 C3.44771525,18 3,17.5522847 3,17 L3,14.9499909 C4.14112016,14.7183558 5,13.709479 5,12.5 C5,11.290521 4.14112016,10.2816442 3,10.0500091 Z M10,11 C9.44771525,11 9,11.4477153 9,12 L9,13 C9,13.5522847 9.44771525,14 10,14 C10.5522847,14 11,13.5522847 11,13 L11,12 C11,11.4477153 10.5522847,11 10,11 Z"
                                                fill="#000000" opacity="0.3"
                                                transform="translate(12.500000, 12.500000) rotate(-45.000000) translate(-12.500000, -12.500000) " />
                                        </g>
                                    </svg>
                                    <p style="padding-top: 20px;">{{ audience.name }}</p>
                                </a>
                                <p style="font-size: small;">Subscribers who purchased tickets for <a href="{{ audience.event.get_event_dashboard }}">{{ audience.event.title }}</a> event.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if audience.donation_type %}
            <div class="col-lg-4 col-md-4 col-12" style="padding-top:10px;">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body portlet-height">
                        <div class="row text-center">
                            <div class="col-12">
                                <a class="dashboard-links" href="{{ audience.get_detail_view }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 4em;height: 4em;"
                                        viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M4,6 L20,6 C20.5522847,6 21,6.44771525 21,7 L21,8 C21,8.55228475 20.5522847,9 20,9 L4,9 C3.44771525,9 3,8.55228475 3,8 L3,7 C3,6.44771525 3.44771525,6 4,6 Z M5,11 L10,11 C10.5522847,11 11,11.4477153 11,12 L11,19 C11,19.5522847 10.5522847,20 10,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,12 C4,11.4477153 4.44771525,11 5,11 Z M14,11 L19,11 C19.5522847,11 20,11.4477153 20,12 L20,19 C20,19.5522847 19.5522847,20 19,20 L14,20 C13.4477153,20 13,19.5522847 13,19 L13,12 C13,11.4477153 13.4477153,11 14,11 Z"
                                                fill="#000000" />
                                            <path
                                                d="M14.4452998,2.16794971 C14.9048285,1.86159725 15.5256978,1.98577112 15.8320503,2.4452998 C16.1384028,2.90482849 16.0142289,3.52569784 15.5547002,3.83205029 L12,6.20185043 L8.4452998,3.83205029 C7.98577112,3.52569784 7.86159725,2.90482849 8.16794971,2.4452998 C8.47430216,1.98577112 9.09517151,1.86159725 9.5547002,2.16794971 L12,3.79814957 L14.4452998,2.16794971 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        </g>
                                    </svg>
                                    <p style="padding-top: 20px;">{{ audience.name }}</p>
                                </a>
                                <p style="font-size: small;">Subscribers who donated under
                                        <a href="{{ audience.donation_type.get_update_url }}">{{ audience.donation_type.name }}</a> donation type.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-12">
                <hr>
            </div>
        </div>


        <div class="row">
            {% for audience in past_audiences %}
            {% if audience.event %}
            <div class="col-lg-4 col-md-4 col-12" style="padding-top:10px;">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body portlet-height">
                        <div class="row text-center">
                            <div class="col-12">
                                <a class="dashboard-links" href="{{ audience.get_detail_view }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        style="width: 4em;height: 4em;" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M3,10.0500091 L3,8 C3,7.44771525 3.44771525,7 4,7 L9,7 L9,9 C9,9.55228475 9.44771525,10 10,10 C10.5522847,10 11,9.55228475 11,9 L11,7 L21,7 C21.5522847,7 22,7.44771525 22,8 L22,10.0500091 C20.8588798,10.2816442 20,11.290521 20,12.5 C20,13.709479 20.8588798,14.7183558 22,14.9499909 L22,17 C22,17.5522847 21.5522847,18 21,18 L11,18 L11,16 C11,15.4477153 10.5522847,15 10,15 C9.44771525,15 9,15.4477153 9,16 L9,18 L4,18 C3.44771525,18 3,17.5522847 3,17 L3,14.9499909 C4.14112016,14.7183558 5,13.709479 5,12.5 C5,11.290521 4.14112016,10.2816442 3,10.0500091 Z M10,11 C9.44771525,11 9,11.4477153 9,12 L9,13 C9,13.5522847 9.44771525,14 10,14 C10.5522847,14 11,13.5522847 11,13 L11,12 C11,11.4477153 10.5522847,11 10,11 Z"
                                                fill="#000000" opacity="0.3"
                                                transform="translate(12.500000, 12.500000) rotate(-45.000000) translate(-12.500000, -12.500000) " />
                                        </g>
                                    </svg>
                                    <p style="padding-top: 20px;">{{ audience.name }}</p>
                                </a>
                                <p style="font-size: small;">Subscribers who purchased tickets for <a
                                        href="{{ audience.event.get_event_dashboard }}">{{ audience.event.title }}</a> event.</p>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if audience.donation_type %}
            <div class="col-lg-4 col-md-4 col-12" style="padding-top:10px;">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body portlet-height">
                        <div class="row text-center">
                            <div class="col-12">
                                <a class="dashboard-links" href="{{ audience.get_detail_view }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        style="width: 4em;height: 4em;" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M4,6 L20,6 C20.5522847,6 21,6.44771525 21,7 L21,8 C21,8.55228475 20.5522847,9 20,9 L4,9 C3.44771525,9 3,8.55228475 3,8 L3,7 C3,6.44771525 3.44771525,6 4,6 Z M5,11 L10,11 C10.5522847,11 11,11.4477153 11,12 L11,19 C11,19.5522847 10.5522847,20 10,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,12 C4,11.4477153 4.44771525,11 5,11 Z M14,11 L19,11 C19.5522847,11 20,11.4477153 20,12 L20,19 C20,19.5522847 19.5522847,20 19,20 L14,20 C13.4477153,20 13,19.5522847 13,19 L13,12 C13,11.4477153 13.4477153,11 14,11 Z"
                                                fill="#000000" />
                                            <path
                                                d="M14.4452998,2.16794971 C14.9048285,1.86159725 15.5256978,1.98577112 15.8320503,2.4452998 C16.1384028,2.90482849 16.0142289,3.52569784 15.5547002,3.83205029 L12,6.20185043 L8.4452998,3.83205029 C7.98577112,3.52569784 7.86159725,2.90482849 8.16794971,2.4452998 C8.47430216,1.98577112 9.09517151,1.86159725 9.5547002,2.16794971 L12,3.79814957 L14.4452998,2.16794971 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        </g>
                                    </svg>
                                    <p style="padding-top: 20px;">{{ audience.name }}</p>
                                </a>
                                <p style="font-size: small;">Subscribers who donated under
                                    <a href="{{ audience.donation_type.get_update_url }}">{{ audience.donation_type.name }}</a>
                                    donation type.</p>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>


        {% else %}
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row justify-content-center text-center" style="padding-bottom:30px;">
                    <div class="col-12">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="width: 150px;height: 150px;" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path
                                    d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 C2.99998155,19.0000663 2.99998155,19.0000652 2.99998155,19.0000642 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z"
                                    fill="#000000" opacity="0.3" />
                                <path
                                    d="M13.8,12 C13.1562,12 12.4033,12.7298529 12,13.2 C11.5967,12.7298529 10.8438,12 10.2,12 C9.0604,12 8.4,12.8888719 8.4,14.0201635 C8.4,15.2733878 9.6,16.6 12,18 C14.4,16.6 15.6,15.3 15.6,14.1 C15.6,12.9687084 14.9396,12 13.8,12 Z"
                                    fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                        <br>
                        <h3 style="font-weight: 300;">No Audiences Yet!</h3>
                        <p>Audiences are automatically created for you when you create and event or setup a donation type.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock content %}