{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Orders | {{ event.title }}
{% endblock title %}

{% block page_title %}
Orders
{% endblock page_title %}

{% block styles %}

{% endblock styles %}


{% block scripts %}
<script>

function ChangeText(object) {
    text = object.value
    // text = text.replace(/\s/g, '&nbsp;');
    var stripped = text.replace(/<\/?[^>]+(>|$)/g, "");
    $('#message').html(stripped);
}

</script>
{% endblock scripts %}


{% block content %}
<style>
.dashboard-links {
	color: #7396b0;
}
</style>

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile" style="padding:20px;">
			<div class="kt-portlet__body">
            
                
                <div class="row" style="padding-bottom: 40px;">
                    <div class="col-12">
                        <p style="margin-bottom: 5px;">Congratulations! You've got your tickets, now you are all ready for <span style="font-weight: 400;"><a href="{{ event.get_landing_view }}">{{ event.title }}</a></span>.</p>
                        <p>Your tickets are attached to this email.</p>
                    </div>
                </div>

                
                <div class="row" style="padding-bottom: 30px;">

                    {% if event.start or event.end %}
                    <div class="col-md-6 col-12" style="padding-bottom:30px;">
                        <h4 style="font-weight: 200;">When</h4>
                        {% if event.start %}
                        <p style="margin-bottom: 0;font-weight:500;">Starts on | <span style="font-weight:200;">
                                {{ event.start|date:"N nS Y, f a" }}</span></p>
                        {% endif %}
                        {% if event.end %}
                        <p style="margin-bottom: 0;font-weight:500;">Ends on | <span style="font-weight:200;">
                                {{ event.end|date:"N nS Y, f a" }}</span></p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if event.venue_name or event.venue_address %}
                    <div class="col-md-6 col-12" style="padding-bottom:30px;">
                        <h4 style="font-weight: 200;">Where</h4>
                        {% if event.venue_name %}
                        <p style="margin-bottom: 0;font-weight:500;">Venue | <span style="font-weight:200;"> {{ event.venue_name }}</span></p>
                        {% endif %}
                        {% if event.venue_address %}
                        <p style="margin-bottom: 0;font-weight:500;">Address | <span style="font-weight:200;">{{ event.venue_address }}</span>
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
                

                <form method="POST">{% csrf_token %}
                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-md-12 col-12">
                            <p style="font-weight: 400;">A message from {{ event.house.name }}</p>
                            <hr>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-md-6 col-12">
                            <button type="submit" name="Update" value="Update" id="update-email"
                                class="btn btn-primary btn-block">Update</button>
                        </div>
                        <div class="col-md-6 col-12">
                            <button type="submit" name="send-test" value="send-test" id="send-test"
                                class="btn btn-info btn-block">Send Test E-Mail</button>
                        </div>
                    </div>
                </form>


			</div>
		</div>
	</div>

</div>
{% endblock content %}














