{% extends "backend/index.html" %}
{% load static %}
{% block title %}
Dashboard | {{ organization.name }}
{% endblock title %}

{% block page_title %}
{{ organization.name }}
{% endblock page_title %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block scripts %}

{% endblock scripts %}


{% block page_crumbs %}

{% endblock page_crumbs %}

{% block content %}

<h1>BISMILLAH</h1>


{% endblock content %}














