{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Report Error
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-6">

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 5em;"></a>
                    </div>
                </div>

                <h3>Thanks for helping out!</h3>
                <p>Arqam House is constantly trying to improve. Please provide us with information on any concerns you may be experiencing on our site.</p>
                <p>If you are writing about a technical issue that you have come across please try to be as thorough as possible.</p>
                <p>We don't ask for your contact information, however you may provide it in the message if you would like us to follow-up with you.</p>

                <div class="row" style="padding-bottom:15px;padding-top:30px;">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <div class="alert bg--{{ message.tags }}">
                            <div class="alert__body">
                                <span>{{ message }}</span>
                            </div>
                            <div class="alert__close"> × </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <form class="boxed boxed--border" action="" method="POST">{% csrf_token %}
                
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                {{ form.name }}
                            </div>
                        </div>
                    </div>
                
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                {{ form.message }}
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button class="btn btn--primary type--uppercase" type="submit">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}