{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Login | Arqam House
{% endblock title %}

{% block footer %}
{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-6">

                <div class="row d-none d-sm-none d-md-block" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <img src="{% static 'images/logo.png' %}" style="max-height: 5em;">
                    </div>
                </div>

                <div class="row" style="padding-bottom:15px;">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <div class="alert bg--{{ message.tags }}">
                            <div class="alert__body">
                                <span>{{ message.tags|upper }}! {{ message }}</span>
                            </div>
                            <div class="alert__close"> × </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <form class="boxed boxed--border" action="" method="POST">{% csrf_token %}

                    {% if form.non_field_errors %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    {% for error in form.non_field_errors %}
                                    <span>{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                                <div class="alert__close">×</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    {% if form.email.errors %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    {% for error in form.email.errors %}
                                    <span>{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                                <div class="alert__close">×</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <p>
                                    We've emailed you instructions for resetting your password, if an account exists with the email you entered.
                                    You should receive them shortly.
                                </p>
                                <p>
                                    If you don't receive an email, please make sure you've entered the address you registered with,
                                    and check your spam folder.
                                </p>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}