{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Login | Arqam House
{% endblock title %}

{% block footer %}
{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-6">

                <div class="row d-none d-sm-none d-md-block" style="padding-bottom: 20px;">
                    <div class="col-md-12">
                        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 5em;"></a>
                    </div>
                </div>

                <div class="row" style="padding-bottom:15px;">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <div class="alert bg--{{ message.tags }}">
                            <div class="alert__body">
                                <span>{{ message.tags|upper }}! {{ message }}</span>
                            </div>
                            <div class="alert__close"> × </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <form class="boxed boxed--border" action="" method="POST">{% csrf_token %}

                    {% if form.non_field_errors %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    {% for error in form.non_field_errors %}
                                    <span>{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                                <div class="alert__close">×</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if validlink %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                {{ form.as_p}}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <p>
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button class="btn btn--primary type--uppercase" type="submit">Change password</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock content %}