{% extends "backend/base.html" %}

{% load static %}

{% block title %}
{{ button_text }} | {{ House.name }}
{% endblock title %}

{% block page_title %}

{% if button_text == "Create Ticket" %}
{% if free_ticket %}Create Free Ticket{% elif paid_ticket %}Create Paid Ticket{% elif donation_ticket %}Create Donation Ticket{% endif %}
{% else %}
{{ button_text }}
{% endif %}

{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

<script type="text/javascript">


jQuery(document).ready(function($) {
    calculateBuyerTicketCostAndOrganizerTicketValue()
});





function calculateBuyerTicketCostAndOrganizerTicketValue() {
	var price = 0.00;
	var new_price = 0.00;
	var buyer_ticket_cost = 0.00;
	var organizer_ticket_value = 0.00;

	// Get the price elements
	price = document.getElementById("id_price");


	// Check and see if price element value is not null
	if (price != null) {
		price = price.value;
	}

	if (price) {
		new_price = parseFloat(price);
	}

	// use the regular price 

	// Check the value of the "pass fee" checkbox
	if (document.getElementById('id_pass_fee').checked) {
        buyer_ticket_cost = (new_price + (new_price * 0.04) + 0.30);
        organizer_ticket_value = new_price;
    } else {
        buyer_ticket_cost = new_price;
        organizer_ticket_value = (new_price - (new_price * 0.04) - 0.30);
    }

    // Convert to 2 decimal places
    buyer_ticket_cost = buyer_ticket_cost.toFixed(2);
    organizer_ticket_value = organizer_ticket_value.toFixed(2);

    // Set the Values to 0 if there is no input
    if (isNaN(buyer_ticket_cost)) {
    	buyer_ticket_cost = 0.00;
    }
    if (isNaN(organizer_ticket_value)) {
    	organizer_ticket_value = 0.00;
    }


    // Display Buyer Cost
    buyer_ticket_cost = buyer_ticket_cost.toString()
    document.getElementById("new_price_div").innerHTML = "$" + buyer_ticket_cost;

    // Display Organizer Ticket Value
    organizer_ticket_value = organizer_ticket_value.toString()
    document.getElementById("amount_received_div").innerHTML = "$" + organizer_ticket_value;


}


$('#id_pass_fee').change(function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});


$('#id_price').bind('input', function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});



</script>
<!--end::Page Resources -->
{% endblock scripts %}



{% block content %}
<style>
.dashboard-links {
	color: #7396b0;
}
.card-header {
    background-color: #e7f5ff;
}
</style>


<form method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
		<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
			<div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__body" style="margin: 30px;">

					<input type="hidden" name="token" id="token">

					{% if form.non_field_errors %}
					<div class="row">
						<div class="col-md-10">
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								<strong>Oh snap!</strong> {{ error }}
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}

					<div class="row" {% if not donation_ticket %}style="padding-bottom: 20px;"{% endif %}>
						<div class="col-md-10 offset-md-1">
							<p style="font-size:1.1rem;font-weight: 500;margin-bottom:0px;{% if form.title.errors %}color:red;{% endif %}">Ticket Name <i style="color:#FF4500;font-weight:700;" class="la la-asterisk"></i></p>
							{{ form.title }}
							<br>
							{% for error in form.title.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					{% if paid_ticket %}
					<div class="row" {% if not donation_ticket %}style="padding-bottom: 20px;"{% endif %}>
						<div class="col-md-10 offset-md-1">
							<p style="font-weight: 600;margin-bottom:0px;{% if form.price.errors %}color:red;{% endif %}">Price <i style="color:#FF4500;font-weight:700;" class="la la-asterisk"></i></p>
							{{ form.price }}
							<br>
							{% for error in form.price.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="row" {% if not donation_ticket %}style="padding-bottom: 10px;"{% endif %}>
						<div class="col-md-10 offset-md-1">
							<div style="padding-bottom: 30px;" class="accordion" id="accordionExample4">
								<div class="card">
									<div class="card-header" id="headingTwo1">
										<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
											<i class="la la-plus"></i>Pricing Options
										</div>
									</div>
									<div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
										<div class="card-body">

											
											<div class="row" style="padding-bottom: 10px;">
												<div class="col-lg-4 col-md-4 col-4">
													<span class="kt-switch kt-switch--icon mx-auto" style="user-select: auto;">
														<label style="user-select: auto;margin-bottom: 0px;" >
															{{ form.pass_fee }}
															<span style="user-select: auto;"></span>
														</label>
														<p style="margin-bottom:0px;"><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body"
																data-toggle="kt-tooltip" data-placement="top" title=""
																data-original-title="You can choose to pass on the processing fee to the ticket buyer."></i> Pass Fee</p>
													</span>
												</div>
												<div class="col-md-4 col-4">
													<h3 class="m--font-info" id="new_price_div">$0.00</h3>
													<p><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="This is how much this ticket will cost buyers"></i>Buyer Price</p>
												</div>
												<div class="col-md-4 col-4">
													<h3 class="m--font-success" id="amount_received_div">$0.00</h3>
													<p><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="This is how much you will recieve every time this ticket is sold"></i>Your Payout</p>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					<div class="row" {% if not donation_ticket %}style="padding-bottom: 30px;"{% endif %}>
						<div class="col-md-10 offset-md-1">
							<p style="font-weight: 600;margin-bottom:0px;{% if form.description.errors %}color:red;{% endif %}">Description</p>
							{{ form.description }}
							<br>
							{% for error in form.description.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>


					{% if not donation_ticket %}
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-10 offset-md-1">
							<div style="padding-bottom: 30px;" class="accordion" id="accordionExample4">
								<div class="card">
									<div class="card-header" id="headingTwo4">
										<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
											<i class="la la-plus"></i> Additional Settings
										</div>
									</div>
									<div id="collapseThree4" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample4">
										<div class="card-body">


											<div class="row" style="padding-bottom: 10px;padding-top:30px;">
												<div class="col-lg-4 col-md-12">
													<p style="margin-bottom:0px;"><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="The minimum amount of tickets the buyer must purchase per order. Leave blank for default."></i> Min Amount</p>
													{{ form.min_amount }}
													<br>
													{% for error in form.min_amount.errors %}
														<div class="alert m-alert--outline alert-danger" role="alert">
															{{ error }}
														</div>
													{% endfor %}
												</div>
												<div class="col-lg-4 col-md-12">
													<p style="margin-bottom:0px;"><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="The maximum amount of tickets the buyer is able to purchase per order. Leave blank for default."></i> Max Amount</p>
													{{ form.max_amount }}
													<br>
													{% for error in form.max_amount.errors %}
														<div class="alert m-alert--outline alert-danger" role="alert">
															{{ error }}
														</div>
													{% endfor %}
												</div>
												<div class="col-lg-4 col-md-12">
													<p style="margin-bottom:0px;"><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Total number of tickets available for this ticket. Leave blank if unlimited."></i> Total</p>
													{{ form.amount_available }}
													{% for error in form.amount_available.errors %}
														<div class="alert m-alert--outline alert-danger" role="alert">
															{{ error }}
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-10 offset-md-1">
							<div class="row">
							{% if button_text == "Update Ticket" %}
									<div class="col-md-6" style="padding-top: 20px;">
										<button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">{{ button_text }}</button>
									</div>
									<div class="col-md-6" style="padding-top: 20px;">
										<button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Ticket</button>
									</div>
							{% else %}
								<div class="col-md-12">
									<button type="submit" name="{{ button_text }}" value="{{ button_text }}" id="create-ticket" class="btn btn-primary btn-block">{{ button_text }}</button>
								</div>
							{% endif %}
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}














