{% extends "backend/base.html" %}

{% load static %}

{% block title %}
{{ button_text }} | {{ House.name }}
{% endblock title %}

{% block page_title %}

{% if button_text == "Create Ticket" %}
{% if free_ticket %}Create Free Ticket{% elif paid_ticket %}Create Paid Ticket{% elif donation_ticket %}Create Donation Ticket{% endif %}
{% else %}
{{ button_text }}
{% endif %}

{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script src="{% static 'assets/demo/default/custom/components/forms/widgets/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

<script type="text/javascript">

function updateCountdown() {
    // 140 is the max message length
    var remaining = 100 - jQuery('.message').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
}

jQuery(document).ready(function($) {
    updateCountdown();

    $('.message').change(updateCountdown);
    $('.message').keyup(updateCountdown);
    calculateBuyerTicketCostAndOrganizerTicketValue()


});


$('#id_sale_start').datetimepicker({
    format: 'mm/dd/yyyy HH:ii P',
    todayBtn: true,
    
    pickerPosition: 'bottom-right',
    showMeridian: true
});


$('#id_sale_end').datetimepicker({
    format: 'mm/dd/yyyy HH:ii P',
    todayBtn: true,
    
    pickerPosition: 'bottom-right',
    showMeridian: true
});


$('#id_sale_price').keyup(function() {
  
  // If value is not empty
  if ($(this).val().length == 0) {
    // Hide the element
    $('.show_hide').hide();
  } else {
    // Otherwise show it
    $('.show_hide').show();
  }
}).keyup();


function calculateBuyerTicketCostAndOrganizerTicketValue() {
	var price = 0.00;
	var sale_price = 0.00;
	var new_price = 0.00;
	var buyer_ticket_cost = 0.00;
	var organizer_ticket_value = 0.00;

	// Get the price and sale price elements
	sale_price = document.getElementById("id_sale_price");
	price = document.getElementById("id_price");


	// Check and see if sale price elements value is not null 
	if (sale_price != null) {
		sale_price = sale_price.value;
	}

	// Check and see if price element value is not null
	if (price != null) {
		price = price.value;
	}


	// Check and see if there is a sale price or if it is null
	// use the regular price 
	if (sale_price) {
		new_price = parseFloat(sale_price);
		document.getElementById("id_sale_start").required = true; // $('#id_sale_start')
		document.getElementById("id_sale_end").required = true;
	} else {
		new_price = parseFloat(price);
		document.getElementById("id_sale_start").required = false;
		document.getElementById("id_sale_end").required = false;
	}

	// Check the value of the "pass fee" checkbox
	if (document.getElementById('id_pass_fee').checked) {
        buyer_ticket_cost = (new_price + (new_price * 0.05) + 0.30);
        organizer_ticket_value = new_price;
    } else {
        buyer_ticket_cost = new_price;
        organizer_ticket_value = (new_price - (new_price * 0.05) - 0.30);
    }

    // Convert to 2 decimal places
    buyer_ticket_cost = buyer_ticket_cost.toFixed(2);
    organizer_ticket_value = organizer_ticket_value.toFixed(2);

    // Set the Values to 0 if there is no input
    if (isNaN(buyer_ticket_cost)) {
    	buyer_ticket_cost = 0.00;
    }
    if (isNaN(organizer_ticket_value)) {
    	organizer_ticket_value = 0.00;
    }


    // Display Buyer Cost
    buyer_ticket_cost = buyer_ticket_cost.toString()
    document.getElementById("new_price_div").innerHTML = "$" + buyer_ticket_cost;

    // Display Organizer Ticket Value
    organizer_ticket_value = organizer_ticket_value.toString()
    document.getElementById("amount_received_div").innerHTML = "$" + organizer_ticket_value;


}


$('#id_pass_fee').change(function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});


$('#id_price').bind('input', function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});

$('#id_sale_price').bind('input', function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});



</script>
<!--end::Page Resources -->
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">{{ event.title }}</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}



<form method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div class="row">
		<div class="col-8">
			<div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__body">

					<input type="hidden" name="token" id="token">
					
					{% if form.non_field_errors %}
					<div class="row">
						<div class="col-md-12">
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								<strong>Oh snap!</strong> {{ error }}
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}

					<div class="row" style="padding-bottom: 30px;">
						<div class="col-md-12">
							<h5 {% if form.title.errors %}style="color:red;"{% endif %}>Ticket Title <i class="fas fa-asterisk" style="color: red;"></i></h5>
							{{ form.title }}
							<br>
							{% for error in form.title.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					{% if paid_ticket %}
					<div class="row" style="padding-bottom: 30px;">
						<div class="col-md-6">
							<h5 {% if form.price.errors %}style="color:red;"{% endif %}>Price <i class="fas fa-asterisk" style="color: red;"></i></h5>
							{{ form.price }}
							<br>
							{% for error in form.price.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
						<div class="col-md-6">
							<h5 {% if form.sale_price.errors %}style="color:red;"{% endif %}>Sale Price</h5>
							{{ form.sale_price }}
							<br>
							{% for error in form.sale_price.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="row show_hide" style="padding-bottom: 30px;">
						<div class="col-md-6">
							<h5 {% if form.sale_start.errors %}style="color:red;"{% endif %}>Sale Start <i class="fas fa-asterisk" style="color: red;"></i></h5>
							{{ form.sale_start }}
							<br>
							{% for error in form.sale_start.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
										{{ error }}
								</div>
							{% endfor %}
						</div>
						<div class="col-md-6">
							<h5 {% if form.sale_end.errors %}style="color:red;"{% endif %}>Sale End <i class="fas fa-asterisk" style="color: red;"></i></h5>
							{{ form.sale_end }}
							<br>
							{% for error in form.sale_end.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
										{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="row text-center" style="padding-bottom: 50px;">
						<div class="col-md-6">
							<h1 class="m--font-info" id="new_price_div" style="font-size: 4.5em;">$0.00</h1>
							<p>Ticket Price Shown To Buyer</p>
						</div>
						<div class="col-md-6">
							<h1 class="m--font-success" id="amount_received_div" style="font-size: 4.5em;">$0.00</h1>
							<p>Amount You Will Receive</p>
						</div>
					</div>

					<div class="row text-center justify-content-center" style="padding-bottom: 50px;">
						<div class="col-md-12">
							<h5>Platform Fee</h5>
							<div class="row">
								<div class="col-md-3 mx-auto">
									<span class="kt-switch kt-switch--icon mx-auto" style="user-select: auto;">
										<label style="user-select: auto;">
											{{ form.pass_fee }}
											<span style="user-select: auto;"></span>
										</label>
									</span>
								</div>
							</div>
							<br>
							<p>Pass Fee onto buyer (on) absorb fee (off). <br>The Arqam Platform fee + Credit Card Processing Fee is %{{ platform_fee }} of the ticket price plus a ${{ platform_base_fee }} base fee for each ticket sold.</p>
						</div>
					</div>
					{% endif %}


					{% if not donation_ticket %}
			        <div class="row" style="padding-bottom: 30px;">
						<div class="col-md-4">
							<h5>Min Amount</h5>
							{{ form.min_amount }}
							<br>
							{% for error in form.min_amount.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
						<div class="col-md-4">
							<h5>Max Amount</h5>
							{{ form.max_amount }}
							<br>
							{% for error in form.max_amount.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
						<div class="col-md-4">
							<h5>Amount Available</h5>
							{{ form.amount_available }}
							<br>
							{% for error in form.amount_available.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
							{% if button_text == "Update Ticket" %}
								<p>You have sold {{ form.instance.amount_sold }} ticket so far.</p>
							{% endif %}
						</div>
					</div>
					{% endif %}

					<div class="row">
						<div class="col-md-12">
							<h5 {% if form.description.errors %}style="color:red;"{% endif %}>Description</h5>
							{{ form.description }}
							<br>
							{% for error in form.description.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
										{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>


					<div class="row">
					{% if button_text == "Update Ticket" %}
							<div class="col-md-6">
								<button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">{{ button_text }}</button>
							</div>
							<div class="col-md-6">
								<button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Ticket</button>
							</div>
					{% else %}
						<div class="col-md-12">
							<button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">{{ button_text }}</button>
						</div>
					{% endif %}
					</div>



				</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}














