{% extends "backend/base.html" %}

{% load static %}

{% block title %}
{{ button_text }} | {{ House.name }}
{% endblock title %}

{% block page_title %}

{% if button_text == "Create Ticket" %}
{% if free_ticket %}Create Free Ticket{% elif paid_ticket %}Create Paid Ticket{% elif donation_ticket %}Create Donation Ticket{% endif %}
{% else %}
{{ button_text }}
{% endif %}

{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

<script type="text/javascript">


jQuery(document).ready(function($) {
    calculateBuyerTicketCostAndOrganizerTicketValue()
});





function calculateBuyerTicketCostAndOrganizerTicketValue() {
	var price = 0.00;
	var new_price = 0.00;
	var buyer_ticket_cost = 0.00;
	var organizer_ticket_value = 0.00;

	// Get the price elements
	price = document.getElementById("id_price");


	// Check and see if price element value is not null
	if (price != null) {
		price = price.value;
	}

	if (price) {
		new_price = parseFloat(price);
	}

	// use the regular price 

	// Check the value of the "pass fee" checkbox
	if (document.getElementById('id_pass_fee').checked) {
        buyer_ticket_cost = (new_price + (new_price * 0.04) + 0.30);
        organizer_ticket_value = new_price;
    } else {
        buyer_ticket_cost = new_price;
        organizer_ticket_value = (new_price - (new_price * 0.04) - 0.30);
    }

    // Convert to 2 decimal places
    buyer_ticket_cost = buyer_ticket_cost.toFixed(2);
    organizer_ticket_value = organizer_ticket_value.toFixed(2);

    // Set the Values to 0 if there is no input
    if (isNaN(buyer_ticket_cost)) {
    	buyer_ticket_cost = 0.00;
    }
    if (isNaN(organizer_ticket_value)) {
    	organizer_ticket_value = 0.00;
    }


    // Display Buyer Cost
    buyer_ticket_cost = buyer_ticket_cost.toString()
    document.getElementById("new_price_div").innerHTML = "$" + buyer_ticket_cost;

    // Display Organizer Ticket Value
    organizer_ticket_value = organizer_ticket_value.toString()
    document.getElementById("amount_received_div").innerHTML = "$" + organizer_ticket_value;


}


$('#id_pass_fee').change(function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});


$('#id_price').bind('input', function() {
	calculateBuyerTicketCostAndOrganizerTicketValue()
});



</script>
<!--end::Page Resources -->
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">{{ event.title }}</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<style>
.dashboard-links {
	color: #7396b0;
}
</style>


<form method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div class="row">
		<div class="col-8">
			<div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__body">

					<input type="hidden" name="token" id="token">
					
					{% if form.non_field_errors %}
					<div class="row">
						<div class="col-md-10">
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								<strong>Oh snap!</strong> {{ error }}
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}

					<div class="row" {% if not donation_ticket %}style="padding-bottom: 20px;"{% endif %}>
						<div class="col-md-10">
							<p style="font-weight: 600;margin-bottom:0px;{% if form.title.errors %}color:red;{% endif %}">Title</p>
							{{ form.title }}
							<br>
							{% for error in form.title.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="row" {% if not donation_ticket %}style="padding-bottom: 40px;"{% endif %}>
						<div class="col-md-10">
							<p style="font-weight: 600;margin-bottom:0px;{% if form.description.errors %}color:red;{% endif %}">Description</p>
							{{ form.description }}
							<br>
							{% for error in form.description.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>


					{% if paid_ticket %}
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-4">
									<p style="font-weight: 600;margin-bottom:0px;{% if form.price.errors %}color:red;{% endif %}">Price</p>
									{{ form.price }}
									<br>
									{% for error in form.price.errors %}
										<div class="alert m-alert--outline alert-danger" role="alert">
											{{ error }}
										</div>
									{% endfor %}
								</div>
								<div class="col-md-4">
									<h3 class="m--font-info" id="new_price_div">$0.00</h3>
									<p>Buyer Price</p>
								</div>
								<div class="col-md-4">
									<h3 class="m--font-success" id="amount_received_div">$0.00</h3>
									<p>Your Payout</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="padding-bottom: 50px;">
						<div class="col-md-4">
							<span class="kt-switch kt-switch--icon mx-auto" style="user-select: auto;">
								<p style="font-weight: 600;margin-bottom:0px;">Pass Fee</p>
								<label style="user-select: auto;">
									{{ form.pass_fee }}
									<span style="user-select: auto;"></span>
								</label>
							</span>
						</div>
					</div>
					
					{% endif %}


					{% if not donation_ticket %}
			        <div class="row" style="padding-bottom: 10px;padding-top:30px;">
						<div class="col-md-6">
							<p style="font-weight: 600;margin-bottom:0px;" data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="The minimum amount of tickets the buyer must purchase per order. Leave blank for default.">Min Amount</p>
							{{ form.min_amount }}
							<br>
							{% for error in form.min_amount.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
						<div class="col-md-6">
							<p style="font-weight: 600;margin-bottom:0px;" data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="The maximum amount of tickets the buyer is able to purchase per order. Leave blank for default.">Max Amount</p>
							{{ form.max_amount }}
							<br>
							{% for error in form.max_amount.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="row" style="padding-bottom: 50px;">
						<div class="col-md-6">
							<p style="font-weight: 600;margin-bottom:0px;" data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Total number of tickets available for this ticket. Leave blank if unlimited.">Amount Available</p>
							{{ form.amount_available }}
							{% for error in form.amount_available.errors %}
								<div class="alert m-alert--outline alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}

					


					<div class="row">
					{% if button_text == "Update Ticket" %}
							<div class="col-md-6">
								<button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">{{ button_text }}</button>
							</div>
							<div class="col-md-6">
								<button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Ticket</button>
							</div>
					{% else %}
						<div class="col-md-12">
							<button type="submit" name="{{ button_text }}" value="{{ button_text }}" class="btn btn-primary btn-block">{{ button_text }}</button>
						</div>
					{% endif %}
					</div>



				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-6">
			<div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__body">
					<div class="row text-center">
						<div class="col-12">
							<a class="dashboard-links" href="{{ event.list_attendees_view }}">
								<h1>{{ form.instance.amount_sold }}</h1>
								<p>Ticket{% if form.instance.amount_sold > 1 %}s{% endif %} Sold</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}














