{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Tickets | {{ event.title }}
{% endblock title %}


{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.dashboard-links {
		color: #7396b0;
	}
</style>

{% endblock styles %}


{% block scripts %}
<!--begin::Page Resources --> 
<script type="text/javascript">
</script>
<!--end::Page Resources -->
{% endblock scripts %}


{% block content %}


<div class="row justify-content-center" style="padding: 3rem 0px 0rem 0px;">
	<div class="col-lg-8 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom: 20px;">
					<div class="col-12">
						<h3 style="display: inline-block;">Tickets</h3>
					</div>
				</div>

				<div class="row text-center" style="padding-bottom: 30px;">
					<div class="col-md-4" style="padding-bottom: 20px;">
						<a href="{{ event.create_paid_ticket }}" class="btn btn-secondary btn-elevate-hover btn-block"
							id="new_paid_ticket"><i class="la la-plus" style="user-select: auto;"></i> Paid Ticket</a>
					</div>
					<div class="col-md-4" style="padding-bottom: 20px;">
						<a href="{{ event.create_free_ticket }}" class="btn btn-secondary btn-elevate-hover btn-block"
							id="new_free_ticket"><i class="la la-plus" style="user-select: auto;"></i> Free Ticket</a>
					</div>
					<div class="col-md-4" style="padding-bottom: 20px;">
						<a href="{{ event.create_donation_ticket }}" class="btn btn-secondary btn-elevate-hover btn-block"
							id="new_donation_ticket"><i class="la la-plus" style="user-select: auto;"></i> Donation Ticket</a>
					</div>
				</div>

				{% for ticket in tickets %}
				<div class="row" style="padding-bottom: 50px;">
					<div class="col-12">
						<h5 style="font-size: 1.2rem;font-weight: 400;">{{ ticket.title }} {% if ticket.sold_out %}| <span style="color:#FF4500;">Sold Out </span>{% endif %} {% if ticket.deleted %}| <span style="color:#FF4500;">Deleted</span> {% endif %}| <a href="{{ ticket.update_ticket_view }}">Edit</a></h5>
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated {{ ticket.percentage_color }}" role="progressbar" aria-valuenow="{{ ticket.amount_sold }}" aria-valuemin="0" aria-valuemax="{{ ticket.amount_available }}" style="width: {{ ticket.percentage_sold }}"></div>
						</div>
						<div class="row" style="padding-top:10px;">
							<div class="col-md-6">
								<p style="margin-bottom: 3px;"><span style="font-weight: 400;">{% if ticket.free %}Free Ticket{% elif ticket.paid %}Paid Ticket{% else %}Donation Ticket{% endif %}</span></p>
							</div>
							<div class="col-md-6">
								<p style="margin-bottom: 3px;font-weight: 400;" class="float-right"> {{ ticket.amount_sold }} / {{ ticket.amount_available }}</p>
							</div>
							
						</div>
						
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center" style="padding-bottom: 30px;">
	<div class="col-lg-4 col-md-6 col-6" style="padding-bottom:10px;">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				<div class="row text-center">
					<div class="col-12">
						<a class="dashboard-links" href="{{ event.get_event_dashboard }}">
							<i class="la la-edit" style="font-size:2.5em;"></i>
							<p style="padding-top: 10px;">Dashboard</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-6" style="padding-bottom:10px;">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				<div class="row text-center">
					<div class="col-12">
						<a class="dashboard-links" href="{{ event.get_landing_view }}">
							<i class="la la-external-link" style="font-size:2.5em;"></i>
							<p style="padding-top: 10px;">View Event</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}














