{% extends "backend/base.html" %}

{% load static %}

{% block title %}
My Events | {{ House.name }}
{% endblock title %}

{% block page_title %}
Tickets
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<!--begin::Page Resources --> 
<script type="text/javascript">
</script>
<!--end::Page Resources -->
{% endblock scripts %}


{% block content %}


<div class="row align-items-center h-100" style="padding: 2rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<br>

				{% for ticket in tickets %}
				<div class="row" style="padding-bottom: 50px;">
					<div class="col-12">
						<h5 style="font-size: 1.45rem;"><a href="{{ ticket.update_ticket_view }}">{{ ticket.title }}</a></h5>
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated {{ ticket.percentage_color }}" role="progressbar" aria-valuenow="{{ ticket.amount_sold }}" aria-valuemin="0" aria-valuemax="{{ ticket.amount_available }}" style="width: {{ ticket.percentage_sold }}"></div>
						</div>
						<div class="row" style="padding-top:10px;">
							<div class="col-md-6">
								<p style="margin-bottom: 3px;"><span style="font-weight: 400;">{% if ticket.free %}Free Ticket{% elif ticket.paid %}Paid Ticket{% else %}Donation Ticket{% endif %}</span></p>
							</div>
							<div class="col-md-6">
								<p style="margin-bottom: 3px;" class="float-right"><span style="font-weight: 400;">{{ ticket.amount_sold }} / {{ ticket.amount_available }}</span></p>
							</div>
							
						</div>
						
					</div>
				</div>
				{% endfor %}


				<div class="row text-center">
					<div class="col-4">
						<a href="{{ event.create_paid_ticket }}" class="btn btn-primary btn-block">Add Paid Ticket</a>
					</div>
					<div class="col-md-4">
						<a href="{{ event.create_free_ticket }}" class="btn btn-primary btn-block">Add Free Ticket</a>
					</div>
					<div class="col-md-4">
						<a href="{{ event.create_donation_ticket }}" class="btn btn-primary btn-block">Add Donation Ticket</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock content %}














