{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Attendees | {{ event.title }}
{% endblock title %}

{% block page_title %}
Attendees
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script>

function FocusOnInput()
{
    document.getElementById("attendee-search").focus();
    
}

function GetAttendees(object)
{

    console.log(object.value)
    var search = object.value;
    var token = '{{csrf_token}}';

    $.ajax({
        type:"POST",
        headers: { "X-CSRFToken": token },
        url: '{{ request.path }}',
        data: {
          'search': search,
        },
        
        success: function (data) {
            console.log("HELLOO")
            document.getElementById("dynamic").innerHTML = data;
            
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert(errorThrown);
                  //some stuff on failure
                },
    });
    
}

jQuery(document).ready(function() {
    // DataTableAjax();
    FocusOnInput();

});
</script>
{% endblock scripts %}

{% block content %}
<style>

.dashboard-links {
color: #7396b0;

}
</style>

<div  class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<form method="POST">{% csrf_token %}
				<div class="row" style="padding-bottom:30px;">
					<div class="col-6">
						<h3>Attendees <span style="font-size: 0.8em;font-weight: 200;">| {{ attendees.count }}</span></h3>
					</div>
					
					<div class="col-6">
						<button type="submit" name="Export To Excel" id="Export To Excel" class="btn btn-primary pull-right">Export To Excel</button>
					</div>
				</div>
				</form>

				<div class="row" style="padding-bottom:30px;">
					<div class="col-12">
						<input type="search" placeholder="Search For An Attendee" id="attendee-search" class="form-control m-input" onkeyup="GetAttendees(this)">
						<br>
					</div>
				</div>
					
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Ticket</th>
							<th>Refunded</th>
						</tr>
					</thead>
					<tbody id="dynamic">
						{% for attendee in attendees %}
						<tr>
							<td><a href="{{ attendee.get_attendee_view }}">{{ attendee.name }}</a></td>
							<td>{{ attendee.ticket.title }}</td>
							<td>{% if attendee.active %}<span style="color: #2584C7;">No</span>{% else %}<span style="color: #FF4500;">Yes</span>{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>	

				
			</div>
					
		</div>
	</div>
</div>
{% endblock content %}














