{% extends "backend/base.html" %}
{% load attendee_form_tags %}
{% load static %}

{% block title %}
Attendee | {{ attendee.name }}
{% endblock title %}

{% block page_title %}
<a style="text-decoration: none;font-size: 0.7em;color: #4499d5;" href="{{ event.list_attendees_view }}"><i style="font-size: 1em;" class="fas fa-long-arrow-alt-left"></i> Back To Attendees</a>
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<!--begin::Page Resources --> 

<!--end::Page Resources -->
{% endblock scripts %}



{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<style>
.dashboard-links {
	color: #7396b0;
}
</style>
<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row" style="padding-bottom:20px;">
					<div class="col-md-12">
						<h4>Attendee Details</h4>
					</div>
				</div>

				<div class="row" style="padding-bottom:10px;">
					<div class="col-md-4">
						<p style="font-weight: 600;margin-bottom: 0px;">Name</p>
						<p>{{ attendee.name }}</p>
					</div>
					<div class="col-md-5">
						<p style="font-weight: 600;margin-bottom: 0px;"><a href="{{ attendee.order.get_order_view }}">Order ID</a></p>
						<p>{{ attendee.order.transaction.payment_id }}</p>
					</div>
				</div>

				<div class="row" style="padding-bottom:10px;">
					<div class="col-md-4">
						<p style="font-weight: 600;margin-bottom: 0px;">Ticket</p>
						<p>{{ attendee.ticket.title }}</p>
					</div>
					{% if attendee.email %}
					<div class="col-md-2">
						<p style="font-weight: 600;margin-bottom: 0px;">Email</p>
						<p>{{ attendee.email }}</p>
					</div>
					{% endif %}
					{% if attendee.gender %}
					<div class="col-md-2">
						<p style="font-weight: 600;margin-bottom: 0px;">Gender</p>
						<p>{{ attendee.gender|title }}</p>
					</div>
					{% endif %}
					{% if attendee.age %}
					<div class="col-md-2">	
						<p style="font-weight: 600;margin-bottom: 0px;">Age</p>
						<p>{{ attendee.age }}</p>
					</div>
					{% endif %}
				</div>

				<div class="row" style="padding-bottom: 30px;">
					<div class="col-md-12">
						{% if attendee.note %}
						<p style="font-weight: 600;margin-bottom: 5px;">Note</p>
						<p>{{ attendee.note }}</p>
						{% endif %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						{% if answers %}
							{% for answer in answers %}
							<p style="margin-bottom: 0px;font-weight: 600;">Q | {{ answer.question }}</p>
							<p>A | {{ answer.value }}</p>
							{% endfor %}
						{% endif %}
					</div>
				</div>


				<form method="POST">{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<h4>Edit Details</h4>
					</div>
				</div>

				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-6">
						<p style="margin-bottom: 4px;">Name</p>
						<input pattern="[a-zA-Z ]*" title="No numbers please" maxlength="100" class="form-control" type="text" name="name" id="name" size="30" required placeholder="Full Name" value="{{ attendee.name }}">
					</div>
				</div>

				{% if attendee_common_questions.email %}
				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-6">
						<p style="margin-bottom: 4px;">Email</p>
						<input class="form-control" maxlength="150" type="email" name="email" id="email" size="30" required placeholder="email@address.com" value="{{ attendee.email }}">
					</div>
				</div>
				{% endif %}

				{% if attendee_common_questions.gender %}
				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-6">
						<p style="margin-bottom: 4px;">Gender</p>
						<select id="gender" name="gender" class="form-control m-input">
							{% if not attendee_common_questions.gender_required %}
							<option value="None">------</option>
							{% endif %}
							<option {% if attendee.gender == 'female' %}selected{% endif %} value="female">Female</option>
							<option {% if attendee.gender == 'male' %}selected{% endif %} value="male">Male</option>
						</select>
					</div>
				</div>
				{% endif %}

				{% if attendee_common_questions.age %}
				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-4">
						<p style="margin-bottom: 4px;">Age</p>
						<input class="form-control m-input" name="age" value="{{ attendee.age }}" id="age" type="number" min="0" max="100" {% if attendee_common_questions.age_required %}required{% endif %}>
					</div>
				</div>
				{% endif %}

				{% if attendee_common_questions.note %}
				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-12">
						<p style="margin-bottom: 4px;">Note</p>
						<textarea name="note" id="note" placeholder="You can write additional notes or concerns about this attendee here." class="form-control m-input" rows="3" style="user-select: auto;" {% if attendee_common_questions.notes_required %}required{% endif %}>{{ attendee.note }}</textarea>
					</div>
				</div>
				{% endif %}

				{% if answers %}
				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-12">
						<hr>
						{% for answer in answers %}
							<div class="row" style="padding-top:10px;padding-bottom: 10px;">
								<div class="col-md-12">
									<p style="margin-bottom: 4px;">{{ answer.question.question.title }}</p>
									{% if answer.question.question.question_type == 'Long' %}
									<textarea maxlength="300" name="{{ answer.question.pk }}_{{ answer.attendee.id }}" id="{{ answer.question.pk }}_{{ answer.attendee.id }}" class="form-control m-input" rows="3" style="user-select: auto;" {% if answer.question.question.required %}required{% endif %}>{{ answer.value }}</textarea>
									{% elif answer.question.question.question_type == 'Multiple Choice' %}
									<select name="{{ answer.question.pk }}_{{ answer.attendee.id }}" id="{{ answer.question.pk }}_{{ answer.attendee.id }}" class="form-control m-input">
										{% if not answer.question.question.required %}
										<option value="None">------</option>
										{% endif %}
										{% for option in answer.question.question.multiplechoice_set.all %}
										<option {% if option.title == answer.value %}selected{% endif %} value="{{ option.title }}">{{ option.title }}</option>
										{% endfor %}
									</select>
									{% else %}
									<input maxlength="300" name="{{ answer.question.pk }}_{{ answer.attendee.id }}" value="{{ answer.value}}" class="form-control m-input" type="text" id="{{ answer.question }}_{{ answer.attendee }}" size="30" {% if answer.question.question.required %}required{% endif %} placeholder="{{ answer.question.question.help_text }}">
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}

				<div class="row" style="padding-top:10px;padding-bottom: 10px;">
					<div class="col-md-12">
						<button type="submit" class="btn btn-block btn-primary">Save</button>
					</div>
				</div>
				</form>


			</div>
		</div>
	</div>	
</div>
{% endblock content %}














