{% extends "backend/base.html" %}
{% load tz %}
{% load static %}

{% block title %}
Order #{{ order.number }} | {{ event.title }}
{% endblock title %}

{% block page_title %}
<a style="text-decoration: none;font-size: 0.7em;color: #4499d5;" href="{{ event.list_orders_view }}"><i style="font-size: 1em;" class="fas fa-long-arrow-alt-left"></i> Back To Orders</a>
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script>

	// Disables buttons when form is submitted
	$('form').submit(function () {
		// Bail out if the form contains validation errors
		if ($.validator && !$(this).valid()) return;

		var form = $(this);
		$(this).find('input[type="submit"], button[type="submit"]').each(function (index) {
			// Create a disabled clone of the submit button
			$(this).clone(false).removeAttr('id').prop('disabled', true).insertBefore($(this));

			// Hide the actual submit button and move it to the beginning of the form
			$(this).hide();
			form.prepend($(this));
		});
	});
</script>
{% endblock scripts %}

{% block content %}
<style>
.dashboard-links {
	color: #7396b0;
}
</style>

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-12">
						<h4>Order Details</h4>
						<p>Order placed on {{ order.created_at|localtime }}</p>
						<p style="font-weight:500;">
							{% if order.partial_refund %}
								<span style="color:#FFBE00;"> This order has been partially refunded</span>
							{% elif order.refunded %}
								<span style="color:#FF4500;"> This order has been refunded</span>
							{% else %}
								<span style="color:#2584C7;">Successful Order {% if order.house_created %}- Created by House{% endif %}</span>
							{% endif %}
						</p>
						
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<p><span style="font-weight:500;">Order #</span> | {{ order.number }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<p><span style="font-weight:500;">Name</span> | {{ order.name|title }}</p>
					</div>
					<div class="col-md-8">
						<p><span style="font-weight:500;">Email</span> | {{ order.email }}</p>
					</div>
				</div>

				{% if order.event_cart.pay %}
				<div class="row">
					<div class="col-md-4">
						<p><span style="font-weight:500;">Payment Card</span> | {% include "events/orders/brands.html" with order=order.transaction %}</p>
					</div>
					<div class="col-md-4">
						<p><span style="font-weight:500;">Last Four Digits</span> | {% if order.transaction.last_four %}{{ order.transaction.last_four }}{% else %}No Payment{% endif %}</p>
					</div>
					<div class="col-md-4">
						<p><span style="font-weight:500;">Outcome</span> | {% if order.transaction.outcome_type %}{{ order.transaction.outcome_type|title }}{% else %}No Payment{% endif %}</p>
					</div>
				</div>
				{% endif %}

				
				<div class="row" style="padding-top: 40px;">
					<div class="col-12">
						<h4>Attendees</h4>
					</div>
				</div>

				<form method="POST" >{% csrf_token %}
				<div class="row text-center">
					<div class="col-12">
						<table class="table table-bordered table-hover" width="100%">
							<tbody>
								{% for attendee in attendees %}
								<tr {% if attendee.get_request_for_refund_if_available %}style="background-color: #ffe4c4;"{% endif %}>
									<td style="vertical-align: inherit;"><p style="margin:0 auto;">{{ forloop.counter }}</p></td>
									<td style="vertical-align: inherit;"><p style="margin:0 auto;">{{ attendee.ticket }}</p></td>
									<td style="vertical-align: inherit;"><a href="{{ attendee.get_attendee_view }}"><p style="margin:0 auto;">{{ attendee.name }}</p></a></td>
									{% if order.event_cart.pay %}
										{% if attendee.active %}
											{% if attendee.ticket_price <= house_balance.gross_balance %}
												<td>
													<button type="submit" id="Refund" name="Refund" value="{{ attendee.id }}" class="btn btn-warning btn-block">Refund</button>
													{% if attendee.get_request_for_refund_if_available %}
													<p style="margin-top: 10px;margin-bottom: 5px;">Requested For Refund</p>
													{% endif %}
												</td>
											{% else %}
												{% if attendee.ticket.free %}
												<td style="vertical-align: inherit;"><p style="margin:0 auto;color:#FFBE00;">Free Ticket</p>
												</td>
												{% else %}
												<td style="vertical-align: inherit;"><p style="margin:0 auto;color:#FFBE00;">Refund Not Available</p></td>
												{% endif %}
											{% endif %}
										{% else %}
										<td style="vertical-align: inherit;"><p style="margin:0 auto;color:#FF4500;">Refunded</p></td>
										{% endif %}
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				
				{% if order.event_cart.pay %}
					{% if active_attendees.count > 1  and order.event_cart.total <= house_balance.balance %}
					<div class="row">
						<div class="col-12">
							<button type="submit" name="Full Refund" value="Full Refund" class="btn btn-danger pull-left">Refund Entire Order</button>
						</div>
					</div>
					{% endif %}
				{% endif %}

				

				<div class="row" style="padding-top: 50px;">
					<div class="col-12">
						<h4 style="display: inline-block;">Order Breakdown</h4>
						<button type="submit" name="view_tickets" value="view_tickets" class="btn btn-primary pull-right">Confirmation PDF</button>
					</div>
				</div>

				</form>

				<div class="row" style="padding-top:10px;">
					<div class="col-md-12">
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th>Ticket</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								{% if not order.event_cart.pay %}
									{% for cart_item in event_cart_items %}
									<tr>
										<td style="color: grey;">{{ cart_item.ticket.title }}</td>
										<td style="color: grey;">$0.00</td>
										<td style="color: grey;">{{ cart_item.quantity }}</td>
										<td style="color: #2584C7;">$0.00</td>
									</tr>
									{% endfor %}
									<tr>
										<td></td>
										<td></td>
										<td>
											<p style="color: grey;">Total charged to customer</p>
										</td>
										<td>
											<p style="color: grey;">$0.00</p>
										</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td>
											<p style="color: grey;">Payment &amp; processing fee</p>
										</td>
										<td>
											<p style="color: grey;">$0.00</p>
										</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td>
											<p style="color: grey;">Total payout to you</p>
										</td>
										<td>
											<p style="color: #2584C7;">$0.00</p>
										</td>
									</tr>
								{% else %}
									{% for cart_item in event_cart_items %}
									<tr>
										<td style="color: grey;">{{ cart_item.ticket.title }}</td>
										<td style="color: grey;">
											<p style="margin-bottom: 0px;">${{ cart_item.ticket_buyer_price }}</p>
											{% if cart_item.discount_code_activated %}
											<p style="font-size: 0.8em;color: #ff7b1b;margin-bottom:0px;line-height: 15px;"
												data-tooltip="Discount code {{ order.event_cart.discount_code.code }} gives you a {% if cart_item.discount_fixed_amount %} ${{ cart_item.discount_fixed_amount }} {% else %} {{ cart_item.discount_percentage_amount }}% {% endif %} discount per {{ cart_item.ticket.title }} ticket.">
												{% if cart_item.discount_fixed_amount %}
												${{ cart_item.discount_fixed_amount }} Discount Applied
												{% else %}
												{{ cart_item.discount_percentage_amount }}% Discount Applied
												{% endif %}</p>
											{% endif %}
										</td>
										<td style="color: grey;">{{ cart_item.quantity }}</td>
										<td style="color: #2584C7;">
											<p style="margin-bottom: 0px;">${{ cart_item.cart_item_total }}</p>
										</td>
									</tr>
									{% endfor %}
									{% if order.event_cart.invalid_discount_code %}
									<tr>
										<td></td>
										<td></td>
										<td><p style="color: grey;">Discount Code</p></td>
										<td><p style="color: grey;">Invalid Code Used</p></td>
									</tr>
									{% else %}
										{% if order.event_cart.discount_code %}
										<tr>
											<td></td>
											<td></td>
											<td><p style="color: grey;">Discount Code</p></td>
											<td><p style="color: #ff7b1b;">{{ order.event_cart.discount_code.code }}</p></td>
										</tr>
										{% else %}
										{% endif %}
									{% endif %}
									<tr>
										<td></td>
										<td></td>
										<td><p style="color: grey;">Total charged to customer</p></td>
										<td><p style="color: grey;">${{ order.event_cart.total }}</p></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td><p style="color: grey;">Payment &amp; processing fee</p></td>
										<td><p style="color: grey;">${{ order.event_cart.total_fee }}</p></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td><p style="color: grey;">Total payout to you</p></td>
										<td><p style="color: #2584C7;">${{ order.event_cart.total_no_fee }}</p></td>
									</tr>
								{% endif %}
								
								{% if event_order_refunds %}
								<tr>
									<td style="font-weight: 600;">Refunds</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								
								{% for event_order_refund in event_order_refunds %}
								<tr>
									<td style="color: grey;">{{ event_order_refund.attendee.ticket.title }} ({{ event_order_refund.attendee.name }})</td>
									<td style="color: grey;">${{ event_order_refund.attendee.ticket_buyer_price }}</td>
									<td style="color: grey;">1</td>
									<td style="color: #FF4500;">${{ event_order_refund.refund.amount }}</td>
								</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td></td>
									<td>
										<p style="color: grey;">Total payout to you</p>
									</td>
									<td>
										<p style="color: #2584C7;">${{ total_payout }}</p>
									</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
		</div>		
	</div>
</div>
{% endblock content %}














