{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Order #{{ order.id }} | {{ event.title }}
{% endblock title %}

{% block page_title %}
<a style="text-decoration: none;font-size: 0.7em;color: #4499d5;" href="{{ event.list_orders_view }}"><i style="font-size: 1em;" class="fas fa-long-arrow-alt-left"></i> Back To Orders</a>
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">Order #{{ order.id }} for {{ order.event.title }}</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<style>
.dashboard-links {
	color: #7396b0;
}
</style>

<div class="row">
	<div class="col-12 col-lg-8">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-12">
						<h4>Order Details</h4>
						<p>Order placed on {{ order.created_at }}</p>
						<p style="font-weight:500;">
							{% if order.failed %}
								<span style="color:#e37f7f;"> Order Failed</span>
							{% elif order.partial_refund %}
								<span style="color:#9e7fe3;"> This order has been partially refunded</span>
							{% elif order.refunded %}
								<span style="color:#e37f7f;"> This order has been refunded</span>
							{% else %}
								<span style="color:#62c262;">Successful Order</span>
							{% endif %}
						</p>
						<p><span style="font-weight:500;">Name</span> | {{ order.name }}</p>
						<p><span style="font-weight:500;">Email</span> | {{ order.email }}</p>
						<p><span style="font-weight:500;">Order ID</span> | {{ order.transaction.payment_id }}</p>
						<p><span style="font-weight:500;">Payment Card</span> | {% include "events/orders/brands.html" with order=order.transaction %}</p>
						<p><span style="font-weight:500;">Last Four Digits</span> | {{ order.transaction.last_four }}</p>
						<p><span style="font-weight:500;">Outcome</span> | {{ order.transaction.outcome_type|title }}</p>
					</div>
				</div>

				<div class="row" style="padding-top: 40px;">
					<div class="col-12">
						<h4>Attendees</h4>
					</div>
				</div>

				<form method="POST">{% csrf_token %}
				<div class="row text-center">
					<div class="col-12">
						<table class="table table-bordered table-hover" width="100%">
							<tbody>
								{% for attendee in attendees %}
								<tr>
									<td style="vertical-align: inherit;"><p style="margin:0 auto;">{{ forloop.counter }}</p></td>
									<td style="vertical-align: inherit;"><p style="margin:0 auto;">{{ attendee.ticket }}</p></td>
									<td style="vertical-align: inherit;"><a href="{{ attendee.get_attendee_view }}"><p style="margin:0 auto;">{{ attendee.name }}</p></a></td>
									{% if attendee.active %}
									<td><button type="submit" name="Refund" value="{{ attendee.id }}" class="btn btn-warning btn-block">Refund</button></td>
									{% else %}
									<td style="vertical-align: inherit;"><p style="margin:0 auto;color:#e37f7f;">Refunded</p></td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				
				{% if active_attendees.count > 1 %}
				<div class="row">
					<div class="col-12">
						<button type="submit" name="Full Refund" value="Full Refund" class="btn btn-outline-danger btn-block">Refund Entire Order</button>
					</div>
				</div>
				{% endif %}
				</form>

				<div class="row" style="padding-top: 50px;">
					<div class="col-12">
						<h4>Order Breakdown</h4>
					</div>
				</div>

				<div class="row" style="padding-top:10px;">
					<div class="col-md-12">
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th>Ticket</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								{% for cart_item in event_cart_items %}
								<tr>
									<td style="color: grey;">{{ cart_item.ticket.title }}</td>
									<td style="color: grey;">${{ cart_item.ticket.price }}</td>
									<td style="color: grey;">{{ cart_item.quantity }}</td>
									<td style="color: #62c262;">+ ${{ cart_item.cart_item_total_no_fee }}</td>
								</tr>
								{% endfor %}
								
								{% if event_order_refunds %}
								<tr>
									<td style="font-weight: 600;">Refunds</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								{% endif %}
								{% for event_order_refund in event_order_refunds %}
								<tr>
									<td>{{ event_order_refund.attendee.ticket.title }} ({{ event_order_refund.attendee.name }})</td>
									<td>${{ event_order_refund.attendee.ticket.price }}</td>
									<td>1</td>
									<td style="color: #e37f7f;">- ${{ event_order_refund.refund.amount }}</td>
								</tr>
								{% endfor %}
								{% if event_order_refunds %}
								<tr>
									<td></td>
									<td></td>
									<td><p style="color: grey;">Total payout to you</p></td>
									<td><p style="color: #62c262;">${{ total_payout }}</p></td>
								</tr>
								{% else %}
								<tr>
									<td></td>
									<td></td>
									<td><p style="color: grey;">Total charged to customer</p></td>
									<td><p style="color: grey;">${{ order.event_cart.total }}</p></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td><p style="color: grey;">Payment &amp; processing fee</p></td>
									<td><p style="color: grey;">${{ order.event_cart.total_fee }}</p></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td><p style="color: grey;">Total payout to you</p></td>
									<td><p style="color: #62c262;">${{ order.event_cart.total_no_fee }}</p></td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
{% endblock content %}














