{% extends "frontend/base.html" %}
{% load static %}
{% load tz %}
{% block title %}
Order #{{ order.number }} | {{ order.event.title }}
{% endblock title %}

{% block styles %}
<style>
    .boxed {
        border-radius: 15px;
    }

    .boxed.boxed--lg {
        padding: 15px;
    }

    .bg--secondary {
        background: #ffffff;
    }

    @media only screen and (max-width: 600px) {
        .view-tickets {
            padding: 0px;
        }
    }
</style>

{% endblock styles %}


{% block scripts %}
<script>
function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById("order_link");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");
}
</script>

{% endblock scripts %}


{% block content %}

<section class="switchable feature-large" style="padding-top: 2rem;">
    <div class="container">

        {% autoescape off %}
        {% if messages %}
        <div class="row justify-content-center" style="padding:20px;padding-bottom: 0px;">
            <div class="col-md-12 col-lg-9 col-sm-12" style="padding: 0;">
                {% for message in messages %}
                <div class="alert bg--{{ message.tags }}">
                    <div class="alert__body">
                        <span>{{ message|safe }}</span>
                    </div>
                    <div class="alert__close">&times;</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endautoescape %}

        {% if request.user.is_authenticated %}
        <div class="row justify-content-center" style="padding-bottom: 30px;">
            <div class="col-md-12">
                <a class="btn btn--primary btn-block" href="{% url 'profiles:orders' %}">
                    <span class="btn__text"> Orders</span>
                </a>
            </div>
        </div>
        {% endif %}


        {% if refund_requests %}
        <div class="row justify-content-center" style="padding:20px;padding-bottom: 0px;">
            <div class="col-md-12 col-lg-9 col-sm-12" style="padding: 0;">
                {% for refund_request in refund_requests %}
                <div class="alert bg--success">
                    <div class="alert__body">
                        <span>We have contacted {{ order.event.house.name }} to process your refund.</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        <div class="row justify-content-around" style="padding:20px;padding-bottom: 0px;padding-top:10px;">
            <div class="col-lg-9 col-md-12 col-12" style="box-shadow: rgba(0, 0, 0, 0.2) -10px 5px 30px;padding: 20px;border-radius: 15px;">

                <form method="GET" style="padding-bottom: 30px;">
                    <div class="row">
                        <div class="col-12 view-tickets">
                            <button type="submit" name="view_tickets" value="true" class="btn btn--primary pull-right">View Tickets</button>
                        </div>
                    </div>
                </form>

                
                <div class="row" style="padding-bottom: 40px;">
                    <div class="col-md-12">
                        <h4 style="color: #2584C7;font-weight: 500;">Order Details</h4>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 10px;">
                                <p style="margin-bottom:0px;">Event | <a href="{{ order.event.get_landing_view }}">{{ order.event.title }}</a></p>
                                <p style="margin-bottom:0px;">Order placed on {{ order.created_at }}</p>
                                <p style="font-weight:500;">
                                    {% if order.partial_refund %}
                                    <span style="color:#FFBE00;"> This order has been partially refunded</span>
                                    {% elif order.refunded %}
                                    <span style="color:#FF4500;"> This order has been refunded</span>
                                    {% else %}
                                    <span style="color:#2584C7;">Successful Order {% if order.house_created %}- Created by House{% endif %}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p style="margin-bottom:0px;"><span style="color:#2584C7;">Order # | </span> {{ order.number }}</p>
                                <p style="margin-bottom: 0px;"><span style="color:#2584C7;">Name | </span>{{ order.name|title }}</p>
                                <p style=""><span style="color:#2584C7;">Email | </span> {{ order.email }}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-12">
                        <h4 style="color: #2584C7;">Order Breakdown</h4>
                    </div>
                </div>
                
                <div class="row" style="padding-bottom:40px;">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Ticket</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if not order.event_cart.pay %}
                                        {% for cart_item in event_cart_items %}
                                        <tr>
                                            <td style="color: grey;">{{ cart_item.ticket.title }}</td>
                                            <td style="color: grey;">$0.00</td>
                                            <td style="color: grey;">{{ cart_item.quantity }}</td>
                                            <td style="color: #2584C7;">$0.00</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <p style="color: grey;">Total</p>
                                            </td>
                                            <td>
                                                <p style="color: grey;">$0.00</p>
                                            </td>
                                        </tr>
                                    {% else %}

                                        {% for cart_item in event_cart_items %}
                                        <tr>
                                            <td style="color: grey;">{{ cart_item.ticket.title }}</td>
                                            <td style="color: grey;">${{ cart_item.ticket_buyer_price }}</td>
                                            <td style="color: grey;">{{ cart_item.quantity }}</td>
                                            <td style="color: #2584C7;">+${{ cart_item.cart_item_total }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <p style="color: grey;">Total Paid</p>
                                            </td>
                                            <td>
                                                <p style="color: #2584C7;;">${{ order.event_cart.total }}</p>
                                            </td>
                                        </tr>
                                    {% endif %}
                    
                                    {% if event_order_refunds %}
                                    <tr>
                                        <td style="font-weight: 600;">Refunds</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                    
                                    {% for event_order_refund in event_order_refunds %}
                                    <tr>
                                        <td>{{ event_order_refund.attendee.ticket.title }} ({{ event_order_refund.attendee.name }})</td>
                                        <td>${{ event_order_refund.attendee.ticket_buyer_price }}</td>
                                        <td>1</td>
                                        <td style="color: #FF4500;">-${{ event_order_refund.refund.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <p style="color: grey;">Total Paid</p>
                                        </td>
                                        <td>
                                            <p style="color: #2584C7;">${{ total_payout }}</p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-12">
                        <h4 style="color: #2584C7">Attendees</h4>
                    </div>
                </div>

                <div class="row text-center" style="padding-bottom:20px;">
                    <div class="col-md-6" style="margin-top: 5px;">
                        <p style="margin-bottom: 0px;">Event Start | <b>{{ event_start_time|localtime }}</b></p>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px;">
                        <p>Time Until Event | <b>{{ time_left_days }} day{% if time_left_days == 1 %}{% elif time_left_days == 0 %}{% else %}s{% endif %}, {{ time_left_hours }} hour{% if time_left_hours == 1 %}{% elif time_left_hours == 0 %}{% else %}s{% endif %}</b></p>
                    </div>
                </div>
                
                <form method="POST">{% csrf_token %}
                <div class="row text-center">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover" width="100%">
                                <tbody>
                                    {% for attendee in attendees %}
                                    <tr>
                                        <td style="vertical-align: inherit;">
                                            <p style="margin:0 auto;">{{ attendee.unique_id }}</p>
                                        </td>
                                        <td style="vertical-align: inherit;">
                                            <p style="margin:0 auto;">{{ attendee.ticket }}</p>
                                        </td>
                                        <td style="vertical-align: inherit;">
                                            <p style="margin:0 auto;">{{ attendee.name }}</p>
                                        </td>
                
                
                                        {% if attendee.ticket.free %}
                                        <td style="vertical-align: inherit;">
                                            <p style="margin:0 auto;color:#2584C7;">Free Ticket</p>
                                        </td>
                                        {% elif attendee.ticket.donation %}
                                        <td style="vertical-align: inherit;">
                                            <p style="margin:0 auto;color:#2584C7;">Donation Ticket</p>
                                        </td>
                                        {% else %}
                                        <td style="vertical-align: inherit;">
                                            <p style="margin:0 auto;color:#2584C7;">Paid Ticket</p>
                                        </td>
                                        {% endif %}


                                        <td style="vertical-align: inherit;">
                                            <b data-tooltip="Refund Policy">{{ attendee.ticket_refund_policy|title }}</b>
                                        </td>
                
                                        {% if order.event_cart.pay %}
                                            {% autoescape off %}
                                            <td style="vertical-align: inherit;">
                                                {{ attendee.get_refundable_or_not }}
                                            </td>
                                            {% endautoescape %}
                                        {% endif %}
                
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="row text-center" style="padding-bottom:50px;">
                    <div class="col-md-4">
                        {% if order.event_cart.pay %}
                            {% if active_attendees.count > 1 and not refund_requests and show_total_order_refund %}
                            <button type="submit" name="Full Refund" id='Full Refund' value="full" class="btn btn--primary">Request Refund For
                                Entire Order</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                </form>


                {% if order.event_cart.pay %}
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-12">
                        <h4 style="color: #2584C7;">Refund Policies</h4>
                    </div>
                </div>
                {% endif %}
                
                <div class="row" style="padding-bottom:50px;">
                    <div class="col-md-12">
                        {% for cart_item in event_cart_items %}
                        {% if not cart_item.ticket.free %}
                        <h5 style="display:block;margin-bottom:0px;"><span style="font-weight:200;">Ticket</span> | {{ cart_item.ticket }}</h5>
                        <p>
                            {% if cart_item.ticket.refund_policy == "standard" %}
                            You may request <b>{{ event.house.name }}</b> for a refund <b>24 hours</b> before the start of this event.
                            {% elif cart_item.ticket.refund_policy == "7-days" %}
                            You may request <b>{{ event.house.name }}</b> for a refund <b>7 days</b> before the start of this event.
                            {% elif cart_item.ticket.refund_policy == "30-days" %}
                            You may request <b>{{ event.house.name }}</b> for a refund <b>30 days</b> before the start of this event.
                            {% else %}
                            <b>You may not request a refund for this ticket. Ticket sales are final.</b>
                            If you have concerns please <a href="mailto:info@arqamhouse.com?Subject=Refund%20For%20Order#:%20{{ order.public_id }}">contact us</a> for help.
                            {% endif %}
                        </p>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>


                <div class="row" style="padding-bottom: 15px;">
                    <div class="col-md-3">
                        <p style="color: #2584C7;display: inline-block;line-height: 3;">Your order URL | <i class="fa fa-clipboard"
                                onclick="myFunction()"></i></p>
                    </div>
                    <div class="col-md-9" style="margin-top: 5px;">
                        <input pattern="[a-zA-Z ]*" style="font-size: 13px;" maxlength="100" class="validate-required pull-right"
                            type="text" name="order_link" id="order_link"
                            value="https://www.arqamhouse.com/orders/{{ order.public_id }}" readonly>
                    </div>
                </div>

            </div>
        </div>

        

    </div>
</section>




<section class="text-center" style="padding-bottom: 40px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"
                        style="max-height: 5em;margin-bottom:0px;"></a>
                <p>Arqam House Inc.</p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}