{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Arqam House
{% endblock title %}

{% block footer %}
{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}

{% endblock styles %}

{% block top_page_scripts %}
<script src="https://kit.fontawesome.com/71fc1e3551.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
{% endblock top_page_scripts %}

{% block scripts %}
<script>
function GetHouses(object) {

    var token = '{{ csrf_token }}';

    var search = object.value;

    const url = "{{ request.path }}";

    let data = {
        search: search
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: { 
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },
        
    }
    
    fetch(url, fetchData)
        .then(
            function (response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                // Examine the text in the response
                response.json().then(function (data) {
                    document.getElementById("dynamic").innerHTML = data['html'];
                });
            }
        )
        .catch(function (err) {
            console.log('Fetch Error :-S', err);
        });

}

window.onload = function () {
    document.getElementById("house_search").value = '';
};
</script>

<script>

    lottie.loadAnimation({
        container: document.getElementById("find-house"), // the dom element that will contain the animation
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: "https://assets6.lottiefiles.com/datafiles/D7hmWWCXGWSQUPi/data.json" // the path to the animation json
    });

</script>

{% endblock scripts %}

{% block content %}
<section style="padding-bottom: 100px;padding-top: 80px;">
	<div class="container">
		
		<div class="row justify-content-center" style="padding-bottom: 20px;">
			<div class="col-lg-2 col-md-3 col-sm-4 col-5">
				<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>
			</div>
		</div>

        <form method="POST">{% csrf_token %}
		<div class="row justify-content-center" style="padding-bottom: 30px;">
			<div class="col-lg-8 col-md-10 ">
                <input type="text" placeholder="Search for a house.." id="house_search" onkeyup="GetHouses(this);">
			</div>
		</div>
        </form>


		<div id="dynamic" style="padding-bottom: 300px;">
            <div class="row justify-content-center" style="padding: 10px;">
                <div class="col-lg-8 col-md-10 boxed boxed--border bg--secondary boxed--lg box-shadow" 
                    style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);border-radius: 10px;margin-bottom: 20px;padding: 20px;">
                    
                        <div class="row justify-content-center" style="padding-bottom: 5px;padding-left: 10px;padding-right: 10px;">


                            <div class="col-lg-3 col-5" style="text-align: center;padding: 20px 0px;">
                                <div id="find-house"></div>
                            </div>
                            
                            <div class="col-12" style="text-align: center;">
                                <p class="lead" style="margin-bottom: 0px;">Find a house by typing in the search bar.</p>
                            </div>
                            
                        </div>
                    
                </div>
            </div>
        </div>

			
	</div>
</section>



{% endblock content %}