{% load static %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/flickity.min.js' %}"></script>
<script src="{% static 'js/easypiechart.min.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/ytplayer.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/granim.min.js' %}"></script>
<script src="{% static 'js/jquery.steps.min.js' %}"></script>
<script src="{% static 'js/countdown.min.js' %}"></script>
<script src="{% static 'js/twitterfetcher.min.js' %}"></script>
<script src="{% static 'js/spectragram.min.js' %}"></script>
<script src="{% static 'js/smooth-scroll.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>