{% load static %}
<footer class="text-center space--sm footer-5 bg--secondary  ">
    <div class="container">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 3em;"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="heading-block" style="margin-bottom: 30px;">
                    <ul class="list-inline list--hover">
                        <li>
                            <a href="{% url 'report' %}">
                                <span>Report Errors</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'report' %}">
                                <span>Contact Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">
                                <span>Work With Us</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="social-list list-inline list--hover">
                        <li>
                            <a href="https://twitter.com/arqam_house">
                                <i class="socicon socicon-twitter icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/arqamshouse">
                                <i class="socicon socicon-facebook icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/officialarqamhouse/">
                                <i class="socicon socicon-instagram icon icon--xs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="type--fine-print">A Canadian Company</span>
                </div>
                <div>
                    <span class="type--fine-print">&copy;
                        <span class="update-year"></span> Arqam House Inc.</span>
                    <!-- <a class="type--fine-print" href="#">Privacy Policy</a>
                    <a class="type--fine-print" href="#">Legal</a> -->
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>