{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Arqam House | Powerful tools made simple.">
<meta name="wot-verification" content="e1cb956464f4e14cec8e" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/flickity.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/jquery.steps.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">