<!-- See arqamhouse.views -->
{% extends "frontend/base.html" %}

{% block title %}
Create House
{% endblock title %}

{% block navigation %}
	{% include "frontend/navigation.html" %}
{% endblock navigation %}

{% block footer %}
	{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<h1>Arqam House</h1>
{% endblock content %}