{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
Arqam House
{% endblock title %}

{% block footer %}
{% include "frontend/footer.html" %}
{% endblock footer %}

{% block styles %}

{% endblock styles %}

{% block top_page_scripts %}
<script src="https://kit.fontawesome.com/71fc1e3551.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
{% endblock top_page_scripts %}

{% block scripts %}
<script>

lottie.loadAnimation({
	container: document.getElementById("bm"), // the dom element that will contain the animation
	renderer: 'svg',
	loop: true,
	autoplay: true,
	path: "https://assets4.lottiefiles.com/packages/lf20_3TL2tK.json" // the path to the animation json
});


lottie.loadAnimation({
	container: document.getElementById("bm-training"), // the dom element that will contain the animation
	renderer: 'svg',
	loop: true,
	autoplay: true,
	path: "https://res.cloudinary.com/arqamhouse/raw/upload/v1588457120/data_xoqmhq.json" // the path to the animation json
});
</script>

{% endblock scripts %}

{% block content %}
<section class="text-center" style="padding-bottom: 100px;padding-top: 80px;">
	<div class="container">
		
		<div class="row" style="padding-bottom: 20px;">
			<div class="col-lg-8">
				<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 5em;"></a>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 ">
				<h3 style="color:#4a90e2;">Powerful tools made simple</h3>
			</div>
		</div>

		<div class="row justify-content-center" style="padding-bottom: 20px;">
			<div class="col-lg-8 col-10">
				<div class="typed-headline">
					<span class="h4 inline-block" style="color: grey;margin-bottom: 5px;font-size: 18px;">We made Arqam House for</span>
					<span class="h4 inline-block typed-text typed-text--cursor color--primary" style="font-size: 18px;"
						data-typed-strings="Student Associations.,Masjids., Non-Profit Organizations.,Youth Groups.,Small Businesses., Special Causes.,">Muslim
						Organizations</span>
				</div>
			</div>
		</div>


		<div class="row" style="padding-bottom: 10px;">
			<div class="col-md-12">
				<a class="btn btn--primary" href="{% url 'postcards:list' %}">
					<span class="btn__text">Postcards</span>
				</a>
			</div>
		</div>

		<div class="row" style="padding-bottom: 30px;">
			<div class="col-md-12">
				<span>We've officially launched Arqam House Postcards. Send your postcards today!</span>
			</div>
		</div>


		<div class="row justify-content-center">
			{% if house %}
			<div class="col-lg-3" style="padding-bottom: 10px;">
				<a class="btn btn--primary btn-block" href="{% url 'houses:dashboard' %}">
					<span class="btn__text">House</span>
				</a>
			</div>
			{% else %}
			<div class="col-lg-3" style="padding-bottom: 10px;">
				<a class="btn btn--primary btn-block" href="{% url 'profiles:login' %}">
					<span class="btn__text">Sign In</span>
				</a>
			</div>
			<div class="col-lg-3" style="padding-bottom: 10px;">
				<a class="btn btn-block" href="{% url 'profiles:create' %}">
					<span class="btn__text">Sign Up</span>
				</a>
			</div>
			{% endif %}
			<div class="col-lg-3" style="padding-bottom: 10px;">
				<a class="btn btn--primary-1 btn-block" href="{% url 'find_house' %}">
					<span class="btn__text">Find A House</span>
				</a>
			</div>
		</div>

			
	</div>
</section>



<section style="padding-bottom: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="far fa-calendar-alt" style="font-size: 3em;color: #295d9a;"></i>
					<div class="feature__body">
						<a href="{% url 'event_info' %}">
						<h5 style="font-size: 20px;">Events &amp; Ticket Sales</h5>
						</a>
						<p style="min-height: 0px;">
							Events help with fundraising, increasing brand awareness, and giving something back to your followers.
						</p>
						<a href="{% url 'event_info' %}">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="fas fa-hand-holding-usd" style="font-size: 3em;color: #295d9a;"></i>
					<div class="feature__body">
						<a href="{% url 'donation_info' %}">
						<h5 style="font-size: 20px;">Donations &amp; Fundraisers</h5>
						</a>
						<p style="min-height: 0px;">
							Accept and process donations while helping your donors see the great work their
							donations will be used for
						</p>
						<a href="{% url 'donation_info' %}">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="fas fa-paper-plane" style="font-size: 3em;color: #295d9a;"></i>
					<div class="feature__body">
						<a href="{% url 'campaign_info' %}">
							<h5 style="font-size: 20px;">Campaigns</h5>
						</a>
						<p style="min-height: 0px;">
							We have built email campaigns, SMS alerts, and Mailchimp integrations
							to help make sure you stay connected.
						</p>
						<a href="{% url 'campaign_info' %}">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="fas fa-user-plus" style="font-size: 3em;color: #295d9a;"></i>
					<div class="feature__body">
						<a href="{% url 'subscriber_info' %}">
						<h5 style="font-size: 20px;">Subscribers</h5>
						</a>
						<p style="min-height: 0px;">
							Subscribers are your attendees, customers, donors, and guests. They are what allow you to do all the great things you
							do.
						</p>
						<a href="{% url 'subscriber_info' %}">Learn More</a>
					</div>
				</div>
			</div>
			
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</section>


<section class="text-center">
	<div class="container">

		<div class="row justify-content-center" style="padding-bottom: 100px;">
			<div class="col-lg-8 col-md-10">
				<img alt="Image" src="{% static 'images/homepage1.png' %}" />
				<p>We’ve made a whole bunch of powerful tools and put them all under one roof. We call it a house.
				</p>
				<a href="{% url 'profiles:create' %}">Get Started &raquo;</a>
			</div>
		</div>

		<div class="row justify-content-center">
			
			<div class="col-md-4 col-10">
				<img alt="Image" src="{% static 'images/homepage2.png' %}" />
			</div>
			<div class="col-md-6" style="padding-top: 50px;">
				<h3 style="color:#4a90e2;">The power of simplicity</h3>
				<p>
					Our platform is super simple to use, no rocket science here!
					Get started in just minutes. Army of one? No problem. Our intuitive platform makes it easy to start using with little to no training whatsoever.
				</p>
				<a href="{% url 'profiles:create' %}">Get Started &raquo;</a>
				
			</div>
			
		</div>

	</div>
	
</section>



<section class="text-center">
	<div class="container">

		<div class="row">
			<div class="col-md-10 offset-md-1">

				<div class="row">
					<div class="col-md-7" style="padding-top: 50px;">
						<h3 style="color:#4a90e2;">Mobile First Experience</h3>
						<p>
							No need to download 4 different apps on 7 different devices. Our web application is where everything lives.
							Our mobile first design makes it seamless to navigate through on any device.
						</p>
						<a href="{% url 'profiles:create' %}">Get Started &raquo;</a>

					</div>
					<div class="col-md-5">
						<img alt="Image" src="{% static 'images/homepage3.png' %}" />
					</div>
				</div>

			</div>
		</div>

	</div>

</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="icon icon-Duplicate-Window"></i>
					<div class="feature__body">
						<h5>The power of simplicity</h5>
						<p style="min-height: 0px;">
							Get the important details to your attendees as fast as possible. With our simple event pages and checkout experience attendees will have a fluid experience. 
						</p>
						<a href="{% url 'profiles:create' %}">Try it out</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="icon icon-Life-Safer"></i>
					<div class="feature__body">
						<h5>Multiple house owners</h5>
						<p style="min-height: 0px;">
							Working with a team? You can add others to your house and allow them to help out. You may also create or join any number of houses, all from your single Arqam House account.  
						</p>
						<a href="{% url 'profiles:create' %}">Try it out</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="icon icon-Pantone"></i>
					<div class="feature__body">
						<h5>The Lowest Fee</h5>
						<p style="min-height: 0px;">
							Paid tickets and donations are 4% + $0.30 of the ticket/donation amount. That <strong style="color: #4a90e2;">includes payment processing.</strong>
						</p>
						<a href="{% url 'profiles:create' %}">Try it out</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
					<i class="icon icon-Fingerprint"></i>
					<div class="feature__body">
						<h5>Built For Small Organizations</h5>
						<p style="min-height: 0px;">
							Arqam House is 'house' first. That means we don't use your organization to promote other organizations.
						</p>
						<a href="{% url 'profiles:create' %}">Try it out</a>
					</div>
				</div>
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</section>



{% endblock content %}