{% if not houses %}

<div class="row justify-content-center" style="padding: 10px;">
    <div class="col-lg-8 col-md-10 boxed boxed--border bg--secondary boxed--lg box-shadow"
        style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);border-radius: 10px;margin-bottom: 20px;padding: 20px;">

        <div class="row" style="padding-bottom: 5px;padding-left: 10px;padding-right: 10px;">

            <div class="col-12" style="text-align: center;">
                <p class="lead" style="margin-bottom: 0px;">Find a house by typing in the search bar.</p>
            </div>

        </div>

    </div>
</div>

{% else %}
{% for house in houses %}
<div class="row justify-content-center" style="padding: 10px;">
    <div class="col-lg-8 col-md-10 boxed boxed--border bg--secondary boxed--lg box-shadow"
        style="box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.05);border-radius: 10px;margin-bottom: 20px;padding: 20px;">

        <div class="row" style="padding-bottom: 5px;padding-left: 10px;padding-right: 10px;">
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                {% if house.logo %}
                <a href="{{ house.get_home_page_url }}">
                    <img src="{{ house.logo.url }}" style="max-height: 100px;">
                </a>
                {% endif %}
                <p style="font-size: 1.2rem;margin-top: 10px;">{{ house.name }}</p>
            </div>
            

            <div class="col-lg-8 col-md-8 col-sm-6 col-6" style="text-align: right;align-self: flex-end;">
                <p class="lead" style="margin-bottom: 0px;">{{ house.subscriber_set.all.count }}</p>
                <p style="font-size: 0.5rem;">Subscribers</p>
            </div>

        </div>

    </div>
</div>
{% endfor %}
{% endif %}