{% load static %}
<nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-2 hidden-xs">
                <div class="bar__module">
                    <a href="{% url 'home' %}">
                        <img style="max-height: 3.5em;" class="logo logo-dark" alt="logo" src="{% static 'images/Arqam.png' %}" />
                        <img class="logo logo-light" alt="logo" src="{% static 'images/Arqam-light.png' %}" />
                    </a>
                </div>
                <!--end module-->
            </div>
            <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                <!--end module-->
                <div class="bar__module">
                    <a class="btn btn--sm type--uppercase" href="#">
                        <span class="btn__text">
                            Login
                        </span>
                    </a>
                    <a class="btn btn--sm btn--primary type--uppercase" href="#">
                        <span class="btn__text">
                            Sign Up
                        </span>
                    </a>
                </div>
                <!--end module-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>