{% extends "backend/base.html" %}
{% load static %}
{% load question_tags %}

{% block title %}
Add Bank | {{ house.name }}
{% endblock title %}


{% block styles %}
{% endblock styles %}


{% block scripts %}
{% endblock scripts %}


{% block content %}

<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="padding: 50px;">
                <form method="POST" id="discount_form" enctype="multipart/form-data">{% csrf_token %}

                    {% if form.non_field_errors %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if form.code.errors %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for error in form.code.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <p style="margin-bottom: 5px;font-weight: 500;"><i style="color:#FF4500;font-weight:700;" class="la la-asterisk"></i> Code</p>
                            {{ form.code }}
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-md-5">
                            <p style="margin-bottom: 5px;font-weight: 500;">Fixed Discount</p>
                            {{ form.fixed_amount }}
                        </div>
                        <div class="col-md-2 text-center">
                            <h3 style="margin-top: 25px;font-weight: 500;">OR</h3>
                        </div>
                        <div class="col-md-5">
                            <p style="margin-bottom: 5px;font-weight: 500;">Percentage Discount</p>
                            {{ form.percentage_amount }}
                        </div>
                    </div>

                    {% if form.total_uses.errors %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for error in form.total_uses.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-6">
                            <p style="margin-bottom: 5px;font-weight: 500;"> <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" data-container="body" data-toggle="kt-tooltip"
                                data-placement="top" title="" data-original-title="The amount of orders this code can be used in."></i> Uses {% if update %}<span style="font-weight: 200;">| Used so far : {{ form.instance.used }}</span>{% endif %}</p>
                            {{ form.total_uses }}
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:30px;">
                        <div class="col-lg-4 col-md-12">
                            <p style="margin-bottom:0px;"><i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle"
                                    data-container="body" data-toggle="kt-tooltip" data-placement="top" title=""
                                    data-original-title="Switch on to stop the use of this discount code"></i>
                                Finished</p>
                            <span class="kt-switch">
                                <label>
                                    {{ form.finished }}
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-weight: 500;">Choose tickets this discount applies too
                            <i style="color:#4599d5;font-size:1.1rem;" class="la la-info-circle" 
                            data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" 
                            data-original-title="Switch on the tickets where you would like this discount to be applied."></i></p>
                        </div>
                    </div>

                    {% for ticket in tickets %}
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-12">
                            <p>{{ forloop.counter }}. {{ ticket.title }}</p>
                            <span class="kt-switch">
                                <label>
                                    <input type="checkbox" {% if discount_code %}{{ ticket|ticket_checked:discount_code }}{% endif %}
                                        name="{{ ticket.id }}" style="user-select: auto;" id="ticket_{{ ticket.id }}">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    {% endfor %}


                    {% if update %}
                    <div class="row">
                        <div class="col-md-6" style="padding-top:20px;">
                            <button id="updateDiscountCode" type="submit" class="btn btn-block btn-primary">Update Code</button>
                        </div>
                        {% if form.instance.deleted %}
                        <div class="col-md-6" style="padding-top: 20px;">
                            <button type="submit" name="undo-delete" value="undo-delete" class="btn btn-danger btn-block">Undo Delete</button>
                        </div>
                        {% else %}
                        <div class="col-md-6" style="padding-top: 20px;">
                            <button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Code</button>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="row" style="padding-top:20px;">
                        <div class="col-md-12">
                            <button id="createDiscountCode" type="submit" class="btn btn-primary">Create Code</button>
                        </div>
                    </div>
                    {% endif %}


                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}