{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Questions | {{ event.title }}
{% endblock title %}

{% block page_title %}
Questions
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

{% endblock scripts %}

{% block content %}





<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">

		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body" style="margin:20px;">
				<form method="POST">{% csrf_token %}

				<div class="row">
					<div class="col-12">
						<h3>Discount Codes</h3>
						{% if not discount_codes %}
						<p>You don't have any discount codes yet!</p>
						{% endif %}
					</div>
				</div>

				{% for discount_code in discount_codes %}
				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<h5 style="font-size: 1.2rem;font-weight: 400;">{{ discount_code.code }} {% if discount_code.finished %}| <span style="color:#FF4500;">Finished </span>{% endif %} {% if discount_code.deleted %}| <span style="color:#FF4500;">Deleted</span> {% endif %} | <a href="{{ discount_code.get_update_view }}">Edit</a></h5>
						<p style="margin-bottom: 5px;">{% if discount_code.use_fixed_amount %}Fixed Amount Discount of | <span style="color:red;">${{discount_code.fixed_amount }}</span>{% else %}Percentage Discount | <span style="color:red;">{{discount_code.percentage_amount }}%</span>{% endif %}</p>
						<div class="row">
							<div class="col-md-9">
								<p>
									{% if discount_code.tickets.all.count == 1 %}
										Code applicable for ticket |
										{% for ticket in discount_code.tickets.all %}
										<a href="{{ ticket.update_ticket_view }}">{{ ticket.title }}</a>
										{% endfor %}
									{% elif discount_code.tickets.all.count > 1 %}
										Code applicable for tickets |
										{% for ticket in discount_code.tickets.all %}
										<a href="{{ ticket.update_ticket_view }}">{{ ticket.title }}, </a>
										{% endfor %}
									{% else %}
										<span style="color:red;">This code isn't applied to any ticket yet!</span>
									{% endif %}
								</p>
							</div>
							<div class="col-md-3 d-md-block d-none">
								<p class="pull-right">Used <span style="color:#4599d5;">{{ discount_code.used }} of {{ discount_code.total_uses }}</span> codes</p>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated {{ discount_code.percentage_color }}"
								role="progressbar" aria-valuenow="{{ discount_code.used }}" aria-valuemin="0"
								aria-valuemax="{{ discount_code.total_uses }}" style="width: {{ discount_code.percentage_sold }}"></div>
						</div>
					</div> 
				</div>
				{% endfor %}

				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<a href="{{ event.create_discount_view }}" class="btn btn-primary">Create Discount Code</a>
					</div>
				</div>

			</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}














