<footer class="kt-grid__item		kt-footer ">
	<div class="kt-container kt-container--fluid kt-container--full-height kt-page__container">
		<div class="kt-stack kt-stack--flex-tablet-and-mobile kt-stack--ver kt-stack--desktop">
			<div class="kt-stack__item kt-stack__itekt--left kt-stack__itekt--middle kt-stack__itekt--last">
				<span class="kt-footer__copyright">
					2018 &copy; Arqam House Inc.
				</span>
			</div>
			<div class="kt-stack__item kt-stack__itekt--right kt-stack__itekt--middle kt-stack__itekt--first">
				<ul class="kt-footer__nav kt-nav kt-nav--inline kt--pull-right">
					<li class="kt-nav__item">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-text">
								About
							</span>
						</a>
					</li>
					<li class="kt-nav__item">
						<a href="#"  class="kt-nav__link">
							<span class="kt-nav__link-text">
								Privacy
							</span>
						</a>
					</li>
					<li class="kt-nav__item">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-text">
								T&amp;C
							</span>
						</a>
					</li>
					<li class="kt-nav__item">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-text">
								Purchase
							</span>
						</a>
					</li>
					<li class="kt-nav__item kt-nav__item">
						<a href="#" class="kt-nav__link" data-toggle="kt-tooltip" title="Support Center" data-placement="left">
							<i class="kt-nav__link-icon flaticon-info kt--icon-font-size-lg3"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>