{% load static %}
<header class="kt-grid__item    kt-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
	<div class="kt-container kt-container--fluid kt-container--full-height">
		<div class="kt-stack kt-stack--ver kt-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="kt-stack__item kt-brand  kt-brand--skin-dark ">
				<div class="kt-stack kt-stack--ver kt-stack--general">
					<div class="kt-stack__item kt-stack__itekt--middle kt-brand__logo">
						<a href="{{ organization.get_dashboard_url }}" class="kt-brand__logo-wrapper">
							<img alt="" src="{% static 'images/Arqakt_light.png' %}" width="100px" />
						</a>
					</div>
					<div class="kt-stack__item kt-stack__itekt--middle kt-brand__tools">
						<!-- BEGIN: Left Aside Minimize Toggle -->
						<a href="javascript:;" id="kt_aside_left_minimize_toggle" class="kt-brand__icon kt-brand__toggler kt-brand__toggler--left kt--visible-desktop-inline-block 
		 ">
							<span></span>
						</a>
						<!-- END -->
				<!-- BEGIN: Responsive Aside Left Menu Toggler -->
						<a href="javascript:;" id="kt_aside_left_offcanvas_toggle" class="kt-brand__icon kt-brand__toggler kt-brand__toggler--left kt--visible-tablet-and-mobile-inline-block">
							<span></span>
						</a>
						<!-- END -->
				<!-- BEGIN: Responsive Header Menu Toggler -->
						<a id="kt_aside_header_menu_mobile_toggle" href="javascript:;" class="kt-brand__icon kt-brand__toggler kt--visible-tablet-and-mobile-inline-block">
							<span></span>
						</a>
						<!-- END -->
<!-- BEGIN: Topbar Toggler -->
						<a id="kt_aside_header_topbar_mobile_toggle" href="javascript:;" class="kt-brand__icon kt--visible-tablet-and-mobile-inline-block">
							<i class="flaticon-more"></i>
						</a>
						<!-- BEGIN: Topbar Toggler -->
					</div>
				</div>
			</div>
			<!-- END: Brand -->
			<div class="kt-stack__item kt-stack__itekt--fluid kt-header-head" id="kt_header_nav">
				<!-- BEGIN: Horizontal Menu -->
				<button class="kt-aside-header-menu-mobile-close  kt-aside-header-menu-mobile-close--skin-dark " id="kt_aside_header_menu_mobile_close_btn">
					<i class="la la-close"></i>
				</button>
				<div id="kt_header_menu" class="kt-header-menu kt-aside-header-menu-mobile kt-aside-header-menu-mobile--offcanvas  kt-header-menu--skin-light kt-header-menu--submenu-skin-light kt-aside-header-menu-mobile--skin-dark kt-aside-header-menu-mobile--submenu-skin-dark "  >
					<ul class="kt-menu__nav  kt-menu__nav--submenu-arrow ">
						<li class="kt-menu__item  kt-menu__itekt--submenu kt-menu__itekt--rel"  data-ktmenu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
							<a  href="#" class="kt-menu__link kt-menu__toggle">
								<i class="kt-menu__link-icon flaticon-add"></i>
								<span class="kt-menu__link-text">
									Actions
								</span>
								<i class="kt-menu__hor-arrow la la-angle-down"></i>
								<i class="kt-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
								<span class="kt-menu__arrow kt-menu__arrow--adjust"></span>
								<ul class="kt-menu__subnav">
									<li class="kt-menu__item "  aria-haspopup="true">
										<a  href="{% url 'events:create' %}" class="kt-menu__link ">
											<i class="kt-menu__link-icon flaticon-file"></i>
											<span class="kt-menu__link-text">
												Create New Event
											</span>
										</a>
									</li>
									<!-- <li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
										<a  href="header/actions.html" class="kt-menu__link ">
											<i class="kt-menu__link-icon flaticon-diagram"></i>
											<span class="kt-menu__link-title">
												<span class="kt-menu__link-wrap">
													<span class="kt-menu__link-text">
														Generate Reports
													</span>
													<span class="kt-menu__link-badge">
														<span class="kt-badge kt-badge--success">
															2
														</span>
													</span>
												</span>
											</span>
										</a>
									</li> -->
									<!-- <li class="kt-menu__item  kt-menu__itekt--submenu"  data-ktmenu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
										<a  href="#" class="kt-menu__link kt-menu__toggle">
											<i class="kt-menu__link-icon flaticon-business"></i>
											<span class="kt-menu__link-text">
												Manage Orders
											</span>
											<i class="kt-menu__hor-arrow la la-angle-right"></i>
											<i class="kt-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
											<span class="kt-menu__arrow "></span>
											<ul class="kt-menu__subnav">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Latest Orders
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Pending Orders
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Processed Orders
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Delivery Reports
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Payments
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Customers
														</span>
													</a>
												</li>
											</ul>
										</div>
									</li> -->
								</ul>
							</div>
						</li>
						<!-- <li class="kt-menu__item  kt-menu__itekt--submenu kt-menu__itekt--rel"  data-ktmenu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
							<a  href="#" class="kt-menu__link kt-menu__toggle">
								<i class="kt-menu__link-icon flaticon-line-graph"></i>
								<span class="kt-menu__link-text">
									Reports
								</span>
								<i class="kt-menu__hor-arrow la la-angle-down"></i>
								<i class="kt-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="kt-menu__submenu  kt-menu__submenu--fixed kt-menu__submenu--left" style="width:1000px">
								<span class="kt-menu__arrow kt-menu__arrow--adjust"></span>
								<div class="kt-menu__subnav">
									<ul class="kt-menu__content">
										<li class="kt-menu__item">
											<h3 class="kt-menu__heading kt-menu__toggle">
												<span class="kt-menu__link-text">
													Finance Reports
												</span>
												<i class="kt-menu__ver-arrow la la-angle-right"></i>
											</h3>
											<ul class="kt-menu__inner">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-map"></i>
														<span class="kt-menu__link-text">
															Annual Reports
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-user"></i>
														<span class="kt-menu__link-text">
															HR Reports
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-clipboard"></i>
														<span class="kt-menu__link-text">
															IPO Reports
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-graphic-1"></i>
														<span class="kt-menu__link-text">
															Finance Margins
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-graphic-2"></i>
														<span class="kt-menu__link-text">
															Revenue Reports
														</span>
													</a>
												</li>
											</ul>
										</li>
										<li class="kt-menu__item">
											<h3 class="kt-menu__heading kt-menu__toggle">
												<span class="kt-menu__link-text">
													Project Reports
												</span>
												<i class="kt-menu__ver-arrow la la-angle-right"></i>
											</h3>
											<ul class="kt-menu__inner">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--line">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Coca Cola CRM
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--line">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Delta Airlines Booking Site
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--line">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Malibu Accounting
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--line">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Vineseed Website Rewamp
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--line">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Zircon Mobile App
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--line">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Mercury CMS
														</span>
													</a>
												</li>
											</ul>
										</li>
										<li class="kt-menu__item">
											<h3 class="kt-menu__heading kt-menu__toggle">
												<span class="kt-menu__link-text">
													HR Reports
												</span>
												<i class="kt-menu__ver-arrow la la-angle-right"></i>
											</h3>
											<ul class="kt-menu__inner">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Staff Directory
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Client Directory
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Salary Reports
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Staff Payslips
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Corporate Expenses
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
															<span></span>
														</i>
														<span class="kt-menu__link-text">
															Project Expenses
														</span>
													</a>
												</li>
											</ul>
										</li>
										<li class="kt-menu__item">
											<h3 class="kt-menu__heading kt-menu__toggle">
												<span class="kt-menu__link-text">
													Reporting Apps
												</span>
												<i class="kt-menu__ver-arrow la la-angle-right"></i>
											</h3>
											<ul class="kt-menu__inner">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Report Adjusments
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Sources & Mediums
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Reporting Settings
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Conversions
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Report Flows
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<span class="kt-menu__link-text">
															Audit & Logs
														</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li> -->
						<!-- <li class="kt-menu__item  kt-menu__itekt--submenu kt-menu__itekt--rel"  data-ktmenu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
							<a  href="#" class="kt-menu__link kt-menu__toggle">
								<i class="kt-menu__link-icon flaticon-paper-plane"></i>
								<span class="kt-menu__link-title">
									<span class="kt-menu__link-wrap">
										<span class="kt-menu__link-text">
											Apps
										</span>
										<span class="kt-menu__link-badge">
											<span class="kt-badge kt-badge--brand kt-badge--wide">
												new
											</span>
										</span>
									</span>
								</span>
								<i class="kt-menu__hor-arrow la la-angle-down"></i>
								<i class="kt-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
								<span class="kt-menu__arrow kt-menu__arrow--adjust"></span>
								<ul class="kt-menu__subnav">
									<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
										<a  href="header/actions.html" class="kt-menu__link ">
											<i class="kt-menu__link-icon flaticon-business"></i>
											<span class="kt-menu__link-text">
												eCommerce
											</span>
										</a>
									</li>
									<li class="kt-menu__item  kt-menu__itekt--submenu"  data-ktmenu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
										<a  href="crud/datatable_v1.html" class="kt-menu__link kt-menu__toggle">
											<i class="kt-menu__link-icon flaticon-computer"></i>
											<span class="kt-menu__link-text">
												Audience
											</span>
											<i class="kt-menu__hor-arrow la la-angle-right"></i>
											<i class="kt-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
											<span class="kt-menu__arrow "></span>
											<ul class="kt-menu__subnav">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-users"></i>
														<span class="kt-menu__link-text">
															Active Users
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-interface-1"></i>
														<span class="kt-menu__link-text">
															User Explorer
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-lifebuoy"></i>
														<span class="kt-menu__link-text">
															Users Flows
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-graphic-1"></i>
														<span class="kt-menu__link-text">
															Market Segments
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-graphic"></i>
														<span class="kt-menu__link-text">
															User Reports
														</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
										<a  href="header/actions.html" class="kt-menu__link ">
											<i class="kt-menu__link-icon flaticon-map"></i>
											<span class="kt-menu__link-text">
												Marketing
											</span>
										</a>
									</li>
									<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
										<a  href="header/actions.html" class="kt-menu__link ">
											<i class="kt-menu__link-icon flaticon-graphic-2"></i>
											<span class="kt-menu__link-title">
												<span class="kt-menu__link-wrap">
													<span class="kt-menu__link-text">
														Campaigns
													</span>
													<span class="kt-menu__link-badge">
														<span class="kt-badge kt-badge--success">
															3
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="kt-menu__item  kt-menu__itekt--submenu"  data-ktmenu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
										<a  href="#" class="kt-menu__link kt-menu__toggle">
											<i class="kt-menu__link-icon flaticon-infinity"></i>
											<span class="kt-menu__link-text">
												Cloud Manager
											</span>
											<i class="kt-menu__hor-arrow la la-angle-right"></i>
											<i class="kt-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
											<span class="kt-menu__arrow "></span>
											<ul class="kt-menu__subnav">
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-add"></i>
														<span class="kt-menu__link-title">
															<span class="kt-menu__link-wrap">
																<span class="kt-menu__link-text">
																	File Upload
																</span>
																<span class="kt-menu__link-badge">
																	<span class="kt-badge kt-badge--danger">
																		3
																	</span>
																</span>
															</span>
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-signs-1"></i>
														<span class="kt-menu__link-text">
															File Attributes
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-folder"></i>
														<span class="kt-menu__link-text">
															Folders
														</span>
													</a>
												</li>
												<li class="kt-menu__item "  data-redirect="true" aria-haspopup="true">
													<a  href="header/actions.html" class="kt-menu__link ">
														<i class="kt-menu__link-icon flaticon-cogwheel-2"></i>
														<span class="kt-menu__link-text">
															System Settings
														</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li> -->
					</ul>
				</div>
				<!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
				<div id="kt_header_topbar" class="kt-topbar  kt-stack kt-stack--ver kt-stack--general">
					<div class="kt-stack__item kt-topbar__nav-wrapper">
						<ul class="kt-topbar__nav kt-nav kt-nav--inline">
							<!-- <li class="
kt-nav__item kt-dropdown kt-dropdown--large kt-dropdown--arrow kt-dropdown--align-center kt-dropdown--mobile-full-width kt-dropdown--skin-light	kt-list-search kt-list-search--skin-light" 
data-dropdown-toggle="click" data-dropdown-persistent="true" id="kt_quicksearch" data-search-type="dropdown">
								<a href="#" class="kt-nav__link kt-dropdown__toggle">
									<span class="kt-nav__link-icon">
										<i class="flaticon-search-1"></i>
									</span>
								</a>
								<div class="kt-dropdown__wrapper">
									<span class="kt-dropdown__arrow kt-dropdown__arrow--center"></span>
									<div class="kt-dropdown__inner ">
										<div class="kt-dropdown__header">
											<form  class="kt-list-search__form">
												<div class="kt-list-search__forkt-wrapper">
													<span class="kt-list-search__forkt-input-wrapper">
														<input id="kt_quicksearch_input" autocomplete="off" type="text" name="q" class="kt-list-search__forkt-input" value="" placeholder="Search...">
													</span>
													<span class="kt-list-search__forkt-icon-close" id="kt_quicksearch_close">
														<i class="la la-remove"></i>
													</span>
												</div>
											</form>
										</div>
										<div class="kt-dropdown__body">
											<div class="kt-dropdown__scrollable kt-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
												<div class="kt-dropdown__content"></div>
											</div>
										</div>
									</div>
								</div>
							</li> -->
							<!-- <li class="kt-nav__item kt-topbar__notifications kt-topbar__notifications--img kt-dropdown kt-dropdown--large kt-dropdown--header-bg-fill kt-dropdown--arrow kt-dropdown--align-center 	kt-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
								<a href="#" class="kt-nav__link kt-dropdown__toggle" id="kt_topbar_notification_icon">
									<span class="kt-nav__link-badge kt-badge kt-badge--dot kt-badge--dot-small kt-badge--danger"></span>
									<span class="kt-nav__link-icon">
										<i class="flaticon-music-2"></i>
									</span>
								</a>
								<div class="kt-dropdown__wrapper">
									<span class="kt-dropdown__arrow kt-dropdown__arrow--center"></span>
									<div class="kt-dropdown__inner">
										<div class="kt-dropdown__header kt--align-center" style="background: url(assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
											<span class="kt-dropdown__header-title">
												9 New
											</span>
											<span class="kt-dropdown__header-subtitle">
												User Notifications
											</span>
										</div>
										<div class="kt-dropdown__body">
											<div class="kt-dropdown__content">
												<ul class="nav nav-tabs kt-tabs kt-tabs-line kt-tabs-line--brand" role="tablist">
													<li class="nav-item kt-tabs__item">
														<a class="nav-link kt-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
															Alerts
														</a>
													</li>
													<li class="nav-item kt-tabs__item">
														<a class="nav-link kt-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
															Events
														</a>
													</li>
													<li class="nav-item kt-tabs__item">
														<a class="nav-link kt-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
															Logs
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
														<div class="kt-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
															<div class="kt-list-timeline kt-list-timeline--skin-light">
																<div class="kt-list-timeline__items">
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge -kt-list-timeline__badge--state-success"></span>
																		<span class="kt-list-timeline__text">
																			12 new users registered
																		</span>
																		<span class="kt-list-timeline__time">
																			Just now
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge"></span>
																		<span class="kt-list-timeline__text">
																			System shutdown
																			<span class="kt-badge kt-badge--success kt-badge--wide">
																				pending
																			</span>
																		</span>
																		<span class="kt-list-timeline__time">
																			14 mins
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge"></span>
																		<span class="kt-list-timeline__text">
																			New invoice received
																		</span>
																		<span class="kt-list-timeline__time">
																			20 mins
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge"></span>
																		<span class="kt-list-timeline__text">
																			DB overloaded 80%
																			<span class="kt-badge kt-badge--info kt-badge--wide">
																				settled
																			</span>
																		</span>
																		<span class="kt-list-timeline__time">
																			1 hr
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge"></span>
																		<span class="kt-list-timeline__text">
																			System error -
																			<a href="#" class="kt-link">
																				Check
																			</a>
																		</span>
																		<span class="kt-list-timeline__time">
																			2 hrs
																		</span>
																	</div>
																	<div class="kt-list-timeline__item kt-list-timeline__itekt--read">
																		<span class="kt-list-timeline__badge"></span>
																		<span href="" class="kt-list-timeline__text">
																			New order received
																			<span class="kt-badge kt-badge--danger kt-badge--wide">
																				urgent
																			</span>
																		</span>
																		<span class="kt-list-timeline__time">
																			7 hrs
																		</span>
																	</div>
																	<div class="kt-list-timeline__item kt-list-timeline__itekt--read">
																		<span class="kt-list-timeline__badge"></span>
																		<span class="kt-list-timeline__text">
																			Production server down
																		</span>
																		<span class="kt-list-timeline__time">
																			3 hrs
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge"></span>
																		<span class="kt-list-timeline__text">
																			Production server up
																		</span>
																		<span class="kt-list-timeline__time">
																			5 hrs
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
														<div class="kt-scrollable" kt-scrollabledata-scrollable="true" data-max-height="250" data-mobile-max-height="200">
															<div class="kt-list-timeline kt-list-timeline--skin-light">
																<div class="kt-list-timeline__items">
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge kt-list-timeline__badge--state1-success"></span>
																		<a href="" class="kt-list-timeline__text">
																			New order received
																		</a>
																		<span class="kt-list-timeline__time">
																			Just now
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge kt-list-timeline__badge--state1-danger"></span>
																		<a href="" class="kt-list-timeline__text">
																			New invoice received
																		</a>
																		<span class="kt-list-timeline__time">
																			20 mins
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge kt-list-timeline__badge--state1-success"></span>
																		<a href="" class="kt-list-timeline__text">
																			Production server up
																		</a>
																		<span class="kt-list-timeline__time">
																			5 hrs
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge kt-list-timeline__badge--state1-info"></span>
																		<a href="" class="kt-list-timeline__text">
																			New order received
																		</a>
																		<span class="kt-list-timeline__time">
																			7 hrs
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge kt-list-timeline__badge--state1-info"></span>
																		<a href="" class="kt-list-timeline__text">
																			System shutdown
																		</a>
																		<span class="kt-list-timeline__time">
																			11 mins
																		</span>
																	</div>
																	<div class="kt-list-timeline__item">
																		<span class="kt-list-timeline__badge kt-list-timeline__badge--state1-info"></span>
																		<a href="" class="kt-list-timeline__text">
																			Production server down
																		</a>
																		<span class="kt-list-timeline__time">
																			3 hrs
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
														<div class="kt-stack kt-stack--ver kt-stack--general" style="min-height: 180px;">
															<div class="kt-stack__item kt-stack__itekt--center kt-stack__itekt--middle">
																<span class="">
																	All caught up!
																	<br>
																	No new logs.
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li> -->
							<!-- <li class="kt-nav__item kt-topbar__quick-actions kt-topbar__quick-actions--img kt-dropdown kt-dropdown--large kt-dropdown--header-bg-fill kt-dropdown--arrow kt-dropdown--align-right kt-dropdown--align-push kt-dropdown--mobile-full-width kt-dropdown--skin-light"  data-dropdown-toggle="click">
								<a href="#" class="kt-nav__link kt-dropdown__toggle">
									<span class="kt-nav__link-badge kt-badge kt-badge--dot kt-badge--info kt--hide"></span>
									<span class="kt-nav__link-icon">
										<i class="flaticon-share"></i>
									</span>
								</a>
								<div class="kt-dropdown__wrapper">
									<span class="kt-dropdown__arrow kt-dropdown__arrow--right kt-dropdown__arrow--adjust"></span>
									<div class="kt-dropdown__inner">
										<div class="kt-dropdown__header kt--align-center" style="background: url(assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
											<span class="kt-dropdown__header-title">
												Quick Actions
											</span>
											<span class="kt-dropdown__header-subtitle">
												Shortcuts
											</span>
										</div>
										<div class="kt-dropdown__body kt-dropdown__body--paddingless">
											<div class="kt-dropdown__content">
												<div class="kt-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
													<div class="kt-nav-grid kt-nav-grid--skin-light">
														<div class="kt-nav-grid__row">
															<a href="#" class="kt-nav-grid__item">
																<i class="kt-nav-grid__icon flaticon-file"></i>
																<span class="kt-nav-grid__text">
																	Generate Report
																</span>
															</a>
															<a href="#" class="kt-nav-grid__item">
																<i class="kt-nav-grid__icon flaticon-time"></i>
																<span class="kt-nav-grid__text">
																	Add New Event
																</span>
															</a>
														</div>
														<div class="kt-nav-grid__row">
															<a href="#" class="kt-nav-grid__item">
																<i class="kt-nav-grid__icon flaticon-folder"></i>
																<span class="kt-nav-grid__text">
																	Create New Task
																</span>
															</a>
															<a href="#" class="kt-nav-grid__item">
																<i class="kt-nav-grid__icon flaticon-clipboard"></i>
																<span class="kt-nav-grid__text">
																	Completed Tasks
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li> -->
							<!-- <li class="kt-nav__item kt-topbar__user-profile kt-topbar__user-profile--img  kt-dropdown kt-dropdown--medium kt-dropdown--arrow kt-dropdown--header-bg-fill kt-dropdown--align-right kt-dropdown--mobile-full-width kt-dropdown--skin-light" data-dropdown-toggle="click">
								<a href="#" class="kt-nav__link kt-dropdown__toggle">
									<span class="kt-topbar__userpic">
										<img src="assets/app/media/img/users/user4.jpg" class="kt--img-rounded kt--marginless kt--img-centered" alt=""/>
									</span>
									<span class="kt-topbar__username kt--hide">
										Nick
									</span>
								</a>
								<div class="kt-dropdown__wrapper">
									<span class="kt-dropdown__arrow kt-dropdown__arrow--right kt-dropdown__arrow--adjust"></span>
									<div class="kt-dropdown__inner">
										<div class="kt-dropdown__header kt--align-center" style="background: url(assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
											<div class="kt-card-user kt-card-user--skin-dark">
												<div class="kt-card-user__pic">
													<img src="assets/app/media/img/users/user4.jpg" class="kt--img-rounded kt--marginless" alt=""/>
												</div>
												<div class="kt-card-user__details">
													<span class="kt-card-user__name kt--font-weight-500">
														Mark Andre
													</span>
													<a href="" class="kt-card-user__email kt--font-weight-300 kt-link">
														mark.andre@gmail.com
													</a>
												</div>
											</div>
										</div>
										<div class="kt-dropdown__body">
											<div class="kt-dropdown__content">
												<ul class="kt-nav kt-nav--skin-light">
													<li class="kt-nav__section kt--hide">
														<span class="kt-nav__section-text">
															Section
														</span>
													</li>
													<li class="kt-nav__item">
														<a href="header/profile.html" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon-profile-1"></i>
															<span class="kt-nav__link-title">
																<span class="kt-nav__link-wrap">
																	<span class="kt-nav__link-text">
																		My Profile
																	</span>
																	<span class="kt-nav__link-badge">
																		<span class="kt-badge kt-badge--success">
																			2
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="header/profile.html" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon-share"></i>
															<span class="kt-nav__link-text">
																Activity
															</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="header/profile.html" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon-chat-1"></i>
															<span class="kt-nav__link-text">
																Messages
															</span>
														</a>
													</li>
													<li class="kt-nav__separator kt-nav__separator--fit"></li>
													<li class="kt-nav__item">
														<a href="header/profile.html" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon-info"></i>
															<span class="kt-nav__link-text">
																FAQ
															</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="header/profile.html" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon-lifebuoy"></i>
															<span class="kt-nav__link-text">
																Support
															</span>
														</a>
													</li>
													<li class="kt-nav__separator kt-nav__separator--fit"></li>
													<li class="kt-nav__item">
														<a href="snippets/pages/user/login-1.html" class="btn kt-btn--pill    btn-secondary kt-btn kt-btn--custom kt-btn--label-brand kt-btn--bolder">
															Logout
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li> -->
							<!-- <li id="kt_quick_sidebar_toggle" class="kt-nav__item">
								<a href="#" class="kt-nav__link kt-dropdown__toggle">
									<span class="kt-nav__link-icon">
										<i class="flaticon-grid-menu"></i>
									</span>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
				<!-- END: Topbar -->
			</div>
		</div>
	</div>
</header>