<div id="kt_quick_sidebar" class="kt-quick-sidebar kt-quick-sidebar--tabbed kt-quick-sidebar--skin-light">
	<div class="kt-quick-sidebar__content kt--hide">
		<span id="kt_quick_sidebar_close" class="kt-quick-sidebar__close">
			<i class="la la-close"></i>
		</span>
		<ul id="kt_quick_sidebar_tabs" class="nav nav-tabs kt-tabs kt-tabs-line kt-tabs-line--brand" role="tablist">
			<li class="nav-item kt-tabs__item">
				<a class="nav-link kt-tabs__link active" data-toggle="tab" href="#kt_quick_sidebar_tabs_messenger" role="tab">
					Messages
				</a>
			</li>
			<li class="nav-item kt-tabs__item">
				<a class="nav-link kt-tabs__link" 		data-toggle="tab" href="#kt_quick_sidebar_tabs_settings" role="tab">
					Settings
				</a>
			</li>
			<li class="nav-item kt-tabs__item">
				<a class="nav-link kt-tabs__link" data-toggle="tab" href="#kt_quick_sidebar_tabs_logs" role="tab">
					Logs
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active kt-scrollable" id="kt_quick_sidebar_tabs_messenger" role="tabpanel">
				<div class="kt-messenger kt-messenger--message-arrow kt-messenger--skin-light">
					<div class="kt-messenger__messages">
						<div class="kt-messenger__message kt-messenger__message--in">
							<div class="kt-messenger__message-pic">
								<img src="" alt=""/>
							</div>
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-username">
										Megan wrote
									</div>
									<div class="kt-messenger__message-text">
										Hi Bob. What time will be the meeting ?
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--out">
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-text">
										Hi Megan. It's at 2.30PM
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--in">
							<div class="kt-messenger__message-pic">
								<img src="assets/app/media/img//users/user3.jpg" alt=""/>
							</div>
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-username">
										Megan wrote
									</div>
									<div class="kt-messenger__message-text">
										Will the development team be joining ?
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--out">
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-text">
										Yes sure. I invited them as well
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__datetime">
							2:30PM
						</div>
						<div class="kt-messenger__message kt-messenger__message--in">
							<div class="kt-messenger__message-pic">
								<img src="assets/app/media/img//users/user3.jpg"  alt=""/>
							</div>
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-username">
										Megan wrote
									</div>
									<div class="kt-messenger__message-text">
										Noted. For the Coca-Cola Mobile App project as well ?
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--out">
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-text">
										Yes, sure.
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--out">
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-text">
										Please also prepare the quotation for the Loop CRM project as well.
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__datetime">
							3:15PM
						</div>
						<div class="kt-messenger__message kt-messenger__message--in">
							<div class="kt-messenger__message-no-pic kt--bg-fill-danger">
								<span>
									M
								</span>
							</div>
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-username">
										Megan wrote
									</div>
									<div class="kt-messenger__message-text">
										Noted. I will prepare it.
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--out">
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-text">
										Thanks Megan. I will see you later.
									</div>
								</div>
							</div>
						</div>
						<div class="kt-messenger__message kt-messenger__message--in">
							<div class="kt-messenger__message-pic">
								<img src="assets/app/media/img//users/user3.jpg"  alt=""/>
							</div>
							<div class="kt-messenger__message-body">
								<div class="kt-messenger__message-arrow"></div>
								<div class="kt-messenger__message-content">
									<div class="kt-messenger__message-username">
										Megan wrote
									</div>
									<div class="kt-messenger__message-text">
										Sure. See you in the meeting soon.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="kt-messenger__seperator"></div>
					<div class="kt-messenger__form">
						<div class="kt-messenger__forkt-controls">
							<input type="text" name="" placeholder="Type here..." class="kt-messenger__forkt-input">
						</div>
						<div class="kt-messenger__forkt-tools">
							<a href="" class="kt-messenger__forkt-attachment">
								<i class="la la-paperclip"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane  kt-scrollable" id="kt_quick_sidebar_tabs_settings" role="tabpanel">
				<div class="kt-list-settings">
					<div class="kt-list-settings__group">
						<div class="kt-list-settings__heading">
							General Settings
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Email Notifications
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" checked="checked" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Site Tracking
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								SMS Alerts
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Backup Storage
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Audit Logs
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" checked="checked" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
					</div>
					<div class="kt-list-settings__group">
						<div class="kt-list-settings__heading">
							System Settings
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								System Logs
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Error Reporting
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Applications Logs
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Backup Servers
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" checked="checked" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
						<div class="kt-list-settings__item">
							<span class="kt-list-settings__itekt-label">
								Audit Logs
							</span>
							<span class="kt-list-settings__itekt-control">
								<span class="kt-switch kt-switch--outline kt-switch--icon-check kt-switch--brand">
									<label>
										<input type="checkbox" name="">
										<span></span>
									</label>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane  kt-scrollable" id="kt_quick_sidebar_tabs_logs" role="tabpanel">
				<div class="kt-list-timeline">
					<div class="kt-list-timeline__group">
						<div class="kt-list-timeline__heading">
							System Logs
						</div>
						<div class="kt-list-timeline__items">
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									12 new users registered
									<span class="kt-badge kt-badge--warning kt-badge--wide">
										important
									</span>
								</a>
								<span class="kt-list-timeline__time">
									Just now
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									System shutdown
								</a>
								<span class="kt-list-timeline__time">
									11 mins
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-danger"></span>
								<a href="" class="kt-list-timeline__text">
									New invoice received
								</a>
								<span class="kt-list-timeline__time">
									20 mins
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-warning"></span>
								<a href="" class="kt-list-timeline__text">
									Database overloaded 89%
									<span class="kt-badge kt-badge--success kt-badge--wide">
										resolved
									</span>
								</a>
								<span class="kt-list-timeline__time">
									1 hr
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									System error
								</a>
								<span class="kt-list-timeline__time">
									2 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									Production server down
									<span class="kt-badge kt-badge--danger kt-badge--wide">
										pending
									</span>
								</a>
								<span class="kt-list-timeline__time">
									3 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									Production server up
								</a>
								<span class="kt-list-timeline__time">
									5 hrs
								</span>
							</div>
						</div>
					</div>
					<div class="kt-list-timeline__group">
						<div class="kt-list-timeline__heading">
							Applications Logs
						</div>
						<div class="kt-list-timeline__items">
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									New order received
									<span class="kt-badge kt-badge--info kt-badge--wide">
										urgent
									</span>
								</a>
								<span class="kt-list-timeline__time">
									7 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									12 new users registered
								</a>
								<span class="kt-list-timeline__time">
									Just now
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									System shutdown
								</a>
								<span class="kt-list-timeline__time">
									11 mins
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-danger"></span>
								<a href="" class="kt-list-timeline__text">
									New invoices received
								</a>
								<span class="kt-list-timeline__time">
									20 mins
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-warning"></span>
								<a href="" class="kt-list-timeline__text">
									Database overloaded 89%
								</a>
								<span class="kt-list-timeline__time">
									1 hr
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									System error
									<span class="kt-badge kt-badge--info kt-badge--wide">
										pending
									</span>
								</a>
								<span class="kt-list-timeline__time">
									2 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									Production server down
								</a>
								<span class="kt-list-timeline__time">
									3 hrs
								</span>
							</div>
						</div>
					</div>
					<div class="kt-list-timeline__group">
						<div class="kt-list-timeline__heading">
							Server Logs
						</div>
						<div class="kt-list-timeline__items">
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									Production server up
								</a>
								<span class="kt-list-timeline__time">
									5 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									New order received
								</a>
								<span class="kt-list-timeline__time">
									7 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									12 new users registered
								</a>
								<span class="kt-list-timeline__time">
									Just now
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									System shutdown
								</a>
								<span class="kt-list-timeline__time">
									11 mins
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-danger"></span>
								<a href="" class="kt-list-timeline__text">
									New invoice received
								</a>
								<span class="kt-list-timeline__time">
									20 mins
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-warning"></span>
								<a href="" class="kt-list-timeline__text">
									Database overloaded 89%
								</a>
								<span class="kt-list-timeline__time">
									1 hr
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									System error
								</a>
								<span class="kt-list-timeline__time">
									2 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									Production server down
								</a>
								<span class="kt-list-timeline__time">
									3 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-success"></span>
								<a href="" class="kt-list-timeline__text">
									Production server up
								</a>
								<span class="kt-list-timeline__time">
									5 hrs
								</span>
							</div>
							<div class="kt-list-timeline__item">
								<span class="kt-list-timeline__badge kt-list-timeline__badge--state-info"></span>
								<a href="" class="kt-list-timeline__text">
									New order received
								</a>
								<span class="kt-list-timeline__time">
									1117 hrs
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>