{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
Choose A Postcard
{% endblock title %}

{% block styles %}

<style>


.arrow {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.arrow:hover {
  top: -10px;
}


/* Media Queries */
@media (min-width: 576px) {


}
    
    
@media (min-width: 768px) {

    
}
    
    
@media (min-width: 992px) {
    

}

@media (min-width: 1200px) {
    
}

</style>
{% endblock styles %}

{% block top_page_scripts %}

{% endblock top_page_scripts %}


{% block scripts %}

{% endblock scripts %}



{% block content %}
<section style="padding-top: 30px;">
    <div class="container">

            
            <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
                <div class="col-lg-8 col-md-10 col-sm-12 col-10">
            
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/logo.png' %}" style="max-height: 5em;">
                    </a>
            
                </div>
            </div>
            

            <div class="row justify-content-center text-center" style="padding-bottom: 30px;">
                <div class="col-lg-10 col-md-12">
                    <h3 style="margin-bottom: 5px;color: grey;">Gift A Postcard</h3>
                    <p style="color: grey;">Send handmade individualized postcards unique to friends and family. Add your own message and we'll ship it directly to them.
                    </p>
                </div>
            </div>

            <div class="row justify-content-center text-center" style="padding: 0 10px;">
                {% for postcard in postcards %}
                {% if postcard.image_1 %}
                {% if postcard.amount %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12"
                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;margin: 10px; padding:40px;border-radius: 15px;align-self: center;">
                    <a href="{{ postcard.get_absolute_url }}" style="text-decoration: none;">
                        <img src="{{ postcard.image_1.url }}" class="arrow">
                        <p style="margin-bottom: 0px;font-size: 1.5em;">$ {{ postcard.amount }}</p>
                        <p>{{ postcard.name }}</p>
                    </a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>


    </div>
</section>


{% endblock content %}