{% extends "postcards/base.html" %}
{% load static %}
{% load postcard_checkout_tags %}

{% block title %}
{{ postcard.name }}
{% endblock title %}


{% block page_description %}
<meta name="description" content="{{ postcard.description|safe|striptags }}">
<meta property="og:image" content="{{ postcard.image_1.url }}">

<meta property="og:url" content="{{ request.path }}">
<meta name="twitter:card" content="{{ postcard.slug }}">
{% endblock page_description %}


{% block styles %}
<style>
iframe {
    width: 100%;
    min-height: 0px;
    border: none;
}


.slider[data-paging="true"]:not(section) .flickity-page-dots {
    bottom: -30px;
}
</style>


{% endblock styles %}

{% block top_page_scripts %}
<script src="https://js.stripe.com/v3/"></script>

{% endblock top_page_scripts %}




{% block scripts %}


<script>

function checkGiftCard(object) {

    console.log(object.checked);

    if (object.checked) {
        document.getElementById('gift_card_row').style.display = 'flex';
    }

    else {
        document.getElementById('gift_card_row').style.display = 'none';
    }

}

function StripePayment() {

    document.getElementById("ready_to_pay").style.display = 'none';
    document.getElementById("id_gift_card_amount").readOnly = true;

    {% if postcard.non_profit %}
    var promo_code = "";
    var donation = document.getElementById("id_donation").value;
    {% else %}
    var promo_code = document.getElementById("promo_code").value;
    var donation = 0;
    {% endif %}

    var name = document.getElementById("id_name").value;
    var email = document.getElementById("id_email").value;


    var add_gift_card = false;
    var gift_card_amount = 0;
    console.log("Checking");
    console.log(document.getElementById("add_gift_card_row").style.display != 'none');
    console.log("Checking");
    if (document.getElementById("add_gift_card_row").style.display != 'none') {
        add_gift_card = document.getElementById('gift_card_switch').checked;
        gift_card_amount = document.getElementById('id_gift_card_amount').value;
    }
    

    var postcard = "{{ postcard.id }}";
    var quantity = "{{ quantity_str }}";

    var token = '{{ csrf_token }}';

    const url = "{% url 'postcards:stripe_payment' %}";

    let data = {
        name: name,
        email: email,
        postcard: postcard,
        quantity: quantity,
        promo_code: promo_code,
        donation: donation,
        add_gift_card: add_gift_card,
        gift_card_amount: gift_card_amount
    }

    let fetchData = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: {
            'X-CSRFToken': token,
            'Content-Type': 'application/json; charset=utf-8',
            'X-Requested-With': 'XMLHttpRequest'
        },

    }

    fetch(url, fetchData)
        .then(
            function (response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                // Examine the text in the response
                response.json().then(function (data) {
                    console.log(data)

                    if (data['retry']) {
                        document.getElementById("fail_promo_code").style.display = 'block';
                        document.getElementById("ready_to_pay").style.display = 'block';
                    }

                    else {

                        document.getElementById("fail_promo_code").style.display = 'none';

                        if (data['no_payment']) {
                            document.getElementById("no_payment_checkout").style.display = 'block';
                        }

                        else {

                            document.getElementById("stripe_stuff").style.display = 'block';
                            StripeLogic(data['total'], data['intent_id'], data['client_secret'], data['public_key'], data['postcard_name']);
                            document.getElementById('amount_to_pay').innerHTML = data['total_decimal'];
                            document.getElementById('new_total').innerHTML = data['total_decimal'];

                            if (data['code_used']) {
                                document.getElementById("success_promo_code").style.display = 'block';
                            }

                        }
                    }
                    
                });
            }
        )
        .catch(function (err) {
            console.log('Fetch Error :-S', err);
        });

}

</script>



<!-- Payment Request Button (ApplePay, GooglePay) -->
<script>


function StripeLogic(total, intent_id, client_secret, public_key, postcard_name) {

    var clientSecret = client_secret;
    var stripe = Stripe(public_key);
    var paymentRequest = stripe.paymentRequest({
        country: 'CA',
        currency: 'cad',
        total: {
            label: postcard_name,
            amount: total,
        },
        requestPayerName: true,
        requestPayerEmail: true,
    });


    var elements = stripe.elements();
    var prButton = elements.create('paymentRequestButton', {
        paymentRequest: paymentRequest,
        style: {
            paymentRequestButton: {
                type: 'default',
                // One of 'default', 'book', 'buy', or 'donate'
                // Defaults to 'default'

                theme: 'light-outline',
                // One of 'dark', 'light', or 'light-outline'
                // Defaults to 'dark'

                height: '40px'
                // Defaults to '40px'. The width is always '100%'.
            },
        },
    });


    // Check the availability of the Payment Request API first.
    paymentRequest.canMakePayment().then(function (result) {
        if (result) {
            prButton.mount('#payment-request-button');
        } else {
            document.getElementById('payment-request-button').style.display = 'none';
        }
    });


    paymentRequest.on('paymentmethod', function (ev) {
        // Confirm the PaymentIntent without handling potential next actions (yet).

    stripe.confirmCardPayment(
            clientSecret,
            { payment_method: ev.paymentMethod.id },
            { handleActions: false }
        ).then(function (confirmResult) {
            if (confirmResult.error) {
                // Report to the browser that the payment failed, prompting it to
                // re-show the payment interface, or show an error message and close
                // the payment interface.
                console.log("Failed");
                ev.complete('fail');
            } else {
                // Report to the browser that the confirmation was successful, prompting
                // it to close the browser payment method collection interface.
                console.log("success");
                ev.complete('success');
                // Let Stripe.js handle the rest of the payment flow.
                stripe.confirmCardPayment(clientSecret).then(function (result) {
                    if (result.error) {
                        // The payment failed -- ask your customer for a new payment method.
                        console.log("Failllll");
                    } else {
                        // The payment has succeeded.
                        console.log("DID IT COMEEE HEEREEE")
                        stripeClientSecretHandler(intent_id);
                    }
                });
            }
        });

    });





    var style = {
        base: {
            color: '#303238',
            color: "#32325d",
            fontSmoothing: 'antialiased',
            '::placeholder': {
                color: '#ccc',
            },
        },
        invalid: {
            color: '#e5424d',
            ':focus': {
                color: '#303238',
            },
        },
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
            console.log(event.error.message)
        } else {
            displayError.textContent = '';
        }
    });

    console.log(card);

    var form = document.getElementById('donationForm');
    form.addEventListener('submit', function (event) {
        event.preventDefault();


        stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: document.getElementById("id_name").value,
                    email: document.getElementById("id_email").value,
                    address: {
                        postal_code: document.getElementById("postal_code").value,
                    }
                }
            }
        }).then(function (result) {
            if (result.error) {
                // Show error to your customer (e.g., insufficient funds)
                console.log(result)
                console.log(result.error.message);
                document.getElementById("stripe_error_row").style.display = 'block';
                document.getElementById("stripe_error").innerHTML = result.error.message;
                document.getElementById('customButton').disabled = false;

            } else {
                // The payment has been processed!
                if (result.paymentIntent.status === 'succeeded') {

                    console.log("Succeed");
                    stripeClientSecretHandler(intent_id);
                    // Show a success message to your customer
                    // There's a risk of the customer closing the window before callback
                    // execution. Set up a webhook or plugin to listen for the
                    // payment_intent.succeeded event that handles any business critical
                    // post-payment actions.
                }
            }
        });

    });

}
</script>



<!-- Regular credit card payment -->
<script>

function stripeClientSecretHandler(intent_id) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('donationForm');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'intent_id');
  hiddenInput.setAttribute('value', intent_id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
  document.getElementById('customButton').disabled = true;
}
</script>


<script type="text/javascript">



    function hideMainAddressOnInput() {

        main_address_row = document.getElementById("main_address_row");
        main_address_row.style.display = 'none';

        main_line_1_row = document.getElementById("main_line_1_row");
        main_line_1_row.style.display = 'flex';

        main_line_2_row = document.getElementById("main_line_2_row");
        main_line_2_row.style.display = 'flex';

    }

    function  hideRecipientAddressOnInput(increment) {

        address_row = document.getElementById("address_row_" + increment);
        address_row.style.display = 'none';

        line_1_row = document.getElementById("line_1_row_" + increment);
        line_1_row.style.display = 'flex';

        line_2_row = document.getElementById("line_2_row_" + increment);
        line_2_row.style.display = 'flex';

    }


    var placeSearch, autocomplete;

    {% for quantity in quantity %}
        var placeSearch{{ forloop.counter0 }}, autocomplete{{ forloop.counter0 }}
    {% endfor %}


    function initMap() {

        var input = document.getElementById('main_address');
        autocomplete = new google.maps.places.Autocomplete(input, { types: ['address'], componentRestrictions: { country: "ca" } });
        autocomplete.setFields(['address_component']);
        autocomplete.addListener('place_changed', fillInAddress);


        {% for quantity in quantity %}
            var input{{ forloop.counter0 }} = document.getElementById('autocomplete{{ forloop.counter0 }}');
            autocomplete{{ forloop.counter0 }} = new google.maps.places.Autocomplete(input{{ forloop.counter0 }}, { types: ['address'], componentRestrictions: { country: "ca" } });
            autocomplete{{ forloop.counter0 }}.setFields(['address_component']);
            autocomplete{{ forloop.counter0 }}.addListener('place_changed', fillInAddress{{ forloop.counter0 }});
        {% endfor %}

    }


    {% for quantity in quantity %}

    function fillInAddress{{ forloop.counter0 }} () {

        console.log("It came here");
        // Get the place details from the autocomplete object.
        var place{{ forloop.counter0 }} = autocomplete{{ forloop.counter0 }}.getPlace();

        var componentForm{{ forloop.counter0 }} = 
        {
                street_number_{{ forloop.counter0 }}: 'short_name',
                route_{{ forloop.counter0 }} : 'long_name',
                locality_{{ forloop.counter0 }} : 'long_name',
                administrative_area_level_1_{{ forloop.counter0 }} : 'short_name',
                postal_code_{{ forloop.counter0 }}: 'short_name'
        };

        console.log("It came here2");

        for (var component in componentForm{{ forloop.counter0 }}) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        console.log("It came here3");

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (var i = 0; i < place{{ forloop.counter0 }}.address_components.length; i++) {


            var addressType{{ forloop.counter0 }} = place{{ forloop.counter0 }}.address_components[i].types[0];
            console.log(addressType{{ forloop.counter0 }});

            if (componentForm{{ forloop.counter0 }}[addressType{{ forloop.counter0 }} + "_{{ forloop.counter0 }}"]) {
                var val{{ forloop.counter0 }} = place{{ forloop.counter0 }}.address_components[i][componentForm{{ forloop.counter0 }}[addressType{{ forloop.counter0 }} + "_{{ forloop.counter0 }}"]];

                console.log(val{{ forloop.counter0 }});

                document.getElementById(addressType{{ forloop.counter0 }} + "_{{ forloop.counter0 }}").value = val{{ forloop.counter0 }};
            }
        }

        console.log("It came here4");
        hideRecipientAddressOnInput({{ forloop.counter0 }});


    }
    {% endfor %}




    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            postal_code: 'short_name'
        };

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }


        hideMainAddressOnInput();

    }


    function copyAddress(increment) {

        minus_one = increment - 1;
        console.log(minus_one);

        // get previous address 
        prev_address = document.getElementById("autocomplete" + minus_one);
        prev_street_number = document.getElementById("street_number_" + minus_one);
        prev_route = document.getElementById("route_" + minus_one);
        prev_locality = document.getElementById("locality_" + minus_one);
        prev_province = document.getElementById("administrative_area_level_1_" + minus_one);
        prev_postal_code = document.getElementById("postal_code_" + minus_one);



        current_address = document.getElementById("autocomplete" + increment);
        current_address.value = prev_address.value;

        current_street_number = document.getElementById("street_number_" + increment);
        current_street_number.value = prev_street_number.value;

        current_route = document.getElementById("route_" + increment);
        current_route.value = prev_route.value;

        current_locality = document.getElementById("locality_" + increment);
        current_locality.value = prev_locality.value;

        current_provice = document.getElementById("administrative_area_level_1_" + increment);
        current_provice.value = prev_province.value;

        current_postal_code = document.getElementById("postal_code_" + increment);
        current_postal_code.value = prev_postal_code.value;

        hideRecipientAddressOnInput(increment);

    }


    function copyMessage(increment) {

        minus_one = increment - 1;
        console.log(minus_one);

        // get previous postal code 
        prev_message = document.getElementById("id_" + minus_one + "_message_to_recipient");

        current_message = document.getElementById("id_" + increment + "_message_to_recipient");
        current_message.value = prev_message.value;

    }

    function cleanInput(object){
        object.value = object.value.replace(/[^.!<>,a-zA-Z0-9 ]/gm, '');
    }



    function turnOnHover(state) {

        if (state) {
            document.getElementById("front_cover").style.display = "none";
            document.getElementById("back_cover").style.display = "inline-block";
        }

        else {
            document.getElementById("front_cover").style.display = "inline-block";
            document.getElementById("back_cover").style.display = "none";
        }


    }

    

</script>


<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnTiJMXoPzVLoo-ztKaRyCrjAocA0K3pQ&libraries=places&callback=initMap"></script>

{% endblock scripts %}



{% block content %}
<section style="padding-top: 30px;">
    <div class="container">

        <form id="donationForm" method="POST" onSubmit="document.getElementById('customButton').disabled = true;">{% csrf_token %}

            <input id="quantity" name="quantity" type="hidden" value="{{ quantity_str }}">
            
            <div class="row justify-content-center text-center" style="padding-bottom: 30px;">
                <div class="col-lg-6 col-md-10 col-sm-12 col-10">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'postcards:list' %}">
                        <span class="btn__text">All Postcards</span>
                    </a>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-lg-6 col-10">
                    <h3 style="text-align: center;margin-bottom: 0px;">{{ postcard.name }} {% if postcard.non_profit %}<i
                            class="fas fa-heart" style="color: #89d389;font-size: 1em;"></i>{% endif %}</h3>
                    {% if postcard.non_profit %}
                    <p class="text-center" style="margin-bottom: 0px;color: #57ae57;font-size: 0.8em;">
                        ${{ postcard.non_profit.amount }} from each postcard sold will go to <a
                            href="{{ postcard.non_profit.website }}" target="_blank"
                            style="text-decoration: none;">{{ postcard.non_profit.name }}</a></p>
                    {% endif %}
                    <p class="text-center" style="margin-bottom: 0px;">{{ postcard.amount_sold }} postcards sold</p>
                    {% if last_postcard %}
                    <p class="text-center" style="font-size: 0.8em;">The last postcard was sent to
                        {{ last_postcard.recipient.locality }}, {{ last_postcard.recipient.administrative_area_level_1 }}</p>
                    {% else %}
                    <p class="text-center" style="font-size: 0.8em;">The last postcard was sent to
                        Toronto, ON</p>
                    {% endif %}
            
                </div>
            </div>

            <div class="row justify-content-center" style="padding-bottom: 30px;">
                <div class="col-lg-6 col-10">
                    
                    <span id="thanks_a_bunch" onmouseover="turnOnHover(true)" onmouseleave="turnOnHover(false)">
                        <img src="{{ postcard.image_1.main.url }}"
                            style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                            id="front_cover" class="img-fluid">
                        <img src="{% static 'images/postcard_back.png' %}"
                            style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;display: none;"
                            id="back_cover" style="display:none" class="img-fluid">
                    </span>
                </div>
            </div>

            <div class="row justify-content-around" style="padding-bottom: 10px;">
                <div class="col-10 col-md-10 col-lg-6">
            
                    <p style="font-size: small;">
                        {{ postcard.description|safe }}
                    </p>
                    <h3>${{ postcard.amount }} <span style="font-size: small;">{% if one %}{% else %}each X {{ quantity_str }} =
                            ${{ postcard_amount }}{% endif %}</span></h3>
                </div>
            </div>
            <!--end of row-->

            <div class="row justify-content-around" style="padding-bottom: 30px;" id="add_gift_card_row">
                <div class="col-10 col-md-10 col-lg-6">
                    <div class="custom-control custom-switch">
                        {{ form.add_gift_card }}
                        <label class="custom-control-label" for="gift_card_switch">Add A Gift Card For Free?</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around" style="padding-bottom: 30px;display: none;" id="gift_card_row">
                <div class="col-10 col-md-10 col-lg-6">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" style="display: block;" type="radio" name="giftCards" id="Apple"
                                    value="Apple"/>
                                
                                <img src="{% static 'images/app-store-gift-card.png' %}"
                                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                                    id="front_cover" class="img-fluid"/>
                                <p style="margin-bottom: 0px;margin-top:5px;" class="text-center">Apple Store</p>
                                
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" style="display: block;" type="radio" name="giftCards" id="Google"
                                    value="Google">
                                
                                <img src="{% static 'images/googleplaywhite.png' %}"
                                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                                    id="front_cover" class="img-fluid">
                                <p style="margin-bottom: 0px;margin-top:5px;" class="text-center">Google Play</p>
                                
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" style="display: block;" type="radio" name="giftCards" id="Amazon"
                                    value="Amazon">
                                
                                <img src="{% static 'images/ca-generic-black.png' %}"
                                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                                    id="front_cover" class="img-fluid">
                                <p style="margin-bottom: 0px;margin-top:5px;" class="text-center">Amazon</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" style="display: block;" type="radio" name="giftCards" id="Indigo"
                                    value="Indigo">
                                
                                <img src="{% static 'images/indigo.png' %}"
                                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                                    id="front_cover" class="img-fluid">
                                <p style="margin-bottom: 0px;margin-top:5px;" class="text-center">Indigo</p>
                                
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" style="display: block;" type="radio" name="giftCards" id="Shoppers"
                                    value="Shoppers" checked>
                                
                                <img src="{% static 'images/shoppers_drug_mart.png' %}"
                                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                                    id="front_cover" class="img-fluid">
                                <p style="margin-bottom: 0px;margin-top:5px;" class="text-center">Shoppers</p>
                                
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" style="display: block;" type="radio" name="giftCards" id="HomeSense"
                                    value="HomeSense" checked>
                                
                                <img src="{% static 'images/homesense_genericgiftcard-01.png' %}"
                                    style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;"
                                    id="front_cover" class="img-fluid">
                                <p style="margin-bottom: 0px;margin-top:5px;" class="text-center">Homesense</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="padding-bottom: 20px;">
                            <p style="margin-bottom: 5px;">Gift Card Amount</p>
                            {{ form.gift_card_amount }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="padding-bottom: 30px;">
                <div class="col-lg-6 col-md-10 col-sm-12 col-10" style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;padding: 20px;">

                    {% if form.non_field_errors %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    {% for error in form.non_field_errors %}
                                    <span>{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    {% if form.address.errors %}
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    {% for error in form.address.errors %}
                                    <span>{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <h4 style="margin-bottom: 0px;">Your Information</h4>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Your Name <i style="color: #4399d5;font-size: 0.8em;" class="fa fa-info-circle"
                                data-tooltip="Who is the card from?"></i></p>
                            {{ form.name }}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Your Email <i style="color: #4399d5;font-size: 0.8em;" class="fa fa-info-circle"
                                data-tooltip="We'll send you a confirmation email of your purchase here."></i></p> 
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 10px;" id="main_address_row">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Your Address</p>
                            {{ form.address }}
                            <span style="font-size: 0.8em;">Used as the return address on the postcard unless 'anonymous' is selected</span>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 10px;display: none;" id="main_line_1_row">
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Apt/Suite <span style="font-size: 0.6em;">Optional</span></p>
                            {{ form.apt_number }}
                        </div>
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Street Number</p>
                            {{ form.street_number }}
                        </div>
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Route</p>
                            {{ form.route }}
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 10px;display: none;" id="main_line_2_row">
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Locality</p>
                            {{ form.locality }}
                        </div>
                        <div class="col-md-3 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Province</p>
                            {{ form.administrative_area_level_1 }}
                        </div>
                        <div class="col-md-5 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Postal Code</p>
                            {{ form.postal_code }}
                        </div>
                    </div>


                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Keep Me Anonymous <i style="color: #4399d5;font-size: 0.8em;" class="fa fa-info-circle"
                                data-tooltip="Switch on and we won't tell your recipient you sent the card."></i></p>
                            <div class="input-checkbox input-checkbox--switch">
                                {{ form.anonymous }}
                                <label for="checkbox-switch"></label>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row" style="padding-bottom: 0px;">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <h4 style="margin-bottom: 0px;">Recipient Information</h4>
                            <p>We'll use this information to personalize your card! 
                                Please make sure the address and postal code is correct.</p>
                        </div>
                    </div>
                    

                    {% for x in quantity %}

                    {% if one %}
                    {% else %}
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <h5  style="margin-bottom: 0px;">
                            {% if one %}
                            {% else %}
                            {{ forloop.counter }}{% if forloop.counter == 1 %}st{% elif forloop.counter == 2 %}nd{% elif forloop.counter == 3 %}rd{% else %}th{% endif %} 
                            {% endif %}
                            Recipient's Information
                            </h5>
                        </div>
                    </div>
                    {% endif %}


                    {% if form.errors %}
                    {% autoescape off %}
                    {% get_name_error_message form 'recipient_name' forloop.counter0  %}
                    {% endautoescape %}
                    {% endif %}

                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-12 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Recipient's Name</p>
                            <input required type="text" value="{% get_name_value form 'recipient_name' forloop.counter0 %}" name="{{ forloop.counter0 }}_recipient_name" class="form-control" placeholder="Recipient {{ forloop.counter }}" maxlength="100"
                                 id="id_{{ forloop.counter0 }}_recipient_name">
                            
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 20px;" id="address_row_{{ forloop.counter0 }}">
                        <div class="col-md-8 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Recipient's Address</p>
                            <input autocomplete="off" type="text" value="{% get_autocomplete_value form 'autocomplete' forloop.counter0 %}" name="autocomplete{{ forloop.counter0 }}" class="form-control" autocomplete="off" placeholder="123 Main Street"
                                id="autocomplete{{ forloop.counter0 }}">
                            {% if forloop.counter != 1 %}<a href="javascript:;" onclick="copyAddress({{ forloop.counter0 }})"
                                style="font-size: 0.8em;text-decoration: none;"> Copy from above</a>{% endif %}
                        </div>
                    
                    </div>

                
                    
                    <div class="row" style="padding-bottom: 10px;display: none;" id="line_1_row_{{ forloop.counter0 }}">
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Apt/Suite <span style="font-size: 0.6em;">Optional</span></p>
                            <input autocomplete="off" type="text"
                                value="{% get_address_values form 'apt_number' forloop.counter0 %}"
                                name="apt_number_{{ forloop.counter0 }}" class="form-control" placeholder=""
                                id="apt_number_{{ forloop.counter0 }}">
                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_address_error_message form 'apt_number' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                        <div class="col-md-3 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Street Number</p>
                            <input autocomplete="off" required type="text" value="{% get_address_values form 'street_number' forloop.counter0 %}" name="street_number_{{ forloop.counter0 }}" class="form-control" placeholder="123" id="street_number_{{ forloop.counter0 }}">
                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_address_error_message form 'street_number' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                        <div class="col-md-5 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Route</p>
                            <input autocomplete="off" required type="text" value="{% get_address_values form 'route' forloop.counter0 %}" name="route_{{ forloop.counter0 }}" class="form-control" placeholder="Main Street" id="route_{{ forloop.counter0 }}">
                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_address_error_message form 'route' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row" style="padding-bottom: 10px;display: none;" id="line_2_row_{{ forloop.counter0 }}">
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Locality</p>
                            <input autocomplete="off" required type="text" value="{% get_address_values form 'locality' forloop.counter0 %}"
                                name="locality_{{ forloop.counter0 }}" class="form-control" placeholder="Toronto"
                                id="locality_{{ forloop.counter0 }}">
                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_address_error_message form 'locality' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Province</p>
                            <input autocomplete="off" type="text" minlength="2" maxlength="2" required value="{% get_address_values form 'administrative_area_level_1' forloop.counter0 %}" name="administrative_area_level_1_{{ forloop.counter0 }}" class="form-control" placeholder="ON"
                                id="administrative_area_level_1_{{ forloop.counter0 }}">
                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_address_error_message form 'administrative_area_level_1' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Postal Code</p>
                            <input autocomplete="off" type="text" minlength="6" maxlength="7" required value="{% get_address_values form 'postal_code' forloop.counter0 %}" name="postal_code_{{ forloop.counter0 }}" class="form-control" placeholder="L1Z 5G5" id="postal_code_{{ forloop.counter0 }}">
                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_address_error_message form 'postal_code' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                    </div>


                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-12" style="padding-bottom: 10px;">
                            <p style="margin-bottom: 0px;">Personalized Message To Recipient <i style="color: #4399d5;font-size: 0.8em;" class="fa fa-info-circle"
                                data-tooltip="We'll write this on the back of the card for you."></i></p>
                            <textarea oninput="cleanInput(this);" required name="{{ forloop.counter0 }}_message_to_recipient" cols="40" rows="3" class="form-control"
                                placeholder="Write your personalized message for the recipient here" maxlength="280"
                                id="id_{{ forloop.counter0 }}_message_to_recipient">{% get_name_value form 'message_to_recipient' forloop.counter0 %}</textarea>
                            {% if forloop.counter != 1 %}<a href="javascript:;" onclick="copyMessage({{ forloop.counter0 }})"
                                style="font-size: 0.8em;text-decoration: none;"> Copy from above</a>{% endif %}

                            {% if form.errors %}
                            {% autoescape off %}
                            {% get_name_error_message form 'message_to_recipient' forloop.counter0  %}
                            {% endautoescape %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}


                    <div class="row justify-content-center" style="padding-bottom: 20px;display: none;" id="fail_promo_code">
                        <div class="col-md-12">
                    
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="margin-bottom: 0px;color: red;">Promo Code Didn't Work!</p>
                                </div>
                            </div>
                    
                        </div>
                    </div>


                    <div class="row justify-content-center" style="padding-bottom: 20px;" id="ready_to_pay">
                        <div class="col-md-12">


                            {% if postcard.non_profit %}
                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-md-12 col-lg-12 col-12">
                                    <h5 style="margin-bottom: 0px;">Make A Donation To {{ postcard.non_profit.name }}?</h5>
                                    <p style="margin-bottom: 5px;">You can choose to donate an additional amount to {{ postcard.non_profit.name }} here.</p>
                                    {{ form.donation }}
                                </div>
                            </div>
                            {% else %}
                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    {{ form.promo_code }}
                                </div>
                            </div>
                            {% endif %}

                            <div class="row" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-block" onclick="StripePayment();">Ready To Pay</button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row justify-content-center" style="padding-bottom: 20px;display: none;" id="success_promo_code">
                        <div class="col-md-12">
                    
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="margin-bottom: 0px;color: green;">Promo Code Added Successfully!</p>
                                    <p>Your new total is $<span id="new_total" style="color: green;"></span></p>
                                </div>
                            </div>
                    
                        </div>
                    </div>


                    <div class="row justify-content-center" style="display: none;" id="no_payment_checkout">
                        <div class="col-md-12">
                            <div class="row justify-content-center" id="checkout-button" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Checkout For Free!</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="padding-bottom: 20px;display: none;" id="stripe_stuff">
                        <div class="col-md-12">

                            <!-- Stripe Errors -->
                            <div class="row" style="padding-bottom: 20px;display: none;" id="stripe_error_row">
                                <div class="col-md-12">
                                    <div class="alert bg--error">
                                        <div class="alert__body">
                                            <span id="stripe_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    <div id="card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row justify-content-center" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    <!-- Used to display Element errors. -->
                                    <div id="card-errors" role="alert" style="color: #e5424d;"></div>
                                </div>
                            </div>


                            <div class="row justify-content-center" id="checkout-button" style="padding-bottom: 20px;">
                                <div class="col-md-12">
                                    <button id="customButton" type="submit" class="btn btn-primary btn-block">Pay
                                        $<span id="amount_to_pay"></span> with card</button>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div id="payment-request-button">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 col-sm-12 col-10">
                    <p style="font-size: 12px;line-height: 1.5;"><span style="color: #4a90e2;font-weight: 800;">Refunds |</span>
                        Please note that due to the nature of these customized postcards we do not issue refunds. However if you have any concerns at all please contact us right away.</p>
                </div>
            </div>


            <div class="row justify-content-center text-center" style="padding-bottom: 10px;padding-top: 30px;">
                <div class="col-lg-10 col-md-12">
            
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 60px;"></a>
                        </div>
                    </div>
            
                </div>
            </div>

        </form>

    </div>
</section>
{% endblock content %}