{% extends "frontend/basic_base.html" %}

{% block title %}
Addresses
{% endblock title %}

{% load static %}

{% block styles %}
{% endblock styles %}

{% block top_page_scripts %}
{% endblock top_page_scripts %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<section style="padding-top:1rem;">
    <div class="container" onload="enableVerifyPhoneButton();">

        {% if messages %}
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-12 col-10">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center" style="padding-bottom: 30px;">
            <div class="col-lg-6 col-md-10 col-sm-12 col-10"
                style="box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 20px 5px;border-radius: 15px;align-self: center;padding: 20px;">


                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-12">
                        <a class="btn btn-primary btn-sm btn-block" href="#">Add New Address</a>
                    </div>
                </div>
                
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12 col-sm-12 col-12">
                        {% for address in addresses %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="addresses" id="address_{{ forloop.counter }}"
                                value="{{ address_id }}"
                                onclick="window.location.href='{{ postcard.get_absolute_url }}?sender={{ address.id }}{% if recep %}&recep={{ recep }}{% endif %}';">
                            <label class="form-check-label" for="address_{{ forloop.counter }}">
                                <p style="margin-bottom: 0px;font-weight: 700;">{{ address.name }} - <a
                                        style="font-weight: 400;font-size: smaller;" href="{{ address.get_update_url }}?postcard={{ postcard.slug }}{% if recep %}&recep={{ recep }}{% endif %}">Edit</a></p>
                                <p style="margin-bottom: 15px;">
                                    {% if address.apt_number %}{{ address.apt_number }}-{% else %}{% endif %}
                                    {{ address.street_number }}
                                    {{ address.route }}
                                    {{ address.locality }}
                                    {{ address.administrative_area_level_1 }} {{ address.postal_code }}</p>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>


        <div class="row justify-content-center text-center" style="padding-bottom: 20px;">
            <div class="col-lg-6 col-md-10 col-sm-12 col-10">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="max-height: 4em;"></a>
            </div>
        </div>

    </div>
</section>
{% endblock content %}