{% extends "backend/base.html" %}

{% load static %}

{% block title %}
{% if update %}Update{% else %}Add{% endif %} Option | {{ question }}
{% endblock title %}

{% block page_title %}
<a style="text-decoration: none;" href="{{ question.update_event_question_view }}"><i style="font-size: 30px;" class="fas fa-long-arrow-alt-left"></i> Back To Question</a>
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

<script type="text/javascript">

function updateCountdown() {
    // 140 is the max message length
    var remaining = 200 - jQuery('.message').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
}

jQuery(document).ready(function($) {
    updateCountdown();
    $('.message').change(updateCountdown);
    $('.message').keyup(updateCountdown);


});

</script>
<!--end::Page Resources -->
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<span class="m-nav__link-text">{% if update %}Update{% else %}Add{% endif %} Option</span>
	</li>
	<li class="m-nav__separator">-</li>
	<li class="m-nav__item">
		<a href="{{ question.update_event_question_view }}" class="m-nav__link">
			<span class="m-nav__link-text">{{ question.title }}</span>
		</a>
	</li>
	<li class="m-nav__separator">-</li>
	<li class="m-nav__item">
		<a href="{{ event.list_questions_view }}" class="m-nav__link">
			<span class="m-nav__link-text">{{ event.title }}</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}
<div class="row">
	<div class="col-md-10">
		<!--begin::Portlet-->
		<div class="m-portlet m-portlet--tab">
			<!--begin::Form-->
			<form class="m-form m-form--fit m-form--label-align-right my-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
				
				<input type="hidden" name="token" id="token">
				
				<div class="m-portlet__body">


					{% if form.non_field_errors %}
					<div class="row row-padder">
						<div class="col-md-12">
							<div class="form-group m-form__group">
								{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">
								  	<strong>Oh snap!</strong> {{ error }}
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endif %}
					

					<div class="row row-padder">
						<div class="col-md-12">
							<div class="form-group m-form__group">
								<h5 {% if form.title.errors %}style="color:red;"{% endif %}>Option Title <i class="fas fa-asterisk" style="color: red;"></i></h5>
								{{ form.title }}
								<br>
								<span class="countdown m--font-primary"></span>
								<br>
								{% for error in form.title.errors %}
									<div class="alert m-alert--outline alert-danger" role="alert">
									  	{{ error }}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>


				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<div class="row">
							<div class="col-md-6">
								<button type="submit" name="Draft" value="Draft" class="btn btn-primary btn-block">{% if update %}Update{% else %}Create{% endif %} Option</button>
							</div>
							<div class="col-md-6">
								{% if update %}
								<button type="submit" name="delete" value="delete" class="btn btn-danger btn-block">Delete Option</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

			</form>
			<!--end::Form-->			
		</div>
		<!--end::Portlet-->
	</div>
</div>
{% endblock content %}














