{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Questions | {{ event.title }}
{% endblock title %}

{% block page_title %}
Questions
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}

<script type="text/javascript">


$('#id_address').change(function () {
	address = document.getElementById("id_address");
	required = document.getElementById("id_address_required");

	if (address.checked) {
		required.disabled = false;
		ajaxUpdateValues(address, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(address, required);
	}
});

$('#id_address_required').change(function () {
	address = document.getElementById("id_address");
	required = document.getElementById("id_address_required");

	if (address.checked) {
		required.disabled = false;
		ajaxUpdateValues(address, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(address, required);
	}
});



function ajaxUpdateValues(object, required) {


	var token = '{{csrf_token}}';
	
	$.ajax({
			
		type:"POST",
		headers: { "X-CSRFToken": token },
		url: '{{ request.path }}', 

		data: {
			'option': object.id,
			'required': required.checked,
			'value': object.checked     
		},

		success: function (data) {   
			console.log(data)
			
		}
	});

}






// ------------------------------------------------------------------


// Function for age

$('#id_age').change(function() {
	age = document.getElementById("id_age");
	required = document.getElementById("id_age_required");

	if (age.checked) {
		required.disabled = false;
		ajaxUpdateValues(age, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(age, required);
	}
});

$('#id_age_required').change(function() {
	age = document.getElementById("id_age");
	required = document.getElementById("id_age_required");

	if (age.checked) {
		required.disabled = false;
		ajaxUpdateValues(age, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(age, required);
	}
});
// ------------------------------------------------------------------



// Function for gender
$('#id_gender').change(function() {
	gender = document.getElementById("id_gender");
	required = document.getElementById("id_gender_required");

	if (gender.checked) {
		required.disabled = false;
		ajaxUpdateValues(gender, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(gender, required);
	}
});

$('#id_gender_required').change(function() {
	gender = document.getElementById("id_gender");
	required = document.getElementById("id_gender_required");

	if (gender.checked) {
		required.disabled = false;
		ajaxUpdateValues(gender, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(gender, required);
	}
});
// ------------------------------------------------------------------


</script>
{% endblock scripts %}

{% block content %}





<div class="row align-items-center h-100" style="padding: 3rem 0px 3rem 0px;">
	<div class="col-lg-10 offset-lg-1 col-md-12 col-12">

		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">
				<form method="POST">{% csrf_token %}

				<div class="row">
					<div class="col-12">
						<h3 style="display: inline-block;">Questions</h3>
						<a class="btn btn-primary pull-right" href="{{ event.list_answers_view }}" data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Click here to view answers to questions.">View Answers</a>
					</div>
				</div>

				<div class="row" style="padding-top:40px;">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4 col-6">
								<p data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Ask attendees their age.">Age</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.age %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_age">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4 col-6">
								<p data-toggle="kt-tooltip" data-placement="top" title="" 
								data-original-title="Make age a required question for all attendees.">Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.age_required %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_age_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4 col-6">
								<p data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Ask attendees their gender.">Gender</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.gender %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_gender">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4 col-6">
								<p data-toggle="kt-tooltip" data-placement="top" title="" 
								data-original-title="Make gender a required question for all attendees.">Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.gender_required %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_gender_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4 col-6">
								<p data-container="body" data-toggle="kt-tooltip"
														data-placement="top" title=""
														data-original-title="Ask attendees their Address.">Address</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.address %}checked{% else %}{% endif %}
											name="" style="user-select: auto;" id="id_address">
										<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4 col-6">
								<p data-toggle="kt-tooltip" data-placement="top" title="" 
								data-original-title="Make address a required question for all attendees.">Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox"
											{% if attendee_common_questions.address_required %}checked{% else %}{% endif %} name=""
											style="user-select: auto;" id="id_address_required">
										<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
				</div>

				<div class="row" style="padding-top:10px;">
					<div class="col-12">
						<p style="font-size: 0.8em;">These questions are asked once for each attendee.<br>
						Asking your attendees for their age, gender and address will enable analytics.</p>
					</div>
				</div>


				{% if event_questions %}
				{% for event_question in event_questions %}
				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<h4 style="font-weight: 200;">{{ event_question.question.title }} | <a href="{{ event_question.update_question }}">Edit</a></h4>
						<p style="margin-bottom: 5px;">{{ event_question.question.question_type }} question 
							{% if event_question.question.required %}| <span style="color: #FF4500;">required</span>{% endif %}</p>
						<p>
							{% if event_question.question.approved %}
								{% if event_question.order_question %}
									This question is asked to the buyer
									{% if event_question.tickets.all %} and if the buyer selects tickets 
										{% for ticket in event_question.tickets.all %}
										<span style="color:#4599d5;">| {{ ticket.title }}</span>
										{% endfor %}
									{% endif %}
								{% else %}
									{% if event_question.tickets.all %} 
										Asked if an attendee chooses the following tickets
										{% for ticket in event_question.tickets.all %}
										<span style="color:#4599d5;">| {{ ticket.title }}</span>
										{% endfor %}
									{% else %}
										<span style="color:red;">This question is currently not being asked.</span>
										Add it to orders or select tickets.
									{% endif %}
								{% endif %}
							{% else %}
								<span style="color:red;">This question is currently not being asked. You must provide at least 2 options to choose from.</span>
							{% endif %}
						</p>
					</div> 
				</div>
				{% endfor %}
				{% endif %}

				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<a href="{{ event.create_question }}" class="btn btn-primary">Create Question</a>
					</div>
				</div>

			</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}














