{% extends "backend/base.html" %}

{% load static %}

{% block title %}
Questions | {{ event.title }}
{% endblock title %}

{% block page_title %}
Questions
{% endblock page_title %}

{% block styles %}
<style type="text/css">
	.row-padder {
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
{% endblock styles %}


{% block scripts %}
<script>

function ajaxUpdateValues(object, required) {


	var token = '{{csrf_token}}';
	
	$.ajax({
			
		type:"POST",
		headers: { "X-CSRFToken": token },
		url: '{{ request.path }}', 

		data: {
			'option': object.id,
			'required': required.checked,
			'value': object.checked     
		},

		success: function (data) {   
			console.log(data)
			
		}
	});

}


// Function for notes
function notes() {
	notes = document.getElementById("id_notes");
	required = document.getElementById("id_notes_required");

	if (notes.checked) {
		required.disabled = false;
		ajaxUpdateValues(notes, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(notes, required);
	}
}


$('#id_notes').change(function() {
	notes();
});

$('#id_notes_required').change(function() {
	notes();
});
// ------------------------------------------------------------------


// Function for age

function age() {
	age = document.getElementById("id_age");
	required = document.getElementById("id_age_required");

	if (age.checked) {
		required.disabled = false;
		ajaxUpdateValues(age, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(age, required);
	}
}


$('#id_age').change(function() {
	age();
});

$('#id_age_required').change(function() {
	age();
});
// ------------------------------------------------------------------



// Function for gender

function gender() {
	gender = document.getElementById("id_gender");
	required = document.getElementById("id_gender_required");

	if (gender.checked) {
		required.disabled = false;
		ajaxUpdateValues(gender, required);
	}

	else {
		required.checked = false;
		required.disabled = true;
		ajaxUpdateValues(gender, required);
	}
}


$('#id_gender').change(function() {
	gender();
});

$('#id_gender_required').change(function() {
	gender();
});
// ------------------------------------------------------------------


</script>
{% endblock scripts %}


{% block page_crumbs %}
<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
	<li class="m-nav__item">
		<a href="{{ profile.get_update_url }}" class="m-nav__link">
			<span class="m-nav__link-text">Questions for {{ event.title }}</span>
		</a>
	</li>
</ul>
{% endblock page_crumbs %}

{% block content %}


<form method="POST">{% csrf_token %}


<div class="row">
	<div class="col-md-8">

		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__body">

				<div class="row">
					<div class="col-12">
						<h3>Questions</h3>
					</div>
				</div>

				<div class="row" style="padding-top:30px;">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								<p>Notes</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.notes %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_notes">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4">
								<p>Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.notes_required %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_notes_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								<p>Age</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.age %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_age">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4">
								<p>Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.age_required %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_age_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								<p>Gender</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.gender %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_gender">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4">
								<p>Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if attendee_common_questions.gender_required %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_gender_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
				</div>


				<!-- <div class="row" style="padding-top:30px;">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								<p>Country</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" {% if event_common_questions.notes %}checked{% else %}{% endif %} name="" style="user-select: auto;" id="id_notes">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4">
								<p>Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" name="" style="user-select: auto;" id="id_notes_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								<p>Region</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" checked="checked" name="" style="user-select: auto;" id="id_address">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4">
								<p>Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" checked="checked" name="" style="user-select: auto;" id="id_address_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-4">
								<p>City</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" checked="checked" name="" style="user-select: auto;" id="id_address">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4">
								<p>Required</p>
								<span class="kt-switch">
									<label>
										<input type="checkbox" checked="checked" name="" style="user-select: auto;" id="id_address_required">
									<span></span>
									</label>
								</span>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
				</div> -->

				<div class="row" style="padding-top:10px;">
					<div class="col-12">
						<p style="font-size: 0.8em;">These questions are asked once per ticket.<br>
						Asking your attendees for their age and gender will enable analytics.</p>
					</div>
				</div>


				{% if event_questions %}
				{% for event_question in event_questions %}
				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<a href="{{ event_question.update_question }}"><h4>{{ event_question.question.order }}. <span style="font-weight: 200;">{{ event_question.question.title }}</span></h4></a>
						<p><i>{{ event_question.question.question_type }} question</i></p>
					</div>
				</div>
				{% endfor %}
				{% endif %}

				<div class="row" style="padding-top:30px;">
					<div class="col-md-12">
						<a href="{{ event.create_question }}" class="btn btn-primary">Create Question</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>




</form>

{% endblock content %}














